<!-- Content Wrap -->
<div class="content-wrap cndn-wrap">
    <!-- Page Header -->
    <div class="page-header">
        <div class="page-header-inner">
            <div class="page-header-content-left">
                <div class="page-header-content button-block">
                    <a href="di/#!/warranty-job-order-request" type="button" class="btn-back btn-img"><img class="img-responsive" src="./public/theme/img/content/previous.svg" alt="Back" /></a>
                </div><!-- Page Header Content -->
                <div class="page-header-content title-block">
                    <h1 class="title">
                        <b>
                            Initiate Warranty Job Order Request
                        </b>
                    </h1>
                    <p class="subtitle">
                        Warranty Job Order Request / Initiate
                    </p>
                </div><!-- Page Header Content -->
            </div><!-- Page Header Content Left -->
        </div><!-- Page Header Inner -->
    </div><!-- Page Header -->
    <!-- Page Main Content -->
    <div class="page-main-content form-content type2">
        <div class="page-tab-form pb-70">
            <div class="page-tab-form-top">
                <div class="page-tab-form-top-left">
                    <div class="page-tab-form-top-left-title">General Info</div>
                    <div class="page-tab-form-top-left-link">
                        <a class="btn-link-arrow btn-prev">
                            <i class="ionicons ion-md-arrow-round-back"></i>
                        </a>
                        <a class="btn-link-arrow btn-nxt">
                            <i class="ionicons ion-md-arrow-round-forward"></i>
                        </a>
                    </div>
                    <div class="page-tab-form-top-left-info">
                        <span class="page-tab-form-top-left-info-content">
                            <b>TN 47 BV 1283</b> | AL 407-1 | Sasikumar | 31/03/2020, 09:15am</span>
                        <a class="page-tab-form-top-left-info-link" data-toggle="modal" data-target="#search_vehicle_modal">
                            <img class="img-responsive" src="./public/theme/img/content/edit.svg" alt="Edit" />
                        </a>
                    </div>
                </div><!-- Page Tab Form Top Left -->
                <div class="page-tab-form-top-right">
                    <div class="page-tab-form-top-right-info">Status : New</div>
                </div><!-- Page Tab Form Top Right -->
            </div><!-- Page Tab Form Top -->
            <div class="tab-form-wrap type-2">
                <warranty-job-order-request-form-tabs></warranty-job-order-request-form-tabs>
                <div class="tab-form-body">
                    <div class="tab-content">
                        <!-- TAB PANEL -->
                        <div class="tab-pane fade in active" id="ppr_form" data-animation="fadeInUp" data-animation-delay="300">
                            <div class="tab-pane-wrap">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h5 class="color-primary mb-10">
                                            <b>
                                                Product Performance Report
                                            </b>
                                        </h5>
                                        <ul class="view-row mb-no">
                                            <li class="view-col-3">
                                                <span class="view-col-label">
                                                    Sold Date
                                                </span>
                                                <span class="view-data-list-value">
                                                    <b>
                                                        31 May 2019
                                                    </b>
                                                </span>
                                            </li>
                                            <li class="view-col-3">
                                                <span class="view-col-label">
                                                    Failure Date
                                                </span>
                                                <span class="view-col-value">
                                                    <b>
                                                        23 Sep 2019
                                                    </b>
                                                </span>
                                            </li>
                                            <li class="view-col-3">
                                                <span class="view-col-label">
                                                    Warranty Status
                                                </span>
                                                <span class="view-col-value">
                                                    <b>
                                                        Active
                                                    </b>
                                                </span>
                                            </li>
                                            <li class="view-col-3">
                                                <span class="view-col-label">
                                                    AMC Status
                                                </span>
                                                <span class="view-col-value">
                                                    No
                                                </span>
                                            </li>
                                        </ul>
                                        <div class="panel-group" id="accordion">
                                            <div class="panel panel-default type-3">
                                                <div class="panel-heading">
                                                    <a class="panel-title in" data-toggle="collapse" data-parent="#accordion" data-target="#collapse1">
                                                        Basic Information
                                                        <span class="arrow"></span>
                                                    </a>
                                                </div>
                                                <div id="collapse1" class="panel-collapse collapse in">
                                                    <div class="panel-body">
                                                        <ul class="view-row mb-no">
                                                            <li class="view-col-3">
                                                                <span class="view-col-label">
                                                                    Chassis Number
                                                                </span>
                                                                <span class="view-data-list-value">
                                                                    <b>
                                                                        MB1HTYYD2GRCP0364
                                                                    </b>
                                                                </span>
                                                            </li>
                                                            <li class="view-col-3">
                                                                <span class="view-col-label">
                                                                    Engine Number
                                                                </span>
                                                                <span class="view-col-value">
                                                                    <b>
                                                                        GCHZ410466
                                                                    </b>
                                                                </span>
                                                            </li>
                                                            <li class="view-col-3">
                                                                <span class="view-col-label">
                                                                    Registration Number
                                                                </span>
                                                                <span class="view-col-value">
                                                                    <b>
                                                                        TN19T3989
                                                                    </b>
                                                                </span>
                                                            </li>
                                                            <li class="view-col-3">
                                                                <span class="view-col-label">
                                                                    Unit Serial No.
                                                                </span>
                                                                <span class="view-col-value">
                                                                    16C005793
                                                                </span>
                                                            </li>
                                                            <li class="view-col-3">
                                                                <span class="view-col-label">
                                                                    Model
                                                                </span>
                                                                <span class="view-col-value">
                                                                    VFT00498-U2518IL T HD
                                                                </span>
                                                            </li>
                                                            <li class="view-col-3">
                                                                <div class="form-group">
                                                                    <label>Free Service Done
                                                                        <sup class="mandatory">*</sup>
                                                                    </label>
                                                                    <md-select multiple ng-model="service_types" placeholder="Select any one" md-on-close="clearSearchDrink()" data-md-container-class="selectdemoSelectHeader">
                                                                        <md-select-header class="demo-select-header">
                                                                            <input ng-model="searchDrink" type="search" placeholder="Search for a drink.." class="demo-header-searchbox md-text">
                                                                        </md-select-header>
                                                                        <md-optgroup label="drinks">
                                                                            <md-option ng-value="service_type" ng-repeat="service_type in extras.service_types | filter:searchDrink">
                                                                                {{service_type.name}}
                                                                            </md-option>
                                                                        </md-optgroup>
                                                                    </md-select>
                                                                </div><!-- Feild -->
                                                            </li>
                                                            <li class="view-col-3">
                                                                <div class="form-group">
                                                                    <label>
                                                                        Complaint code
                                                                        <sup class="mandatory">*</sup>
                                                                    </label>
                                                                    <md-autocomplete md-selected-item="complaint" md-search-text="complaintSearchKey" md-items="complaint in searchCompaints(complaintSearchKey)" md-item-text="complaint.code" md-min-length="0" md-escape-options="clear" placeholder="Ex. 01C4">
                                                                        <md-item-template>
                                                                            <span>
                                                                                {{complaint.code}}</span>
                                                                        </md-item-template>
                                                                        <md-not-found>
                                                                            No complaints matching "{{complaintSearchKey}}" were found.
                                                                        </md-not-found>
                                                                    </md-autocomplete>
                                                                </div><!-- Feild -->
                                                            </li>
                                                            <li class="view-col-3">
                                                                <span class="view-col-label">
                                                                    Complaint description:
                                                                </span>
                                                                <span class="view-col-value">
                                                                    {{complaint.name}}
                                                                </span>
                                                            </li>
                                                            <li class="view-col-3">
                                                                <div class="form-group">
                                                                    <label>
                                                                        Fault code
                                                                        <sup class="mandatory">*</sup>
                                                                    </label>
                                                                    <md-autocomplete md-selected-item="fault" md-search-text="faultSearchKey" md-items="fault in searchFaults(faultSearchKey)" md-item-text="fault.code" md-min-length="0" md-escape-options="clear" placeholder="Ex. AA">
                                                                        <md-item-template>
                                                                            <span>
                                                                                {{fault.code}}
                                                                            </span>
                                                                        </md-item-template>
                                                                        <md-not-found>
                                                                            No faults matching "{{faultSearchKey}}" were found.
                                                                        </md-not-found>
                                                                    </md-autocomplete>
                                                                </div><!-- Feild -->
                                                            </li>
                                                            <li class="view-col-3">
                                                                <span class="view-col-label">
                                                                    Fault description:
                                                                </span>
                                                                <span class="view-col-value">
                                                                    {{fault.name}}
                                                                </span>
                                                            </li>
                                                            <li class="view-col-3">
                                                                <div class="form-group">
                                                                    <label>
                                                                        Supplier Code
                                                                        <sup class="mandatory">*</sup>
                                                                    </label>
                                                                    <input type="text" class="form-control" autocomplete="off" />
                                                                </div><!-- Feild -->
                                                            </li>
                                                            <li class="view-col-3">
                                                                <span class="view-col-label">
                                                                    Supplier Name
                                                                </span>
                                                                <span class="view-col-value">
                                                                    MERITOR
                                                                </span>
                                                            </li>
                                                            <li class="view-col-3">
                                                                <span class="view-col-label">
                                                                    Servicing dealer name
                                                                </span>
                                                                <span class="view-col-value">
                                                                    TVS-PADAPPAI
                                                                </span>
                                                            </li>
                                                            <li class="view-col-3">
                                                                <span class="view-col-label">
                                                                    Servicing Dealer Code
                                                                </span>
                                                                <span class="view-col-value">
                                                                    30209
                                                                </span>
                                                            </li>
                                                            <li class="view-col-3">
                                                                <div class="form-group">
                                                                    <label>
                                                                        Primary Segment
                                                                        <sup class="mandatory">*</sup>
                                                                    </label>
                                                                    <md-select ng-model="selectedDrinks" placeholder="Select any one" md-on-close="clearSearchDrink()" data-md-container-class="selectdemoSelectHeader">
                                                                        <md-select-header class="demo-select-header">
                                                                            <input ng-model="searchDrink" type="search" placeholder="Search for a drink.." class="demo-header-searchbox md-text">
                                                                        </md-select-header>
                                                                        <md-optgroup label="drinks">
                                                                            <md-option ng-value="drink" ng-repeat="drink in drinks | filter:searchDrink">{{drink}}</md-option>
                                                                        </md-optgroup>
                                                                    </md-select>
                                                                </div><!-- Feild -->
                                                            </li>
                                                            <li class="view-col-3">
                                                                <div class="form-group">
                                                                    <label>
                                                                        Secondary Segment
                                                                        <sup class="mandatory">*</sup>
                                                                    </label>
                                                                    <md-select ng-model="selectedDrinks" placeholder="Select any one" md-on-close="clearSearchDrink()" data-md-container-class="selectdemoSelectHeader">
                                                                        <md-select-header class="demo-select-header">
                                                                            <input ng-model="searchDrink" type="search" placeholder="Search for a drink.." class="demo-header-searchbox md-text">
                                                                        </md-select-header>
                                                                        <md-optgroup label="drinks">
                                                                            <md-option ng-value="drink" ng-repeat="drink in drinks | filter:searchDrink">{{drink}}</md-option>
                                                                        </md-optgroup>
                                                                    </md-select>
                                                                </div><!-- Feild -->
                                                            </li>
                                                            <li class="view-col-3">
                                                                <span class="view-col-label">
                                                                    Customer Name and Address
                                                                </span>
                                                                <span class="view-col-value">
                                                                    SATHEEMURUGAN.C ,Red Hills Bazaar,Chennai,Tamil Nadu,India,60005
                                                                </span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default type-3">
                                                <div class="panel-heading">
                                                    <a class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#collapse2">
                                                        Operating Conditions
                                                        <span class="arrow"></span>
                                                    </a>
                                                </div>
                                                <div id="collapse2" class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                        <ul class="view-row mb-no">
                                                            <li class="view-col-3">
                                                                <div class="form-group">
                                                                    <label>
                                                                        Vehicle Sold
                                                                        <sup class="mandatory">*</sup>
                                                                    </label>
                                                                    <div class="common-radio-button type-4">
                                                                        <input type="radio" id="radio_yes" name="is_registered" ng-model="job_order.vehicle.is_registered" ng-value="1">
                                                                        <label for="radio_yes">Yes</label>
                                                                        <input type="radio" id="radio_no" name="is_registered" ng-model="job_order.vehicle.is_registered" ng-value="0">
                                                                        <label for="radio_no">No</label>
                                                                    </div>
                                                                </div><!-- Feild -->
                                                            </li>
                                                            <li class="view-col-3">
                                                                <div class="form-group">
                                                                    <label>
                                                                        Goodwill Flag
                                                                        <sup class="mandatory">*</sup>
                                                                    </label>
                                                                    <div class="common-radio-button type-4">
                                                                        <input type="radio" id="radio_yes" name="is_registered" ng-model="job_order.vehicle.is_registered" ng-value="1">
                                                                        <label for="radio_yes">Yes</label>
                                                                        <input type="radio" id="radio_no" name="is_registered" ng-model="job_order.vehicle.is_registered" ng-value="0">
                                                                        <label for="radio_no">No</label>
                                                                    </div>
                                                                </div><!-- Feild -->
                                                            </li>
                                                            <li class="view-col-3">
                                                                <div class="form-group">
                                                                    <label>
                                                                        Operating Conditions
                                                                        <sup class="mandatory">*</sup>
                                                                    </label>
                                                                    <md-select ng-model="selectedDrinks" placeholder="Select any one" md-on-close="clearSearchDrink()" data-md-container-class="selectdemoSelectHeader">
                                                                        <md-select-header class="demo-select-header">
                                                                            <input ng-model="searchDrink" type="search" placeholder="Search for a drink.." class="demo-header-searchbox md-text">
                                                                        </md-select-header>
                                                                        <md-optgroup label="drinks">
                                                                            <md-option ng-value="drink" ng-repeat="drink in drinks | filter:searchDrink">{{drink}}</md-option>
                                                                        </md-optgroup>
                                                                    </md-select>
                                                                </div><!-- Feild -->
                                                            </li>
                                                            <li class="view-col-3">
                                                                <div class="form-group">
                                                                    <label>
                                                                        Road Conditions Normal use:
                                                                        <sup class="mandatory">*</sup>
                                                                    </label>
                                                                    <md-select ng-model="selectedDrinks" placeholder="Select any one" md-on-close="clearSearchDrink()" data-md-container-class="selectdemoSelectHeader">
                                                                        <md-select-header class="demo-select-header">
                                                                            <input ng-model="searchDrink" type="search" placeholder="Search for a drink.." class="demo-header-searchbox md-text">
                                                                        </md-select-header>
                                                                        <md-optgroup label="drinks">
                                                                            <md-option ng-value="drink" ng-repeat="drink in drinks | filter:searchDrink">{{drink}}</md-option>
                                                                        </md-optgroup>
                                                                    </md-select>
                                                                </div><!-- Feild -->
                                                            </li>
                                                            <li class="view-col-3">
                                                                <div class="form-group">
                                                                    <label>
                                                                        Road Conditions-At time of failure
                                                                        <sup class="mandatory">*</sup>
                                                                    </label>
                                                                    <md-select ng-model="selectedDrinks" placeholder="Select any one" md-on-close="clearSearchDrink()" data-md-container-class="selectdemoSelectHeader">
                                                                        <md-select-header class="demo-select-header">
                                                                            <input ng-model="searchDrink" type="search" placeholder="Search for a drink.." class="demo-header-searchbox md-text">
                                                                        </md-select-header>
                                                                        <md-optgroup label="drinks">
                                                                            <md-option ng-value="drink" ng-repeat="drink in drinks | filter:searchDrink">{{drink}}</md-option>
                                                                        </md-optgroup>
                                                                    </md-select>
                                                                </div><!-- Feild -->
                                                            </li>
                                                            <li class="view-col-3">
                                                                <div class="form-group">
                                                                    <label>
                                                                        Load Carried flag (Tonnage/Passenger)
                                                                        <sup class="mandatory">*</sup>
                                                                    </label>
                                                                    <div class="common-radio-button type-4">
                                                                        <input type="radio" id="radio_yes" name="is_registered" ng-model="job_order.vehicle.is_registered" ng-value="1">
                                                                        <label for="radio_yes">Tons</label>
                                                                        <input type="radio" id="radio_no" name="is_registered" ng-model="job_order.vehicle.is_registered" ng-value="0">
                                                                        <label for="radio_no">Passenger</label>
                                                                    </div>
                                                                </div><!-- Feild -->
                                                            </li>
                                                            <li class="view-col-3">
                                                                <div class="form-group">
                                                                    <label>
                                                                        Load Carried / No. of passengers:
                                                                        <sup class="mandatory">*</sup>
                                                                    </label>
                                                                    <input type="text" class="form-control" autocomplete="off" />
                                                                </div><!-- Feild -->
                                                            </li>
                                                            <li class="view-col-3">
                                                                <div class="form-group">
                                                                    <label>
                                                                        Load Range
                                                                        <sup class="mandatory">*</sup>
                                                                    </label>
                                                                    <md-select ng-model="selectedDrinks" placeholder="Select any one" md-on-close="clearSearchDrink()" data-md-container-class="selectdemoSelectHeader">
                                                                        <md-select-header class="demo-select-header">
                                                                            <input ng-model="searchDrink" type="search" placeholder="Search for a drink.." class="demo-header-searchbox md-text">
                                                                        </md-select-header>
                                                                        <md-optgroup label="drinks">
                                                                            <md-option ng-value="drink" ng-repeat="drink in drinks | filter:searchDrink">{{drink}}</md-option>
                                                                        </md-optgroup>
                                                                    </md-select>
                                                                </div><!-- Feild -->
                                                            </li>
                                                            <li class="view-col-3">
                                                                <div class="form-group">
                                                                    <label>
                                                                        Pay Load / Passengers at failure time
                                                                        <sup class="mandatory">*</sup>
                                                                    </label>
                                                                    <input type="text" class="form-control" autocomplete="off" value="10" />
                                                                </div><!-- Feild -->
                                                            </li>
                                                            <li class="view-col-3">
                                                                <div class="form-group">
                                                                    <label>
                                                                        Last Lube change on failed aggregate(KM)
                                                                        <sup class="mandatory">*</sup>
                                                                    </label>
                                                                    <input type="text" class="form-control" autocomplete="off" value="10" />
                                                                </div><!-- Feild -->
                                                            </li>
                                                            <li class="view-col-3">
                                                                <div class="form-group">
                                                                    <label>
                                                                        Terrain at the time of failure
                                                                        <sup class="mandatory">*</sup>
                                                                    </label>
                                                                    <md-select ng-model="selectedDrinks" placeholder="Select any one" md-on-close="clearSearchDrink()" data-md-container-class="selectdemoSelectHeader">
                                                                        <md-select-header class="demo-select-header">
                                                                            <input ng-model="searchDrink" type="search" placeholder="Search for a drink.." class="demo-header-searchbox md-text">
                                                                        </md-select-header>
                                                                        <md-optgroup label="drinks">
                                                                            <md-option ng-value="drink" ng-repeat="drink in drinks | filter:searchDrink">{{drink}}</md-option>
                                                                        </md-optgroup>
                                                                    </md-select>
                                                                </div><!-- Feild -->
                                                            </li>
                                                            <li class="view-col-3">
                                                                <div class="form-group">
                                                                    <label>
                                                                        Km / Hrs flag:
                                                                        <sup class="mandatory">*</sup>
                                                                    </label>
                                                                    <div class="common-radio-button type-4">
                                                                        <input type="radio" id="radio_yes" name="is_registered" ng-model="job_order.vehicle.is_registered" ng-value="1">
                                                                        <label for="radio_yes">KM</label>
                                                                        <input type="radio" id="radio_no" name="is_registered" ng-model="job_order.vehicle.is_registered" ng-value="0">
                                                                        <label for="radio_no">Hr</label>
                                                                    </div>
                                                                </div><!-- Feild -->
                                                            </li>
                                                            <li class="view-col-3">
                                                                <div class="form-group">
                                                                    <label>
                                                                        Km / Hrs run per day
                                                                        <sup class="mandatory">*</sup>
                                                                    </label>
                                                                    <input type="text" class="form-control" autocomplete="off" value="8" />
                                                                </div><!-- Feild -->
                                                            </li>
                                                            <li class="view-col-3">
                                                                <div class="form-group">
                                                                    <label>
                                                                        Failed Km / Hrs
                                                                        <sup class="mandatory">*</sup>
                                                                    </label>
                                                                    <input type="text" class="form-control" autocomplete="off" value="8" />
                                                                </div><!-- Feild -->
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default type-3">
                                                <div class="panel-heading">
                                                    <a class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#collapse3">
                                                        Failure Information
                                                        <span class="arrow"></span>
                                                    </a>
                                                </div>
                                                <div id="collapse3" class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                        <ul class="view-row mb-no">
                                                            <li class="view-col-12">
                                                                <div class="form-group">
                                                                    <label>
                                                                        Complaint reported
                                                                        <sup class="mandatory">*</sup>
                                                                    </label>
                                                                    <input type="text" class="form-control" autocomplete="off" value="Rear axle noise" />
                                                                </div><!-- Feild -->
                                                            </li>
                                                            <li class="view-col-12">
                                                                <div class="form-group">
                                                                    <label>
                                                                        Failure Observed:
                                                                        <sup class="mandatory">*</sup>
                                                                    </label>
                                                                    <input type="text" class="form-control" autocomplete="off" value="Crown wheel Pinion teeth found chipped is material defect" />
                                                                </div><!-- Feild -->
                                                            </li>
                                                            <li class="view-col-12">
                                                                <div class="form-group">
                                                                    <label>
                                                                        Investigation Findings
                                                                        <sup class="mandatory">*</sup>
                                                                    </label>
                                                                    <textarea class="form-control" autocomplete="off">
                                                        # Vehicle operating found ok.
# Removing old Oil quantity check found ok. 
# Propeller shaft fitting found ok.
# Crown wheel Pinion teeth found chipped is material defect (attached photos)                                                                      # Axle shafts found good                                                                                                                                             # Matching No Old CWP :16C103

                                                    </textarea>
                                                                </div><!-- Feild -->
                                                            </li>
                                                            <li class="view-col-12">
                                                                <div class="form-group">
                                                                    <label>
                                                                        Cause of failure:
                                                                        <sup class="mandatory">*</sup>
                                                                    </label>
                                                                    <textarea class="form-control" autocomplete="off">
Crown wheel Pinion teeth found chipped is material defect
                                                    </textarea>
                                                                </div><!-- Feild -->
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button class="btn btn-secondary-dark btn-md btn-square">Edit</button>
                                    </div><!-- Column -->
                                    <div class="tab-pane-footer">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <a class="btn btn-red">Save & Close</a>
                                                <a class="btn btn-secondary-dark btn-min-wdth btn-nxt">Next</a>
                                            </div>
                                        </div>
                                    </div><!-- Tab Footer -->
                                </div><!-- Row -->
                            </div><!-- Tab Pane Wrap -->
                        </div><!-- Tabe Pane -->
                    </div><!-- Tab Content -->
                </div><!-- Tab Form Body -->
            </div><!-- Tab Form Wrap -->
        </div><!-- Page Form -->
    </div><!-- Page Main Content -->
</div><!-- Content Wrap -->