<div class="content-wrap cndn-wrap">
    <div class="page-header">
        <div class="page-header-inner">
            <div class="page-header-content-left">
                <div class="page-header-content title-block">
                    <h1 class="title type-2">Battery <span class="badge badge-secondary" id="table_infos"></span></h1>
                </div><!-- Page Header Content -->
                <div class="page-header-content reset-block">
                    <div class="reset-wrap">
                        <button class="btn-reset reset-tooltip refresh_table my-tooltip" ng-shortcut="'meta+shift+r'"
                            ng-shortcut-click data-title="ctrl+shift+r">
                            <img class="img-responsive" src="./public/theme/img/content/reset.svg" alt="Reset" />
                        </button>
                    </div>
                </div><!-- Page Header Content -->
                <div class="page-header-content search-block">
                    <div class="search_filter">
                        <label>
                            <input type="search" id="search_inward_vehicle" class="form-control" placeholder="Search"
                                ng-model="$ctrl.search_key" ng-keyup=searchInwardVehicle() autofocus />
                            <button class="btn-clear my-tooltip" ng-click="clear_search()" ng-shortcut="'meta+shift+c'"
                                ng-shortcut-click data-title="ctrl+shift+c">Clear</button>
                        </label>
                    </div><!-- Search Filter -->
                </div>
                <div class="page-header-content button-block">
                    <button class="btn btn-bordered my-tooltip" data-toggle="modal"
                        data-target="#vehicle-inward-filter-modal" ng-shortcut="'meta+shift+f'" ng-shortcut-click
                        data-title="ctrl+shift+f"><i class="icon ion-md-funnel"></i>Filter</button>
                </div><!-- Page Header Content -->
            </div><!-- Page Header Content Left -->
            <div class="page-header-content-right">
                <div class="page-header-content button-block">
                    <button ng-if="$ctrl.hasPermission('export-battery-result')" class="btn btn-primary my-tooltip"
                        data-toggle="modal" data-target="#export-modal">
                        Export
                    </button>
                    <a ng-if="$ctrl.hasPermission('add-battery-result')" href="#!/battery/form"
                        class="btn btn-primary my-tooltip" ng-shortcut="'meta+shift+n'" ng-shortcut-click
                        data-title="ctrl+shift+n">
                        Add New
                    </a>
                </div><!-- Page Header Content -->
            </div><!-- Page Header Content Right -->
        </div><!-- Page Header Inner -->
    </div><!-- Page Header -->
    <div class="page-main-content list-page-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <table class="table" id="battery_list" style="width: 100% !important;">
                        <thead>
                            <tr>
                                <th class="action width-100">Action</th>
                                <th>Date</th>
                                <th>Outlet</th>
                                <th>Customer Name</th>
                                <th>Vehicle Reg Number</th>
                                <th>Battery Make</th>
                                <th>Load Test Status</th>
                                <th>Hydrometer Electrolyte Status</th>
                                <th>Battery Status</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                    </table>
                </div><!-- Column -->
            </div><!-- Row -->
        </div><!-- Container -->
    </div><!-- Page Main Content -->
</div><!-- Content Wrap -->
<!-- Export Modal -->
<div class="modal fade filter" id="export-modal" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <form method="POST" action="{{$ctrl.export_url}}">
            <input type="hidden" name="_token" value="{{ $ctrl.csrf_token}}" />
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close ripple" data-dismiss="modal" aria-label="Close"><i
                            class="icon ion-md-close"></i></button>
                    <h5 class="modal-title" id="myModalLabel">
                        Export
                    </h5>
                </div><!-- Modal Header -->
                <div class="modal-body">
                    <div class="modal-form">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Date</label>
                                    <div class="input-group date">
                                        <input class="form-control daterange" placeholder="Select a Date Range"
                                            name="export_date" id="date_range">
                                        <span class="input-group-addon">
                                            <img class="img-responsive"
                                                src="./public/theme/img/content/calender-gray-icon.svg"
                                                alt="Calendar Image" />
                                        </span>
                                    </div><!-- Input Group -->
                                </div><!-- Feild -->
                            </div><!-- Column -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Customer</label>
                                    <md-autocomplete md-items="option in $ctrl.searchCustomer($ctrl.customerSearchText)"
                                        md-selected-item="$ctrl.customer"
                                        md-selected-item-change="selectedCustomer($ctrl.customer.id)"
                                        md-search-text="$ctrl.customerSearchText" md-item-text="option.name"
                                        md-min-length="3" placeholder="Customer Name" md-autofocus>
                                        <md-item-template>
                                            <span>
                                                {{option.code}} / {{option.name}}
                                            </span>
                                        </md-item-template>
                                        <md-not-found>
                                            No Customer matching "{{$ctrl.customerSearchText}}" were found.
                                        </md-not-found>
                                    </md-autocomplete>
                                    <input type="hidden" id="customer_id" name="export_customer_id" value="">
                                </div>
                            </div>
                            <div class="col-md-12"></div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Battery Make</label>
                                    <md-select ng-model="$ctrl.export_battery_make_id" md-on-close="clearSearchTerm()"
                                        data-md-container-class="selectdemoSelectHeader" placeholder="Select Battery">
                                        <md-select-header class="demo-select-header">
                                            <input ng-model="searchBattery" type="search"
                                                placeholder="Search for a Battery" class="demo-header-searchbox md-text"
                                                ng-keydown="$event.stopPropagation()">
                                        </md-select-header>
                                        <md-optgroup>
                                            <md-option ng-value="status.id"
                                                ng-repeat="status in $ctrl.extras.battery_list | filter:searchBattery">
                                                {{status.name}}</md-option>
                                        </md-optgroup>
                                    </md-select>
                                    <input type="hidden" class="form-control type-sm" name="export_battery_make_id"
                                        id="export_battery_make_id" value="{{$ctrl.export_battery_make_id}}">
                                </div><!-- Field -->
                            </div><!-- Column -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Load Test Status</label>
                                    <md-select ng-model="$ctrl.export_load_test_status_id"
                                        md-on-close="clearSearchTerm()" data-md-container-class="selectdemoSelectHeader"
                                        placeholder="Select Status">
                                        <md-select-header class="demo-select-header">
                                            <input ng-model="searchLoadTest" type="search"
                                                placeholder="Search for a Status" class="demo-header-searchbox md-text"
                                                ng-keydown="$event.stopPropagation()">
                                        </md-select-header>
                                        <md-optgroup>
                                            <md-option ng-value="status.id"
                                                ng-repeat="status in $ctrl.extras.load_test_result_status_list | filter:searchLoadTest">
                                                {{status.name}}</md-option>
                                        </md-optgroup>
                                    </md-select>
                                    <input type="hidden" class="form-control type-sm" name="export_load_test_status_id"
                                        id="export_load_test_status_id" value="{{$ctrl.export_load_test_status_id}}">
                                </div><!-- Field -->
                            </div><!-- Column -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Hydrometer Electrolyte Status</label>
                                    <md-select ng-model="$ctrl.export_hydro_status_id" md-on-close="clearSearchTerm()"
                                        data-md-container-class="selectdemoSelectHeader" placeholder="Select Status">
                                        <md-select-header class="demo-select-header">
                                            <input ng-model="searchHydroStatus" type="search"
                                                placeholder="Search for a Status" class="demo-header-searchbox md-text"
                                                ng-keydown="$event.stopPropagation()">
                                        </md-select-header>
                                        <md-optgroup>
                                            <md-option ng-value="status.id"
                                                ng-repeat="status in $ctrl.extras.hydrometer_status_list | filter:searchHydroStatus">
                                                {{status.name}}</md-option>
                                        </md-optgroup>
                                    </md-select>
                                    <input type="hidden" class="form-control type-sm" name="export_hydro_status_id"
                                        id="export_hydro_status_id" value="{{$ctrl.export_hydro_status_id}}">
                                </div><!-- Field -->
                            </div><!-- Column -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Overall Status</label>
                                    <md-select ng-model="$ctrl.export_overall_status_id" md-on-close="clearSearchTerm()"
                                        data-md-container-class="selectdemoSelectHeader" placeholder="Select Status">
                                        <md-select-header class="demo-select-header">
                                            <input ng-model="searchOverAllStatus" type="search"
                                                placeholder="Search for a Status" class="demo-header-searchbox md-text"
                                                ng-keydown="$event.stopPropagation()">
                                        </md-select-header>
                                        <md-optgroup>
                                            <md-option ng-value="status.id"
                                                ng-repeat="status in $ctrl.extras.battery_load_test_status_list | filter:searchOverAllStatus">
                                                {{status.name}}</md-option>
                                        </md-optgroup>
                                    </md-select>
                                    <input type="hidden" class="form-control type-sm" name="export_overall_status_id"
                                        id="export_overall_status_id" value="{{$ctrl.export_overall_status_id}}">
                                </div><!-- Field -->
                            </div><!-- Column -->
                        </div><!-- Row -->
                    </div><!-- Modal Form -->
                </div><!-- Modal Body -->
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-6">
                        </div><!-- Column -->
                        <div class="col-md-6 text-right">
                            <button type="submit" class="btn btn-primary btn-md">
                                Export
                            </button>
                        </div><!-- Column -->
                    </div><!-- Row -->
                </div><!-- Modal Footer -->
            </div><!-- Modal Content -->
        </form>
    </div><!-- Modal Dialog -->
</div><!-- Modal -->
<!-- Filter Modal -->
<div class="modal fade filter" id="vehicle-inward-filter-modal" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close ripple" data-dismiss="modal" aria-label="Close"><i
                        class="icon ion-md-close"></i></button>
                <h5 class="modal-title" id="myModalLabel">
                    Filter
                </h5>
            </div><!-- Modal Header -->
            <div class="modal-body">
                <div class="modal-form">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Date</label>
                                <div class="input-group date">
                                    <input class="form-control filter_daterange align-left"
                                        placeholder="Select a Date Range" name="date" id="filter_date_range">
                                    <span class="input-group-addon">
                                        <img class="img-responsive"
                                            src="./public/theme/img/content/calender-gray-icon.svg"
                                            alt="Calendar Image" />
                                    </span>
                                </div><!-- Input Group -->
                            </div><!-- Feild -->
                        </div><!-- Column -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Customer</label>
                                <md-autocomplete md-items="option in $ctrl.searchCustomer($ctrl.customerSearchText)"
                                    md-selected-item="$ctrl.customer"
                                    md-selected-item-change="selectedCustomer($ctrl.customer.id)"
                                    md-search-text="$ctrl.customerSearchText" md-item-text="option.name"
                                    md-min-length="3" placeholder="Customer Name" md-autofocus>
                                    <md-item-template>
                                        <span>
                                            {{option.code}} / {{option.name}}
                                        </span>
                                    </md-item-template>
                                    <md-not-found>
                                        No Customer matching "{{$ctrl.customerSearchText}}" were found.
                                    </md-not-found>
                                </md-autocomplete>
                                <input type="hidden" id="customer_id" name="customer_id" value="">
                            </div>
                        </div>
                        <div class="col-md-12"></div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>
                                    Registration No
                                </label>
                                <input type="text" class="form-control" id="reg_no" name="reg_no"
                                    placeholder="Enter Registration No" autocomplete="off" ng-model="$ctrl.reg_no">
                            </div><!-- Field -->
                        </div><!-- Column -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Battery Make</label>
                                <md-select ng-model="$ctrl.battery_make_id" md-on-close="clearSearchTerm()"
                                    data-md-container-class="selectdemoSelectHeader" placeholder="Select Battery">
                                    <md-select-header class="demo-select-header">
                                        <input ng-model="searchBattery" type="search" placeholder="Search for a Battery"
                                            class="demo-header-searchbox md-text" ng-keydown="$event.stopPropagation()">
                                    </md-select-header>
                                    <md-optgroup>
                                        <md-option ng-value="status.id"
                                            ng-repeat="status in $ctrl.extras.battery_list | filter:searchBattery">
                                            {{status.name}}</md-option>
                                    </md-optgroup>
                                </md-select>
                                <input type="hidden" class="form-control type-sm" name="battery_make_id"
                                    id="battery_make_id" value="{{$ctrl.battery_make_id}}">
                            </div><!-- Field -->
                        </div><!-- Column -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Load Test Status</label>
                                <md-select ng-model="$ctrl.load_test_status_id" md-on-close="clearSearchTerm()"
                                    data-md-container-class="selectdemoSelectHeader" placeholder="Select Status">
                                    <md-select-header class="demo-select-header">
                                        <input ng-model="searchLoadTest" type="search" placeholder="Search for a Status"
                                            class="demo-header-searchbox md-text" ng-keydown="$event.stopPropagation()">
                                    </md-select-header>
                                    <md-optgroup>
                                        <md-option ng-value="status.id"
                                            ng-repeat="status in $ctrl.extras.load_test_result_status_list | filter:searchLoadTest">
                                            {{status.name}}</md-option>
                                    </md-optgroup>
                                </md-select>
                                <input type="hidden" class="form-control type-sm" name="load_test_status_id"
                                    id="load_test_status_id" value="{{$ctrl.load_test_status_id}}">
                            </div><!-- Field -->
                        </div><!-- Column -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Hydrometer Electrolyte Status</label>
                                <md-select ng-model="$ctrl.hydro_status_id" md-on-close="clearSearchTerm()"
                                    data-md-container-class="selectdemoSelectHeader" placeholder="Select Status">
                                    <md-select-header class="demo-select-header">
                                        <input ng-model="searchHydroStatus" type="search"
                                            placeholder="Search for a Status" class="demo-header-searchbox md-text"
                                            ng-keydown="$event.stopPropagation()">
                                    </md-select-header>
                                    <md-optgroup>
                                        <md-option ng-value="status.id"
                                            ng-repeat="status in $ctrl.extras.hydrometer_status_list | filter:searchHydroStatus">
                                            {{status.name}}</md-option>
                                    </md-optgroup>
                                </md-select>
                                <input type="hidden" class="form-control type-sm" name="hydro_status_id"
                                    id="hydro_status_id" value="{{$ctrl.hydro_status_id}}">
                            </div><!-- Field -->
                        </div><!-- Column -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Overall Status</label>
                                <md-select ng-model="$ctrl.overall_status_id" md-on-close="clearSearchTerm()"
                                    data-md-container-class="selectdemoSelectHeader" placeholder="Select Status">
                                    <md-select-header class="demo-select-header">
                                        <input ng-model="searchOverAllStatus" type="search"
                                            placeholder="Search for a Status" class="demo-header-searchbox md-text"
                                            ng-keydown="$event.stopPropagation()">
                                    </md-select-header>
                                    <md-optgroup>
                                        <md-option ng-value="status.id"
                                            ng-repeat="status in $ctrl.extras.battery_load_test_status_list | filter:searchOverAllStatus">
                                            {{status.name}}</md-option>
                                    </md-optgroup>
                                </md-select>
                                <input type="hidden" class="form-control type-sm" name="overall_status_id"
                                    id="overall_status_id" value="{{$ctrl.overall_status_id}}">
                            </div><!-- Field -->
                        </div><!-- Column -->
                    </div><!-- Row -->
                </div><!-- Modal Form -->
            </div><!-- Modal Body -->
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-6">
                        <button type="button" class="reset-link"
                            ng-click="reset_filter();$ctrl.date='';$ctrl.customerSearchText='';$ctrl.reg_no='';$ctrl.battery_make_id='';$ctrl.load_test_status_id='';$ctrl.hydro_status_id='';$ctrl.overall_status_id='';"
                            ng-shortcut="'meta+shift+t'" ng-shortcut-click data-title="ctrl+shift+t">
                            Reset Filter
                        </button>
                    </div><!-- Column -->
                    <div class="col-md-6 text-right">
                        <button type="button" class="btn btn-primary btn-md" ng-click="applyFilter()">
                            Apply
                        </button>
                    </div><!-- Column -->
                </div><!-- Row -->
            </div><!-- Modal Footer -->
        </div><!-- Modal Content -->
    </div><!-- Modal Dialog -->
</div><!-- Modal -->
<!-- Modal -->
<div class="modal fade filter" id="change_vehicle_status" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog  modal-xs" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close ripple" data-dismiss="modal" aria-label="Close"><i
                        class="icon ion-md-close"></i></button>
                <h5 class="modal-title" id="myModalLabel">
                    Change Status
                </h5>
            </div><!-- Modal Header -->
            <div class="modal-body">
                <div class="modal-form">
                    <form id="vehicle_status_form">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Vehicle Status</label>
                                    <md-select ng-model="vehicle_delivery_status_id" md-on-close="clearSearchTerm()"
                                        data-md-container-class="selectdemoSelectHeader"
                                        placeholder="Select Vehicle Status">
                                        <md-select-header class="demo-select-header">
                                            <input ng-model="searchStatus" type="search" placeholder="Search Status"
                                                class="demo-header-searchbox md-text"
                                                ng-keydown="$event.stopPropagation()">
                                        </md-select-header>
                                        <md-optgroup>
                                            <md-option ng-value="vehicle_delivery_status.id"
                                                ng-repeat="vehicle_delivery_status in $ctrl.extras.vehicle_delivery_status_list | filter:searchStatus">
                                                {{vehicle_delivery_status.name}}</md-option>
                                        </md-optgroup>
                                    </md-select>
                                    <input type="hidden" class="form-control required" name="vehicle_delivery_status_id"
                                        id="vehicle_delivery_status_id" value="{{vehicle_delivery_status_id}}">
                                    <input type="hidden" class="form-control required" id="job_order_id"
                                        name="job_order_id" value="{{job_order_id}}">
                                </div><!-- Field -->
                            </div><!-- Column -->
                            <div class="col-md-12 text-center mb-15">
                                <button type="button" data-dismiss="modal" aria-label="Close"
                                    class="btn btn-primary btn-bordered">
                                    Cancel
                                </button>
                                <button type="submit" class="btn btn-bordered submit"
                                    ng-click="vehicleStatusSave();">Submit</button>
                            </div><!-- Column -->
                        </div><!-- Row -->
                    </form>
                </div><!-- Modal Form -->
            </div><!-- Modal Body -->
        </div><!-- Modal Content -->
    </div><!-- Modal Dialog -->
</div>
<!-- Modal -->