<!-- Content Wrap -->
<style type="text/css">
    .strikethrough {
        text-decoration: line-through;
    }
</style>
<div class="content-wrap cndn-wrap">
    <!-- Page Header -->
    <div class="page-header">
        <div class="page-header-inner">
            <div class="page-header-content-left">
                <div class="page-header-content button-block">
                    <a href="#!/battery/table-list" type="button" class="btn-back btn-img">
                        <img class="img-responsive my-tooltip" src="./public/theme/img/content/previous.svg" alt="Back"
                            ng-shortcut="'meta+shift+left'" ng-shortcut-click data-title="ctrl+shift+left" />
                    </a>
                </div><!-- Page Header Content -->
                <div class="page-header-content title-block">
                    <h1 class="title"><b>View On Site Visit</b></h1>
                    <p class="subtitle">
                        <a href="#!/battery/table-list">
                            Battery Load Test
                        </a> /
                        View
                    </p>
                </div><!-- Page Header Content -->
            </div><!-- Page Header Content Left -->
        </div><!-- Page Header Inner -->
    </div><!-- Page Header -->
    <!-- Page Main Content -->
    <div class="page-main-content form-content type2">
        <form id="on_site_form" autocomplete="off">
            <input type="hidden" name="on_site_order_id" value="{{site_visit.id}}">
            <div class="page-tab-form pb-70">
                <div class="page-tab-form-top">
                    <div class="page-tab-form-top-left">
                        <div class="page-tab-form-top-left-title">General Info</div>
                        <div class="page-tab-form-top-left-link">
                            <a class="btn-link-arrow side-tab-toggle">
                                <i class="ionicons ion-md-arrow-round-back"></i>
                                <i class="ionicons ion-md-arrow-round-forward"></i>
                            </a>
                        </div>
                        <div class="page-tab-form-top-left-info">
                            <span class="page-tab-form-top-left-info-content">
                                <b>{{user_info.ecode}} / {{user_info.name}} | </b>
                                <b>
                                    {{vehicle.registration_number}} |
                                </b>
                                <span>
                                    <!-- {{customer.code}} | -->
                                    {{customer.name}}
                                </span>
                            </span>
                        </div>
                    </div><!-- Page Tab Form Top Left -->
                    <div class="page-tab-form-top-right">
                        <div class="page-tab-form-top-right-info">
                            Outlet : {{user_info.outlet.code}} / {{user_info.outlet.ax_name ? user_info.outlet.ax_name :
                            user_info.outlet.name }}
                        </div>
                    </div>
                </div><!-- Page Tab Form Top -->
                <div class="tab-form-wrap side-tab-open">
                    <div class="tab-form-header side-tab-open">
                        <div class="tab-header">
                            <!-- Filters -->
                            <div class="isotope-filters animated" data-animation="fadeInLeft"
                                data-animation-delay="300">
                                <ul class="nav nav-pills cndn-tabs">
                                    <li class="active">
                                        <a class="filter active" data-target="#basic_details" data-toggle="tab"
                                            aria-expanded="true">
                                            Basic Info
                                        </a>
                                    </li>
                                    <li>
                                        <a data-target="#load_test_details" data-toggle="tab" aria-expanded="true"
                                            class="filter">
                                            Battery /<br> Load Test Details
                                        </a>
                                    </li>
                                </ul>
                            </div><!-- Filters -->
                        </div><!-- Tab Header -->
                    </div><!-- Tab Form Header -->
                    <div class="tab-form-body side-tab-open">
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="basic_details" data-animation="fadeInUp"
                                data-animation-delay="300">
                                <div class="tab-pane-wrap">
                                    <div class="row">
                                        <div class="col-md-12" style="padding-left: 0px;">
                                            <h5 class="color-primary mb-10">
                                                <b>
                                                    Basic Information
                                                </b>
                                            </h5>
                                            <div class="panel-group" id="accordion">
                                                <div class="panel panel-default type-3">
                                                    <div class="panel-heading">
                                                        <a class="panel-title" data-toggle="collapse"
                                                            data-parent="#accordion" data-target="#collapse1">
                                                            Vehicle Details
                                                            <span class="arrow"></span>
                                                        </a>
                                                    </div>
                                                    <div id="collapse1" class="panel-collapse collapse in">
                                                        <div class="panel-body">
                                                            <div class="col-md-12">
                                                                <ul class="view-row mb-no">
                                                                    <li class="view-col-3">
                                                                        <span class="view-col-label">
                                                                            Registration Number
                                                                        </span>
                                                                        <span class="view-data-list-value">
                                                                            <b>
                                                                                {{vehicle.registration_number}}
                                                                            </b>
                                                                        </span>
                                                                    </li>
                                                                    <li class="view-col-3">
                                                                        <span class="view-col-label">
                                                                            Engine Number
                                                                        </span>
                                                                        <span class="view-data-list-value">
                                                                            <b>
                                                                                {{vehicle.engine_number}}
                                                                            </b>
                                                                        </span>
                                                                    </li>
                                                                    <li class="view-col-3">
                                                                        <span class="view-col-label">
                                                                            Chassis Number
                                                                        </span>
                                                                        <span class="view-col-value">
                                                                            <b>
                                                                                {{vehicle.chassis_number}}
                                                                            </b>
                                                                        </span>
                                                                    </li>
                                                                    <li class="view-col-3">
                                                                        <span class="view-col-label">
                                                                            Vehicle Model
                                                                        </span>
                                                                        <span class="view-col-value">
                                                                            <b>
                                                                                {{vehicle.model.model_number}} /
                                                                                {{vehicle.model.model_name}}
                                                                            </b>
                                                                        </span>
                                                                    </li>
                                                                    <li class="view-col-3"
                                                                        ng-if="vehicle.km_reading_type_id == 8040">
                                                                        <span class="view-col-label">
                                                                            KM Reading
                                                                        </span>
                                                                        <span class="view-col-value">
                                                                            {{vehicle.km_reading}}
                                                                        </span>
                                                                    </li>
                                                                    <li class="view-col-3"
                                                                        ng-if="vehicle.km_reading_type_id == 8041">
                                                                        <span class="view-col-label">
                                                                            HR Reading
                                                                        </span>
                                                                        <span class="view-data-list-value">
                                                                            <b>
                                                                                {{vehicle.hr_reading}}
                                                                            </b>
                                                                        </span>
                                                                    </li>
                                                                    <li class="view-col-3">
                                                                        <span class="view-col-label">
                                                                            Sold Date
                                                                        </span>
                                                                        <span class="view-data-list-value">
                                                                            <b>
                                                                                {{vehicle.sold_date}}
                                                                            </b>
                                                                        </span>
                                                                    </li>
                                                                </ul>
                                                            </div><!-- Column -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel-group" id="accordion">
                                                <div class="panel panel-default type-3">
                                                    <div class="panel-heading">
                                                        <a class="panel-title" data-toggle="collapse"
                                                            data-parent="#accordion" data-target="#collapse2">
                                                            Customer Details
                                                            <span class="arrow"></span>
                                                        </a>
                                                    </div>
                                                    <div id="collapse2" class="panel-collapse collapse in">
                                                        <div class="panel-body">
                                                            <div class="col-md-12">
                                                                <ul class="view-row mb-no">
                                                                    <li class="view-col-3">
                                                                        <span class="view-col-label">
                                                                            Code
                                                                        </span>
                                                                        <span class="view-data-list-value">
                                                                            <b>
                                                                                {{customer.code}}
                                                                            </b>
                                                                        </span>
                                                                    </li>
                                                                    <li class="view-col-3">
                                                                        <span class="view-col-label">
                                                                            Name
                                                                        </span>
                                                                        <span class="view-data-list-value">
                                                                            <b>
                                                                                {{customer.name}}
                                                                            </b>
                                                                        </span>
                                                                    </li>
                                                                    <li class="view-col-3">
                                                                        <span class="view-col-label">
                                                                            Mobile No
                                                                        </span>
                                                                        <span class="view-col-value">
                                                                            <b>
                                                                                {{customer.mobile_no}}
                                                                            </b>
                                                                        </span>
                                                                    </li>
                                                                    <li class="view-col-3">
                                                                        <span class="view-col-label">
                                                                            Email
                                                                        </span>
                                                                        <span class="view-col-value">
                                                                            <b>
                                                                                {{customer.email}}
                                                                            </b>
                                                                        </span>
                                                                    </li>
                                                                    <li class="view-col-3 ptb-2">
                                                                        <span class="view-col-label">
                                                                            Address
                                                                        </span>
                                                                        <span
                                                                            class="view-col-value">{{customer.address.address_line1}},
                                                                            {{customer.address.address_line2}},
                                                                            {{customer.address.city.name}},
                                                                            {{customer.address.state.name}},
                                                                            {{customer.address.pincode}},
                                                                            {{customer.address.country.name}}.</span>
                                                                    </li>
                                                                    <li class="view-col-3">
                                                                        <span class="view-col-label">
                                                                            GST No
                                                                        </span>
                                                                        <span class="view-col-value">
                                                                            {{customer.gst_number}}
                                                                        </span>
                                                                    </li>
                                                                    <li class="view-col-3">
                                                                        <span class="view-col-label">
                                                                            PAN
                                                                        </span>
                                                                        <span class="view-data-list-value">
                                                                            <b>
                                                                                {{customer.pan_number}}
                                                                            </b>
                                                                        </span>
                                                                    </li>
                                                                </ul>

                                                            </div><!-- Column -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- Column -->
                                        <div class="tab-pane-footer">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <a class="btn btn-secondary-dark btn-min-wdth btn-nxt">Next</a>
                                                </div>
                                            </div>
                                        </div><!-- Tab Footer -->
                                    </div><!-- Row -->
                                </div><!-- Tab Pane Wrap -->
                            </div><!-- Tabe Pane -->
                            <div class="tab-pane fade" id="load_test_details" data-animation="fadeInUp"
                                data-animation-delay="300">
                                <div class="tab-pane-wrap">
                                    <div class="row">
                                        <div class="col-md-12" style="padding-left: 0px;">
                                            <h5 class="color-primary mb-10">
                                                <b>
                                                    Load Test Informations
                                                </b>
                                            </h5>
                                            <div class="panel-group" id="accordion">
                                                <div class="panel panel-default type-3">
                                                    <div class="panel-heading">
                                                        <a class="panel-title" data-toggle="collapse"
                                                            data-parent="#accordion" data-target="#collapse3">
                                                            Battery Details
                                                            <span class="arrow"></span>
                                                        </a>
                                                    </div>
                                                    <div id="collapse3" class="panel-collapse collapse in">
                                                        <div class="panel-body">
                                                            <ul class="view-row mb-no">
                                                                <li class="view-col-3">
                                                                    <span class="view-col-label">
                                                                        Battery Make
                                                                    </span>
                                                                    <span class="view-data-list-value">
                                                                        <b>
                                                                            {{battery.vehicle_battery.battery_make.name}}
                                                                        </b>
                                                                    </span>
                                                                </li>
                                                                <li class="view-col-3">
                                                                    <span class="view-col-label">
                                                                        Battery Serial Number
                                                                    </span>
                                                                    <span class="view-data-list-value">
                                                                        <b>
                                                                            {{battery.vehicle_battery.battery_serial_number
                                                                            ?
                                                                            battery.vehicle_battery.battery_serial_number
                                                                            : '-'}}
                                                                        </b>
                                                                    </span>
                                                                </li>
                                                                <li class="view-col-3">
                                                                    <span class="view-col-label">
                                                                        AMP Hour
                                                                    </span>
                                                                    <span class="view-data-list-value">
                                                                        <b>
                                                                            {{battery.amp_hour}}
                                                                        </b>
                                                                    </span>
                                                                </li>
                                                                <li class="view-col-3">
                                                                    <span class="view-col-label">
                                                                        Battery Voltage
                                                                    </span>
                                                                    <span class="view-data-list-value">
                                                                        <b>
                                                                            {{battery.battery_voltage}}
                                                                        </b>
                                                                    </span>
                                                                </li>
                                                                <li class="view-col-3">
                                                                    <span class="view-col-label">
                                                                        Battery Manufactured Date
                                                                    </span>
                                                                    <span class="view-data-list-value">
                                                                        <b>
                                                                            {{battery.vehicle_battery.manufactured_date}}
                                                                        </b>
                                                                    </span>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel-group" id="accordion">
                                                <div class="panel panel-default type-3">
                                                    <div class="panel-heading">
                                                        <a class="panel-title" data-toggle="collapse"
                                                            data-parent="#accordion" data-target="#collapse4">
                                                            Load Test Results
                                                            <span class="arrow"></span>
                                                        </a>
                                                    </div>
                                                    <div id="collapse4" class="panel-collapse collapse in">
                                                        <div class="panel-body">
                                                            <ul class="view-row mb-no">
                                                                <li class="view-col-3">
                                                                    <span class="view-col-label">
                                                                        Load Test Status
                                                                    </span>
                                                                    <span class="view-data-list-value">
                                                                        <div class="color-list-item green"
                                                                            ng-if="battery.load_test_status_id == 1">
                                                                            {{battery.load_test_status.name}}
                                                                        </div><!-- Color List Item -->
                                                                        <div class="color-list-item yellow"
                                                                            ng-if="battery.load_test_status_id == 2">
                                                                            {{battery.load_test_status.name}}
                                                                        </div><!-- Color List Item -->
                                                                        <div class="color-list-item red"
                                                                            ng-if="battery.load_test_status_id == 3">
                                                                            {{battery.load_test_status.name}}
                                                                        </div><!-- Color List Item -->
                                                                    </span>
                                                                </li>
                                                                <li class="view-col-3">
                                                                    <span class="view-col-label">
                                                                        Hydrometer Electrolyte Status
                                                                    </span>
                                                                    <span class="view-data-list-value">
                                                                        <div class="color-list-item green"
                                                                            ng-if="battery.hydrometer_electrolyte_status_id == 1">
                                                                            {{battery.hydrometer_electrolyte_status.name}}
                                                                        </div><!-- Color List Item -->
                                                                        <div class="color-list-item yellow"
                                                                            ng-if="battery.hydrometer_electrolyte_status_id == 2">
                                                                            {{battery.hydrometer_electrolyte_status.name}}
                                                                        </div><!-- Color List Item -->
                                                                        <div class="color-list-item red"
                                                                            ng-if="battery.hydrometer_electrolyte_status_id == 3">
                                                                            {{battery.hydrometer_electrolyte_status.name}}
                                                                        </div><!-- Color List Item -->
                                                                    </span>
                                                                </li>
                                                                <li class="view-col-3">
                                                                    <span class="view-col-label">
                                                                        Overall Status
                                                                    </span>
                                                                    <span class="view-data-list-value">
                                                                        <b>
                                                                            {{battery.battery_load_test_status.name}}
                                                                        </b>
                                                                    </span>
                                                                </li>
                                                                <li class="view-col-3"
                                                                    ng-if="battery.battery_load_test_status.id == 2">
                                                                    <span class="view-col-label">
                                                                        New Battery Replaced
                                                                    </span>
                                                                    <span class="view-data-list-value">
                                                                        <b>
                                                                            {{battery.is_battery_replaced == 1 ? 'Yes' :
                                                                            'No'}}
                                                                        </b>
                                                                    </span>
                                                                </li>
                                                                <li class="view-col-3"
                                                                    ng-if="battery.battery_load_test_status.id == 2 && battery.is_battery_replaced == 1">
                                                                    <span class="view-col-label">
                                                                        Replaced Battery
                                                                    </span>
                                                                    <span class="view-data-list-value">
                                                                        <b>
                                                                            {{battery.replaced_battery_make ?
                                                                            battery.replaced_battery_make.name : '-'}}
                                                                        </b>
                                                                    </span>
                                                                </li>
                                                                <li class="view-col-3"
                                                                    ng-if="battery.battery_load_test_status.id == 2 && battery.is_battery_replaced == 1">
                                                                    <span class="view-col-label">
                                                                        Replaced Battery Serial Number
                                                                    </span>
                                                                    <span class="view-data-list-value">
                                                                        <b>
                                                                            {{battery.replaced_battery_serial_number ?
                                                                            battery.replaced_battery_serial_number :
                                                                            '-'}}
                                                                        </b>
                                                                    </span>
                                                                </li>
                                                                <li class="view-col-3"
                                                                    ng-if="battery.battery_load_test_status.id == 2 && battery.is_battery_replaced == 1">
                                                                    <span class="view-col-label">
                                                                        Job Card Number
                                                                    </span>
                                                                    <span class="view-data-list-value">
                                                                        <b>
                                                                            {{battery.job_card_number ?
                                                                            battery.job_card_number :
                                                                            '-'}}
                                                                        </b>
                                                                    </span>
                                                                </li>
                                                                <li class="view-col-3"
                                                                    ng-if="battery.battery_load_test_status.id == 2 && battery.is_battery_replaced == 1">
                                                                    <span class="view-col-label">
                                                                        Job Card Date
                                                                    </span>
                                                                    <span class="view-data-list-value">
                                                                        <b>
                                                                            {{battery.job_card_date ?
                                                                            battery.job_card_date :
                                                                            '-'}}
                                                                        </b>
                                                                    </span>
                                                                </li>
                                                                <li class="view-col-3"
                                                                    ng-if="battery.battery_load_test_status.id == 2 && battery.invoice_number">
                                                                    <span class="view-col-label">
                                                                        Invoice Number
                                                                    </span>
                                                                    <span class="view-data-list-value">
                                                                        <b>
                                                                            {{battery.invoice_number ?
                                                                            battery.invoice_number :
                                                                            '-'}}
                                                                        </b>
                                                                    </span>
                                                                </li>
                                                                <li class="view-col-3"
                                                                    ng-if="battery.battery_load_test_status.id == 2 && battery.invoice_number">
                                                                    <span class="view-col-label">
                                                                        Invoice Date
                                                                    </span>
                                                                    <span class="view-data-list-value">
                                                                        <b>
                                                                            {{battery.invoice_date ?
                                                                            battery.invoice_date :
                                                                            '-'}}
                                                                        </b>
                                                                    </span>
                                                                </li>
                                                                <li class="view-col-3"
                                                                    ng-if="battery.battery_load_test_status.id == 2 && battery.invoice_number">
                                                                    <span class="view-col-label">
                                                                        Invoice Amount
                                                                    </span>
                                                                    <span class="view-data-list-value">
                                                                        <b>
                                                                            {{battery.invoice_amount ?
                                                                            battery.invoice_amount :
                                                                            '-'}}
                                                                        </b>
                                                                    </span>
                                                                </li>
                                                                <li class="view-col-3"
                                                                    ng-if="battery.battery_load_test_status.id == 2">
                                                                    <span class="view-col-label">
                                                                        Is Buy Back Opted
                                                                    </span>
                                                                    <span class="view-data-list-value">
                                                                        <b>
                                                                            {{battery.is_buy_back_opted == 1 ? 'Yes' :
                                                                            'No'}}
                                                                        </b>
                                                                    </span>
                                                                </li>
                                                                <li class="view-col-3"
                                                                    ng-if="battery.is_battery_replaced == 0 && battery.battery_not_replaced_reason_id">
                                                                    <span class="view-col-label">
                                                                        Battery Not Replaced Reason
                                                                    </span>
                                                                    <span class="view-data-list-value">
                                                                        <b>
                                                                            {{battery.battery_not_replaced_reason ?
                                                                            battery.battery_not_replaced_reason.name :
                                                                            '-'}}
                                                                        </b>
                                                                    </span>
                                                                </li>
                                                                <li class="view-col-3">
                                                                    <span class="view-col-label">
                                                                        Remarks
                                                                    </span>
                                                                    <span class="view-data-list-value">
                                                                        <b>
                                                                            {{battery.remarks}}
                                                                        </b>
                                                                    </span>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- Column -->
                                    <div class="tab-pane-footer">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <a class="btn btn-secondary-dark btn-prev">Previous</a>
                                                <button type="button"
                                                    ng-if="battery.job_card_number && !battery.invoice_number"
                                                    ng-click="showPaymentForm(battery)"
                                                    class="btn btn-secondary-dark btn-min-wdth btn-nxt">
                                                    Update Invoice Details
                                                </button>
                                            </div>
                                        </div>
                                    </div><!-- Tab Footer -->
                                </div><!-- Row -->
                            </div><!-- Tab Pane Wrap -->
                        </div><!-- Tab Content -->
                    </div><!-- Tab Form Body -->
                </div><!-- Tab Form Wrap -->
            </div><!-- Page Form -->
        </form>
    </div><!-- Page Main Content -->
</div><!-- Content Wrap -->
<div class="modal fade filter" id="payment_modal" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <form id="battery-payment-form" autocomplete="off">
            <input type="hidden" name="battery_id" value="{{battery.id}}">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close ripple reject_close" data-dismiss="modal" aria-label="Close">
                        <i class="icon ion-md-close"></i>
                    </button>
                    <h5 class="modal-title">
                        Payment Details
                    </h5>
                </div>
                <div class="modal-body">
                    <div class="modal-form">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Job Card Number<sup class="mandatory">*</sup></label>
                                    <input type="text" class="form-control" readonly
                                        value="{{battery.job_card_number}}">
                                </div><!-- Feild -->
                            </div><!-- Column -->
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Job Card Date<sup class="mandatory">*</sup></label>
                                    <input type="text" class="form-control" readonly value="{{battery.job_card_date}}">
                                </div><!-- Feild -->
                            </div><!-- Column -->
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Invoice Number<sup class="mandatory">*</sup></label>
                                    <input type="text" name="invoice_number" maxlength="100"
                                        placeholder="Ex: INV20210101" class="form-control" value=""
                                        onkeyup="this.value=this.value.replace(/[^a-zA-Z0-9]/g, '')">
                                </div><!-- Feild -->
                            </div><!-- Column -->
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Invoice Date<sup class="mandatory">*</sup></label>
                                    <div class="input-group date" data-provide="datepicker" data-date-end-date="0d">
                                        <input type="text" class="form-control required" placeholder="Ex: 10-01-2021"
                                            value="{{battery.invoice_date}}" name="invoice_date" />
                                        <div class="input-group-addon">
                                            <img class="img-responsive"
                                                src="./public/theme/img/content/calender-gray-icon.svg"
                                                alt="Calendar Image" />
                                        </div>
                                    </div><!-- Input Group -->
                                </div><!-- Feild -->
                            </div><!-- Column -->
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Invoice Amount<sup class="mandatory">*</sup></label>
                                    <input type="text" name="invoice_amount" maxlength="10"
                                        class="form-control invoice_amount" placeholder="Ex: 3000"
                                        value="{{battery.invoice_amount}}"
                                        oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                                </div><!-- Feild -->
                            </div><!-- Column -->
                        </div><!-- Row -->
                    </div><!-- Modal Form -->
                </div><!-- Modal Body -->
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-6">
                        </div><!-- Column -->
                        <div class="col-md-6 text-right">
                            <button type="button" data-dismiss="modal" class="btn btn-secondary-dark">
                                Cancel
                            </button>
                            <button type="submit" class="submit btn btn-primary" ng-click="saveBatteryPaymentData()">
                                Save
                            </button>
                        </div><!-- Column -->
                    </div><!-- Row -->
                </div><!-- Modal Footer -->
            </div><!-- Modal Content -->
        </form>
    </div><!-- Modal Dialog -->
</div><!-- Modal -->
<script src="./public/theme/js/imageuploadify-mgatepass.min.js"></script>