<!-- Content Wrap -->
<div class="content-wrap cndn-wrap">
    <!-- Page Header -->
    <div class="page-header">
        <div class="page-header-inner">
            <div class="page-header-content-left">
                <div class="page-header-content button-block">
                    <a href="#!/job-card/table-list" type="button" class="btn-back btn-img"><img class="img-responsive" src="./public/theme/img/content/previous.svg" alt="Back" /></a>
                </div><!-- Page Header Content -->
                <div class="page-header-content title-block">
                    <h1 class="title"><b>Bay</b></h1>
                    <p class="subtitle">Job Card / Bay</p>
                </div><!-- Page Header Content -->
            </div><!-- Page Header Content Left -->
        </div><!-- Page Header Inner -->
    </div><!-- Page Header -->
    <!-- Page Main Content -->
    <div class="page-main-content form-content type2">
        <div class="page-tab-form pb-70">
            <jobcard-header></jobcard-header>
            <div class="tab-form-wrap type-2">
                <jobcard-tabs ng-init="active_tab = 'bay'"></jobcard-tabs>
                <div class="tab-form-body">
                    <div class="tab-content">
                        <!-- TAB PANEL -->
                        <div class="tab-pane fade in active" id="bay" data-animation="fadeInUp" data-animation-delay="300">
                            <div class="tab-pane-wrap">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h5 class="title-red border-bottom">
                                            Bay
                                        </h5>
                                        <div class="row">
                                            <div class="col-md-12" ng-if="job_card.bay">
                                                <div class="bay-box-wrap">
                                                    <img class="img-responsive img-center" src="./public/theme/img/content/truck-bg-grey.svg" alt="Truck" />
                                                    <h6 class="info">JobCard Assigned to</h6>
                                                    <h4 class="title">{{job_card.bay.name ? job_card.bay.name:'' }}</h4>
                                                </div>
                                                <div class="text-center">
                                                    <a href="#!/job-card/assign-bay/{{job_card.id}}" ng-if="job_card.status_id ==8220 || job_card.status_id ==8221" class="btn btn-secondary-dark btn-square">Edit</a>
                                                </div>
                                            </div><!-- Column -->
                                            <div class="col-md-12" ng-if="!job_card.bay">
                                                <div class="bay-box-wrap">
                                                    <img class="img-responsive img-center" src="./public/theme/img/content/truck-bg-grey.svg" alt="Truck" />
                                                    <h6 class="info">Bay not Assigned</h6>
                                                </div>
                                                <div class="text-center" ng-if="$ctrl.hasPermission('inward-job-card-tab-bay-edit')">
                                                    <a href="#!/job-card/assign-bay/{{job_card.id}}" ng-if="job_card.status_id ==8220 || job_card.status_id ==8221" class="btn btn-secondary-dark btn-square">Edit</a>
                                                </div>
                                            </div><!-- Column -->
                                        </div><!-- Row -->
                                    </div><!-- Column -->
                                    <div class="tab-pane-footer">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <a href=".#!/job-card/payable-labour-parts/{{job_card_id}}" class="btn btn-secondary-dark btn-prev">Previous</a>
                                                <a href=".#!/job-card/schedule/{{job_card_id}}" class="btn btn-secondary-dark btn-min-wdth btn-nxt">Next</a>
                                            </div>
                                        </div>
                                    </div><!-- Tab Footer -->
                                </div><!-- Row -->
                            </div><!-- Tab Pane Wrap -->
                        </div><!-- Tabe Pane -->
                    </div><!-- Tab Content -->
                </div><!-- Tab Form Body -->
            </div><!-- Tab Form Wrap -->
        </div><!-- Page Form -->
    </div><!-- Page Main Content -->
</div><!-- Content Wrap -->