<!-- Content Wrap -->
<div class="content-wrap cndn-wrap">
    <!-- Page Header -->
    <div class="page-header">
        <div class="page-header-inner">
            <div class="page-header-content-left">
                <div class="page-header-content button-block">
                    <a href="#!/job-card/card-list" type="button" class="btn-back btn-img"><img class="img-responsive" src="./public/theme/img/content/previous.svg" alt="Back" /></a>
                </div><!-- Page Header Content -->
                <div class="page-header-content title-block">
                    <h1 class="title"><b>Bill Details</b></h1>
                    <p class="subtitle">Job Card / Bill Details</p>
                </div><!-- Page Header Content -->
            </div><!-- Page Header Content Left -->
        </div><!-- Page Header Inner -->
    </div><!-- Page Header -->
    <!-- Page Main Content -->
    <div class="page-main-content form-content type2">
        <div class="page-tab-form pb-70">
            <jobcard-header></jobcard-header>
            <div class="tab-form-wrap type-2">
                <jobcard-tabs ng-init="active_tab = 'bill-detail'"></jobcard-tabs>
                <div class="tab-form-body">
                    <div class="tab-pane fade in active" id="bill-detail" data-animation="fadeInUp" data-animation-delay="300">
                        <div class="tab-pane-wrap">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="page-form pb-80 ">
                                        <div class="tab-header">
                                            <!-- Filters -->
                                            <div class="isotope-filters animated" data-animation="fadeInLeft" data-animation-delay="300" id="tabs">
                                                <ul class="nav nav-pills editDetails-tabs">
                                                    <li class="split_order_tabs split_order_tab_{{key}}" ng-repeat="(key,split_order_type) in extras.split_order_types">
                                                        <a data-target="#{{split_order_type.id}}" role="tab" data-toggle="tab" aria-expanded="true" class="btn-pills">
                                                            {{split_order_type.code}} - {{split_order_type.name}}
                                                            <!--  - {{split_order_type.total_items}} -->
                                                            <!-- {{split_order_type.total_items > 1 ? 'items' : 'item'}} -->
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div><!-- Filters -->
                                        </div>
                                        <div class="tab-content">
                                            <!-- TAB PANEL -->
                                            <div class="tab-pane fade panel split_order_panel_{{key}}" id="{{split_order_type.id}}" data-animation="fadeInUp" data-animation-delay="300" ng-repeat="(key,split_order_type) in extras.split_order_types">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <h5 class="title-red border-bottom">
                                                            <!-- Bill Details -->
                                                        </h5>
                                                        <div class="jc-bill-info">
                                                            <!-- <img class="img-responsive bill-img" src="./public/theme/img/content/bill.svg" />
                                                            <span class="info">Bill No : {{job_card.dealer_specific_bill_no ? job_card.dealer_specific_bill_no : '--'}} | Billed Date : 13/04/2020</span> -->
                                                            <div class="bill-btn">
                                                                <!-- <a href="#!/gigo-pkg/job-card/bill-detail-update/{{job_card.id}}" class="btn btn-secondary-dark btn-square btn-sm">Update Bill Details</a> -->
                                                                <a href="{{job_card_solit_order_bill_details}}" class="btn btn-red btn-square btn-sm" ng-click="billDetailPDF(split_order_type.id)" target="_blank">Download PDF</a>
                                                            </div>
                                                        </div>
                                                    </div><!-- Column -->
                                                    <div class="col-md-12">
                                                        <div class="table-responsive">
                                                            <table class="table table-form jc-view-bill-table-wrap">
                                                                <thead>
                                                                    <tr>
                                                                        <th colspan="2">Vehicle Details</th>
                                                                        <th colspan="2">Job Card Details</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td>
                                                                            <b>
                                                                                Vehicle Model
                                                                            </b>
                                                                        </td>
                                                                        <td>
                                                                            {{job_card.job_order.vehicle.model.model_name}}
                                                                        </td>
                                                                        <td>
                                                                            <b>
                                                                                Creation Date
                                                                            </b>
                                                                        </td>
                                                                        <td>
                                                                            {{job_card.creation_date}}
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <b>
                                                                                Registration No
                                                                            </b>
                                                                        </td>
                                                                        <td>
                                                                            {{job_card.job_order.vehicle.registration_number}}
                                                                        </td>
                                                                        <td>
                                                                            <b>
                                                                                Repair Type
                                                                            </b>
                                                                        </td>
                                                                        <td>
                                                                            {{job_card.job_order.type.name}}
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <b>
                                                                                Chassis No
                                                                            </b>
                                                                        </td>
                                                                        <td>
                                                                            {{job_card.job_order.vehicle.chassis_number}}
                                                                        </td>
                                                                        <td>
                                                                            <b>
                                                                                Service Type
                                                                            </b>
                                                                        </td>
                                                                        <td>
                                                                            {{job_card.job_order.service_type.name}}
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <b>
                                                                                Vin Number
                                                                            </b>
                                                                        </td>
                                                                        <td>
                                                                            {{job_card.job_order.vehicle.vin_number}}
                                                                        </td>
                                                                        <td>
                                                                            <b>
                                                                                KM/HR Reading
                                                                            </b>
                                                                        </td>
                                                                        <td>
                                                                            {{job_card.job_order.km_reading}}
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <b>
                                                                                Engine No
                                                                            </b>
                                                                        </td>
                                                                        <td>
                                                                            {{job_card.job_order.vehicle.engine_number}}
                                                                        </td>
                                                                        <td>
                                                                            <b>
                                                                                Cum. KM/HR Reading
                                                                            </b>
                                                                        </td>
                                                                        <td>
                                                                            {{job_card.job_order.km_reading}}
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td colspan="4" class="bg-white">
                                                                            <table class="table table-form jc-view-bill-table">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th>Labour Details</th>
                                                                                        <th>HSN / SAC Code</th>
                                                                                        <th>Quantity</th>
                                                                                        <th>Labour Value</th>
                                                                                        <th>Discount</th>
                                                                                        <th>Taxable Amount</th>
                                                                                        <th ng-repeat="(key,tax) in extras.taxes">{{tax.name}}</th>
                                                                                        <th>Total Price</th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                    <tr ng-if="labour.split_order_type_id == split_order_type.id" ng-repeat="(labour_key,labour) in labour_details">
                                                                                        <td>{{labour.name}}</td>
                                                                                        <td>{{labour.tax_code.code}}</td>
                                                                                        <td>{{labour.qty}}</td>
                                                                                        <td class="text-right">{{labour.amount}}</td>
                                                                                        <td class="text-right">0.00</td>
                                                                                        <td class="text-right">{{labour.tax_amount}}</td>
                                                                                        <td class="text-right" ng-repeat="(tax_index,tax_value) in labour.tax_values">{{tax_value.tax_value}}</td>
                                                                                        <td class="text-right">{{labour.total_amount}}</td>
                                                                                    </tr>
                                                                                </tbody>
                                                                                <tfoot>
                                                                                    <tr class="labour_sub_total">
                                                                                        <td colspan="8">
                                                                                            Sub Total
                                                                                        </td>
                                                                                        <td colspan="2">
                                                                                            <span class="labour_sub_total_{{key}}"></span>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tfoot>
                                                                            </table>
                                                                            <table class="table table-form jc-view-bill-table mb-0">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th>Parts Details</th>
                                                                                        <th>HSN / SAC Code</th>
                                                                                        <th>Quantity</th>
                                                                                        <th>MRP</th>
                                                                                        <th>Price</th>
                                                                                        <th>Discount</th>
                                                                                        <th>Taxable Amount</th>
                                                                                        <th ng-repeat="(key,tax) in extras.taxes">{{tax.name}}</th>
                                                                                        <th>Total Price</th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                    <tr ng-if="part.split_order_type_id == split_order_type.id" ng-repeat="(part_key,part) in part_details">
                                                                                        <td>{{part.name}}</td>
                                                                                        <td>{{part.tax_code.code}}</td>
                                                                                        <td>{{part.qty}}</td>
                                                                                        <td class="text-right">{{part.rate}}</td>
                                                                                        <td class="text-right">{{part.amount}}</td>
                                                                                        <td class="text-right">0.00</td>
                                                                                        <td class="text-right">{{part.tax_amount}}</td>
                                                                                        <td class="text-right" ng-repeat="(tax_index,tax_value) in part.tax_values">{{tax_value.tax_value}}</td>
                                                                                        <td class="text-right">{{part.total_amount}}</td>
                                                                                    </tr>
                                                                                </tbody>
                                                                                <tfoot>
                                                                                    <tr class="part_sub_total">
                                                                                        <td colspan="9">
                                                                                            Sub Total
                                                                                        </td>
                                                                                        <td colspan="2">
                                                                                            <span class="part_sub_total_{{key}}"></span>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tfoot>
                                                                            </table>
                                                                            <span class="bill-total">
                                                                                <span class="info">
                                                                                    Grand Total
                                                                                    <span class="amount_{{key}}"></span>
                                                                                </span>
                                                                            </span>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                            <div class="text-center pt-40" ng-if="split_order_type.paid_by_id ==10013 && (job_card.status_id==8224 || job_card.status_id==8225)">
                                                                <!-- <div class="text-center pt-40"> -->
                                                                <input type="hidden" name="labour_total_amount" id="labour_total_amount" value="{{job_card.labour_total_amount}}">
                                                                <input type="hidden" name="part_total_amount" id="part_total_amount" value="{{job_card.parts_total_amount}}">
                                                                <a class="btn btn-red" data-toggle="modal" data-target="#confirmation_modal">Create Customer Tax Invoice</a>
                                                                <br><br>
                                                            </div>
                                                        </div><!-- Table Responsive -->
                                                    </div><!-- Column -->
                                                </div><!-- Row -->
                                            </div><!-- Tabe Pane -->
                                        </div><!-- Tab Content -->
                                    </div><!-- Page Form -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- Tab Form Body -->
            </div><!-- Tab Form Wrap -->
        </div><!-- Page Form -->
    </div><!-- Page Main Content -->
</div><!-- Content Wrap -->
<div class="modal fade alert-modal failure" id="confirmation_modal" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">ARE YOU SURE?</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure? do you want to send this invoice customer for payment? </p>
                <button class="btn btn-grey" data-dismiss="modal" aria-label="Close">No</button>
                <button class="btn btn-rose job_completed" ng-click="sendCustomerPayment()">Yes</button>
            </div>
        </div>
    </div>
</div>