<!-- Content Wrap -->
<div class="content-wrap cndn-wrap">
    <!-- Page Header -->
    <div class="page-header">
        <div class="page-header-inner">
            <div class="page-header-content-left">
                <div class="page-header-content button-block">
                    <a href="#!/part-indent/list" type="button" class="btn-back btn-img" ng-if="$ctrl.view_only_part_indent">
                        <img class="img-responsive" src="./public/theme/img/content/previous.svg" alt="Back" />
                    </a>
                    <a href="#!/job-card/table-list" type="button" class="btn-back btn-img" ng-if="!$ctrl.view_only_part_indent">
                        <img class="img-responsive" src="./public/theme/img/content/previous.svg" alt="Back" />
                    </a>
                </div><!-- Page Header Content -->
                <div class="page-header-content title-block">
                    <h1 class="title"><b>Voice of Customer</b></h1>
                    <p class="subtitle">Job Card / Voice of Customer</p>
                </div><!-- Page Header Content -->
            </div><!-- Page Header Content Left -->
        </div><!-- Page Header Inner -->
    </div><!-- Page Header -->
    <!-- Page Main Content -->
    <div class="page-main-content form-content type2">
        <div class="page-tab-form pb-70">
            <jobcard-header></jobcard-header>
            <div class="tab-form-wrap type-2 side-tab-open">
                <jobcard-tabs ng-init="active_tab = 'capture-voc'"></jobcard-tabs>
                <div class="tab-form-body side-tab-open">
                    <div class="tab-content">
                        <!-- TAB PANEL -->
                           <div class="tab-pane fade in active" id="voc_details" data-animation="fadeInUp" data-animation-delay="300">
                                <div class="tab-pane-wrap">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h5 class="color-primary mb-10"><b>Voice of Customer</b></h5>
                                            <hr class="hr-15"><!-- Separater -->
                                            <ul class="checklist-form-ul" ng-repeat="(key, customer_voice) in job_card.job_order.customer_voices">
                                                <li>
                                                    <div class="checklist-form-item-wrap">
                                                        <div class="checklist-form-content">
                                                            <div class="checklist-form-content-title">
                                                                {{customer_voice.name}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div><!-- Column -->
                                        <div class="tab-pane-footer">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <a href=".#!/job-card/road-test-observation/{{job_card_id}}" class="btn btn-secondary-dark btn-prev">Previous</a>
                                                    <a href=".#!/job-card/inventory/{{job_card_id}}" class="btn btn-secondary-dark btn-min-wdth btn-nxt">Next</a>
                                                </div>
                                            </div>
                                        </div><!-- Tab Footer -->
                                    </div><!-- Row -->
                                </div><!-- Tab Pane Wrap -->
                            </div><!-- Tabe Pane -->
                    </div><!-- Tab Content -->
                </div><!-- Tab Form Body -->
            </div><!-- Tab Form Wrap -->
        </div><!-- Page Form -->
    </div><!-- Page Main Content -->
</div><!-- Content Wrap -->