<div class="content-wrap cndn-wrap">
    <div class="page-header">
        <div class="page-header-inner">
            <div class="page-header-content-left">
                <div class="page-header-content title-block">
                    <h1 class="title type-2">
                        Job Cards
                        <span class="badge badge-secondary">
                            {{job_cards.length}}
                        </span>
                    </h1>
                </div><!-- Page Header Content -->
                <div class="page-header-content reset-block">
                    <div class="reset-wrap">
                        <button class="btn-reset reset-tooltip refresh_table my-tooltip" ng-shortcut="'meta+shift+r'" ng-shortcut-click data-title="ctrl+shift+r">
                            <img class="img-responsive" src="./public/theme/img/content/reset.svg" alt="Reset" />
                        </button>
                    </div>
                </div><!-- Page Header Content -->
                <div class="page-header-content search-block">
                    <div class="search_filter">
                        <label>
                            <input type="search" id="search_job_card" class="form-control" placeholder="Search" ng-model="$ctrl.search_key" ng-keyup=searchJobCard() autofocus/>
                            <button class="btn-clear my-tooltip" ng-click="clear_search()" ng-shortcut="'meta+shift+c'" ng-shortcut-click data-title="ctrl+shift+c">Clear</button>
                        </label>
                    </div><!-- Search Filter -->
                </div><!-- Page Header Content -->
                <div class="page-header-content button-block">
                    <button class="btn btn-bordered my-tooltip" data-toggle="modal" data-target="#job-card-filter-modal" ng-shortcut="'meta+shift+f'" ng-shortcut-click data-title="ctrl+shift+f"><i class="icon ion-md-funnel"></i>Filter</button>
                </div><!-- Page Header Content -->
            </div><!-- Page Header Content Left -->
            <div class="page-header-content-right">
                <div class="page-header-content tab-block">
                    <div class="list-card-icon-wrap">
                        <div class="list-icon" ng-click="listRedirect('table')">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="card-icon in" ng-click="listRedirect('card')">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div><!-- List Card Wrap -->
                </div><!-- Page Header Content -->
            </div><!-- Page Header Content Right -->
        </div><!-- Page Header Inner -->
    </div><!-- Page Header -->
    <div class="list-card-tab-wrap">
        <div class="card-tab-content in">
            <div class="page-card-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="card-list">
                                <li ng-repeat="(key, job_card) in job_cards">
                                    <div class="card-box">
                                        <div class="card-box-body">
                                            <p class="card-top-info-bold">
                                                JC No : {{job_card.job_card_number ? job_card.job_card_number : '' }}
                                            </p>
                                            <div class="box-list">
                                                <div class="box-left">
                                                    <div class="box-color white">
                                                        <div class="box-color-title">
                                                            {{job_card.registration_number ? job_card.registration_number : '' }}
                                                        </div>
                                                        <div class="box-color-subtitle">
                                                            {{job_card.vehicle_model ? job_card.vehicle_model : '' }}
                                                        </div>
                                                    </div>
                                                </div><!-- Box Left -->
                                                <div class="box-right">
                                                    <div class="box-info">
                                                        <div class="box-info-head">
                                                            JC Created On
                                                        </div>
                                                        <div class="box-info-body">
                                                            <div class="box-info-body-text">
                                                                {{job_card.created_at}}
                                                            </div>
                                                            <!-- <div class="box-info-body-text">
                                                                {{job_card.date ? job_card.date : '' | date:'shortTime'}}
                                                            </div> -->
                                                        </div>
                                                    </div><!-- Box Info -->
                                                </div><!-- Box Right -->
                                            </div><!-- Box List -->
                                            <div class="card-box-content mb-8">
                                                <img class="img-responsive" src="./public/theme/img/content/jc_profile.svg" alt="Image" />
                                                <span class="card-box-content-value">
                                                    <b>
                                                        {{job_card.customer_name ? job_card.customer_name : ''}}
                                                    </b>
                                                </span>
                                                <table class="card-box-content-table">
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                Job Order Type
                                                            </td>
                                                            <td>
                                                                : {{job_card.job_order_type ? job_card.job_order_type : ''}}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                Quote Type
                                                            </td>
                                                            <td>
                                                                : {{job_card.quote_type ? job_card.quote_type : ''}}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                Service Type
                                                            </td>
                                                            <td>
                                                                : {{job_card.service_type ? job_card.service_type : ''}}
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div><!-- Card Box Body -->
                                        <div class="card-box-footer">
                                            <div class="card-box-footer-left">
                                                <div class="card-box-footer-info">
                                                    <img class="img-responsive" src="./public/theme/img/content/icon-exclamatory.svg" alt="Icon" />
                                                    <span class="card-box-footer-value">
                                                        {{job_card.status ? job_card.status : ''}}
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="card-box-footer-right">
                                                 <a href=".#!/job-card/bay-view/{{job_card.job_card_id}}" class="btn btn-square btn-md btn-red">
                                                    View
                                                </a>
                                                <a ng-show="!job_card.bay_id" href="#!/job-card/assign-bay/{{job_card.job_card_id}}" class="btn btn-square btn-md btn-secondary-dark">Assign Bay</a>
                                            </div>
                                        </div><!-- Card Box Footer -->
                                    </div><!-- Card Box -->
                                </li>
                            </ul><!-- Card List -->
                        </div><!-- Column -->
                    </div><!-- Row -->
                </div><!-- Container -->
            </div><!-- Page Card Content -->
        </div><!-- Card Tab Content -->
    </div><!-- List & Card Tab Wrap -->
</div><!-- Content Wrap -->
<!-- Filter Modal -->
<div class="modal fade filter" id="job-card-filter-modal" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close ripple" data-dismiss="modal" aria-label="Close"><i class="icon ion-md-close"></i></button>
                <h5 class="modal-title" id="myModalLabel">
                    Filter
                </h5>
            </div><!-- Modal Header -->
            <div class="modal-body">
                <div class="modal-form">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Date</label>
                                <div class="input-group date" data-provide="datepicker">
                                    <input type="text" class="form-control" placeholder="Select Date" ng-model="$ctrl.date" id="date" />
                                    <div class="input-group-addon">
                                        <img class="img-responsive" src="./public/theme/img/content/calender-gray-icon.svg" alt="Calendar Image" />
                                    </div>
                                </div><!-- Input Group -->
                            </div><!-- Feild -->
                        </div><!-- Column -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>
                                    Registration No
                                </label>
                                <input type="text" class="form-control" id="reg_no" name="reg_no" placeholder="Enter Registration No" autocomplete="off" ng-model="$ctrl.reg_no">
                            </div><!-- Field -->
                        </div><!-- Column -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Customer</label>
                                <md-autocomplete class="type-sm" md-items="option in $ctrl.searchCustomer($ctrl.customerSearchText)" md-selected-item="$ctrl.customer" md-selected-item-change="selectedCustomer($ctrl.customer.id)" md-search-text="$ctrl.customerSearchText" md-item-text="option.name" md-min-length="3" placeholder="Customer Name" md-autofocus>
                                    <md-item-template>
                                        <span>
                                            {{option.name}}
                                        </span>
                                    </md-item-template>
                                    <md-not-found>
                                        No Customer matching "{{$ctrl.customerSearchText}}" were found.
                                    </md-not-found>
                                </md-autocomplete>
                                <input type="hidden" id="customer_id" name="customer_id" value="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Vehicle Model</label>
                                <md-autocomplete class="type-sm" md-items="option in $ctrl.searchVehicleModel($ctrl.vehicleModelSearchText)" md-selected-item="$ctrl.vehicle_model" md-selected-item-change="selectedVehicleModel($ctrl.vehicle_model.id)" md-search-text="$ctrl.vehicleModelSearchText" md-item-text="option.model_name" md-min-length="3" placeholder="Vehicle Model Name" md-autofocus>
                                    <md-item-template>
                                        <span>
                                            {{option.model_name}}
                                        </span>
                                    </md-item-template>
                                    <md-not-found>
                                        No Vehicle Model matching "{{$ctrl.vehicleModelSearchText}}" were found.
                                    </md-not-found>
                                </md-autocomplete>
                                <input type="hidden" id="model_id" name="model_id" value="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>
                                    Job Card No
                                </label>
                                <input type="text" class="form-control" id="job_card_no" name="job_card_no" placeholder="Enter Job Card No" autocomplete="off" ng-model="$ctrl.job_card_no">
                            </div><!-- Field -->
                        </div><!-- Column -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Job Order Type</label>
                                <md-select ng-model="$ctrl.job_order_type_id" md-on-close="clearSearchTerm()" ng-change="onSelectedJobOrderType($ctrl.job_order_type_id)" data-md-container-class="selectdemoSelectHeader" placeholder="Select Job Order Type">
                                    <md-select-header class="demo-select-header">
                                        <input ng-model="searchJobOrderType" type="search" placeholder="Search for a Job Order Type" class="demo-header-searchbox md-text" ng-keydown="$event.stopPropagation()">
                                    </md-select-header>
                                    <md-optgroup>
                                        <md-option ng-value="job_order_type.id" ng-repeat="job_order_type in $ctrl.extras.job_order_type_list | filter:searchJobOrderType">{{job_order_type.name}}</md-option>
                                    </md-optgroup>
                                </md-select>
                                <input type="hidden" class="form-control type-sm" name="job_order_type_id" id="job_order_type_id" value="">
                            </div><!-- Field -->
                        </div><!-- Column -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Service Type</label>
                                <md-select ng-model="$ctrl.service_type_id" md-on-close="clearSearchTerm()" ng-change="onSelectedServiceType($ctrl.service_type_id)" data-md-container-class="selectdemoSelectHeader" placeholder="Select Service Type">
                                    <md-select-header class="demo-select-header">
                                        <input ng-model="searchServiceType" type="search" placeholder="Search for a Service Type" class="demo-header-searchbox md-text" ng-keydown="$event.stopPropagation()">
                                    </md-select-header>
                                    <md-optgroup>
                                        <md-option ng-value="service_type.id" ng-repeat="service_type in $ctrl.extras.service_type_list | filter:searchServiceType">{{service_type.name}}</md-option>
                                    </md-optgroup>
                                </md-select>
                                <input type="hidden" class="form-control type-sm" name="service_type_id" id="service_type_id" value="">
                            </div><!-- Field -->
                        </div><!-- Column -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Quote Type</label>
                                <md-select ng-model="$ctrl.quote_type_id" md-on-close="clearSearchTerm()" ng-change="onSelectedQuoteType($ctrl.quote_type_id)" data-md-container-class="selectdemoSelectHeader" placeholder="Select Quote Type">
                                    <md-select-header class="demo-select-header">
                                        <input ng-model="searchServiceType" type="search" placeholder="Search for a Quote type" class="demo-header-searchbox md-text" ng-keydown="$event.stopPropagation()">
                                    </md-select-header>
                                    <md-optgroup>
                                        <md-option ng-value="quote_type.id" ng-repeat="quote_type in $ctrl.extras.quote_type_list | filter:searchServiceType">{{quote_type.name}}</md-option>
                                    </md-optgroup>
                                </md-select>
                                <input type="hidden" class="form-control type-sm" name="quote_type_id" id="quote_type_id" value="">
                            </div><!-- Field -->
                        </div><!-- Column -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Status</label>
                                <md-select ng-model="$ctrl.status_selected" md-on-close="clearSearchTerm()" ng-change="onSelectedStatus($ctrl.status_selected)" data-md-container-class="selectdemoSelectHeader" placeholder="Select Status">
                                    <md-select-header class="demo-select-header">
                                        <input ng-model="searchTerm1" type="search" placeholder="Search for a Status" class="demo-header-searchbox md-text" ng-keydown="$event.stopPropagation()">
                                    </md-select-header>
                                    <md-optgroup>
                                        <md-option ng-value="status.id" ng-repeat="status in $ctrl.extras.status_list | filter:searchTerm1">{{status.name}}</md-option>
                                    </md-optgroup>
                                </md-select>
                                <input type="hidden" class="form-control type-sm" name="status_id" id="status_id" value="">
                            </div><!-- Field -->
                        </div><!-- Column -->
                    </div><!-- Row -->
                </div><!-- Modal Form -->
            </div><!-- Modal Body -->
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-6">
                        <button type="button" class="reset-link" ng-click="reset_filter();$ctrl.date='';$ctrl.reg_no='';$ctrl.job_card_no='';$ctrl.customerSearchText='';$ctrl.vehicleModelSearchText='';$ctrl.status_selected='';$ctrl.quote_type_id='';$ctrl.service_type_id='';$ctrl.job_order_type_id=''; " ng-shortcut="'meta+shift+t'" ng-shortcut-click data-title="ctrl+shift+t">
                            Reset Filter
                        </button>
                    </div><!-- Column -->
                    <div class="col-md-6 text-right">
                        <button type="button" class="btn btn-primary btn-md" ng-click="applyFilter()">
                            Apply
                        </button>
                    </div><!-- Column -->
                </div><!-- Row -->
            </div><!-- Modal Footer -->
        </div><!-- Modal Content -->
    </div><!-- Modal Dialog -->
</div><!-- Modal -->