<!-- Content Wrap -->
<div class="content-wrap cndn-wrap">
    <!-- Page Header -->
    <div class="page-header">
        <div class="page-header-inner">
            <div class="page-header-content-left">
                <div class="page-header-content button-block">
                    <a href="#!/part-indent/list" type="button" class="btn-back btn-img" ng-if="$ctrl.view_only_part_indent">
                        <img class="img-responsive" src="./public/theme/img/content/previous.svg" alt="Back" />
                    </a>
                    <a href="#!/job-card/table-list" type="button" class="btn-back btn-img" ng-if="!$ctrl.view_only_part_indent">
                        <img class="img-responsive" src="./public/theme/img/content/previous.svg" alt="Back" />
                    </a>
                </div><!-- Page Header Content -->
                <div class="page-header-content title-block">
                    <h1 class="title"><b>Service Package Details</b></h1>
                    <p class="subtitle">Job Card / Service Package Details</p>
                </div><!-- Page Header Content -->
            </div><!-- Page Header Content Left -->
        </div><!-- Page Header Inner -->
    </div><!-- Page Header -->
    <!-- Page Main Content -->
    <div class="page-main-content form-content type2">
        <div class="page-tab-form pb-70">
            <jobcard-header></jobcard-header>
            <div class="tab-form-wrap type-2 side-tab-open">
                <jobcard-tabs ng-init="active_tab = 'dms-checklist'"></jobcard-tabs>
                <div class="tab-form-body side-tab-open">
                    <div class="tab-content">
                        <!-- TAB PANEL -->
                        <div class="tab-pane fade in active" id="dms_details" data-animation="fadeInUp" data-animation-delay="300">
                            <div class="tab-pane-wrap">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h5 class="color-primary mb-10"><b>Service Package Details</b></h5>
                                        <hr class="hr-15"><!-- Separater -->
                                        <div class="row">
                                            <div class="col-md-4" ng-if="$ctrl.warrany_status == 1">
                                                <div class="gatein-img-list">
                                                    <div class="attach-form-wrap">
                                                        <p class="color-secondary-dark">
                                                            <b>
                                                                AMC
                                                            </b>
                                                        </p>
                                                        <div class="mb-20"></div><!-- Spacing -->
                                                        <p class="font-md mb-no">
                                                            Available
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4" ng-if="$ctrl.warrany_status == 0">
                                                <div class="gatein-img-list">
                                                    <div class="attach-form-wrap">
                                                        <p class="color-secondary-dark">
                                                            <b>
                                                                AMC
                                                            </b>
                                                        </p>
                                                        <div class="mb-20"></div><!-- Spacing -->
                                                        <p class="font-md mb-no">
                                                            Not Available
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4" ng-if="$ctrl.amc_status == 0 && $ctrl.warrany_status == 1">
                                                <div class="gatein-img-list">
                                                    <div class="attach-form-wrap">
                                                        <p class="color-secondary-dark">
                                                            <b>
                                                                AMC Status
                                                            </b>
                                                        </p>
                                                        <div class="mb-20"></div><!-- Spacing -->
                                                        <p class="font-md mb-no">
                                                            Inactive
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4" ng-if="$ctrl.amc_status == 1 && $ctrl.warrany_status == 1">
                                                <div class="gatein-img-list">
                                                    <div class="attach-form-wrap">
                                                        <p class="color-secondary-dark">
                                                            <b>
                                                                AMC Starting & Ending KM
                                                            </b>
                                                        </p>
                                                        <div class="mb-20"></div><!-- Spacing -->
                                                        <p class="font-md mb-no">
                                                            {{job_card.job_order.starting_km}} to {{job_card.job_order.ending_km}}
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4" ng-if="$ctrl.amc_status == 1">
                                                <div class="gatein-img-list">
                                                    <div class="gatein-img-list-item attach-photo-view">
                                                        <img class="img-responsive" src="storage/app/public/gigo/job_order/attachments/{{job_card.job_order.warrenty_policy_attachment.name}}" alt="Warranty">
                                                    </div>
                                                    <div class="attach-form-wrap">
                                                        <p class="color-secondary-dark">
                                                            <b>
                                                                AMC Starting & Ending Date
                                                            </b>
                                                        </p>
                                                        <p class="font-md">
                                                            {{job_card.job_order.amc_starting_date}} to {{job_card.job_order.amc_ending_date}}
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4" ng-if="$ctrl.exwarrany_status == 1">
                                                <div class="gatein-img-list">
                                                    <div class="gatein-img-list-item attach-photo-view">
                                                        <img class="img-responsive" src="storage/app/public/gigo/job_order/attachments/{{job_card.job_order.e_w_p_attachment.name}}" alt="EWP">
                                                    </div>
                                                    <div class="attach-form-wrap">
                                                        <p class="color-secondary-dark">
                                                            <b>
                                                                Extended Warranty (EWP)
                                                            </b>
                                                        </p>
                                                        <div class="mb-20"></div><!-- Spacing -->
                                                        <p class="font-md mb-no">
                                                            Eligible Upto
                                                        </p>
                                                        <p class="font-sm">
                                                            {{job_card.job_order.ewp_expiry_date}}
                                                        </p>
                                                    </div>
                                                </div>
                                            </div><!-- Column -->
                                            <div class="col-md-4" ng-if="$ctrl.exwarrany_status == 0">
                                                <div class="gatein-img-list">
                                                    <div class="attach-form-wrap">
                                                        <p class="color-secondary-dark">
                                                            <b>
                                                                Extended Warranty (EWP)
                                                            </b>
                                                        </p>
                                                        <div class="mb-20"></div><!-- Spacing -->
                                                        <p class="font-md mb-no">
                                                            Not Available
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="gatein-img-list">
                                                    <div class="attach-form-wrap">
                                                        <p class="color-secondary-dark">
                                                            <b>
                                                                Memberships
                                                            </b>
                                                        </p>
                                                        <p class="font-md">
                                                            TVSCARE-GOLD Eligible Upto 20/03/2022
                                                        </p>
                                                        <p class="font-md">
                                                            TVSONE-GOLD Eligible Upto 20/03/2022
                                                        </p>
                                                    </div>
                                                </div>
                                            </div><!-- Column -->
                                            <div class="col-md-4" ng-if="job_card.job_order.a_m_c_attachment.length > 0">
                                                <div class="gatein-img-list">
                                                    <div class="gatein-img-list-item attach-photo-view" ng-repeat="(key,a_m_c_attachment) in job_card.job_order.a_m_c_attachment">
                                                        <img title="{{a_m_c_attachment.name}}" class="img-responsive" src="storage/app/public/gigo/job_order/attachments/{{a_m_c_attachment.name}}" alt="Memberships">
                                                    </div>
                                                </div>
                                            </div><!-- Column -->
                                        </div><!-- Row -->
                                        <hr class="hr-15"><!-- Separater -->
                                        <h6 class="color-secondary-dark mb-10" ng-if="job_card.job_order.campaigns.length > 0"><b>Campaign Job Details</b></h6>
                                        <div class="table-responsive">
                                            <table class="table table-form jc-view-bill-table-wrap" ng-repeat="(index, campaign) in job_card.job_order.campaigns">
                                                <thead>
                                                    <tr>
                                                        <th colspan="2">Claim Type : {{campaign.claim_type.name}}</th>
                                                        <th colspan="2"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <b>
                                                                Date
                                                            </b>
                                                        </td>
                                                        <td>
                                                            {{campaign.manufacture_date}}
                                                        </td>
                                                        <td>
                                                            <b>
                                                                Authorization No
                                                            </b>
                                                        </td>
                                                        <td>
                                                            {{campaign.authorisation_no}}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <b>
                                                                Complaint Code
                                                            </b>
                                                        </td>
                                                        <td>
                                                            {{campaign.complaint_type.code}}
                                                        </td>
                                                        <td>
                                                            <b>
                                                                Fault Code
                                                            </b>
                                                        </td>
                                                        <td>
                                                            {{campaign.fault_type.code}}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2" class="bg-white">
                                                            <table class="table table-form jc-view-bill-table">
                                                                <thead>
                                                                    <tr>
                                                                        <th>
                                                                            ROT
                                                                        </th>
                                                                        <th>
                                                                            ROT Amount
                                                                        </th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr ng-repeat="(index, campaign_labour) in campaign.campaign_labours">
                                                                        <td>{{campaign_labour.code}}</td>
                                                                        <td>{{campaign_labour.pivot.amount}}</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                        <td colspan="2" class="bg-white">
                                                            <table class="table table-form jc-view-bill-table">
                                                                <thead>
                                                                    <tr>
                                                                        <th>
                                                                            Part Code
                                                                        </th>
                                                                        <th>
                                                                            Part Number
                                                                        </th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr ng-repeat="(index, campaign_part) in campaign.campaign_parts">
                                                                        <td>{{campaign_part.code}}</td>
                                                                        <td>{{campaign_part.name}}</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div><!-- Table Responsive -->
                                        <br>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="view-details mb-no">
                                                    <ul class="view-row pb-none">
                                                        <li class="view-col-4">
                                                            <span class="view-col-label">
                                                                Campaign Carried
                                                            </span>
                                                            <span class="view-data-list-value">
                                                                <b>
                                                                    {{job_card.job_order.is_campaign_carried == 1 ? "Yes" : "No"}}
                                                                </b></span>
                                                        </li>
                                                        <li class="view-col-8" ng-show="!job_card.job_order.is_campaign_carried">
                                                            <span class="view-col-label">
                                                                Remarks
                                                            </span>
                                                            <span class="view-col-value">
                                                                <b>
                                                                    {{job_card.job_order.campaign_not_carried_remarks}}
                                                                </b>
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </div><!-- View Data -->
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <div class="common-checkbox type-2">
                                                        <input type="checkbox" id="check_verify" ng-value="1" ng-disabled="true" ng-checked="job_card.job_order.is_dms_verified == 1" />
                                                        <label for="check_verify">
                                                            <b>
                                                                Verified in DBM/SAP Portal
                                                            </b>
                                                        </label>
                                                    </div>
                                                </div><!-- Feild -->
                                            </div><!-- Column -->
                                        </div><!-- Row -->
                                    </div><!-- Column -->
                                    <div class="tab-pane-footer">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <a href=".#!/job-card/schedule-maintenance/{{job_card_id}}" class="btn btn-secondary-dark btn-prev">Previous</a>
                                                <a href=".#!/job-card/vehicle-inspection/{{job_card_id}}" class="btn btn-secondary-dark btn-min-wdth btn-nxt">Next</a>
                                            </div>
                                        </div>
                                    </div><!-- Tab Footer -->
                                </div><!-- Row -->
                            </div><!-- Tab Pane Wrap -->
                        </div><!-- Tabe Pane -->
                    </div><!-- Tab Content -->
                </div><!-- Tab Form Body -->
            </div><!-- Tab Form Wrap -->
        </div><!-- Page Form -->
    </div><!-- Page Main Content -->
</div><!-- Content Wrap -->