<style type="text/css">
.my-disable {
    pointer-events: none;
}
</style>
<!-- Content Wrap -->
<div class="content-wrap cndn-wrap">
    <!-- Page Header -->
    <div class="page-header">
        <div class="page-header-inner">
            <div class="page-header-content-left">
                <div class="page-header-content button-block">
                    <a href="#!/job-card/table-list" type="button" class="btn-back btn-img"><img class="img-responsive" src="./public/theme/img/content/previous.svg" alt="Back" /></a>
                </div><!-- Page Header Content -->
                <div class="page-header-content title-block">
                    <h1 class="title"><b>Floating Parts Details</b></h1>
                    <p class="subtitle">Job Card / Floating Parts Details</p>
                </div><!-- Page Header Content -->
            </div><!-- Page Header Content Left -->
        </div><!-- Page Header Inner -->
    </div><!-- Page Header -->
    <!-- Page Main Content -->
    <div class="page-main-content form-content type2">
        <div class="page-tab-form pb-70">
            <jobcard-header></jobcard-header>
            <div class="tab-form-wrap type-2">
                <jobcard-tabs ng-init="active_tab = 'floating-work'"></jobcard-tabs>
                <div class="tab-form-body">
                    <div class="tab-content">
                        <!-- TAB PANEL -->
                        <div class="tab-pane fade in active" id="schedules" data-animation="fadeInUp" data-animation-delay="300">
                            <div class="tab-pane-wrap">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h5 class="title-red">
                                            Floating Parts
                                        </h5>
                                        <hr class="hr-15"><!-- Separater -->
                                        <div class="table-responsive">
                                            <table class="table table-dark-grey">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            Part Code
                                                        </th>
                                                        <th>
                                                            Part Name
                                                        </th>
                                                        <th>
                                                            Number
                                                        </th>
                                                        <th>
                                                            Issued Quantity
                                                        </th>
                                                        <th>
                                                            Outward Date
                                                        </th>
                                                        <th>
                                                            Inward Date
                                                        </th>
                                                        <th>
                                                            Issue To
                                                        </th>
                                                        <th>
                                                            Status
                                                        </th>
                                                        <th>
                                                            Action
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="ptb-12" ng-repeat="(index,floating_part) in job_card.floating_parts" id="tp_{{index}}">
                                                        <td>
                                                            {{floating_part.code}}
                                                        </td>
                                                        <td>
                                                            {{floating_part.name}}
                                                        </td>
                                                        <td>
                                                            {{floating_part.number}}
                                                        </td>
                                                        <td>
                                                            {{floating_part.qty}}
                                                        </td>
                                                        <td>
                                                            {{floating_part.outward_date}}
                                                        </td>
                                                        <td>
                                                            {{floating_part.inward_date}}
                                                        </td>
                                                        <td>
                                                            {{floating_part.mechanic}}
                                                        </td>
                                                        <td>
                                                            {{floating_part.status_name}}
                                                        </td>
                                                        <td><button type="button" ng-if="floating_part.status_id == 11162" ng-click="showRemarks(floating_part.id)" class="btn img-btn btn-delete">
                                                                <img class="img-responsive radius-50" src="./public/theme/img/table/add-hover.svg" alt="View" />
                                                            </button></td>
                                                    </tr>
                                                    <tr ng-if="job_card.floating_parts.length == 0">
                                                        <td colspan="9" class="text-center">No Parts Found</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div class="mb-20"></div><!-- Spacing -->
                                            <div class="col-md-12" ng-if="job_card.floating_part_confirmation_status > 0">
                                                <div class="text-center pt-40">
                                                    <a class="btn btn-red part_request" data-toggle="modal" data-target="#confirmation_modal">Issue Floating Gate Pass</a>
                                                </div>
                                            </div>
                                        </div><!-- Table Responsive -->
                                        <div class="mb-20"></div><!-- Spacing -->
                                    </div><!-- Column -->
                                    <div class="tab-pane-footer">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <a href=".#!/job-card/schedule/{{job_card_id}}" class="btn btn-secondary-dark btn-prev">Previous</a>
                                                <a href=".#!/job-card/part-indent/{{job_card_id}}" class="btn btn-secondary-dark btn-min-wdth btn-nxt">Next</a>
                                            </div>
                                        </div>
                                    </div><!-- Tab Footer -->
                                </div><!-- Row -->
                            </div><!-- Tab Pane Wrap -->
                        </div><!-- Tabe Pane -->
                    </div><!-- Tab Content -->
                </div><!-- Tab Form Body -->
            </div><!-- Tab Form Wrap -->
        </div><!-- Page Form -->
    </div><!-- Page Main Content -->
</div><!-- Content Wrap -->
<div class="modal fade alert-modal failure" id="confirmation_modal" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Confirmation?</h4>
            </div>
            <div class="modal-body">
                <h5 id="repair_code"></h5>
                <p>Are you sure? Do you confirm floating parts are fixed in the vehicle and Issued the Gate Pass?</p>
                <button class="btn btn-rose" data-dismiss="modal" aria-label="Close">No</button>
                <button class="btn btn-success confirm_gatepass" aria-label="Close" ng-click="saveFloatingGatePass()">Yes</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade alert-modal failure" id="floating_part_return_modal" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Confirmation?</h4>
            </div>
            <div class="modal-body">
                <h5 id="repair_code"></h5>
                <p>Are you sure? Do you return this part?</p>
                <button class="btn btn-rose" data-dismiss="modal" aria-label="Close">No</button>
                <button class="btn btn-success confirm_part_return" aria-label="Close" ng-click="returnFloatingGatePass()">Yes</button>
            </div>
        </div>
    </div>
</div>