<!-- Content Wrap -->
<div class="content-wrap">
    <!-- Page Header -->
    <div class="page-header">
        <div class="page-header-inner">
            <div class="page-header-content-left">
                <div class="page-header-content button-block">
                    <a href="#!/job-card/schedule/{{job_card_id}}" type="button" class="btn-back btn-img">
                        <img class="img-responsive" src="./public/theme/img/content/previous.svg" />
                    </a>
                </div>
                <div class="page-header-content title-block">
                    <h1 class="title">
                        Labour Review
                    </h1>
                    <p class="subtitle">
                        <a href="#!/job-card/table-list">Job Cards</a> / Labour Review
                    </p>
                </div>
            </div>
        </div><!-- Page Header Inner -->
    </div><!-- Page Header -->
    <!-- Page Main Content -->
    <div class="page-main-content form-content type2">
        <div class="page-tab-form-top type-2">
            <div class="page-tab-form-top-left">
                <div class="page-tab-form-top-left-info pad-lf-rt">
                    <span class="page-tab-form-top-left-info-content">
                        <b>
                            JC No: {{labour_review_data.job_card_number}} | {{labour_review_data.job_order.vehicle.registration_number}}
                        </b>
                        | {{labour_review_data.job_order.vehicle.model.model_number}} | {{labour_review_data.creation_date}}, {{labour_review_data.creation_time}}
                    </span>
                </div>
            </div><!-- Page Tab Form Top Left -->
            <div class="page-tab-form-top-right">
                <div class="page-tab-form-top-right-info">
                    Status : {{labour_review_data.status.name}}
                </div>
            </div><!-- Page Tab Form Top Right -->
        </div><!-- Page Tab Form Top -->
        <div class="container">
            <form id="labour_review_form" autocomplete="off">
                <input type="hidden" name="job_card_id" value="{{job_card_id}}">
                <input type="hidden" name="job_order_repair_order_id" value="{{job_order_repair_order_id}}">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-form pb-60 mt-30">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="schedules-box-wrap bg-white">
                                                <div class="left-wrap border-bottom type-2">
                                                    <div class="schedules-left-wrap float-none">
                                                        <span class="info">{{job_order_repair_order.repair_order.code}}</span>
                                                        <span class="title">{{job_order_repair_order.repair_order.name}}</span>
                                                    </div>
                                                </div><!-- Left Wrap -->
                                                <div class="right-wrap">
                                                    <span class="status bg-grey">
                                                        Total
                                                        <span class="time">{{labour_review_data.job_order.overall_total_duration}}</span>
                                                    </span>
                                                </div><!-- Right Wrap -->
                                                <div class="assigned-info">
                                                    <span class="title small">Assigned to:
                                                        <span ng-repeat="(key,repair_order_mechanic) in job_order_repair_order.repair_order_mechanics">{{repair_order_mechanic.mechanic.name}}{{$last ? '' : ', '}}</span></span>
                                                </div>
                                            </div>
                                        </div><!-- Column -->
                                    </div><!-- Row -->
                                    <h6 class="mt-30"><b>Time Log</b></h6>
                                    <div class="panel-group" id="accordion">
                                        <div class="panel panel-default type-5" ng-repeat="(key,repair_order_mechanic) in job_order_repair_order.repair_order_mechanics">
                                            <div class="panel-heading">
                                                <a class="panel-title in" data-toggle="collapse" data-parent="#accordion" data-target="#{{repair_order_mechanic.mechanic.id}}">
                                                    {{repair_order_mechanic.mechanic.name}} - {{repair_order_mechanic.total_duration}}
                                                    <span class="arrow"></span>
                                                </a>
                                            </div>
                                            <div id="{{repair_order_mechanic.mechanic.id}}" class="panel-collapse collapse in">
                                                <div class="panel-body">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="table-responsive">
                                                                <table class="table table-form type-3">
                                                                    <thead>
                                                                        <th>Date</th>
                                                                        <th>Start Time</th>
                                                                        <th>End Time</th>
                                                                        <th>Duration</th>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr ng-repeat="(key,mechanic_time_log) in repair_order_mechanic.mechanic_time_logs">
                                                                            <td>{{mechanic_time_log.date}}</td>
                                                                            <td>{{mechanic_time_log.start_time}}</td>
                                                                            <td>{{mechanic_time_log.end_time ? mechanic_time_log.end_time : '-'}}
                                                                                {{mechanic_time_log.reason.name}}
                                                                            </td>
                                                                            <td>{{mechanic_time_log.duration_difference ? mechanic_time_log.duration_difference : '-'}}</td>
                                                                        </tr>
                                                                        <tr ng-if="repair_order_mechanic.mechanic_time_logs.length == '0'">
                                                                            <td colspan="4" class="text-center">No Worklog found!</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div><!-- Table Responsive -->
                                                        </div><!-- Column -->
                                                    </div><!-- Row -->
                                                </div><!-- Panel Body -->
                                            </div><!-- Panel Collapse -->
                                        </div><!-- Panel -->
                                    </div><!-- Panel Group -->
                                </div><!-- Column -->
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Status</label>
                                                <div class="common-radio-button type-4">
                                                    <input type="radio" id="layer_yes" ng-model="$ctrl.action" name="status_id" checked value="8187" ng-value="8187" />
                                                    <label for="layer_yes">Completed</label>
                                                    <input type="radio" id="layer_no" ng-model="$ctrl.action" name="status_id" value="8186" ng-value="8186" />
                                                    <label for="layer_no">Re-Schedule</label>
                                                </div>
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <div class="col-md-12" ng-if="$ctrl.action == 8187">
                                            <div class="form-group">
                                                <label>Observations <sup class="mandatory">*</sup></label>
                                                <textarea class="form-control" rows="4" placeholder="Enter Observations" name="observation">{{labour_review_data.job_order.job_order_repair_orders[0].observation}}</textarea>
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <div class="col-md-12" ng-if="$ctrl.action == 8187">
                                            <div class="form-group">
                                                <label>Action Taken <sup class="mandatory">*</sup></label>
                                                <textarea class="form-control" rows="4" placeholder="Enter Actions Taken" name="action_taken">{{labour_review_data.job_order.job_order_repair_orders[0].action_taken}}</textarea>
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <div class="col-md-12" ng-if="$ctrl.action == 8186">
                                            <div class="form-group">
                                                <label>Remarks<sup class="mandatory">*</sup></label>
                                                <textarea class="form-control" rows="4" placeholder="Enter Remarks" name="remarks">{{labour_review_data.job_order.job_order_repair_orders[0].remarks}}</textarea>
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <div class="col-md-6" ng-if="$ctrl.action == 8187 && job_order_repair_order.split_order_type.is_claimable ==1">
                                            <div class="form-group">
                                                <label>
                                                    Complaint code
                                                    <sup class="mandatory">*</sup>
                                                </label>
                                                <md-autocomplete md-no-cache="true" md-selected-item="job_order_repair_order.complaint" md-search-text="complaintSearchKey" md-items="complaint in searchCompaints(complaintSearchKey)" md-item-text="complaint.code+' / '+complaint.name" md-min-length="3" md-escape-options="clear" placeholder="Ex. 01C4" md-input-id="complaint_ac">
                                                    <md-item-template>
                                                        <span>
                                                            {{complaint.code+' / '+complaint.name}}
                                                        </span>
                                                    </md-item-template>
                                                    <md-not-found>
                                                        No complaints matching "{{complaintSearchKey}}" were found.
                                                    </md-not-found>
                                                </md-autocomplete>
                                                <input type="hidden" name="complaint_id" value="{{job_order_repair_order.complaint.id}}">
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <div class="col-md-6" ng-if="$ctrl.action == 8187 && job_order_repair_order.split_order_type.is_claimable ==1">
                                            <div class="form-group">
                                                <label>
                                                    Fault code
                                                    <sup class="mandatory">*</sup>
                                                </label>
                                                <md-autocomplete md-selected-item="job_order_repair_order.fault" md-search-text="faultSearchKey" md-items="fault in searchFaults(faultSearchKey)" md-item-text="fault.code+' / '+fault.name" md-min-length="1" md-escape-options="clear" placeholder="Ex. AA" md-input-id="fault_ac">
                                                    <md-item-template>
                                                        <span>
                                                            {{fault.code+' / '+fault.name}}
                                                        </span>
                                                    </md-item-template>
                                                    <md-not-found>
                                                        No faults matching "{{faultSearchKey}}" were found.
                                                    </md-not-found>
                                                </md-autocomplete>
                                                <input type="hidden" name="fault_id" value="{{job_order_repair_order.fault.id}}">
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <div class="col-md-12" ng-if="$ctrl.action == 8187">
                                            <div class="light-box form-group">
                                                <h6 class=""><b>Attachments</b></h6>
                                                <div class="img-upload-preview">
                                                    <input type="file" class="image_uploadify" accept="image/*" name="review_attachments[]" multiple />
                                                    <div class="imageuploadify">
                                                        <div class="imageuploadify-images-list">
                                                            <div class="imageuploadify-container" ng-if="job_order_repair_order.labour_review_attachment.length > 0" style="margin-left: 4px; margin-right: 4px;" ng-repeat="(key,labour_review_attachment) in job_order_repair_order.labour_review_attachment">
                                                                <button type="button" class="btn btn-danger glyphicon glyphicon-remove" ng-click="remove_attachment(labour_review_attachment.id,key)">
                                                                </button>
                                                                <img title="{{labour_review_attachment.name}}" src="./storage/app/public/gigo/job_order/attachments/{{labour_review_attachment.name}}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <input type="hidden" name="attachment_removal_ids" id="attachment_removal_ids" value="">
                                            </div><!-- Form Group -->
                                        </div>
                                    </div><!-- Row -->
                                </div><!-- Column -->
                            </div><!-- Row -->
                        </div><!-- Page Form -->
                    </div><!-- Column -->
                </div><!-- Row -->
                <div class="page-form-footer">
                    <div class="row">
                        <div class="col-md-12">
                            <a href="#!/job-card/schedule/{{job_card_id}}" class="btn btn-bordered btn-grey btn-min-wdth">Back</a>
                            <button type="submit" class="btn btn-secondary-dark btn-min-wdth submit" ng-click="saveLabourReview()">Submit</button>
                        </div><!-- Column -->
                    </div><!-- Row -->
                </div><!-- Page Form Footer -->
            </form>
        </div><!-- Container -->
    </div><!-- Page Main Content -->
</div><!-- Content Wrap -->
<script src="./public/theme/js/imageuploadify-mgatepass.min.js"></script>