<!-- Content Wrap -->
<div class="content-wrap cndn-wrap">
    <!-- Page Header -->
    <div class="page-header">
        <div class="page-header-inner">
            <div class="page-header-content-left">
                <div class="page-header-content button-block">
                    <a href="#!/gigo-pkg/job-card/material-gatepass/{{gate_pass.job_card_id}}" type="button" class="btn-back btn-img"><img class="img-responsive" src="./public/theme/img/content/previous.svg" alt="Back" /></a>
                </div><!-- Page Header Content -->
                <div class="page-header-content title-block">
                    <h1 class="title">
                        <b>
                            Job Card View
                        </b>
                    </h1>
                    <p class="subtitle">
                        Job card / View
                    </p>
                </div><!-- Page Header Content -->
            </div><!-- Page Header Content Left -->
        </div><!-- Page Header Inner -->
    </div><!-- Page Header -->

    <!-- Page Main Content -->
    <div class="page-main-content form-content type2">
        <div class="page-tab-form pb-70">
            <div class="page-tab-form-top">
                <div class="page-tab-form-top-left">
                    <div class="page-tab-form-top-left-title">
                        General Info
                    </div>
                    <div class="page-tab-form-top-left-link">
                        <a class="btn-link-arrow btn-prev">
                            <i class="ionicons ion-md-arrow-round-back"></i>
                        </a>
                        <a class="btn-link-arrow btn-nxt">
                            <i class="ionicons ion-md-arrow-round-forward"></i>
                        </a>
                    </div>
                    <div class="page-tab-form-top-left-info">
                        <span class="page-tab-form-top-left-info-content">
                            <b>
                                JC No : {{my_job_card_details.jc_number}}  | {{my_job_card_details.registration_number}}
                            </b>  
                             |  {{my_job_card_details.model_number}}  |  {{my_job_card_details.date}}, {{my_job_card_details.time}}
                        </span>
                    </div>
                </div><!-- Page Tab Form Top Left -->
                <div class="page-tab-form-top-right">
                    <div class="page-tab-form-top-right-info">
                        Status : {{my_job_card_details.status}}
                    </div>
                </div><!-- Page Tab Form Top Right -->
            </div><!-- Page Tab Form Top -->
            <div class="tab-form-wrap type-2">
                <div class="tab-form-header">
                    <div class="tab-header">
                            <!-- Filters -->
                        <div class="isotope-filters animated" data-animation="fadeInLeft" data-animation-delay="300">
                            <ul class="nav nav-pills cndn-tabs">
                                <li class="active"><a class="filter active" data-target="#vendor_details" data-toggle="tab" aria-expanded="true">
                                    Vendor Details
                                </a></li>
                                <li><a data-target="#item-details" data-toggle="tab" aria-expanded="true" class="filter">
                                    Item Details
                                </a></li>
                            </ul>
                        </div><!-- Filters -->  
                    </div><!-- Tab Header -->
                </div><!-- Tab Form Header -->
                <div class="tab-form-body">
                    <div class="tab-content">
                        <!-- TAB PANEL -->
                        <div class="tab-pane fade in active" id="vendor_details" data-animation="fadeInUp" data-animation-delay="300">
                            <div class="tab-pane-wrap">
                                <form id="vendor_save">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h5 class="title-red border-bottom">
                                            Enter Vendor Details
                                        </h5>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Vendor Type <sup class="mandatory">*</sup></label>
                                                            <div class="common-radio-button type-4">
                                                                <input type="radio" id="type_yes" ng-checked="{{gate_pass.gate_pass_detail.vendor_type.id==121}}" value="121" name="vendor_type_id"  />
                                                                <label for="type_yes">Internal</label>
                                                                <input type="radio" ng-checked="{{gate_pass.gate_pass_detail.vendor_type.id==122}}" id="type_no" value="122" name="vendor_type_id" />
                                                                <label for="type_no">External</label>
                                                            </div>
                                                        </div><!-- Feild -->
                                                    </div><!-- Column -->
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>OSL Vendor Code <sup class="mandatory">*</sup></label>
                                                            <input type="text" value="{{gate_pass.gate_pass_detail.vendor.code}}" class="form-control" placeholder="Enter Vendor Code" autocomplete="off" />
                                                            <input type="hidden" name="vendor_id" value="{{gate_pass.gate_pass_detail.vendor_id}}" class="form-control" placeholder="Enter Vendor Code" autocomplete="off" />
                                                            <input type="hidden" name="job_card_id" value="{{gate_pass.job_card_id}}" class="form-control" placeholder="Enter Vendor Code" autocomplete="off" />
                                                            <input type="hidden" name="gate_pass_id" value="{{gate_pass.id}}" class="form-control" placeholder="Enter Vendor Code" autocomplete="off" />

                                                        </div><!-- Feild -->
                                                    </div><!-- Column -->
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Vendor Contact No <sup class="mandatory">*</sup></label>
                                                            <input type="text" name="vendor_contact_no" value="{{gate_pass.gate_pass_detail.vendor_contact_no}}" class="form-control" placeholder="Enter Contact No" autocomplete="off" />
                                                        </div><!-- Feild -->
                                                    </div><!-- Column -->
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Work Order No <sup class="mandatory">*</sup></label>
                                                            <input type="text" name="work_order_no" value="{{gate_pass.gate_pass_detail.work_order_no}}" class="form-control" placeholder="Enter No" autocomplete="off" />
                                                        </div><!-- Feild -->
                                                    </div><!-- Column -->
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label>Work Order Description <sup class="mandatory">*</sup></label>
                                                            <textarea class="form-control" rows="5" name="work_order_description" placeholder="Enter Description">{{gate_pass.gate_pass_detail.work_order_description}}</textarea>
                                                        </div><!-- Feild -->
                                                    </div><!-- Column -->
                                                </div><!-- Row -->
                                            </div><!-- Column -->
                                            <div class="col-md-6">
                                                <div class="grey-box-address-wrap">
                                                    <div class="grey-box-address-heading">
                                                        <span class="title">Vendor Details</span>
                                                    </div>
                                                    <div class="grey-box-address-body">
                                                        <span class="title">{{gate_pass.gate_pass_detail.vendor.name}}</span>
                                                        <span class="info" ng-repeat="(key, address) in gate_pass.gate_pass_detail.vendor.addresses">  {{address.address_line1}},
                                                        {{address.address_line2}}
                                                        {{address.pincode}}</span>
                                                        <span class="info contact">+91 {{gate_pass.gate_pass_detail.vendor_contact_no}}</span>
                                                    </div>
                                                </div>
                                            </div><!-- Column -->                                        
                                        </div><!-- Row -->
                                    </div><!-- Column -->
                                    <div class="tab-pane-footer">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <button type="submit" ng-click="saveVendorDetails()" class="btn btn-red">
                                                            Save & Close
                                                        </button>
                                                <a class="btn btn-secondary-dark btn-min-wdth btn-nxt">Next</a>
                                            </div>
                                        </div>
                                    </div><!-- Tab Footer -->
                                </div><!-- Row -->
                            </form>
                            </div><!-- Tab Pane Wrap -->
                        </div><!-- Tabe Pane -->

                        <div class="tab-pane fade" id="item-details" data-animation="fadeInUp" data-animation-delay="300">
                            <div class="tab-pane-wrap">
                                <form id="form">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h5 class="title-red"><b>Enter Item Details</b></h5>
                                        <input type="hidden" name="gate_pass_id" value="{{gate_pass.id}}" class="form-control" placeholder="Enter Vendor Code" autocomplete="off" />
                                            <div class="row" ng-repeat="(index, gate_pass_item) in gate_pass_item">
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>
                                                            Item Name
                                                            <sup class="mandatory">*</sup>
                                                        </label>
                                                        <input type="text" class="form-control" ng-model="gate_pass_item.item_description" placeholder="Enter Name" autocomplete="off" value=""  />
                                                    </div><!-- Feild -->
                                                </div><!-- Column -->
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>
                                                           Item Description
                                                            <sup class="mandatory">*</sup>
                                                        </label>
                                                        <input type="text" class="form-control" placeholder="Enter Description" autocomplete="off" ng-model="gate_pass_item.item_description" name="item_details[{{index}}][item_description]" />
                                                    </div><!-- Feild -->
                                                </div><!-- Column -->
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>
                                                            Make
                                                        </label>
                                                        <input type="text" class="form-control" ng-model="gate_pass_item.item_make" placeholder="Enter Make" autocomplete="off" value="" name="item_details[{{index}}][item_make]" />
                                                    </div><!-- Feild -->
                                                </div><!-- Column -->
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>
                                                            Model
                                                            <sup class="mandatory">*</sup>
                                                        </label>
                                                        <input type="text" class="form-control" ng-model="gate_pass_item.item_model" placeholder="Enter Model" autocomplete="off" value="" name="item_details[{{index}}][item_model]" />
                                                    </div><!-- Feild -->
                                                </div><!-- Column -->
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>
                                                            Item Serial No
                                                        </label>
                                                        <input type="text" class="form-control" ng-model="gate_pass_item.item_serial_no" placeholder="Enter Serial No" autocomplete="off" value="" name="item_details[{{index}}][item_serial_no]" />
                                                    </div><!-- Feild -->
                                                </div><!-- Column -->
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>
                                                            Quantity
                                                            <sup class="mandatory">*</sup>
                                                        </label>
                                                         <input type="text" ng-model="gate_pass_item.qty" class="form-control" placeholder="Enter Quantity" autocomplete="off" value="" name="item_details[{{index}}][qty]" />
                                                       
                                                    </div><!-- Feild -->
                                                </div><!-- Column -->
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>
                                                            Remark
                                                            <sup class="mandatory">*</sup>
                                                        </label>
                                                        <input type="text" ng-model="gate_pass_item.remarks" class="form-control" placeholder="Enter Remark" autocomplete="off" value="" name="item_details[{{index}}][remarks]" />
                                                    </div><!-- Feild -->
                                                </div><!-- Column -->

                                                 <div class="col-md-6">
                                                                    <div class="input-text form-group">
                                                                        <ul class="gatein-img-list">
                                                                            <li class="gatein-img-list-item driver-licence-img">
                                                                                <label>
                                                                                    Item
                                                                                </label>
                                                                                <input type="file" name="material_outward_attachments[]" class="image_uploadify" accept="image/*" multiple />
                                                                            </li>
                                                                        </ul>
                                                                    </div><!-- Field -->
                                                                </div><!-- Column -->
                                            </div><!-- Row -->  
                                            <button type="button" ng-click="addNewItem()" class="btn btn-primary-light btn-square">+ Add More</button>               
                                    </div><!-- Column -->

                                    <div class="tab-pane-footer">
                                        
                                        <div class="row">
                                            <div class="col-md-12">
                                                <button type="submit" ng-click="saveItemDetails()" class="btn btn-red">
                                                            Save & Close
                                                        </button>
                                                <a class="btn btn-secondary-dark btn-prev">Previous</a>
                                                <a class="btn btn-secondary-dark btn-min-wdth">Submit</a>
                                            </div>
                                        </div>
                                    </div><!-- Tab Footer -->
                                </div><!-- Row -->
                            </form>
                            </div><!-- Tab Pane Wrap -->
                        </div><!-- Tabe Pane -->

                    </div><!-- Tab Content -->   
                </div><!-- Tab Form Body -->
            </div><!-- Tab Form Wrap -->
        </div><!-- Page Form -->
    </div><!-- Page Main Content -->
</div><!-- Content Wrap -->

<!-- Drag & Drop File Upload Plugins -->
<script src="./public/theme/js/imageuploadify-gatein.min.js"></script>