<style>
    /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
</style>
<!-- Content Wrap -->
<div class="content-wrap cndn-wrap">
    <!-- Page Header -->
    <div class="page-header">
        <div class="page-header-inner">
            <div class="page-header-content-left">
                <div class="page-header-content button-block">
                    <a href="#!/job-card/table-list" type="button" class="btn-back btn-img"><img class="img-responsive" src="./public/theme/img/content/previous.svg" alt="Back" /></a>
                </div><!-- Page Header Content -->
                <div class="page-header-content title-block">
                    <h1 class="title"><b>OSL Works</b></h1>
                    <p class="subtitle">Job Card /OSL Works</p>
                </div><!-- Page Header Content -->
            </div><!-- Page Header Content Left -->
        </div><!-- Page Header Inner -->
    </div><!-- Page Header -->
    <!-- Page Main Content -->
    <div class="page-main-content form-content type2">
        <div class="page-tab-form pb-70">
            <jobcard-header></jobcard-header>
            <div class="tab-form-wrap type-2 side-tab-open">
                <jobcard-tabs ng-init="active_tab = 'material-gatepass'"></jobcard-tabs>
                <div class="tab-form-body side-tab-open">
                    <div class="tab-content">
                        <!-- TAB PANEL -->
                        <div class="tab-pane fade in active" id="material_gatepass" data-animation="fadeInUp" data-animation-delay="300">
                            <div class="tab-pane-wrap">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h5 class="title-red">
                                            OSL Works
                                        </h5>
                                        <div class="row" ng-repeat="(key, gate_passes) in job_card.gate_passes" ng-if="job_card.gate_passes.length > 0">
                                            <div class="mgatepass-wrap border" id="carousel_parent_{{gate_passes.id}}">
                                                <div class="row">
                                                    <div class="col-lg-8">
                                                        <div class="row">
                                                            <div class="col-md-8">
                                                                <div class="mgpass-address-left-wrap">
                                                                    <span class="title mb-10">
                                                                        Vendor Code : {{gate_passes.gate_pass_detail.vendor.code}} ({{gate_passes.gate_pass_detail.vendor_type.name}})
                                                                    </span>
                                                                    <span class="heading">
                                                                        {{gate_passes.gate_pass_detail.vendor ? (gate_passes.gate_pass_detail.vendor.name ? gate_passes.gate_pass_detail.vendor.name : '') : ''}}
                                                                    </span>
                                                                    <span class="address">
                                                                        {{gate_passes.gate_pass_detail.vendor ? (gate_passes.gate_pass_detail.vendor.primary_address ? gate_passes.gate_pass_detail.vendor.primary_address.address_line1 : '') : ''}} ,
                                                                        {{gate_passes.gate_pass_detail.vendor ? (gate_passes.gate_pass_detail.vendor.primary_address ? gate_passes.gate_pass_detail.vendor.primary_address.address_line2 : '') : ''}}
                                                                    </span>
                                                                    <span class="contact">
                                                                        Vendor Contact No : {{gate_passes.gate_pass_detail.vendor_contact_no}}
                                                                    </span>
                                                                </div>
                                                            </div><!-- Column -->
                                                            <div class="col-md-4">
                                                                <div class="mgpass-address-left-wrap">
                                                                    <span class="date">
                                                                        Created On : {{gate_passes.created_on}}
                                                                    </span>
                                                                    <ul class="grey-list d-block">
                                                                        <li>
                                                                            <div class="grey-box">
                                                                                <div class="grey-box-header">Status : {{gate_passes.status.name}}</div>
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div><!-- Column -->
                                                        </div><!-- Row -->
                                                        <div class="mgpass-address-left-wrap">
                                                            <ul class="view-row mb-no border-none">
                                                                <li class="view-col-4">
                                                                    <span class="view-col-label">Repair Order</span>
                                                                    <span class="view-col-value">
                                                                        <span ng-repeat="(keys, repair_order) in gate_passes.repair_orders">
                                                                            <b> {{repair_order.code}} </b> / {{repair_order.name}}
                                                                            <br>
                                                                        </span>
                                                                    </span>
                                                                </li>
                                                                <li class="view-col-4">
                                                                    <span class="view-col-label">Work Order No</span>
                                                                    <span class="view-col-value">{{gate_passes.gate_pass_detail.work_order_no}}</span>
                                                                </li>
                                                                <li class="view-col-4">
                                                                    <span class="view-col-label">Work Order Description</span>
                                                                    <span class="view-col-value">{{gate_passes.gate_pass_detail.work_order_description}}</span>
                                                                </li>
                                                                <li class="view-col-4">
                                                                    <span class="view-col-label">No. of Items</span>
                                                                    <span class="view-col-value">{{gate_passes.gate_pass_items.length}}</span>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <a ng-if="gate_passes.status_id == 8300 && (job_card.status_id != 8224 && job_card.status_id != 8225 && job_card.status_id != 8226 && job_card.status_id != 8227)" href="#!/job-card/material-outward/{{job_card.id}}/{{gate_passes.id}}" class="btn btn-md type2 btn-secondary-dark btn-square">Edit</a>
                                                        <a ng-if="gate_passes.status_id == 8302" ng-click="showOSLUpdateForm(index,gate_passes)" class="btn btn-md type2 btn-secondary-dark btn-square">Update OSL Bill Details</a>
                                                    </div><!-- Column -->
                                                    <div class="col-lg-4" ng-if="gate_passes.gate_pass_items.length > 0">
                                                        <div id="myCarousel" class="carousel mgpass-carousel slide" data-ride="carousel">
                                                            <ol class="carousel-indicators">
                                                                <li style="margin-right: 5px" data-target="#myCarousel" data-slide-to="{{key}}{{index}}" class="carousel_li" id="carousel_li_{{gate_passes.id}}{{index}}" ng-repeat="(index, gate_pass_items) in gate_passes.gate_pass_items" ng-click="carouselLiChange(gate_passes.id,index)"></li>
                                                            </ol>
                                                            <div class="carousel-inner">
                                                                <div class="item carousel_inner_item" id="carousel_inner_item_{{gate_passes.id}}{{keys}}" ng-repeat="(keys, gate_pass_item) in gate_passes.gate_pass_items">
                                                                    <div class="border-box type-2">
                                                                        <div class="top-title">{{gate_pass_item.name}}<span class="right-text">Qty : {{gate_pass_item.qty}}</span></div>
                                                                        <div class="mb-20"></div>
                                                                        <table class="table-info">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td>Make</td>
                                                                                    <td>: {{gate_pass_item.item_make}}</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>Model</td>
                                                                                    <td>: {{gate_pass_item.item_model}}</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>Seriel no</td>
                                                                                    <td>: {{gate_pass_item.item_serial_no}}</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>Remarks</td>
                                                                                    <td>: {{gate_pass_item.remarks}}</td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                        <div class="mb-10"></div>
                                                                        <div class="row" ng-if="gate_pass_item.attachment.length > 0">
                                                                            <div class="col-md-12">
                                                                                <div class="col-md-4" ng-repeat="(indexx, attach) in gate_pass_item.attachment">
                                                                                    <img class="img-responsive wid-60" src="storage/app/public/gigo/material_gate_pass/attachments/{{attach.name}}" alt="Image" />
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div><!-- Border Box -->
                                                                </div><!-- Item -->
                                                            </div><!-- Carousel Inner -->
                                                        </div><!-- Carousel -->
                                                    </div><!-- Column -->
                                                </div><!-- Row -->
                                                <div class="mb-10"></div>
                                            </div>
                                        </div>
                                        <div class="text-center pt-40" ng-if="job_card.status_id != 8224 && job_card.status_id != 8225 && job_card.status_id != 8226 && job_card.status_id != 8227">
                                            <a href="#!/job-card/material-outward/{{job_card.id}}" class="btn btn-red">Add {{job_card.gate_passes.length > 0 ? 'Another' : ''}} OSL Work</a>
                                        </div>
                                    </div><!-- Column -->
                                    <div class="tab-pane-footer">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <a href=".#!/job-card/split-order/{{job_card_id}}" class="btn btn-secondary-dark btn-prev">Previous</a>
                                                <a href=".#!/job-card/returnable-item/{{job_card_id}}" class="btn btn-secondary-dark btn-nxt">Next</a>
                                            </div>
                                        </div>
                                    </div><!-- Tab Footer -->
                                </div><!-- Row -->
                            </div><!-- Tab Pane Wrap -->
                        </div><!-- Tabe Pane -->
                    </div><!-- Tab Content -->
                </div><!-- Tab Form Body -->
            </div><!-- Tab Form Wrap -->
        </div><!-- Page Form -->
    </div><!-- Page Main Content -->
</div><!-- Content Wrap -->
<div class="modal fade filter" id="osl_confirmation_modal" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <form id="osl_bill_form" autocomplete="off">
            <input type="hidden" name="job_card_id" value="{{job_card.id}}">
            <input type="hidden" name="gate_pass_id" class="gate_pass_id">
            <input type="hidden" name="work_order_id" class="work_order_id">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close ripple" data-dismiss="modal" aria-label="Close"><i class="icon ion-md-close"></i></button>
                    <h5 class="modal-title" id="myModalLabel">
                        Update OSL Bill Details
                    </h5>
                </div><!-- Modal Header -->
                <div class="modal-body">
                    <div class="modal-form">
                        <div class="row" ng-if="gate_pass_repair_orders.length > 0">
                            <div class="col-sm-12">
                                <h5 class="color-primary mb-10"><b>Repair Order Details</b></h5>
                                <div class="table-responsive">
                                    <table class="table table-dark-grey">
                                        <thead>
                                            <tr>
                                                <th>ROT Code</th>
                                                <th>ROT Name</th>
                                                <th>OSL Bill Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="(index,gate_pass_repair_order) in gate_pass_repair_orders">
                                                <input type="hidden" name="gate_pass_repair_order[{{index}}][job_order_repair_id]" value="{{gate_pass_repair_order.id}}">
                                                <td>{{gate_pass_repair_order.code}}</td>
                                                <td>{{gate_pass_repair_order.name}}</td>
                                                <td><input type="number" step="0.01" min="1" max="{{gate_pass_repair_order.amount}}" class="form-control required" ng-if="gate_pass_repair_order.is_editable == 0" value="{{gate_pass_repair_order.amount}}" disabled name="gate_pass_repair_order[{{index}}][osl_amount]">
                                                    <input type="number" step="0.01" min="1" max="{{gate_pass_repair_order.amount}}" class="form-control required" ng-if="gate_pass_repair_order.is_editable == 1" value="" name="gate_pass_repair_order[{{index}}][osl_amount]">
                                            </tr>
                                        </tbody>
                                    </table>
                                </div><!-- Table Responsive -->
                            </div><!-- Column -->
                        </div>
                        <h5 class="color-primary mb-10"><b>Bill Details</b></h5>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Invoice Number <sup class="mandatory">
                                            *
                                        </sup> </label>
                                    <input type="text" name="invoice_number" maxlength="15" class="form-control required" placeholder="Invoice Number" autocomplete="off" />
                                </div><!-- Feild -->
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>
                                        Invoice Date
                                        <sup class="mandatory">
                                            *
                                        </sup>
                                    </label>
                                    <div class="input-group date" data-provide="datepicker" data-date-end-date="0d">
                                        <input type="text" class="form-control required" readonly placeholder="Select Date" name="invoice_date" />
                                        <div class="input-group-addon">
                                            <img class="img-responsive" src="./public/theme/img/content/calender-gray-icon.svg" alt="Calendar Image" />
                                        </div>
                                    </div><!-- Input Group -->
                                </div><!-- Feild -->
                            </div><!-- Column -->
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Invoice Amount<sup class="mandatory">
                                            *
                                        </sup></label>
                                    <input type="text" name="invoice_amount" class="form-control required" maxlength="10" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" placeholder="Invoice Amount" autocomplete="off" />
                                </div><!-- Feild -->
                            </div>
                            <div class="col-md-8">
                                <div class="light-box">
                                    <h6 class=""><b>Attachments</b></h6>
                                    <div class="img-upload-preview">
                                        <input type="file" class="image_uploadify material_image_{{index}}" accept="image/*,application/pdf" name="osl_work_order_attachments[]" multiple>
                                        <div class="imageuploadify">
                                            <div class="imageuploadify-images-list">
                                                <!-- <div class="imageuploadify-container attach_{{indexx}}" style="margin-left: 4px; margin-right: 4px;" ng-repeat="(indexx, attach) in gate_pass_item.attachment">
                                                    <button type="button" class="btn btn-danger glyphicon glyphicon-remove" ng-click="remove_attachment(attach.id,indexx)">
                                                    </button>
                                                    <img src="./storage/app/public/gigo/material_gate_pass/attachments/{{attach.name}}">
                                                </div> -->
                                            </div>
                                        </div>
                                    </div><!-- Image Upload Preview -->
                                </div><!-- Light Box -->
                            </div>
                        </div><!-- Row -->
                    </div><!-- Modal Form -->
                </div><!-- Modal Body -->
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-6">
                        </div><!-- Column -->
                        <div class="col-md-6 text-right">
                            <button type="button" data-dismiss="modal" class="btn btn-primary btn-bordered cancel_modal_btn">
                                Cancel
                            </button>
                            <button type="submit" ng-click="saveBillDetail()" class="btn btn-bordered save_bill_detail">Submit</button>
                        </div><!-- Column -->
                    </div><!-- Row -->
                </div><!-- Modal Footer -->
            </div><!-- Modal Content -->
        </form>
    </div><!-- Modal Dialog -->
</div><!-- Modal -->
<!-- Drag & Drop File Upload Plugins -->
<script src="./public/theme/js/imageuploadify-mgatepass.min.js"></script>