<!-- Content Wrap -->
<div class="content-wrap cndn-wrap">
    <!-- Page Header -->
    <div class="page-header">
        <div class="page-header-inner">
            <div class="page-header-content-left">
                <div class="page-header-content button-block">
                    <a href="#!/gigo-pkg/job-card/material-gatepass/{{job_card_id}}" type="button" class="btn-back btn-img"><img class="img-responsive" src="./public/theme/img/content/previous.svg" alt="Back" /></a>
                </div><!-- Page Header Content -->
                <div class="page-header-content title-block">
                    <h1 class="title">
                        <b>
                            Job Card View
                        </b>
                    </h1>
                    <p class="subtitle">
                        Job card / View
                    </p>
                </div><!-- Page Header Content -->
            </div><!-- Page Header Content Left -->
        </div><!-- Page Header Inner -->
    </div><!-- Page Header -->
    <!-- Page Main Content -->
    <div class="page-main-content form-content type2">
        <div class="page-tab-form pb-70">
            <div class="page-tab-form-top">
                <div class="page-tab-form-top-left">
                    <div class="page-tab-form-top-left-title">
                        General Info
                    </div>
                    <div class="page-tab-form-top-left-link">
                        <a class="btn-link-arrow btn-prev">
                            <i class="ionicons ion-md-arrow-round-back"></i>
                        </a>
                        <a class="btn-link-arrow btn-nxt">
                            <i class="ionicons ion-md-arrow-round-forward"></i>
                        </a>
                    </div>
                    <div class="page-tab-form-top-left-info">
                        <span class="page-tab-form-top-left-info-content">
                            <b>
                                JC No : {{job_card.job_card_number}} |
                            </b>
                            <span>
                                {{job_card.job_order.vehicle.registration_number}} | {{job_card.job_order.vehicle.model.model_number}}
                            </span>
                            <span>
                                | {{job_card.job_order.driver_name}}
                            </span>
                            | {{job_card.created_at}}
                        </span>
                    </div>
                </div><!-- Page Tab Form Top Left -->
                <div class="page-tab-form-top-right">
                    <div class="page-tab-form-top-right-info">
                        Status : {{job_card.status.name}}
                    </div>
                </div><!-- Page Tab Form Top Right -->
            </div><!-- Page Tab Form Top -->
            <div class="tab-form-wrap type-2">
                <div class="tab-form-header">
                    <div class="tab-header">
                        <!-- Filters -->
                        <div class="isotope-filters animated" data-animation="fadeInLeft" data-animation-delay="300">
                            <ul class="nav nav-pills cndn-tabs">
                                <li class="active"><a class="filter active" data-target="#vendor_details" data-toggle="tab" aria-expanded="true">
                                        Vendor Details
                                    </a>
                                </li>
                                <li><a data-target="#item-details" data-toggle="tab" aria-expanded="true" class="filter">
                                        Item Details
                                    </a>
                                </li>
                            </ul>
                        </div><!-- Filters -->
                    </div><!-- Tab Header -->
                </div><!-- Tab Form Header -->
                <form id="material_gatepass">
                    <div class="tab-form-body">
                        <div class="tab-content">
                            <!-- TAB PANEL -->
                            <div class="tab-pane fade in active" id="vendor_details" data-animation="fadeInUp" data-animation-delay="300">
                                <div class="tab-pane-wrap">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h5 class="title-red border-bottom">
                                                Vendor Details
                                            </h5>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>Vendor Type <sup class="mandatory">*</sup></label>
                                                                <div class="common-radio-button type-4">
                                                                    <input type="radio" id="type_yes" ng-checked="gate_pass.gate_pass_detail.vendor_type.id==121" value="121" name="vendor_type_id" />
                                                                    <label for="type_yes">Internal</label>
                                                                    <input type="radio" ng-checked="gate_pass.gate_pass_detail.vendor_type.id==122" id="type_no" value="122" name="vendor_type_id" />
                                                                    <label for="type_no">External</label>
                                                                </div>
                                                            </div><!-- Feild -->
                                                        </div><!-- Column -->
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>
                                                                    OSL Vendor Code
                                                                    <sup class="mandatory">*</sup>
                                                                </label>
                                                                <md-autocomplete md-items="option in $ctrl.searchVendorCode($ctrl.modelSearchText)" md-selected-item="$ctrl.vendor" md-selected-item-change="selectedVendorCode($ctrl.vendor.id)" md-search-text="$ctrl.modelSearchText" md-item-text="option.code" md-min-length="3" placeholder="OSL Vendor Code" md-autofocus>
                                                                    <md-item-template>
                                                                        <span>
                                                                            {{option.code}} / {{option.name}}
                                                                        </span>
                                                                    </md-item-template>
                                                                    <md-not-found>
                                                                        No Vendor Code matching "{{$ctrl.modelSearchText}}" were found.
                                                                    </md-not-found>
                                                                </md-autocomplete>
                                                                <input type="hidden" name="vendor_id" class="requried" value="{{$ctrl.vendor.id}}">
                                                            </div><!-- Feild -->
                                                        </div><!-- Column -->
                                                        <input type="hidden" name="job_card_id" value="{{job_card_id}}" class="form-control" placeholder="Enter Vendor Code" autocomplete="off" />
                                                        <input type="hidden" name="gate_pass_id" value="{{gate_pass.id}}" class="form-control" placeholder="Enter Vendor Code" autocomplete="off" />
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>Vendor Contact No <sup class="mandatory">*</sup></label>
                                                                <input type="text" id="vendor_contact" name="vendor_contact_no" value="{{gate_pass.gate_pass_detail.vendor_contact_no}}" class="form-control requried" placeholder="Enter Contact No" autocomplete="off" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');" minlength="10" maxlength="10" />
                                                            </div><!-- Feild -->
                                                        </div><!-- Column -->
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>Work Order No <sup class="mandatory">*</sup></label>
                                                                <input type="text" ng-model="gate_pass.gate_pass_detail.work_order_no" name="work_order_no" value="{{gate_pass.gate_pass_detail.work_order_no}}" class="form-control requried" placeholder="Enter No" autocomplete="off" />
                                                            </div><!-- Feild -->
                                                        </div><!-- Column -->
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label>Work Order Description <sup class="mandatory">*</sup></label>
                                                                <textarea class="form-control requried" rows="5" name="work_order_description" placeholder="Enter Description">{{gate_pass.gate_pass_detail.work_order_description}}</textarea>
                                                            </div><!-- Feild -->
                                                        </div><!-- Column -->
                                                    </div><!-- Row -->
                                                </div><!-- Column -->
                                                <div class="col-md-6">
                                                    <div class="grey-box-address-wrap">
                                                        <div class="grey-box-address-heading">
                                                            <span class="title">Vendor Details</span>
                                                        </div>
                                                        <div class="grey-box-address-body">
                                                            <span class="title" id="ven_name">{{gate_pass.gate_pass_detail.vendor.name}}</span>
                                                            <p class="address"></p>
                                                            <span class="info address" ng-repeat="(key, address) in gate_pass.gate_pass_detail.vendor.addresses"> {{address.address_line1}},
                                                                {{address.address_line2}}
                                                                {{address.pincode}}</span>
                                                            <span class="info contact" id="contact">{{gate_pass.gate_pass_detail.vendor_contact_no}}</span>
                                                        </div>
                                                    </div>
                                                </div><!-- Column -->
                                            </div><!-- Row -->
                                        </div><!-- Column -->
                                        <div class="tab-pane-footer">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <!-- <button type="submit" ng-click="saveVendorDetails()" class="btn btn-red">
                                                        Save & Close
                                                    </button> -->
                                                    <a class="btn btn-secondary-dark btn-min-wdth btn-nxt">Next</a>
                                                </div>
                                            </div>
                                        </div><!-- Tab Footer -->
                                    </div><!-- Row -->
                                </div><!-- Tab Pane Wrap -->
                            </div><!-- Tabe Pane -->
                            <div class="tab-pane fade" id="item-details" data-animation="fadeInUp" data-animation-delay="300">
                                <div class="tab-pane-wrap">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h5 class="title-red border-bottom">
                                                Item Details
                                                <span class="title-right">WO No : {{gate_pass.gate_pass_detail.work_order_no}}</span>
                                            </h5>
                                            <input type="hidden" name="gate_pass_id" value="{{gate_pass.id}}" class="form-control" placeholder="Enter Vendor Code" autocomplete="off" />
                                            <div class="border-icon" ng-repeat="(index, gate_pass_item) in gate_pass.gate_pass_items">
                                                <input type="hidden" name="item_id" id="item_id_{{index}}" value="{{gate_pass_item.id}}" class="form-control" />
                                                <img class="img-responsive img-delete" src="./public/theme/img/table/delete.svg" alt="Delete" ng-click="$ctrl.removeItem(index, gate_pass_item.id)">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label>Item Name <sup class="mandatory">*</sup></label>
                                                            <input type="text" name="item_details[{{index}}][name]" class="form-control requried" ng-model="gate_pass_item.name" placeholder="Enter Name" autocomplete="off" value="" />
                                                        </div><!-- Feild -->
                                                    </div><!-- Column -->
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label>Item Description <sup class="mandatory">*</sup></label>
                                                            <input type="text" class="form-control requried" placeholder="Enter Description" autocomplete="off" ng-model="gate_pass_item.item_description" name="item_details[{{index}}][item_description]" />
                                                        </div><!-- Feild -->
                                                    </div><!-- Column -->
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label>Make</label>
                                                            <input type="text" class="form-control requried" ng-model="gate_pass_item.item_make" placeholder="Enter Make" autocomplete="off" value="" name="item_details[{{index}}][item_make]" />
                                                        </div><!-- Feild -->
                                                    </div><!-- Column -->
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label>Model</label>
                                                            <input type="text" class="form-control requried" ng-model="gate_pass_item.item_model" placeholder="Enter Model" autocomplete="off" value="" name="item_details[{{index}}][item_model]" />
                                                        </div><!-- Feild -->
                                                    </div><!-- Column -->
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label>Item Serial No</label>
                                                            <input type="text" class="form-control requried" ng-model="gate_pass_item.item_serial_no" placeholder="Enter Serial No" autocomplete="off" value="" name="item_details[{{index}}][item_serial_no]" />
                                                        </div><!-- Feild -->
                                                    </div><!-- Column -->
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label>Quantity <sup class="mandatory">*</sup></label>
                                                            <input type="text" ng-model="gate_pass_item.qty" class="form-control requried" placeholder="Enter Quantity" autocomplete="off" value="" name="item_details[{{index}}][qty]" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');" />
                                                        </div><!-- Feild -->
                                                    </div><!-- Column -->
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Remarks <sup class="mandatory">*</sup></label>
                                                            <input type="text" ng-model="gate_pass_item.remarks" class="form-control requried" placeholder="Enter Remark" autocomplete="off" value="" name="item_details[{{index}}][remarks]" />
                                                        </div><!-- Feild -->
                                                    </div><!-- Column -->
                                                    <div class="col-md-12">
                                                        <ul class="gatein-img-list">
                                                            <div class="avatar-upload type-3">
                                                                <div class="avatar-edit" ng-class="{'in': gate_pass_item.attachments != NULL}">
                                                                    <input type="file" class="profile-img-upload warranty_expiry_attachment" name="item_details[{{index}}][material_outward_attachments][]" id="item{{index}}" accept=".png, .jpg, .jpeg" />
                                                                    <label for="item{{index}}">
                                                                        <img class="img-responsive" src="./public/theme/img/content/edit.png" alt="Edit Image" />
                                                                    </label>
                                                                </div>
                                                                <div class="avatar-preview in" ng-if="gate_pass_item.attachments != NULL">
                                                                    <div class="avatar-img" id="imagePreview" style="background-image:url('storage/app/public/gigo/job_order/attachments/{{gate_pass_item.attachments[0].name}}')">
                                                                    </div>
                                                                </div>
                                                                <div class="avatar-preview" ng-if="gate_pass_item.attachments == NULL">
                                                                    <div class="avatar-img" id="imagePreview" style="">
                                                                    </div>
                                                                </div><!-- Avatar Preview -->
                                                            </div><!-- Avatar Upload -->
                                                        </ul>
                                                    </div><!-- Column -->
                                                </div><!-- Row -->
                                            </div>
                                            <div class="mb-30">
                                                <button class="btn btn-md type2 btn-green btn-square" ng-click="addNewItem()">Add More</button>
                                            </div>
                                        </div><!-- Column -->
                                        <div class="tab-pane-footer">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <input type="hidden" id="gate_pass_item_removal_id" name="gate_pass_item_removal_id">
                                                    <a class="btn btn-secondary-dark btn-prev">Previous</a>
                                                    <button type="submit" ng-click="saveItemDetails()" class="btn btn-red">
                                                        Save & Close
                                                    </button>
                                                </div>
                                            </div>
                                        </div><!-- Tab Footer -->
                                    </div><!-- Row -->
                                </div><!-- Tab Pane Wrap -->
                            </div><!-- Tabe Pane -->
                        </div><!-- Tab Content -->
                    </div><!-- Tab Form Body -->
                </form>
            </div><!-- Tab Form Wrap -->
        </div><!-- Page Form -->
    </div><!-- Page Main Content -->
</div><!-- Content Wrap -->
<script src="./public/theme/js/imageuploadify-gatein.min.js"></script>