<!-- Content Wrap -->
<div class="content-wrap cndn-wrap">
    <!-- Page Header -->
    <div class="page-header">
        <div class="page-header-inner">
            <div class="page-header-content-left">
                <div class="page-header-content button-block">
                    <a target="_blank" href="#!/part-indent/list" type="button" class="btn-back btn-img"
                        ng-if="$ctrl.view_only_part_indent">
                        <img class="img-responsive" src="./public/theme/img/content/previous.svg" alt="Back" />
                    </a>
                    <a target="_blank" href="#!/job-card/card-list" type="button" class="btn-back btn-img"
                        ng-if="!$ctrl.view_only_part_indent">
                        <img class="img-responsive" src="./public/theme/img/content/previous.svg" alt="Back" />
                    </a>
                </div><!-- Page Header Content -->
                <div class="page-header-content title-block">
                    <h1 class="title"><b>Vehicle Inspection Report</b></h1>
                    <p class="subtitle">Job Card / Vehicle Inspection Report</p>
                </div><!-- Page Header Content -->
            </div><!-- Page Header Content Left -->
        </div><!-- Page Header Inner -->
    </div><!-- Page Header -->
    <!-- Page Main Content -->
    <div class="page-main-content form-content type2">
        <div class="page-tab-form pb-70">
            <jobcard-header></jobcard-header>
            <div class="tab-form-wrap type-2 side-tab-open">
                <jobcard-tabs ng-init="active_tab = 'pdf'"></jobcard-tabs>
                <div class="tab-form-body side-tab-open">
                    <div class="tab-content">
                        <!-- TAB PANEL -->
                        <div class="tab-pane fade in active" data-animation="fadeInUp" data-animation-delay="300">
                            <div class="tab-pane-wrap">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="checklist-form-wrap">
                                            <ul class="checklist-form-ul">
                                                <li ng-if="job_card.status_id == 8226 || job_card.status_id == 8228">
                                                    <div class="checklist-item-wrap pad-big">
                                                        <div class="checklist-item-value">
                                                            Covering Letter
                                                        </div>
                                                        <div class="checklist-item-value-sm"
                                                            ng-if="!covering_letter_pdf">
                                                            <a target="_blank" href="{{covering_letter_url}}"
                                                                class="btn btn-secondary-dark btn-square btn-block"
                                                                href="#">PDF</a>
                                                        </div>
                                                        <div class="checklist-item-value-sm"
                                                            ng-if="covering_letter_pdf">
                                                            <a target="_blank" href="{{covering_letter_pdf}}"
                                                                class="btn btn-secondary-dark btn-square btn-block"
                                                                href="#">PDF</a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li ng-if="job_card.status_id == 8226 || job_card.status_id == 8228">
                                                    <div class="checklist-item-wrap pad-big">
                                                        <div class="checklist-item-value">
                                                            Gatepass
                                                        </div>
                                                        <div class="checklist-item-value-sm" ng-if="!gate_pass_pdf">
                                                            <a target="_blank" href="{{gate_pass_url}}"
                                                                class="btn btn-secondary-dark btn-square btn-block"
                                                                href="#">PDF</a>
                                                        </div>
                                                        <div class="checklist-item-value-sm" ng-if="gate_pass_pdf">
                                                            <a target="_blank" href="{{gate_pass_pdf}}"
                                                                class="btn btn-secondary-dark btn-square btn-block"
                                                                href="#">PDF</a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li ng-if="job_card.status_id == 8226 || job_card.status_id == 8228">
                                                    <div class="checklist-item-wrap pad-big">
                                                        <div class="checklist-item-value">
                                                            Vehicle Inspection
                                                        </div>
                                                        <div class="checklist-item-value-sm">
                                                            <a target="_blank" href="{{vehicle_inspection_pdf}}"
                                                                class="btn btn-secondary-dark btn-square btn-block"
                                                                href="#">PDF</a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="checklist-item-wrap pad-big">
                                                        <div class="checklist-item-value">
                                                            Estimate
                                                        </div>
                                                        <div class="checklist-item-value-sm" ng-if="!estimate_pdf">
                                                            <a target="_blank" href="{{estimate_url}}"
                                                                class="btn btn-secondary-dark btn-square btn-block"
                                                                href="#">PDF</a>
                                                        </div>
                                                        <div class="checklist-item-value-sm" ng-if="estimate_pdf">
                                                            <a target="_blank" href="{{estimate_pdf}}"
                                                                class="btn btn-secondary-dark btn-square btn-block"
                                                                href="#">PDF</a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <!-- <li>
                                                    <div class="checklist-item-wrap pad-big">
                                                        <div class="checklist-item-value">
                                                            Insurance Estimate
                                                        </div>
                                                        <div class="checklist-item-value-sm">
                                                            <a target="_blank" href="{{insurance_estimate_url}}" class="btn btn-secondary-dark btn-square btn-block" href="#">PDF</a>
                                                        </div>
                                                    </div>
                                                </li> -->
                                                <li>
                                                    <div class="checklist-item-wrap pad-big">
                                                        <div class="checklist-item-value">
                                                            Revised Estimate
                                                        </div>
                                                        <div class="checklist-item-value-sm"
                                                            ng-if="!revised_estimate_pdf">
                                                            <a target="_blank" href="{{revised_estimate_url}}"
                                                                class="btn btn-secondary-dark btn-square btn-block"
                                                                href="#">PDF</a>
                                                        </div>
                                                        <div class="checklist-item-value-sm"
                                                            ng-if="revised_estimate_pdf">
                                                            <a target="_blank" href="{{revised_estimate_pdf}}"
                                                                class="btn btn-secondary-dark btn-square btn-block"
                                                                href="#">PDF</a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="checklist-item-wrap pad-big">
                                                        <div class="checklist-item-value">
                                                            Job Card
                                                        </div>
                                                        <div class="checklist-item-value-sm">
                                                            <a target="_blank" href="{{job_card_pdf_url}}"
                                                                class="btn btn-secondary-dark btn-square btn-block"
                                                                href="#">PDF</a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <!-- <li>
                                                    <div class="checklist-item-wrap pad-big">
                                                        <div class="checklist-item-value">
                                                            Job Card Spares Requisition
                                                        </div>
                                                        <div class="checklist-item-value-sm">
                                                            <a target="_blank" href="{{job_card_spare_requisition_pdf_url}}" class="btn btn-secondary-dark btn-square btn-block" href="#">PDF</a>
                                                        </div>
                                                    </div>
                                                </li> -->
                                                <li class="ng-hide">
                                                    <div class="checklist-item-wrap pad-big">
                                                        <div class="checklist-item-value">
                                                            Work Order Outward
                                                        </div>
                                                        <div class="checklist-item-value-sm outward">
                                                            <!-- <a target="_blank" href="{{work_order_outward_pdf_url}}" class="btn btn-secondary-dark btn-square btn-block" href="#">PDF</a> -->
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="ng-hide">
                                                    <div class="checklist-item-wrap pad-big">
                                                        <div class="checklist-item-value">
                                                            Work Order Inward
                                                        </div>
                                                        <div class="checklist-item-value-sm inward">
                                                            <!-- <a target="_blank" href="{{work_order_inward_pdf_url}}" class="btn btn-secondary-dark btn-square btn-block" href="#">PDF</a> -->
                                                        </div>
                                                    </div>
                                                </li>
                                                <!--  <li>
                                                    <div class="checklist-item-wrap pad-big">
                                                        <div class="checklist-item-value">
                                                            Warrenty Pick List PDF
                                                        </div>
                                                        <div class="checklist-item-value-sm">
                                                            <a target="_blank" href="{{warrenty_pick_list_pdf_url}}" class="btn btn-secondary-dark btn-square btn-block" href="#">PDF</a>
                                                        </div>
                                                    </div>
                                                </li> -->
                                                <!-- <li>
                                                    <div class="checklist-item-wrap pad-big">
                                                        <div class="checklist-item-value">
                                                            Vehicle Inward
                                                        </div>
                                                        <div class="checklist-item-value-sm">
                                                            <a target="_blank" href="{{vehicle_inward_pdf_url}}" class="btn btn-secondary-dark btn-square btn-block" href="#">PDF</a>
                                                        </div>
                                                    </div>
                                                </li> -->
                                                <!-- <li>
                                                    <div class="checklist-item-wrap pad-big">
                                                        <div class="checklist-item-value">
                                                            Vehicle Inspection
                                                        </div>
                                                        <div class="checklist-item-value-sm">
                                                            <a target="_blank" href="{{vehicle_inspection_pdf_url}}" class="btn btn-secondary-dark btn-square btn-block" href="#">PDF</a>
                                                        </div>
                                                    </div>
                                                </li> -->
                                                <li
                                                    ng-if="job_card.status_id == 8226 || job_card.status_id == 8228 || job_card.status_id == 8225">
                                                    <div class="checklist-item-wrap pad-big">
                                                        <div class="checklist-item-value">
                                                            Tax Invoice
                                                        </div>
                                                        <div class="checklist-item-value-sm">
                                                            <a target="_blank" href="{{tax_invoice_pdf_url}}"
                                                                class="btn btn-secondary-dark btn-square btn-block"
                                                                href="#">PDF</a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li
                                                    ng-if="job_card.status_id == 8226 || job_card.status_id == 8228 || job_card.status_id == 8225">
                                                    <div class="checklist-item-wrap pad-big">
                                                        <div class="checklist-item-value">
                                                            Service Proforma
                                                        </div>
                                                        <div class="checklist-item-value-sm">
                                                            <a target="_blank" href="{{service_proforma_pdf_url}}"
                                                                class="btn btn-secondary-dark btn-square btn-block"
                                                                href="#">PDF</a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li
                                                    ng-if="job_card.status_id == 8226 || job_card.status_id == 8228 || job_card.status_id == 8225">
                                                    <div class="checklist-item-wrap pad-big">
                                                        <div class="checklist-item-value">
                                                            Service Proforma Cumulative
                                                        </div>
                                                        <div class="checklist-item-value-sm">
                                                            <a target="_blank"
                                                                href="{{service_proforma_cumulative_pdf_url}}"
                                                                class="btn btn-secondary-dark btn-square btn-block"
                                                                href="#">PDF</a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li
                                                    ng-if="(job_card.status_id == 8226 || job_card.status_id == 8228 || job_card.status_id == 8225) && invoice_pdf">
                                                    <div class="checklist-item-wrap pad-big">
                                                        <div class="checklist-item-value">
                                                            Invoice
                                                        </div>
                                                        <div class="checklist-item-value-sm">
                                                            <a target="_blank" href="{{invoice_pdf}}"
                                                                class="btn btn-secondary-dark btn-square btn-block"
                                                                href="#">PDF</a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li
                                                    ng-if="job_card.status_id == 8226 || job_card.status_id == 8228 || job_card.status_id == 8225">
                                                    <div class="checklist-item-wrap pad-big">
                                                        <div class="checklist-item-value">
                                                            Labour Invoice
                                                        </div>
                                                        <div class="checklist-item-value-sm" ng-if="!labour_pdf">
                                                            <a target="_blank" href="{{labour_url}}"
                                                                class="btn btn-secondary-dark btn-square btn-block"
                                                                href="#">PDF</a>
                                                        </div>
                                                        <div class="checklist-item-value-sm" ng-if="labour_pdf">
                                                            <a target="_blank" href="{{labour_pdf}}"
                                                                class="btn btn-secondary-dark btn-square btn-block"
                                                                href="#">PDF</a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li
                                                    ng-if="job_card.status_id == 8226 || job_card.status_id == 8228 || job_card.status_id == 8225">
                                                    <div class="checklist-item-wrap pad-big">
                                                        <div class="checklist-item-value">
                                                            Parts Invoice
                                                        </div>
                                                        <div class="checklist-item-value-sm" ng-if="!parts_pdf">
                                                            <a target="_blank" href="{{parts_url}}"
                                                                class="btn btn-secondary-dark btn-square btn-block"
                                                                href="#">PDF</a>
                                                        </div>
                                                        <div class="checklist-item-value-sm" ng-if="parts_pdf">
                                                            <a target="_blank" href="{{parts_pdf}}"
                                                                class="btn btn-secondary-dark btn-square btn-block"
                                                                href="#">PDF</a>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="mb-10"></div><!-- Spacing -->
                                    </div><!-- Column -->
                                    <div class="tab-pane-footer">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <a target="_blank" href=".#!/job-card/gatein-detail/{{job_card_id}}"
                                                    class="btn btn-secondary-dark btn-prev">Previous</a>
                                            </div>
                                        </div>
                                    </div><!-- Tab Footer -->
                                </div><!-- Row -->
                            </div><!-- Tab Pane Wrap -->
                        </div><!-- Tabe Pane -->
                    </div><!-- Tab Content -->
                </div><!-- Tab Form Body -->
            </div><!-- Tab Form Wrap -->
        </div><!-- Page Form -->
    </div><!-- Page Main Content -->
</div><!-- Content Wrap -->