<!-- Content Wrap -->
<div class="content-wrap cndn-wrap">
    <!-- Page Header -->
    <div class="page-header">
        <div class="page-header-inner">
            <div class="page-header-content-left">
                <div class="page-header-content button-block">
                    <a href="#!/job-card/card-list" type="button" class="btn-back btn-img"><img class="img-responsive" src="./public/theme/img/content/previous.svg" alt="Back" /></a>
                </div><!-- Page Header Content -->
                <div class="page-header-content title-block">
                    <h1 class="title"><b>Returnable Items</b></h1>
                    <p class="subtitle">Job Card / Returnable Items</p>
                </div><!-- Page Header Content -->
            </div><!-- Page Header Content Left -->
        </div><!-- Page Header Inner -->
    </div><!-- Page Header -->
    <!-- Page Main Content -->
    <div class="page-main-content form-content type2">
        <div class="page-tab-form pb-70">
            <jobcard-header></jobcard-header>
            <div class="tab-form-wrap type-2">
                <jobcard-tabs ng-init="active_tab = 'returnable-items'"></jobcard-tabs>
                <div class="tab-form-body">
                    <div class="tab-content">
                        <!-- TAB PANEL -->
                        <div class="tab-pane fade in active" id="returnable_items" data-animation="fadeInUp" data-animation-delay="300">
                            <div class="tab-pane-wrap">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h5 class="title-red border-bottom">
                                            Returnable Items
                                        </h5>
                                        <ul class="flex-row type-3 pt-10">
                                            <li class="flex-col-4" ng-repeat="(key, returnable_item) in returnable_items">
                                                <div class="border-box type-2">
                                                    <div class="top-title">{{returnable_item.item_name ? returnable_item.item_name : '' }} <span class="right-text">Qty :{{returnable_item.qty}}</span></div>
                                                    <div class="mb-20"></div><!-- Spacing -->
                                                    <table class="table-info">
                                                        <tbody>
                                                            <tr>
                                                                <td>Make</td>
                                                                <td>: {{returnable_item.item_make ? returnable_item.item_make : '' }}</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Model</td>
                                                                <td>: {{returnable_item.item_model ? returnable_item.item_model : '' }}</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Serial no</td>
                                                                <td>: {{returnable_item.item_serial_no ? returnable_item.item_serial_no : '' }}</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Remarks</td>
                                                                <td>: {{returnable_item.remarks ? returnable_item.remarks : '' }}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <div class="mb-10"></div><!-- Spacing -->
                                                    <div class="row" ng-if="returnable_item.attachment.length > 0">
                                                        <div class="col-md-12">
                                                            <div class="col-md-4" ng-repeat="(indexx, attach) in returnable_item.attachment">
                                                                <img class="img-responsive wid-60" src="storage/app/public/gigo/returnable_items/{{attach.name}}" alt="Image" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <a ng-if="job_card.status_id != 8224 && job_card.status_id != 8225 && job_card.status_id != 8226" href="#!/job-card/returnable-item/edit/{{job_card.id}}/{{returnable_item.id}}" class="btn btn-md type2 btn-secondary-dark btn-square mt-15">Edit</a>
                                                </div><!-- Border Box -->
                                            </li>
                                        </ul><!-- Flex Row -->
                                        <hr ng-if="returnable_items.length > 0">
                                        <a href="#!/job-card/returnable-item/add/{{job_card.id}}" ng-if="job_card.status_id != 8224 && job_card.status_id != 8225 && job_card.status_id != 8226">
                                            <button class="btn btn-md type2 btn-green btn-square">Add {{returnable_items.length > 0 ? 'Another' : ''}} Item</button>
                                        </a>
                                    </div><!-- Column -->
                                    <div class="tab-pane-footer">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <a href=".#!/job-card/material-gatepass/{{job_card_id}}" class="btn btn-secondary-dark btn-prev">Previous</a>
                                                <a href=".#!/job-card/road-test-observation/{{job_card_id}}" class="btn btn-secondary-dark btn-min-wdth btn-nxt">Next</a>
                                            </div>
                                        </div>
                                    </div><!-- Tab Footer -->
                                </div><!-- Row -->
                            </div><!-- Tab Pane Wrap -->
                        </div><!-- Tabe Pane -->
                    </div><!-- Tab Content -->
                </div><!-- Tab Form Body -->
            </div><!-- Tab Form Wrap -->
        </div><!-- Page Form -->
    </div><!-- Page Main Content -->
</div><!-- Content Wrap -->