<!-- Content Wrap -->
<div class="content-wrap cndn-wrap">
    <!-- Page Header -->
    <div class="page-header">
        <div class="page-header-inner">
            <div class="page-header-content-left">
                <div class="page-header-content button-block">
                    <a href="#!/part-indent/list" type="button" class="btn-back btn-img" ng-if="$ctrl.view_only_part_indent">
                        <img class="img-responsive" src="./public/theme/img/content/previous.svg" alt="Back" />
                    </a>
                    <a href="#!/job-card/card-list" type="button" class="btn-back btn-img" ng-if="!$ctrl.view_only_part_indent">
                        <img class="img-responsive" src="./public/theme/img/content/previous.svg" alt="Back" />
                    </a>
                </div><!-- Page Header Content -->
                <div class="page-header-content title-block">
                    <h1 class="title"><b>Scheduled Maintenance</b></h1>
                    <p class="subtitle">Job Card / Scheduled Maintenance</p>
                </div><!-- Page Header Content -->
            </div><!-- Page Header Content Left -->
        </div><!-- Page Header Inner -->
    </div><!-- Page Header -->
    <!-- Page Main Content -->
    <div class="page-main-content form-content type2">
        <div class="page-tab-form pb-70">
            <jobcard-header></jobcard-header>
            <div class="tab-form-wrap type-2 side-tab-open">
                <jobcard-tabs ng-init="active_tab = 'schedule-maintendance'"></jobcard-tabs>
                <div class="tab-form-body side-tab-open">
                    <div class="tab-content">
                        <!-- TAB PANEL -->
                        <div class="tab-pane fade in active" id="maintenance_details" data-animation="fadeInUp" data-animation-delay="300">
                            <div class="tab-pane-wrap">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h5 class="color-primary mb-10"><b>Scheduled Maintenance (1st Free Service - BSIV)</b></h5>
                                        <hr class="hr-15"><!-- Separater -->
                                        <div class="table-responsive">
                                            <table class="table table-dark-grey">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            Labour Code
                                                        </th>
                                                        <th>
                                                            Name
                                                        </th>
                                                        <th>
                                                            Type
                                                        </th>
                                                        <th class="text-right">
                                                            Hours
                                                        </th>
                                                        <th class="wid-180 white-space text-right">
                                                            Labour Value
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="ptb-12" ng-repeat="(index,labour_detail) in schedule_maintenance.labour_details" id="tr_{{index}}">
                                                        <td>
                                                            {{labour_detail.repair_order.code}}
                                                        </td>
                                                        <td>
                                                            {{labour_detail.repair_order.name}}
                                                        </td>
                                                        <td>
                                                            {{labour_detail.repair_order.repair_order_type.name}}
                                                        </td>
                                                        <td class="text-right">
                                                            {{labour_detail.repair_order.hours}}
                                                        </td>
                                                        <td class="wid-180 white-space text-right">
                                                            {{labour_detail.amount}}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="4" class="text-right">
                                                            <b>
                                                                Total Labour
                                                            </b>
                                                        </td>
                                                        <td class="wid-180 white-space  text-right">
                                                            <img class="img-responsive img-inline" src="./public/theme/img/table/cndn/table-rupee.svg" alt="Rupee" />
                                                            <b>
                                                                {{schedule_maintenance.labour_amount | number:2}}
                                                            </b>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div><!-- Table Responsive -->
                                        <div class="mb-15"></div><!-- Spacing -->
                                        <div class="table-responsive">
                                            <table class="table table-dark-grey">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            Part Code
                                                        </th>
                                                        <th>
                                                            Name
                                                        </th>
                                                        <th class="text-right">
                                                            Rate
                                                        </th>
                                                        <th class="text-right">
                                                            Quantity
                                                        </th>
                                                        <th class="wid-180 white-space text-right">
                                                            Amount
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="ptb-12" ng-repeat="(index,part_detail) in schedule_maintenance.part_details" id="tp_{{index}}">
                                                        <td>
                                                            {{part_detail.part.code}}
                                                        </td>
                                                        <td>
                                                            {{part_detail.part.name}}
                                                        </td>
                                                        <td class="text-right">
                                                            {{part_detail.rate}}
                                                        </td>
                                                        <td class="text-right">
                                                            {{part_detail.qty}}
                                                        </td>
                                                        <td class="wid-180 white-space text-right">
                                                            {{part_detail.amount}}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="4" class="text-right">
                                                            <b>
                                                                Total Parts
                                                            </b>
                                                        </td>
                                                        <td class="wid-180 white-space text-right">
                                                            <img class="img-responsive img-inline" src="./public/theme/img/table/cndn/table-rupee.svg" alt="Rupee" />
                                                            <b>
                                                                {{schedule_maintenance.part_amount | number:2}}
                                                            </b>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div><!-- Table Responsive -->
                                        <div class="mb-20"></div><!-- Spacing -->
                                        <div class="table-transparent-wrap">
                                            <div class="table-responsive">
                                                <table class="table-transparent">
                                                    <tbody>
                                                        <tr>
                                                            <td class="text-right">
                                                                <b>
                                                                    Total Labour & Parts
                                                                </b>
                                                            </td>
                                                            <td class="wid-180 text-right">
                                                                <img class="img-responsive img-inline" src="./public/theme/img/table/cndn/table-rupee.svg" alt="Rupee" />
                                                                <b>
                                                                    {{schedule_maintenance.total_amount | number:2}}
                                                                </b>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div><!-- Table Transparent Wrap -->
                                        <div class="mb-20"></div><!-- Spacing -->
                                    </div><!-- Column -->
                                    <div class="tab-pane-footer">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <a href=".#!/job-card/payable-labour-parts/{{job_card_id}}" class="btn btn-secondary-dark btn-prev">Previous</a>
                                                <a href=".#!/job-card/dms-checklist/{{job_card_id}}" class="btn btn-secondary-dark btn-min-wdth btn-nxt">Next</a>
                                            </div>
                                        </div>
                                    </div><!-- Tab Footer -->
                                </div><!-- Row -->
                            </div><!-- Tab Pane Wrap -->
                        </div><!-- Tabe Pane -->
                    </div><!-- Tab Content -->
                </div><!-- Tab Form Body -->
            </div><!-- Tab Form Wrap -->
        </div><!-- Page Form -->
    </div><!-- Page Main Content -->
</div><!-- Content Wrap -->