<style type="text/css">
.my-disable {
    pointer-events: none;
}
</style>
<!-- Content Wrap -->
<div class="content-wrap cndn-wrap">
    <!-- Page Header -->
    <div class="page-header">
        <div class="page-header-inner">
            <div class="page-header-content-left">
                <div class="page-header-content button-block">
                    <a href="#!/job-card/table-list" type="button" class="btn-back btn-img"><img class="img-responsive" src="./public/theme/img/content/previous.svg" alt="Back" /></a>
                </div><!-- Page Header Content -->
                <div class="page-header-content title-block">
                    <h1 class="title"><b>Schedules</b></h1>
                    <p class="subtitle">Job Card / Schedules</p>
                </div><!-- Page Header Content -->
            </div><!-- Page Header Content Left -->
        </div><!-- Page Header Inner -->
    </div><!-- Page Header -->
    <!-- Page Main Content -->
    <div class="page-main-content form-content type2">
        <div class="page-tab-form pb-70">
            <jobcard-header></jobcard-header>
            <div class="tab-form-wrap type-2">
                <jobcard-tabs ng-init="active_tab = 'schedules'"></jobcard-tabs>
                <div class="tab-form-body">
                    <div class="tab-content">
                        <!-- TAB PANEL -->
                        <div class="tab-pane fade in active" id="schedules" data-animation="fadeInUp" data-animation-delay="300">
                            <div class="tab-pane-wrap">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h5 class="title-red">
                                            Schedules
                                        </h5>
                                        <div class="schedules-box-wrap" ng-repeat="(key,job_order_repair_order) in job_card.job_order.job_order_repair_orders">
                                            <div class="left-wrap border-bottom">
                                                <div class="schedules-left-wrap">
                                                    <span class="info">{{job_order_repair_order.repair_order.code}}</span>
                                                    <span class="title">{{job_order_repair_order.repair_order.name}}</span>
                                                </div>
                                                <div class="schedules-right-wrap">
                                                    <button class="btn btn-secondary-dark btn-square assign_mechanic_{{job_order_repair_order.repair_order.id}}" ng-show="job_order_repair_order.status_id == 8181" ng-click=assignMechanic(job_order_repair_order.repair_order.id)>Assign</button>
                                                    <!-- ng-click="assign_mechanic(job_order_repair_order.repair_order.code,job_order_repair_order.repair_order.name)" -->
                                                    <a class="btn btn-bordered btn-dark btn-square" ng-show="job_order_repair_order.status_id != 8181 && job_order_repair_order.status_id !=8182 && job_order_repair_order.status_id !=8180" ng-click="viewTimeLog(job_order_repair_order.id)" data-target="#view_time_log_modal" data-toggle="modal">View Time Log</a>
                                                    <a href="#!/job-card/labour-review/{{job_card_id}}/{{job_order_repair_order.id}}" class="btn btn-secondary-dark btn-square" ng-show="job_order_repair_order.status_id != 8181 && job_order_repair_order.status_id == 8185">Review</a>
                                                    <a class="btn btn-secondary-dark btn-square assign_mechanic_{{job_order_repair_order.repair_order.id}}" ng-show="job_order_repair_order.status_id != 8181 && job_order_repair_order.status_id != 8187 && job_order_repair_order.status_id != 8185 && job_order_repair_order.status_id !=8180" ng-click=assignMechanic(job_order_repair_order.repair_order.id)>Re-Assign</a>
                                                </div>
                                            </div><!-- Left Wrap -->
                                            <div class="right-wrap">
                                                <span ng-class="{'bg-blue type-2': (job_order_repair_order.status_id == 8183 || job_order_repair_order.status_id == 8184) , 'bg-red': (job_order_repair_order.status_id == 8181 || job_order_repair_order.status_id ==8182 || job_order_repair_order.status_id ==8180) ,'bg-yellow type-2':(job_order_repair_order.status_id != 8181 && job_order_repair_order.status_id == 8185),'bg-yellow type-2':(job_order_repair_order.status_id == 8185),'bg-red type-2':(job_order_repair_order.status_id == 8186),'bg-green type-2':(job_order_repair_order.status_id == 8187)} " class="status">
                                                    {{job_order_repair_order.status_id == 8181 || job_order_repair_order.status_id ==8182 || job_order_repair_order.status_id ==8180 ? 'Pending' : job_order_repair_order.status.name}}
                                                    <span class="time">{{job_order_repair_order.status_id == 8181 || job_order_repair_order.status_id ==8182 || job_order_repair_order.status_id ==8180 ? '': job_order_repair_order.overall_total_duration}}</span>
                                                </span>
                                            </div><!-- Right Wrap -->
                                            <div class="assigned-info" ng-if="job_order_repair_order.repair_order_mechanics.length > 0">
                                                <span class="title">Assigned To</span>
                                                <ul class="flex-row type-2 assigned-info-list">
                                                    <li class="flex-col-3" ng-repeat="(key,repair_order_mechanic) in job_order_repair_order.repair_order_mechanics">
                                                        <div class="assigned-info-list-item">
                                                            <span class="title">{{repair_order_mechanic.mechanic.name}}</span>
                                                            <span class="info">
                                                                <a ng-click="getMechanicTimeLog(repair_order_mechanic.id,job_order_repair_order.repair_order.id)" data-toggle="modal" data-target="#time_log_modal">
                                                                    {{repair_order_mechanic.status.name}} | {{repair_order_mechanic.total_duration}} <br>
                                                                    <span class="color-red">
                                                                        View Time Log
                                                                    </span>
                                                                </a>
                                                            </span>
                                                        </div><!-- Assigned Info List Item -->
                                                    </li>
                                                </ul>
                                            </div>
                                        </div><!-- Schedules Box Wrap -->
                                        <hr>
                                        <div class="col-md-12">
                                            <div class="text-center pt-10">
                                                <a class="btn btn-red" ng-if="job_card.status_id == 8223" data-toggle="modal" data-target="#confirm_finish_work">Mark Job as Completed</a>
                                            </div>
                                            <div class="mb-20"></div>
                                        </div>
                                    </div><!-- Column -->
                                    <div class="tab-pane-footer">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <a href=".#!/job-card/dms-checklist/{{job_card_id}}" class="btn btn-secondary-dark btn-prev">Previous</a>
                                                <a href=".#!/job-card/part-indent/{{job_card_id}}" class="btn btn-secondary-dark btn-min-wdth btn-nxt">Next</a>
                                            </div>
                                        </div>
                                    </div><!-- Tab Footer -->
                                </div><!-- Row -->
                            </div><!-- Tab Pane Wrap -->
                        </div><!-- Tabe Pane -->
                    </div><!-- Tab Content -->
                </div><!-- Tab Form Body -->
            </div><!-- Tab Form Wrap -->
        </div><!-- Page Form -->
    </div><!-- Page Main Content -->
</div><!-- Content Wrap -->
<div class="modal fade alert-modal failure" id="confirm_finish_work" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Confirmation?</h4>
            </div>
            <div class="modal-body">
                <h5 id="repair_code"></h5>
                <p>Are you sure? Do you confirm all labour works are completed in this Job Card?</p>
                <button class="btn btn-rose" data-dismiss="modal" aria-label="Close">No</button>
                <button class="btn btn-success job_completed" aria-label="Close" ng-click="saveJobStatus()">Yes</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal modal-center fade assign-labours-modal-wrap" id="assign_labours" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-md" role="document">
        <form id="form">
            <input type="hidden" name="job_card_id" value="{{job_card.id}}">
            <input type="hidden" name="repair_order_id" value="{{repair_order.id}}">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close ripple" data-dismiss="modal" aria-label="Close"><i class="icon ion-md-close"></i></button>
                    <h5 class="modal-title">Assign Labour to Mechanics</h5>
                    <p> Works Selected</p>
                </div><!-- Modal Header -->
                <div class="modal-body">
                    <div class="title-wrap border-bottom">
                        <div class="data-wrap">
                            <span class="info" id="repair_order_code">
                                {{repair_order.code}}
                            </span>
                            <span class="title" id="repair_order_name">
                                {{repair_order.name}}
                            </span>
                        </div><!-- Content Wrap -->
                        <div class="search_filter search-wrap">
                            <label>
                                <input type="search" autocomplete="off" id="search_box" class="form-control search_mechanic" placeholder="Search" />
                                <button class="btn-clear" ng-click="clearSearch()">Clear</button>
                            </label>
                        </div><!-- Search Filter -->
                    </div><!-- Title Wrap -->
                    <ul class="assign-labour-list" id="myUL">
                        <li class="assign-labour-list-item check_uncheck_{{employee.id}} " ng-repeat="(key,employee) in employee_details" ng-click="selectedEmployee(employee.id,key)">
                            <div class="left-wrap">
                                <!-- ng-class="{'my-disable':!employee.user_id}" -->
                                <h4 class="title">{{employee.user_name}}</h4>
                                <p class="info {{employee.user_id ? '' : 'color-red'}}">{{employee.user_id ? 'Present' : 'Absent'}} | {{employee.outlet_code}}</p>
                            </div>
                            <img src="" class="img-responsive check-img">
                        </li>
                        <li ng-if="employee_details.length == 0">
                            No Mechanic Found!
                        </li>
                        <input type="hidden" class="form-control" name="selected_mechanic_ids" id="selectedMachanic" value="">
                    </ul>
                    <div class="text-center">
                        <button type="submit" class="btn btn-red btn-square" ng-if="employee_details.length > 0" ng-click="saveMechanic()">Done</button>
                    </div>
                </div><!-- Modal Body -->
            </div><!-- Modal Content -->
        </form>
    </div><!-- Modal Dialog -->
</div><!-- Modal Content -->
<!-- Modal -->
<!-- Modal -->
<div class="modal modal-center time-log-modal-wrap fade" id="time_log_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close ripple" data-dismiss="modal" aria-label="Close"><i class="icon ion-md-close"></i></button>
                <h5 class="modal-title">View Time Log</h5>
            </div><!-- Modal Header -->
            <div class="modal-body">
                <div class="time-log-modal">
                    <div class="title-wrap border-bottom">
                        <span class="info">
                            {{repair_order_detail.code}}
                        </span>
                        <span class="title">
                            {{repair_order_detail.name}}
                        </span>
                    </div><!-- Title Wrap -->
                    <div class="name-wrap">
                        <span class="heading">{{repair_order_detail.repair_order_mechanic.mechanic.name}}</span>
                        <span class="data">Total Working Hours - {{total_duration}}</span>
                    </div>
                    <div class="table-responsive">
                        <table class="table time-log-table">
                            <thead>
                                <th>Date</th>
                                <th>Start Time</th>
                                <th>End Time</th>
                                <th>Duration</th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="(key,repair_order_mechanic_time_log) in repair_order_mechanic_time_logs">
                                    <td>{{repair_order_mechanic_time_log.date}}</td>
                                    <td>{{repair_order_mechanic_time_log.start_time}} {{key == 0 ? 'Started' : 'Resumed' }}</td>
                                    <td>{{repair_order_mechanic_time_log.end_time}} {{repair_order_mechanic_time_log.end_time != '-' ? repair_order_mechanic_time_log.reason.name : ''}}
                                    </td>
                                    <td>{{repair_order_mechanic_time_log.duration_difference}}</td>
                                </tr>
                                <tr ng-if="repair_order_mechanic_time_logs.length == '0'">
                                    <td colspan="4" class="text-center">No Worklog found!</td>
                                </tr>
                            </tbody>
                        </table>
                    </div><!-- Table Responsive -->
                </div><!-- Time Log Modal -->
            </div><!-- Modal Body -->
        </div><!-- Modal Content -->
    </div><!-- Modal Dialog -->
</div><!-- Modal Content -->
<!-- Modal -->
<!-- Modal -->
<div class="modal modal-center time-log-modal-wrap fade" id="view_time_log_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close ripple" data-dismiss="modal" aria-label="Close"><i class="icon ion-md-close"></i></button>
                <h5 class="modal-title">View Time Log</h5>
            </div><!-- Modal Header -->
            <div class="modal-body">
                <div class="time-log-modal">
                    <div class="title-wrap">
                        <div class="left-wrap">
                            <span class="info">
                                {{job_order_repair_order_time_log.repair_order.code}}
                            </span>
                            <span class="title">
                                {{job_order_repair_order_time_log.repair_order.name}}
                            </span>
                        </div><!-- Left Wrap -->
                        <span class="time">
                            {{job_order_repair_order_time_log.overall_total_duration}}
                        </span>
                    </div><!-- Title Wrap -->
                    <div class="panel-group" id="accordion1" ng-repeat="(key,repair_order_mechanic) in job_order_repair_order_time_log.repair_order_mechanics">
                        <div class="panel panel-default type-5">
                            <div class="panel-heading">
                                <a class="panel-title in" data-toggle="collapse" data-parent="#accordion1" data-target="#{{repair_order_mechanic.mechanic.id}}">
                                    {{repair_order_mechanic.mechanic.name}} - Total Worked Hours - {{repair_order_mechanic.total_duration}}
                                    <span class="arrow"></span>
                                </a>
                            </div>
                            <div id="{{repair_order_mechanic.mechanic.id}}" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="table-responsive">
                                                <table class="table time-log-table">
                                                    <thead>
                                                        <th>Date</th>
                                                        <th>Start Time</th>
                                                        <th>End Time</th>
                                                        <th>Duration</th>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="(key,mechanic_time_log) in repair_order_mechanic.mechanic_time_logs">
                                                            <td>{{mechanic_time_log.date}}</td>
                                                            <td>{{mechanic_time_log.start_time}} {{key == 0 ? 'Started' : 'Resumed' }}</td>
                                                            <td>{{mechanic_time_log.end_time ? mechanic_time_log.end_time : '-'}}
                                                                {{mechanic_time_log.end_time != '-' ? mechanic_time_log.reason.name : ''}}
                                                            </td>
                                                            <td>{{mechanic_time_log.duration_difference ? mechanic_time_log.duration_difference : '-'}}</td>
                                                        </tr>
                                                        <tr ng-if="repair_order_mechanic.mechanic_time_logs.length == '0'">
                                                            <td colspan="4" class="text-center">No Worklog found!</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div><!-- Table Responsive -->
                                        </div><!-- Column -->
                                    </div><!-- Row -->
                                </div><!-- Panel Body -->
                            </div><!-- Panel Collapse -->
                        </div><!-- Panel -->
                    </div><!-- Panel Group -->
                </div><!-- time Log Modal -->
            </div><!-- Modal Body -->
        </div><!-- Modal Content -->
    </div><!-- Modal Dialog -->
</div><!-- Modal Content -->
<!-- Modal -->