<!-- Content Wrap -->
<div class="content-wrap cndn-wrap">
    <!-- Page Header -->
    <div class="page-header">
        <div class="page-header-inner">
            <div class="page-header-content-left">
                <div class="page-header-content button-block">
                    <a href="#!/gigo-pkg/job-card/card-list" type="button" class="btn-back btn-img"><img class="img-responsive" src="./public/theme/img/content/previous.svg" alt="Back" /></a>
                </div><!-- Page Header Content -->
                <div class="page-header-content title-block">
                    <h1 class="title"><b>Bill Details</b></h1>
                    <p class="subtitle">Job Card / Bill Details</p>
                </div><!-- Page Header Content -->
            </div><!-- Page Header Content Left -->
        </div><!-- Page Header Inner -->
    </div><!-- Page Header -->
    <!-- Page Main Content -->
    <div class="page-main-content form-content type2">
        <div class="page-tab-form pb-70">
            <jobcard-header></jobcard-header>
            <div class="tab-form-wrap type-2">
                <jobcard-tabs ng-init="active_tab = 'split-order'"></jobcard-tabs>
                <div class="tab-form-body">
                    <div class="tab-content">
                        <!-- TAB PANEL -->
                        <div class="tab-pane fade in active" id="split-order" data-animation="fadeInUp" data-animation-delay="300">
                            <div class="tab-pane-wrap">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h5 class="title-red border-bottom">
                                            Split Order
                                        </h5>
                                        <div class="panel-group tabbable" id="accordion">


                                            <div class="panel panel-default type-4">
                                                <div class="panel-heading">
                                                    <a class="panel-title in" data-toggle="collapse" data-parent="#accordion" data-target="#collapse1">
                                                        000000 - Unassigned Items - {{unassigned_total_count}} Items
                                                        <span class="arrow"></span>
                                                        <span class="title-right">
                                                            <img class="img-responsive rupee-icon" src="./public/theme/img/content/rupee-blue.svg" alt="Rupee" />
                                                            {{unassigned_total_amount}}
                                                        </span>
                                                    </a>
                                                </div>
                                                <div id="collapse1" class="panel-collapse collapse in">
                                                    <div class="panel-body">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="table-responsive">
                                                                    <div id="table1" class="bitacoratable">
                                                                        <table id="table1" class="table split-order-table table-form  childgrid">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>Item Type</th>
                                                                                <th>Item</th>
                                                                                <th>Qty</th>
                                                                                <th class="text-right">Rate</th>
                                                                                <th class="text-right">Discount</th>
                                                                                <th class="text-right">Amount</th>
                                                                                <th class="text-right">Taxable Amount</th>
                                                                                <th class="text-right">CGST (9%)</th>
                                                                                <th class="text-right">SGST (9%)</th>
                                                                                <th class="text-right">IGST (0%)</th>
                                                                                <th class="text-right">Total Amount</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody class="connectedSortable">
                                                                            <tr  data-itemid="labour.id"  data-split_id="split_order_type.id"  ng-if="labour.split_order_type_id == null" ng-repeat="(key,labour) in labour_details">
                                                                                <td>Labour</td>
                                                                                <td>{{labour.name}}</td>
                                                                                <td>{{labour.qty}}</td>
                                                                                <td class="text-right">{{labour.amount}}</td>
                                                                                <td class="text-right">0.00</td>
                                                                                <td class="text-right">{{labour.amount}}</td>
                                                                                <td class="text-right" >{{labour.tax_amount}}</td>
                                                                                <td class="text-right">{{labour.tax_values[0]  ? labour.tax_values[0] : '0.00'}}</td>
                                                                                <td class="text-right" >{{labour.tax_values[1] ? labour.tax_values[1] : '0.00' }}</td>
                                                                                <td class="text-right" >{{labour.tax_values[2] ? labour.tax_values[2] : '0.00' }}</td>
                                                                                <td class="text-right">{{labour.total_amount}}</td>
                                                                            </tr>
                                                                            <tr data-itemid="part.id"  data-split_id="split_order_type.id"  ng-if="part.split_order_type_id == null" ng-repeat="(key,part) in part_details">
                                                                                <td>Part</td>
                                                                                <td>{{part.name}}</td>
                                                                                <td>{{part.qty}}</td>
                                                                                <td class="text-right">{{part.rate}}</td>
                                                                                <td class="text-right">0.00</td>
                                                                                <td class="text-right">{{part.amount}}</td>
                                                                                <td class="text-right" >{{part.tax_amount}}</td>
                                                                                <td class="text-right" >{{part.tax_values[0] ? part.tax_values[0]: '0.00'}}</td>
                                                                                <td class="text-right" >{{part.tax_values[1] ? part.tax_values[1]: '0.00' }}</td>
                                                                                <td class="text-right" >{{part.tax_values[2]  ? part.tax_values[2] : '0.00'}}</td>
                                                                                <td class="text-right">{{part.total_amount}}</td>
                                                                            </tr>
                                                                        </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div><!-- Table Responsive -->
                                                            </div><!-- Column -->
                                                        </div><!-- Row -->
                                                    </div><!-- Panel Body -->
                                                </div><!-- Panel Collapse -->
                                            </div><!-- Panel -->
                                            <div class="panel panel-default type-4" ng-repeat="(key,split_order_type) in extras.split_order_types">
                                                <div class="panel-heading">
                                                    <a class="panel-title in" data-toggle="collapse" data-parent="#accordion" data-target="#collapse{{key}}">
                                                        {{split_order_type.code}} - {{split_order_type.name}} -  {{split_order_type.total_items}} Items
                                                        <span class="arrow"></span>
                                                        <span class="title-right">
                                                            <img class="img-responsive rupee-icon" src="./public/theme/img/content/rupee-blue.svg" alt="Rupee" />
                                                             {{split_order_type.total_amount}}
                                                        </span>
                                                    </a>
                                                </div>
                                                <div id="collapse{{key}}" class="panel-collapse collapse in">
                                                    <div class="panel-body">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="table-responsive">
                                                                    <div id="table{{key}}" class="bitacoratable">
                                                                    <table id="table{{key}}" class="table split-order-table table-form childgrid"  >
                                                                        <thead>
                                                                            <tr>
                                                                                <th>Item Type</th>
                                                                                <th>Item</th>
                                                                                <th>Qty</th>
                                                                                <th class="text-right">Rate</th>
                                                                                <th class="text-right">Discount</th>
                                                                                <th class="text-right">Amount</th>
                                                                                <th class="text-right">Taxable Amount</th>
                                                                                <th class="text-right">CGST (9%)</th>
                                                                                <th class="text-right">SGST (9%)</th>
                                                                                <th class="text-right">IGST (0%)</th>
                                                                                <th class="text-right">Total Amount</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody class="connectedSortable">
                                                                            <tr  >
                                                                                <td>Part</td>
                                                                                <td class="ng-binding">sample | sample</td>
                                                                                <td class="ng-binding">3.00</td>
                                                                                <td class="text-right ng-binding">200.00</td>
                                                                                <td class="text-right">0.00</td>
                                                                                <td class="text-right ng-binding">600.00</td>
                                                                                <td class="text-right ng-binding">108.00</td>
                                                                                <td class="text-right ng-binding">54.00</td>
                                                                                <td class="text-right ng-binding">54.00</td>
                                                                                <td class="text-right ng-binding">0.00</td>
                                                                                <td class="text-right ng-binding">708.00</td>
                                                                            </tr>
                                                                            <tr  >
                                                                                <td>Part</td>
                                                                                <td class="ng-binding">sample | sample</td>
                                                                                <td class="ng-binding">3.00</td>
                                                                                <td class="text-right ng-binding">200.00</td>
                                                                                <td class="text-right">0.00</td>
                                                                                <td class="text-right ng-binding">600.00</td>
                                                                                <td class="text-right ng-binding">108.00</td>
                                                                                <td class="text-right ng-binding">54.00</td>
                                                                                <td class="text-right ng-binding">54.00</td>
                                                                                <td class="text-right ng-binding">0.00</td>
                                                                                <td class="text-right ng-binding">708.00</td>
                                                                            </tr>
                                                                            <tr  data-itemid="part.id"  data-split_id="split_order_type.id"  class="listitems" ng-if="labour.split_order_type_id == split_order_type.id" ng-repeat="(key,Labour) in labour_details">
                                                                                <td>Labour</td>
                                                                                <td>{{labour.name}}</td>
                                                                                <td>{{labour.qty}}</td>
                                                                                <td class="text-right">{{labour.amount}}</td>
                                                                                <td class="text-right">0.00</td>
                                                                                <td class="text-right">{{labour.amount}}</td>
                                                                                 <td class="text-right" >{{labour.tax_amount}}</td>
                                                                                <td class="text-right">{{labour.tax_values[0]  ? labour.tax_values[0] : '0.00'}}</td>
                                                                                <td class="text-right" >{{labour.tax_values[1] ? labour.tax_values[1] : '0.00' }}</td>
                                                                                <td class="text-right" >{{labour.tax_values[2] ? labour.tax_values[2] : '0.00' }}</td>
                                                                                <td class="text-right">{{labour.total_amount}}</td>
                                                                            </tr>
                                                                            <tr ng-if="part.split_order_type_id == split_order_type.id" ng-repeat="(key,part) in part_details">
                                                                                <td>Part</td>
                                                                                <td>{{part.name}}</td>
                                                                                <td>{{part.qty}}</td>
                                                                                <td class="text-right">{{part.rate}}</td>
                                                                                <td class="text-right">0.00</td>
                                                                                <td class="text-right">{{part.amount}}</td>
                                                                                <td class="text-right" >{{part.tax_amount}}</td>
                                                                                <td class="text-right" >{{part.tax_values[0] ? part.tax_values[0]: '0.00'}}</td>
                                                                                <td class="text-right" >{{part.tax_values[1] ? part.tax_values[1]: '0.00' }}</td>
                                                                                <td class="text-right" >{{part.tax_values[2]  ? part.tax_values[2] : '0.00'}}</td>
                                                                                <td class="text-right">{{part.total_amount}}</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                                </div><!-- Table Responsive -->
                                                            </div><!-- Column -->
                                                        </div><!-- Row -->
                                                    </div><!-- Panel Body -->
                                                </div><!-- Panel Collapse -->
                                            </div><!-- Panel -->
                                        </div><!-- Panel Group -->
                                    </div><!-- Column -->
                                </div><!-- Row -->
                            </div><!-- Tab Pane Wrap -->
                        </div><!-- Tabe Pane -->
                    </div><!-- Tab Content -->
                </div><!-- Tab Form Body -->
            </div><!-- Tab Form Wrap -->
        </div><!-- Page Form -->
    </div><!-- Page Main Content -->
</div><!-- Content Wrap -->