Content Wrap -->
<div class="content-wrap cndn-wrap">
    <!-- Page Header -->
    <div class="page-header">
        <div class="page-header-inner">
            <div class="page-header-content-left">
                <div class="page-header-content button-block">
                    <a href="#!/gigo-pkg/service-type/list" type="button" class="btn-back btn-img">
                        <img class="img-responsive my-tooltip" src="./public/theme/img/content/previous.svg" alt="Back" ng-shortcut="'meta+shift+left'" ng-shortcut-click data-title="ctrl+shift+left" />
                    </a>
                </div><!-- Page Header Content -->
                <div class="page-header-content title-block">
                    <h1 class="title"><b>{{$ctrl.action}} Service Type</b></h1>
                    <p class="subtitle">
                        Masters /
                        <a href="#!/gigo-pkg/service-type/list">
                            Service Types
                        </a> /
                        {{$ctrl.action}}
                    </p>
                </div><!-- Page Header Content -->
            </div><!-- Page Header Content Left -->
        </div><!-- Page Header Inner -->
    </div><!-- Page Header -->
    <!-- Page Main Content -->
    <div class="page-main-content form-content type2">
        <form id="service_type_form" autocomplete="off">
            <input type="hidden" name="id" value="{{$ctrl.service_type.id}}">
            <div class="page-tab-form pb-70">
                <div class="tab-form-wrap">
                    <div class="tab-form-header">
                        <div class="tab-header">
                            <!-- Filters -->
                            <div class="isotope-filters animated" data-animation="fadeInLeft" data-animation-delay="300">
                                <ul class="nav nav-pills cndn-tabs">
                                    <li class="active">
                                        <a class="filter active" data-target="#general-information" data-toggle="tab" aria-expanded="true">
                                            General Info
                                        </a>
                                    </li>
                                    <li>
                                        <a class="filter" data-target="#labour-info" data-toggle="tab" aria-expanded="true">
                                            Labour Details
                                        </a>
                                    </li>
                                    <li>
                                        <a class="filter" data-target="#parts-info" data-toggle="tab" aria-expanded="true">
                                            Parts Details
                                        </a>
                                    </li>
                                </ul>
                            </div><!-- Filters -->
                        </div><!-- Tab Header -->
                    </div><!-- Tab Form Header -->
                    <div class="tab-form-body">
                        <div class="tab-content">
                            <!-- TAB PANEL -->
                            <div class="tab-pane fade in active" id="general-information" data-animation="fadeInUp" data-animation-delay="300">
                                <div class="tab-pane-wrap">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>
                                                    Code
                                                    <sup class="mandatory">*</sup>
                                                </label>
                                                <input type="text" class="form-control required" ng-model="$ctrl.service_type.code" name="code" placeholder="Enter Code" autofocus />
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>
                                                    Name
                                                    <sup class="mandatory"></sup>
                                                </label>
                                                <input type="text" class="form-control" ng-model="$ctrl.service_type.name" name="name" placeholder="Enter Name" />
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <!-- <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>
                                                    Description
                                                </label>
                                                <input type="text" class="form-control required" ng-model="$ctrl.service_type.description" name="description" placeholder="Enter Name" />
                                            </div>
                                        </div> -->
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>
                                                    Active Status
                                                    <sup class="mandatory">*</sup>
                                                </label>
                                                <div class="tab-switch">
                                                    <md-switch ng-model="$ctrl.switch_value" aria-label="Switch 1" ng-true-value="'Inactive'" ng-false-value="'Active'" class="md-warn">
                                                        {{ $ctrl.switch_value }}
                                                    </md-switch>
                                                    <input type="hidden" name="status" value="{{$ctrl.switch_value}}">
                                                </div>
                                            </div><!-- Form Group -->
                                        </div><!-- Column -->
                                    </div><!-- Row -->
                                </div><!-- Tab Pane Wrap -->
                            </div><!-- Tabe Pane -->
                            <div class="tab-pane fade in" id="labour-info" data-animation="fadeInUp" data-animation-delay="300">
                                <div class="tab-pane-wrap">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12">
                                            <div class="table-responsive">
                                                <table class="table table-form">
                                                    <thead>
                                                        <tr>
                                                            <th class="width-250">Labour Detail</th>
                                                            <th class="width-200">Labour Type</th>
                                                            <th class="width-60">Quantity</th>
                                                            <th class="width-30">Labour Value</th>
                                                            <th class="width-30">Is Free Service</th>
                                                            <th class="width-30"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="(index, repair_order) in $ctrl.service_type.service_type_labours">
                                                            <td>
                                                                <md-autocomplete md-items="option in $ctrl.searchLabour(option.repair_order_search)" md-selected-item="repair_order.name" md-selected-item-change="getSelectedLabour(index,repair_order.name)" md-search-text="option.repair_order_search" md-item-text="option.code" md-min-length="3" placeholder="Repair Order code / Name" class="customer_group_id">
                                                                    <md-item-template>
                                                                        <span>
                                                                            {{option.code}} - {{option.name}}
                                                                        </span>
                                                                    </md-item-template>
                                                                    <md-not-found>
                                                                        No Repair Order Found "{{$ctrl.repair_order_search}}" were found.
                                                                    </md-not-found>
                                                                </md-autocomplete>
                                                                <input type="hidden" id="" class="required" name="labours[{{index}}][id]" value="{{repair_order.name.id}}">
                                                            </td>
                                                            <td class="labour_type{{index}}">{{repair_order.name.repair_order_type}}</td>
                                                            <td class="labour_quantity{{index}}">{{repair_order.name.hours}}</td>
                                                            <td class="labour_value{{index}}">{{repair_order.name.amount}}</td>
                                                            <td>
                                                                <div class="tab-switch">
                                                                    <md-switch ng-model="repair_order.name.switch_value" aria-label="Switch {{index}}" ng-true-value="'Inactive'" ng-false-value="'Active'" class="md-warn type-sm">
                                                                        {{ repair_order.name.switch_value }}
                                                                    </md-switch>
                                                                    <input type="hidden" name="regions[{{index}}][status]" value="{{repair_order.name.switch_value}}">
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <button type="button" class="btn btn-delete" ng-click="$ctrl.removeLabour(index)">
                                                                    <img class="img-responsive" src="./public/theme/img/table/cndn/delete.svg" alt="Delete" />
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <td colspan="5">
                                                                <button type="button" class="btn btn-primary-light btn-square" ng-click="$ctrl.addNewLabour()">+ Add More</button>
                                                            </td>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div><!-- Table Responsive -->
                                        </div><!-- Column -->
                                    </div><!-- Row -->
                                </div><!-- Tab Pane Wrap -->
                            </div><!-- Tabe Pane -->
                            <div class="tab-pane fade in" id="parts-info" data-animation="fadeInUp" data-animation-delay="300">
                                <div class="tab-pane-wrap">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12">
                                            <div class="table-responsive">
                                                <table class="table table-form">
                                                    <thead>
                                                        <tr>
                                                            <th class="width-250">Part Detail</th>
                                                            <th class="width-200">Tax Code Type</th>
                                                            <th class="width-60">Rate</th>
                                                            <th class="width-60">Quantity</th>
                                                            <th class="width-30">Amount </th>
                                                            <th class="width-30"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="(index, part) in $ctrl.service_type.service_type_parts">
                                                            <td>
                                                                <md-autocomplete md-items="option in $ctrl.searchPart(option.part_search)" md-selected-item="part.name" md-selected-item-change="getSelectedPart(index,part.name)" md-search-text="option.part_search" md-item-text="option.code" md-min-length="3" placeholder="Part code / Name" class="customer_group_id">
                                                                    <md-item-template>
                                                                        <span>
                                                                            {{option.code}} - {{option.name}}
                                                                        </span>
                                                                    </md-item-template>
                                                                    <md-not-found>
                                                                        No Part Found "{{$ctrl.part_search}}" were found.
                                                                    </md-not-found>
                                                                </md-autocomplete>
                                                                <input type="hidden" id="" class="required" name="parts[{{index}}][id]" value="{{part.name.id}}">
                                                            </td>
                                                            <td class="part_type{{index}}">{{part.name.tax_code_type}}</td>
                                                            <td class="part_amount{{index}}"><input type="text" class="form-control" readonly id="part_hour{{index}}" value="{{part.name.rate}}" /></td>
                                                            <td><input type="text" class="form-control change_quantity required" id="part_qty{{index}}" maxlength="6" data-index="{{index}}" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" name="parts[{{index}}][qty]" value="{{part.name.quantity}}" /></td>
                                                            <td><input type="text" class="form-control required" readonly id="part_amount{{index}}" name="parts[{{index}}][amount]" value="{{part.name.amount}}" /></td>
                                                            <td>
                                                                <button type="button" class="btn btn-delete" ng-click="$ctrl.removePart(index)">
                                                                    <img class="img-responsive" src="./public/theme/img/table/cndn/delete.svg" alt="Delete" />
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <td colspan="6">
                                                                <button type="button" class="btn btn-primary-light btn-square" ng-click="$ctrl.addNewPart()">+ Add More</button>
                                                            </td>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div><!-- Table Responsive -->
                                        </div><!-- Column -->
                                    </div><!-- Row -->
                                </div><!-- Tab Pane Wrap -->
                            </div><!-- Tabe Pane -->
                            <div class="tab-pane-footer">
                                <div class="row">
                                    <div class="col-md-12">
                                        <a href="#!/gigo-pkg/service-type/list" class="btn btn-secondary btn-prev my-tooltip">Cancel</a>
                                        <button type="submit" class="btn btn-primary submit my-tooltip" ng-shortcut="'meta+shift+s'" ng-shortcut-click data-title="ctrl+shift+s">Submit</button>
                                    </div>
                                </div>
                            </div><!-- Tab Footer -->
                        </div><!-- Tab Content -->
                    </div><!-- Tab Form Body -->
                </div><!-- Tab Form Wrap -->
            </div><!-- Page Form -->
        </form>
    </div><!-- Page Main Content -->
</div><!-- Content Wrap