Content Wrap -->
<div class="content-wrap cndn-wrap">
    <!-- Page Header -->
    <div class="page-header">
        <div class="page-header-inner">
            <div class="page-header-content-left">
                <div class="page-header-content button-block">
                    <a href="#!/gigo-pkg/compaigns/list" type="button" class="btn-back btn-img">
                        <img class="img-responsive my-tooltip" src="./public/theme/img/content/previous.svg" alt="Back" ng-shortcut="'meta+shift+left'" ng-shortcut-click data-title="ctrl+shift+left" />
                    </a>
                </div><!-- Page Header Content -->
                <div class="page-header-content title-block">
                    <h1 class="title"><b>{{$ctrl.action}} Campaign</b></h1>
                    <p class="subtitle">
                        Masters /
                        <a href="#!/gigo-pkg/compaigns/list">
                            Campaigns
                        </a> /
                        {{$ctrl.action}}
                    </p>
                </div><!-- Page Header Content -->
            </div><!-- Page Header Content Left -->
        </div><!-- Page Header Inner -->
    </div><!-- Page Header -->
    <!-- Page Main Content -->
    <div class="page-main-content form-content type2">
        <form id="campaign_form" autocomplete="off">
            <input type="hidden" name="id" value="{{$ctrl.campaign.id}}">
            <div class="page-tab-form pb-70">
                <div class="tab-form-wrap">
                    <div class="tab-form-header">
                        <div class="tab-header">
                            <!-- Filters -->
                            <div class="isotope-filters animated" data-animation="fadeInLeft" data-animation-delay="300">
                                <ul class="nav nav-pills cndn-tabs">
                                    <li class="active">
                                        <a class="filter active" data-target="#general-information" data-toggle="tab" aria-expanded="true">
                                            General Info
                                        </a>
                                    </li>
                                    <li>
                                        <a class="filter" data-target="#labour-info" data-toggle="tab" aria-expanded="true">
                                            Labour Details
                                        </a>
                                    </li>
                                    <li>
                                        <a class="filter" data-target="#parts-info" data-toggle="tab" aria-expanded="true">
                                            Parts Details
                                        </a>
                                    </li>
                                </ul>
                            </div><!-- Filters -->
                        </div><!-- Tab Header -->
                    </div><!-- Tab Form Header -->
                    <div class="tab-form-body">
                        <div class="tab-content">
                            <!-- TAB PANEL -->
                            <div class="tab-pane fade in active" id="general-information" data-animation="fadeInUp" data-animation-delay="300">
                                <div class="tab-pane-wrap">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>
                                                    Authorization Number
                                                    <sup class="mandatory">*</sup>
                                                </label>
                                                <input type="text" class="form-control required" ng-model="$ctrl.campaign.authorisation_no" name="authorisation_no" placeholder="Enter Authorization Number" autofocus />
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>Complaint Type <sup class="mandatory">*</sup></label>
                                                <md-select ng-model="$ctrl.campaign.complaint_id" placeholder="Select Complaint Type" md-on-close="clearSearchDrink()" data-md-container-class="selectdemoSelectHeader">
                                                    <md-select-header class="demo-select-header">
                                                        <input ng-model="searchDrink" type="search" placeholder="Select Complaint Type" class="demo-header-searchbox md-text">
                                                    </md-select-header>
                                                    <md-optgroup label="drinks">
                                                        <md-option ng-repeat="val in $ctrl.complaint_types" value="{{val.id}}">{{val.name}}</md-option>
                                                    </md-optgroup>
                                                </md-select>
                                                <input type="hidden" class="material" id="complaint_id" name="complaint_id" value="{{$ctrl.campaign.complaint_id}}">
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label> Fault Type <sup class="mandatory">*</sup></label>
                                                <md-select ng-model="$ctrl.campaign.fault_id" placeholder="Select Fault Type" md-on-close="clearSearchDrink()" data-md-container-class="selectdemoSelectHeader">
                                                    <md-select-header class="demo-select-header">
                                                        <input ng-model="searchDrink" type="search" placeholder="Select Fault Type" class="demo-header-searchbox md-text">
                                                    </md-select-header>
                                                    <md-optgroup label="drinks">
                                                        <md-option ng-repeat="val in $ctrl.fault_types" value="{{val.id}}">{{val.name}}</md-option>
                                                    </md-optgroup>
                                                </md-select>
                                                <input type="hidden" class="material required" id="fault_id" name="fault_id" value="{{$ctrl.campaign.fault_id}}">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>Claim Type <sup class="mandatory">*</sup></label>
                                                <md-select ng-model="$ctrl.campaign.claim_type_id" placeholder="Select Type" md-on-close="clearSearchDrink()" data-md-container-class="selectdemoSelectHeader">
                                                    <md-select-header class="demo-select-header">
                                                        <input ng-model="searchDrink" type="search" placeholder="Select Type" class="demo-header-searchbox md-text">
                                                    </md-select-header>
                                                    <md-optgroup label="drinks">
                                                        <md-option ng-repeat="val in $ctrl.claim_types" value="{{val.id}}">{{val.name}}</md-option>
                                                    </md-optgroup>
                                                </md-select>
                                                <input type="hidden" class="material required" id="claim_type_id" name="claim_type_id" value="{{$ctrl.campaign.claim_type_id}}">
                                            </div><!-- Feild -->
                                        </div>
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>
                                                    Vehicle Model<sup class="mandatory">*</sup>
                                                </label>
                                                <md-autocomplete md-items="option in $ctrl.searchVehicleModel($ctrl.modelSearchText)" md-selected-item="$ctrl.campaign.vehicle_model" md-search-text="$ctrl.modelSearchText" md-item-text="option.model_name" md-min-length="3" placeholder="Vehicle Model Code / Name" class="customer_group_id">
                                                    <md-item-template>
                                                        <span>
                                                            {{option.number}} - {{option.model_name}}
                                                        </span>
                                                    </md-item-template>
                                                    <md-not-found>
                                                        No Vehicle Model Found "{{$ctrl.modelSearchText}}" were found.
                                                    </md-not-found>
                                                </md-autocomplete>
                                                <input type="hidden" id="vehicle_model_id" class="required" name="vehicle_model_id" value="{{$ctrl.campaign.vehicle_model.id}}">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>
                                                    Manufacturing Date<sup class="mandatory">*</sup>
                                                </label>
                                                <div class="input-group date" data-provide="datepicker">
                                                    <input type="text" name="manufacture_date" value="{{$ctrl.campaign.manufacture_date}}" readonly class="form-control required" placeholder="Select Date" />
                                                    <div class="input-group-addon">
                                                        <img class="img-responsive" src="./public/theme/img/content/calender-gray-icon.svg" alt="Calendar Image" />
                                                    </div>
                                                </div><!-- Input Group -->
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>
                                                    Active Status
                                                    <sup class="mandatory">*</sup>
                                                </label>
                                                <div class="tab-switch">
                                                    <md-switch ng-model="$ctrl.switch_value" aria-label="Switch 1" ng-true-value="'Inactive'" ng-false-value="'Active'" class="md-warn">
                                                        {{ $ctrl.switch_value }}
                                                    </md-switch>
                                                    <input type="hidden" name="status" value="{{$ctrl.switch_value}}">
                                                </div>
                                            </div><!-- Form Group -->
                                        </div><!-- Column -->
                                    </div><!-- Row -->
                                </div><!-- Tab Pane Wrap -->
                            </div><!-- Tabe Pane -->
                            <div class="tab-pane fade in" id="labour-info" data-animation="fadeInUp" data-animation-delay="300">
                                <div class="tab-pane-wrap">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12">
                                            <div class="table-responsive">
                                                <table class="table table-form">
                                                    <thead>
                                                        <tr>
                                                            <th class="width-250">Labour Detail</th>
                                                            <th class="width-200">Labour Type</th>
                                                            <th class="width-60">Amount</th>
                                                            <th class="width-30"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="(index, repair_order) in $ctrl.campaign.campaign_labours">
                                                            <td>
                                                                <md-autocomplete md-items="option in $ctrl.searchLabour(option.repair_order_search)" md-selected-item="repair_order.name" md-selected-item-change="getSelectedLabour(index,repair_order.name)" md-search-text="option.repair_order_search" md-item-text="option.code" md-min-length="3" placeholder="Repair Order code / Name" class="customer_group_id">
                                                                    <md-item-template>
                                                                        <span>
                                                                            {{option.code}} - {{option.name}}
                                                                        </span>
                                                                    </md-item-template>
                                                                    <md-not-found>
                                                                        No Repair Order Found "{{$ctrl.repair_order_search}}" were found.
                                                                    </md-not-found>
                                                                </md-autocomplete>
                                                                <input type="hidden" id="" class="required" name="labours[{{index}}][id]" value="{{repair_order.name.id}}">
                                                            </td>
                                                            <td class="labour_type{{index}}">{{repair_order.name.repair_order_type}}</td>
                                                            <td><input type="text" class="form-control required" id="labour_amount{{index}}" name="labours[{{index}}][amount]" value="{{repair_order.name.amount}}" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"/></td>
                                                            <td>
                                                                <button type="button" class="btn btn-delete" ng-click="$ctrl.removeLabour(index)">
                                                                    <img class="img-responsive" src="./public/theme/img/table/cndn/delete.svg" alt="Delete" />
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <td colspan="4">
                                                                <button type="button" class="btn btn-primary-light btn-square" ng-click="$ctrl.addNewLabour()">+ Add More</button>
                                                            </td>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div><!-- Table Responsive -->
                                        </div><!-- Column -->
                                    </div><!-- Row -->
                                </div><!-- Tab Pane Wrap -->
                            </div><!-- Tabe Pane -->
                            <div class="tab-pane fade in" id="parts-info" data-animation="fadeInUp" data-animation-delay="300">
                                <div class="tab-pane-wrap">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12">
                                            <div class="table-responsive">
                                                <table class="table table-form">
                                                    <thead>
                                                        <tr>
                                                            <th class="width-250">Part Detail</th>
                                                            <th class="width-200">Tax Code Type</th>
                                                            <th class="width-30"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="(index, part) in $ctrl.campaign.campaign_parts">
                                                            <td>
                                                                <md-autocomplete md-items="option in $ctrl.searchPart(option.part_search)" md-selected-item="part.name" md-selected-item-change="getSelectedPart(index,part.name)" md-search-text="option.part_search" md-item-text="option.code" md-min-length="3" placeholder="Part code / Name" class="customer_group_id">
                                                                    <md-item-template>
                                                                        <span>
                                                                            {{option.code}} - {{option.name}}
                                                                        </span>
                                                                    </md-item-template>
                                                                    <md-not-found>
                                                                        No Part Found "{{$ctrl.part_search}}" were found.
                                                                    </md-not-found>
                                                                </md-autocomplete>
                                                                <input type="hidden" id="" class="required" name="parts[{{index}}][id]" value="{{part.name.id}}">
                                                            </td>
                                                            <td class="part_type{{index}}">{{part.name.tax_code_type}}</td>
                                                            <td>
                                                                <button type="button" class="btn btn-delete" ng-click="$ctrl.removePart(index)">
                                                                    <img class="img-responsive" src="./public/theme/img/table/cndn/delete.svg" alt="Delete" />
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <td colspan="3">
                                                                <button type="button" class="btn btn-primary-light btn-square" ng-click="$ctrl.addNewPart()">+ Add More</button>
                                                            </td>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div><!-- Table Responsive -->
                                        </div><!-- Column -->
                                    </div><!-- Row -->
                                </div><!-- Tab Pane Wrap -->
                            </div><!-- Tabe Pane -->
                            <div class="tab-pane-footer">
                                <div class="row">
                                    <div class="col-md-12">
                                        <a href="#!/gigo-pkg/service-type/list" class="btn btn-secondary btn-prev my-tooltip">Cancel</a>
                                        <button type="submit" class="btn btn-primary submit my-tooltip" ng-shortcut="'meta+shift+s'" ng-shortcut-click data-title="ctrl+shift+s">Submit</button>
                                    </div>
                                </div>
                            </div><!-- Tab Footer -->
                        </div><!-- Tab Content -->
                    </div><!-- Tab Form Body -->
                </div><!-- Tab Form Wrap -->
            </div><!-- Page Form -->
        </form>
    </div><!-- Page Main Content -->
</div><!-- Content Wrap