<div class="row">
    <div class="col-md-12">
        <h6>
            Labour Details
        </h6>
        <div class="table-responsive">
            <table class="table table-dark-grey">
                <thead>
                    <tr>
                        <th class="wid-100" ng-if="page == 'form'">
                            Actions
                        </th>
                        <th>
                            ROT Code
                        </th>
                        <th>
                            ROT Description
                        </th>
                        <th class="text-right">
                            Hours
                        </th>
                        <th class="wid-100 white-space-unset text-right">
                            Amount
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="ptb-12" ng-repeat="(index,service_type_item_labour) in service_type_item.repair_orders">
                        <td class="wid-100" ng-if="page == 'form'">
                            <button type="button" ng-click="showLabourForm(index,service_type_item_labour)" class="btn img-btn btn-delete">
                                <img class="img-responsive radius-50" src="./public/theme/img/table/cndn/edit-blue.svg" alt="Edit" />
                            </button>
                            <button type="button" class="btn img-btn btn-delete" ng-click="removeLabour(index)">
                                <img class="img-responsive radius-50" src="./public/theme/img/content/delete-active.svg" alt="Delete" />
                            </button>
                        </td>
                        <td>
                            {{service_type_item_labour.code}}
                            <input type="hidden" name="repair_orders[{{index}}][id]" value="{{service_type_item_labour.id}}">
                        </td>
                        <td>
                            {{service_type_item_labour.name}}
                        </td>
                        <td class="text-right">
                            {{service_type_item_labour.hours | number:2}}
                        </td>
                        <td class="white-space-unset text-right">
                            {{service_type_item_labour.amount | currency}}
                        </td>
                    </tr>
                    <tr class="ptb-9">
                        <td>
                            <button type="button" class="btn btn-md type2 btn-green btn-square" ng-click="showLabourForm(false)" ng-if="page == 'form'">
                                Add Labour
                            </button>
                        </td>
                        <td class="text-right">
                        </td>
                        <td colspan="8" class="wid-180 white-space-unset  text-right">
                            <b>
                                Total Labour :
                                {{service_type_item.repair_order_total | currency}}
                            </b>
                        </td>
                    </tr>
                </tbody>
            </table>
            <input type="hidden" name="repair_orders" value="{{service_type_item.repair_orders}}">
        </div><!-- Table Responsive -->
        <div class="mb-15"></div><!-- Spacing -->
        <hr class="hr-15"><!-- Separater -->
    </div><!-- Column -->
</div><!-- Row -->