<div class="content-wrap cndn-wrap">
    <!-- Page Header -->
    <div class="page-header">
        <div class="page-header-inner">
            <div class="page-header-content-left">
                <div class="page-header-content button-block">
                    <a href="di/#!/warranty-job-order-request/card-list" type="button" class="btn-back btn-img"><img class="img-responsive" src="./public/theme/img/content/previous.svg" alt="Back" /></a>
                </div><!-- Page Header Content -->
                <div class="page-header-content title-block">
                    <h1 class="title">
                        <b>
                            Warranty Job Order Request
                        </b>
                    </h1>
                    <p class="subtitle">
                        Warranty Job Order Request / PPR
                    </p>
                </div><!-- Page Header Content -->
            </div><!-- Page Header Content Left -->
        </div><!-- Page Header Inner -->
    </div><!-- Page Header -->
    <!-- Page Main Content -->
    <div class="page-main-content form-content type2">
        <div class="page-tab-form pb-70">
            <job-order-header></job-order-header>
            <div class="tab-form-wrap type-2">
                <warranty-job-order-request-form-tabs></warranty-job-order-request-form-tabs>
                <div class="tab-form-body">
                    <div class="tab-content">
                        <!-- TAB PANEL -->
                        <div class="tab-pane fade in active" id="ppr_form" data-animation="fadeInUp" data-animation-delay="300">
                            <div class="tab-pane-wrap">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h5 class="color-primary mb-10">
                                            <b>
                                                Product Performance Report
                                            </b>
                                        </h5>
                                        <ul class="view-row mb-no">
                                            <li class="view-col-3">
                                                <span class="view-col-label">
                                                    Job order
                                                </span>
                                                <span class="view-data-list-value">
                                                    <b>
                                                        {{warranty_job_order_request.job_order.number}}
                                                    </b>
                                                </span>
                                            </li>
                                            <li class="view-col-3">
                                                <span class="view-col-label">
                                                    Vehicle sold?
                                                </span>
                                                <span class="view-col-value">
                                                    {{warranty_job_order_request.warranty_job_order_request.job_order.vehicle.is_sold ? 'Yes' : 'No'}}
                                                </span>
                                            </li>
                                            <li class="view-col-3" ng-if="warranty_job_order_request.warranty_job_order_request.job_order.vehicle.is_sold">
                                                <span class="view-col-label">
                                                    Sold date
                                                </span>
                                                <span class="view-data-list-value">
                                                    <b>
                                                        {{warranty_job_order_request.job_order.vehicle.sold_date}}
                                                    </b>
                                                </span>
                                            </li>
                                            <li class="view-col-3">
                                                <span class="view-col-label">
                                                    Failure date
                                                </span>
                                                <span class="view-col-value">
                                                    {{warranty_job_order_request.failure_date}}
                                                </span>
                                            </li>
                                            <li class="view-col-3">
                                                <span class="view-col-label">
                                                    Warranty status
                                                </span>
                                                <span class="view-col-value">
                                                    {{warranty_job_order_request.has_warranty ? 'Active' : 'Inactive'}}
                                                </span>
                                            </li>
                                            <li class="view-col-3">
                                                <span class="view-col-label">
                                                    AMC status
                                                </span>
                                                <span class="view-col-value">
                                                    {{warranty_job_order_request.has_amc ? 'Active' : 'Inactive'}}
                                                </span>
                                            </li>
                                            <li class="view-col-3" ng-if="false">
                                                <span class="view-col-label">
                                                    Failure date
                                                </span>
                                                <span class="view-col-value">
                                                    <b>
                                                        23 Sep 2019
                                                    </b>
                                                </span>
                                            </li>
                                        </ul>
                                        <div class="panel-group" id="accordion">
                                            <div class="panel panel-default type-3">
                                                <div class="panel-heading">
                                                    <a class="panel-title in" data-toggle="collapse" data-parent="#accordion" data-target="#collapse1">
                                                        Basic Information
                                                        <span class="arrow"></span>
                                                    </a>
                                                </div>
                                                <div id="collapse1" class="panel-collapse collapse in">
                                                    <div class="panel-body">
                                                        <ul class="view-row mb-no">
                                                            <li class="view-col-3">
                                                                <span class="view-col-label">
                                                                    Chassis number
                                                                </span>
                                                                <span class="view-data-list-value">
                                                                    <b>
                                                                        {{warranty_job_order_request.job_order.vehicle.chassis_number}}
                                                                    </b>
                                                                </span>
                                                            </li>
                                                            <li class="view-col-3">
                                                                <span class="view-col-label">
                                                                    Engine number
                                                                </span>
                                                                <span class="view-col-value">
                                                                    <b>
                                                                        {{warranty_job_order_request.job_order.vehicle.engine_number}}
                                                                    </b>
                                                                </span>
                                                            </li>
                                                            <li class="view-col-3">
                                                                <span class="view-col-label">
                                                                    Registration number
                                                                </span>
                                                                <span class="view-col-value">
                                                                    <b>
                                                                        {{warranty_job_order_request.job_order.vehicle.registration_number}}
                                                                    </b>
                                                                </span>
                                                            </li>
                                                            <li class="view-col-3">
                                                                <span class="view-col-label">
                                                                    Unit serial no.
                                                                </span>
                                                                <span class="view-col-value">
                                                                    {{warranty_job_order_request.unit_serial_number}}
                                                                </span>
                                                            </li>
                                                            <li class="view-col-3">
                                                                <span class="view-col-label">
                                                                    Model
                                                                </span>
                                                                <span class="view-col-value">
                                                                    {{warranty_job_order_request.job_order.vehicle.model.model_number}}
                                                                </span>
                                                            </li>
                                                            <li class="view-col-3">
                                                                <span class="view-col-label">
                                                                    Free services done
                                                                </span>
                                                                <span class="view-col-value" ng-if="warranty_job_order_request.service_types.length != 0">
                                                                    <span ng-repeat="(key, free_service) in warranty_job_order_request.service_types">
                                                                        {{free_service.name}}
                                                                    </span>
                                                                </span>
                                                                <span class="view-col-value" ng-if="warranty_job_order_request.service_types.length == 0">
                                                                    N/A
                                                                </span>
                                                            </li>
                                                            <li class="view-col-3">
                                                                <span class="view-col-label">
                                                                    Complaint code
                                                                </span>
                                                                <span class="view-col-value">
                                                                    {{warranty_job_order_request.complaint.code}}
                                                                </span>
                                                            </li>
                                                            <li class="view-col-3">
                                                                <span class="view-col-label">
                                                                    Complaint description
                                                                </span>
                                                                <span class="view-col-value">
                                                                    {{warranty_job_order_request.complaint.name}}
                                                                </span>
                                                            </li>
                                                            <li class="view-col-3">
                                                                <span class="view-col-label">
                                                                    Fault code
                                                                </span>
                                                                <span class="view-col-value">
                                                                    {{warranty_job_order_request.fault.code}}
                                                                </span>
                                                            </li>
                                                            <li class="view-col-3">
                                                                <span class="view-col-label">
                                                                    Fault description
                                                                </span>
                                                                <span class="view-col-value">
                                                                    {{warranty_job_order_request.fault.name}}
                                                                </span>
                                                            </li>
                                                            <li class="view-col-3">
                                                                <span class="view-col-label">
                                                                    Supplier code
                                                                </span>
                                                                <span class="view-col-value">
                                                                    {{warranty_job_order_request.supplier.name}}
                                                                </span>
                                                            </li>
                                                            <li class="view-col-3">
                                                                <span class="view-col-label">
                                                                    Supplier name
                                                                </span>
                                                                <span class="view-col-value">
                                                                    {{warranty_job_order_request.supplier.name}}
                                                                </span>
                                                            </li>
                                                            <li class="view-col-3">
                                                                <span class="view-col-label">
                                                                    Servicing dealer name
                                                                </span>
                                                                <span class="view-col-value">
                                                                    {{warranty_job_order_request.job_order.outlet.name}}
                                                                </span>
                                                            </li>
                                                            <li class="view-col-3">
                                                                <span class="view-col-label">
                                                                    Servicing Dealer Code
                                                                </span>
                                                                <span class="view-col-value">
                                                                    {{warranty_job_order_request.job_order.outlet.code}}
                                                                </span>
                                                            </li>
                                                            <li class="view-col-3">
                                                                <span class="view-col-label">
                                                                    Primary segment
                                                                </span>
                                                                <span class="view-col-value">
                                                                    {{warranty_job_order_request.primary_segment.name}}
                                                                </span>
                                                            </li>
                                                            <li class="view-col-3">
                                                                <span class="view-col-label">
                                                                    Secondary segment
                                                                </span>
                                                                <span class="view-col-value">
                                                                    {{warranty_job_order_request.secondary_segment.name}}
                                                                </span>
                                                            </li>
                                                            <li class="view-col-3">
                                                                <span class="view-col-label">
                                                                    Customer name and address
                                                                </span>
                                                                <span class="view-col-value">
                                                                    {{job_order.customer.name}}
                                                                    {{job_order.customer.address.formatted_address}}
                                                                </span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default type-3">
                                                <div class="panel-heading">
                                                    <a class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#collapse2">
                                                        Operating Conditions
                                                        <span class="arrow"></span>
                                                    </a>
                                                </div>
                                                <div id="collapse2" class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                        <ul class="view-row mb-no">
                                                            <li class="view-col-3">
                                                                <span class="view-col-label">
                                                                    Goodwill flag
                                                                </span>
                                                                <span class="view-col-value">
                                                                    {{warranty_job_order_request.has_goodwill ? 'Yes' : 'No'}}
                                                                </span>
                                                            </li>
                                                            <li class="view-col-3">
                                                                <span class="view-col-label">
                                                                    Operating condition
                                                                </span>
                                                                <span class="view-col-value">
                                                                    {{warranty_job_order_request.operating_condition.name}}
                                                                </span>
                                                            </li>
                                                            <li class="view-col-3">
                                                                <span class="view-col-label">
                                                                    Road conditions (Normal use)
                                                                </span>
                                                                <span class="view-col-value">
                                                                    {{warranty_job_order_request.normal_road_condition.name}}
                                                                </span>
                                                            </li>
                                                            <li class="view-col-3">
                                                                <span class="view-col-label">
                                                                    Road conditions (At time of failure)
                                                                </span>
                                                                <span class="view-col-value">
                                                                    {{warranty_job_order_request.failure_road_condition.name}}
                                                                </span>
                                                            </li>
                                                            <li class="view-col-3">
                                                                <span class="view-col-label">
                                                                    Load carried flag
                                                                </span>
                                                                <span class="view-col-value">
                                                                    {{warranty_job_order_request.load_carried_type.name}}
                                                                </span>
                                                            </li>
                                                            <li class="view-col-3">
                                                                <span class="view-col-label">
                                                                    Load carried / No. of passengers
                                                                </span>
                                                                <span class="view-col-value">
                                                                    {{warranty_job_order_request.load_carried}}
                                                                </span>
                                                            </li>
                                                            <li class="view-col-3">
                                                                <span class="view-col-label">
                                                                    Load range
                                                                </span>
                                                                <span class="view-col-value">
                                                                    {{warranty_job_order_request.load_range.name}}
                                                                </span>
                                                            </li>
                                                            <li class="view-col-3">
                                                                <span class="view-col-label">
                                                                    Pay load / passengers at failure time
                                                                </span>
                                                                <span class="view-col-value">
                                                                    {{warranty_job_order_request.load_at_failure}}
                                                                </span>
                                                            </li>
                                                            <li class="view-col-3">
                                                                <span class="view-col-label">
                                                                    Last lube change on failed aggregate(KM)
                                                                </span>
                                                                <span class="view-col-value">
                                                                    {{warranty_job_order_request.last_lube_changed}}
                                                                </span>
                                                            </li>
                                                            <li class="view-col-3">
                                                                <span class="view-col-label">
                                                                    Terrain at the time of failure
                                                                </span>
                                                                <span class="view-col-value">
                                                                    {{warranty_job_order_request.terrain_at_failure.name}}
                                                                </span>
                                                            </li>
                                                            <li class="view-col-3">
                                                                <span class="view-col-label">
                                                                    KM / HRS flag
                                                                </span>
                                                                <span class="view-col-value">
                                                                    {{warranty_job_order_request.reading_type.name}}
                                                                </span>
                                                            </li>
                                                            <li class="view-col-3">
                                                                <span class="view-col-label">
                                                                    KM / HRS run per day
                                                                </span>
                                                                <span class="view-col-value">
                                                                    {{warranty_job_order_request.runs_per_day}}
                                                                </span>
                                                            </li>
                                                            <li class="view-col-3">
                                                                <span class="view-col-label">
                                                                    Failed KM / HRS
                                                                </span>
                                                                <span class="view-col-value">
                                                                    {{warranty_job_order_request.failed_at}}
                                                                </span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default type-3">
                                                <div class="panel-heading">
                                                    <a class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#collapse3">
                                                        Failure information
                                                        <span class="arrow"></span>
                                                    </a>
                                                </div>
                                                <div id="collapse3" class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                        <ul class="view-row mb-no">
                                                            <li class="view-col-12">
                                                                <span class="view-col-label">
                                                                    Complaint reported
                                                                </span>
                                                                <span class="view-col-value">
                                                                    {{warranty_job_order_request.complaint_reported}}
                                                                </span>
                                                            </li>
                                                            <li class="view-col-12">
                                                                <span class="view-col-label">
                                                                    Failure observed
                                                                </span>
                                                                <span class="view-col-value">
                                                                    {{warranty_job_order_request.failure_observed}}
                                                                </span>
                                                            </li>
                                                            <li class="view-col-12">
                                                                <span class="view-col-label">
                                                                    Investigation findings
                                                                </span>
                                                                <span class="view-col-value">
                                                                    {{warranty_job_order_request.investigation_findings}}
                                                                </span>
                                                            </li>
                                                            <li class="view-col-12">
                                                                <span class="view-col-label">
                                                                    Cause of failure
                                                                </span>
                                                                <span class="view-col-value">
                                                                    {{warranty_job_order_request.cause_of_failure}}
                                                                </span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- Column -->
                                    <div class="tab-pane-footer">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <button type="button" ng-if="warranty_job_order_request.status.id == 9100" ng-click1="savePPRForm('close')" class="btn btn-red">
                                                    Edit
                                                </button>
                                                <button type="button" ng-click1="savePPRForm('close')" class="btn btn-red">
                                                    Delete
                                                </button>
                                                <button type="button" ng-if="warranty_job_order_request.status.id == 9100" ng-click="sendToApproval(warranty_job_order_request)" class="btn btn-secondary-dark btn-min-wdth btn-nxt">
                                                    Send to approval
                                                </button>
                                                <button type="button" ng-if="warranty_job_order_request.status.id == 9101" ng-click="showApprovalForm(warranty_job_order_request)" class="btn btn-secondary-dark btn-min-wdth btn-nxt">
                                                    Approve
                                                </button>
                                                <button type="button" ng-if="warranty_job_order_request.status.id == 9101" ng-click="showRejectForm(warranty_job_order_request)" class="btn btn-secondary-dark btn-min-wdth btn-nxt">
                                                    Reject
                                                </button>
                                            </div>
                                        </div>
                                    </div><!-- Tab Footer -->
                                </div><!-- Row -->
                            </div><!-- Tab Pane Wrap -->
                        </div><!-- Tabe Pane -->
                    </div><!-- Tab Content -->
                </div><!-- Tab Form Body -->
            </div><!-- Tab Form Wrap -->
        </div><!-- Page Form -->
    </div><!-- Page Main Content -->
</div>
<div class="modal fade filter" id="approve_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close ripple reject_close" data-dismiss="modal" aria-label="Close">
                    <i class="icon ion-md-close"></i>
                </button>
                <h5 class="modal-title">
                    Approve
                </h5>
            </div>
            <div class="modal-body">
                <form id="approval-form">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>
                                    Authorization number
                                    <span class="mandatory">*</span>
                                </label>
                                <input type="text" class="form-control" name="authorization_number" ng-model="warranty_job_order_request.authorization_number" maxlength="64">
                            </div><!-- Field -->
                        </div><!-- Column -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>
                                    Remarks (if any)
                                </label>
                                <textarea class="form-control" name="remarks" ng-model="warranty_job_order_request.rejected_reason"></textarea>
                            </div><!-- Field -->
                        </div><!-- Column -->
                        <div class="col-md-12 text-right mb-15">
                            <button type="button" data-dismiss="modal" class="btn btn-primary btn-bordered cancel_modal_btn">
                                Cancel
                            </button>
                            <button type="submit" class="btn btn-bordered btn-red approve_btn">
                                Approve
                            </button>
                        </div><!-- Column -->
                    </div><!-- Row -->
                </form>
            </div>
        </div><!-- Modal Content -->
    </div><!-- Modal Dialog -->
</div><!-- Modal -->
<div class="modal fade filter" id="reject_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close ripple reject_close" data-dismiss="modal" aria-label="Close">
                    <i class="icon ion-md-close"></i>
                </button>
                <h5 class="modal-title">
                    Reject
                </h5>
            </div>
            <div class="modal-body">
                <form id="rejection-form">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>
                                    Reason for rejection
                                    <span class="mandatory">*</span>
                                </label>
                                <textarea class="form-control" name="rejected_reason" ng-model="warranty_job_order_request.rejected_reason"></textarea>
                            </div><!-- Field -->
                        </div><!-- Column -->
                        <div class="col-md-12 text-right mb-15">
                            <button type="button" data-dismiss="modal" class="btn btn-primary btn-bordered cancel_modal_btn">
                                Cancel
                            </button>
                            <button type="submit" class="btn btn-bordered btn-red reject_btn">
                                Reject
                            </button>
                        </div><!-- Column -->
                    </div><!-- Row -->
                </form>
            </div>
        </div><!-- Modal Content -->
    </div><!-- Modal Dialog -->
</div><!-- Modal -->