<div class="tab-form-header">
    <div class="tab-header">
        <!-- Filters -->
        <div class="isotope-filters animated" data-animation="fadeInLeft" data-animation-delay="300">
            <ul class="nav nav-pills cndn-tabs">
                <li class="active">
                    <a class="filter active" data-target="#vehicle_details" data-toggle="tab" aria-expanded="true">
                        Vehicle Details
                    </a>
                </li>
                <li>
                    <a data-target="#customer_details" data-toggle="tab" aria-expanded="true" class="filter">
                        Customer Details
                    </a>
                </li>
                <li>
                    <a data-target="#order_details" data-toggle="tab" aria-expanded="true" class="filter">
                        Order Details
                    </a>
                </li>
                <li>
                    <a data-target="#inventory_details" data-toggle="tab" aria-expanded="true" class="filter">
                        Inventory
                    </a>
                </li>
                <li>
                    <a data-target="#voc_details" data-toggle="tab" aria-expanded="true" class="filter">
                        Capture VOC
                    </a>
                </li>
                <li>
                    <a data-target="#road_test_details" data-toggle="tab" aria-expanded="true" class="filter">
                        Road Test Observations
                    </a>
                </li>
                <li>
                    <a data-target="#expert_diagnosis_details" data-toggle="tab" aria-expanded="true" class="filter">
                        Expert Diagnosis Report
                    </a>
                </li>
                <li>
                    <a data-target="#vehicle_inspection_details" data-toggle="tab" aria-expanded="true" class="filter">
                        Vehicle Inspection Report
                    </a>
                </li>
                <li>
                    <a data-target="#dms_details" data-toggle="tab" aria-expanded="true" class="filter">
                        DMS Checklist
                    </a>
                </li>
                <li>
                    <a data-target="#maintenance_details" data-toggle="tab" aria-expanded="true" class="filter">
                        Scheduled Maintenance
                    </a>
                </li>
                <li>
                    <a data-target="#payable_details" data-toggle="tab" aria-expanded="true" class="filter">
                        Payable Labour & Parts
                    </a>
                </li>
                <li>
                    <a data-target="#estimate_details" data-toggle="tab" aria-expanded="true" class="filter">
                        Estimate
                    </a>
                </li>
                <li>
                    <a data-target="#status_details" data-toggle="tab" aria-expanded="true" class="filter">
                        Estimation Status
                    </a>
                </li>
            </ul>
        </div><!-- Filters -->
    </div><!-- Tab Header -->
</div><!-- Tab Form Header -->