<div class="tab-form-header">
    <div class="tab-header">
        <!-- Filters -->
        <div class="isotope-filters animated" data-animation="fadeInLeft" data-animation-delay="300">
            <ul class="nav nav-pills cndn-tabs">
                <li ng-class="{active:active_tab == 'material-gatepass'}">
                    <a class="filter" href=".#!/job-card/material-gatepass/{{job_card_id}}">
                        Material Gate Pass
                    </a>
                </li>
                <li ng-class="{active:active_tab == 'returnable-items'}">
                    <a class="filter" href=".#!/gigo-pkg/job-card/returnable-item/{{job_card_id}}">
                        Returnable Items
                    </a>
                </li>
            </ul>
        </div><!-- Filters -->
    </div><!-- Tab Header -->
</div><!-- Tab Form Header -->