<div class="page-tab-form-top work-tooltip" style="width: 100% !important">
    <div class="page-tab-form-top-left">
        <div class="page-tab-form-top-left-title">General Info</div>
        <div class="page-tab-form-top-left-link">
            <a class="btn-link-arrow side-tab-toggle">
                <i class="ionicons ion-md-arrow-round-back"></i>
                <i class="ionicons ion-md-arrow-round-forward"></i>
            </a>
        </div>
        <div class="page-tab-form-top-left-info">
            <span class="page-tab-form-top-left-info-content">
                <b>
                   JC No : {{job_card.job_card_number}} |
                </b>
                <span>
                    {{job_card.job_order.vehicle.registration_number}} | {{job_card.job_order.vehicle.model.model_number}}
                </span>
                <span>
                    | {{job_card.job_order.driver_name}}
                </span>
                | {{job_card.created_at}}
            </span>
        </div>
    </div><!-- Page Tab Form Top Left -->
    <div class="page-tab-form-top-right">
        <div class="page-tab-form-top-right-info">
            Status : {{job_card.status.name}}
        </div>
    </div><!-- Page Tab Form Top Right -->
    <div class="hide work_tooltip_hide">
        <div class="work-tooltip-wrap">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="work-tooltip-title">General Info</h4>
                </div>
                <div class="col-md-6">
                    <span class="work-tooltip-label">Job Card Number</span>
                    <span class="work-tooltip-value">{{job_card.job_card_number}}</span>
                    <div class="mb-10"></div>
                </div>
                <div class="col-md-6">
                    <span class="work-tooltip-label">Vehicle Registration Number</span>
                    <span class="work-tooltip-value">{{job_card.job_order.vehicle.registration_number}}</span>
                    <div class="mb-10"></div>
                </div>
                <div class="col-md-6">
                    <span class="work-tooltip-label">Vehicle Model</span>
                    <span class="work-tooltip-value">{{job_card.job_order.vehicle.model.model_number}}</span>
                    <div class="mb-10"></div>
                </div>
                <div class="col-md-6">
                    <span class="work-tooltip-label">Driver Name</span>
                    <span class="work-tooltip-value">{{job_card.job_order.driver_name}}</span>
                    <div class="mb-10"></div>
                </div>
                <div class="col-md-6">
                    <span class="work-tooltip-label">Job Card Created at</span>
                    <span class="work-tooltip-value">{{job_card.created_at}}</span>
                    <div class="mb-10"></div>
                </div>
            </div>
        </div>
    </div>
</div><!-- Page Tab Form Top -->