<div class="modal fade filter" id="part_form_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close ripple reject_close" data-dismiss="modal" aria-label="Close">
                    <i class="icon ion-md-close"></i>
                </button>
                <h5 class="modal-title">
                    {{modal_action}} Part
                </h5>
            </div>
            <div class="modal-body">
                <div class="modal-form">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>
                                    Part Code
                                    <span class="mandatory">*</span>
                                </label>
                                <md-autocomplete md-selected-item="wjor_part.part" md-search-text="partSearchKey" md-items="part in searchParts(partSearchKey)" md-item-text="part.code" md-min-length="3" md-escape-options="clear" placeholder="Ex. F0831610(L)" md-selected-item-change="console.log(1);partSelected(part)" md-input-id="partAutoCompleteId">
                                    <md-item-template>
                                        <span>
                                            {{part.code}} / {{part.name}}
                                        </span>
                                    </md-item-template>
                                    <md-not-found>
                                        No records matching "{{partSearchKey}}" were found.
                                    </md-not-found>
                                </md-autocomplete>
                                <input type="hidden" name="part_id" value="{{wjor_part.part.id}}">
                            </div><!-- Field -->
                        </div><!-- Column -->
                        <div class="col-md-4" ng-if="wjor_part.part">
                            <div class="form-group">
                                <label>
                                    Part Description
                                </label>
                                <label class="form-control-view">
                                    {{wjor_part.part.name}}
                                </label>
                            </div><!-- Field -->
                        </div><!-- Column -->
                        <div class="col-md-4" ng-if="wjor_part.part">
                            <div class="form-group">
                                <label>
                                    Purchase Type
                                </label>
                                <div class="common-radio-button type-4">
                                    <input type="radio" ng-change="purchaseTypeChange()" id="option_stock" name="purchase_type" ng-model="wjor_part.purchase_type" ng-value="8480">
                                    <label for="option_stock">
                                        Stock
                                    </label>
                                    <input type="radio" ng-change="purchaseTypeChange()" id="option_local" name="purchase_type" ng-model="wjor_part.purchase_type" ng-value="8481">
                                    <label for="option_local">
                                        Local Purchase
                                    </label>
                                </div>
                            </div><!-- Field -->
                        </div><!-- Column -->
                        <div class="col-md-12" ng-if="wjor_part.part">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>
                                            MRP
                                        </label>
                                        <label class="form-control-view">
                                            {{wjor_part.part.mrp | currency}}
                                        </label>
                                    </div><!-- Field -->
                                </div><!-- Column -->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>
                                            Quantity
                                        </label>
                                        <div class="input-group">
                                            <input type="text" ng-keyup="calculateHandlingCharge()" class="form-control" name="quantity" ng-model="wjor_part.qty" maxlength="12">
                                            <span class="input-group-addon">
                                                {{wjor_part.part.uom.name}}
                                            </span>
                                        </div>
                                    </div><!-- Field -->
                                </div><!-- Column -->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>
                                            Rate
                                        </label>
                                        <input type="text" ng-keyup="calculateHandlingCharge()" class="form-control" name="rate" ng-model="wjor_part.rate" maxlength="12" ng-readonly1="wjor_part.purchase_type != '8481'">
                                    </div><!-- Field -->
                                </div><!-- Column -->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>
                                            Net Amount
                                        </label>
                                        <label class="form-control-view">
                                            {{wjor_part.net_amount | currency}}
                                        </label>
                                    </div><!-- Field -->
                                </div><!-- Column -->
                                <div class="col-md-4" ng-repeat="(tax_key, tax) in wjor_part.taxes" ng-if="wjor_part.part.tax_code && wjor_part.part">
                                    <div class="form-group">
                                        <label>
                                            {{tax.name}} ({{tax.pivot.percentage}}%)
                                        </label>
                                        <label class="form-control-view">
                                            {{tax.amount | currency}}
                                        </label>
                                    </div><!-- Field -->
                                </div><!-- Column -->
                            </div><!-- Row -->
                        </div><!-- Column -->
                        <div class="col-md-12" ng-if="wjor_part.part">
                            <div class="row">
                                <div class="col-md-4" ng-hide="warranty_job_order_request.request_type_id == '9181'">
                                    <div class="form-group">
                                        <label>
                                            Handling Charge Percentage
                                        </label>
                                        <input type="text" ng-keyup="calculateHandlingCharge()" class="form-control" name="handling_charge_percentage" ng-model="wjor_part.handling_charge_percentage" maxlength="3" ng-readonly="warranty_job_order_request.request_type_id == '9181'" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                                    </div><!-- Field -->
                                </div><!-- Column -->
                                <div class="col-md-4" ng-hide="warranty_job_order_request.request_type_id == '9181'">
                                    <div class="form-group">
                                        <label>
                                            Handling Charges
                                        </label>
                                        <input type="text" class="form-control" name="handling_charge" ng-model="wjor_part.handling_charge" maxlength="12" readonly>
                                    </div><!-- Field -->
                                </div><!-- Column -->
                                <div class="col-md-4" ng-if="false">
                                    <div class="form-group">
                                        <label>
                                            Handling charges (4%)
                                        </label>
                                        <label class="form-control-view">
                                            {{wjor_part.handling_charges | currency}}
                                        </label>
                                    </div><!-- Field -->
                                </div><!-- Column -->
                                <div class="col-md-4" ng-if="false">
                                    <div class="form-group">
                                        <label>
                                            Cushioning charges (4%)
                                        </label>
                                        <label class="form-control-view">
                                            {{wjor_part.cushioning_charges | currency}}
                                        </label>
                                    </div><!-- Field -->
                                </div><!-- Column -->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>
                                            Amount
                                        </label>
                                        <label class="form-control-view">
                                            {{wjor_part.total_amount | currency}}
                                        </label>
                                    </div><!-- Field -->
                                </div><!-- Column -->
                            </div><!-- Row -->
                        </div><!-- Column -->
                    </div><!-- Row -->
                </div><!-- Modal Form -->
            </div><!-- Modal Body -->
            <div class="modal-footer box-shadow">
                <div class="row">
                    <div class="col-md-12 text-right">
                        <button type="button" data-dismiss="modal" class="btn btn-grey cancel_modal_btn">
                            Cancel
                        </button>
                        <button type="submit" class="btn btn-primary btn-md approve_btn">
                            Submit
                        </button>
                    </div><!-- Column -->
                </div><!-- Row -->
            </div><!-- Modal Footer -->
        </div><!-- Modal Content -->
    </div><!-- Modal Dialog -->
</div><!-- Modal -->