<div class="content-wrap cndn-wrap">
    <!-- Page Header -->
    <div class="page-header">
        <div class="page-header-inner">
            <div class="page-header-content-left">
                <div class="page-header-content button-block">
                    <a href="./#!/warranty-job-order-request/table-list" type="button" class="btn-back btn-img">
                        <img class="img-responsive" src="./public/theme/img/content/previous.svg" alt="Back" />
                    </a>
                </div><!-- Page Header Content -->
                <div class="page-header-content title-block">
                    <h1 class="title">
                        <b>
                            Product Performance Report
                        </b>
                    </h1>
                </div><!-- Page Header Content -->
            </div><!-- Page Header Content Left -->
        </div><!-- Page Header Inner -->
    </div><!-- Page Header -->
    <!-- Page Main Content -->
    <div class="page-main-content form-content type2">
        <div class="page-tab-form pb-70">
            <wjor-header></wjor-header>
            <div class="tab-form-wrap type-2">
                <warranty-job-order-request-form-tabs></warranty-job-order-request-form-tabs>
                <div class="tab-form-body">
                    <div class="tab-content">
                        <!-- TAB PANEL -->
                        <div class="tab-pane fade in active" id="ppr_form_tab" data-animation="fadeInUp" data-animation-delay="300">
                            <wjor-ppr-view></wjor-ppr-view>
                        </div>
                        <div class="tab-pane fade" id="estimate_form_tab" data-animation="fadeInUp" data-animation-delay="300">
                            <wjor-repair-orders></wjor-repair-orders>
                        </div>
                        <div class="tab-pane fade" id="estimate_form_tab_part" data-animation="fadeInUp" data-animation-delay="300">
                            <wjor-parts></wjor-parts>
                        </div>
                        <div class="tab-pane fade" id="photos_form_tab" data-animation="fadeInUp" data-animation-delay="300">
                            <wjor-attachment-view ng-init="self.attachments = warranty_job_order_request.attachments"></wjor-attachment-view>
                        </div>
                        <div class="tab-pane fade" id="reference_doc_form_tab" data-animation="fadeInUp" data-animation-delay="300">
                            <wjor-reference-attachment-view></wjor-reference-attachment-view>
                        </div>
                        <div class="tab-pane fade" id="approval_attachment_form" data-animation="fadeInUp" data-animation-delay="300">
                            <wjor-approval-attachment-form></wjor-approval-attachment-form>
                        </div>
                    </div><!-- Tab Content -->
                </div><!-- Tab Form Body -->
                <div class="tab-pane-footer">
                    <div class="row">
                        <div class="col-md-12">
                            <a ng-if="warranty_job_order_request.failure_photo" download target="_blank" href="./storage/app/public/wjor/{{warranty_job_order_request.failure_photo.name}}" class="btn btn-red">
                                Failure Report
                            </a>
                            <a target="_blank" href="./storage/app/public/wjor-pdfs/{{warranty_job_order_request.number}}.pdf" ng-if="warranty_job_order_request.status.id != '9100'" class="btn btn-red">
                                PDF
                            </a>
                            <a href="./#!/warranty-job-order-request/form/{{warranty_job_order_request.id}}" ng-if="(warranty_job_order_request.status.id == 9100 || warranty_job_order_request.status.id == 9103) && hasPerm('edit-warranty-job-order-requests')" class="btn btn-red">
                                Edit
                            </a>
                            <button ng-if="hasPerm('delete-warranty-job-order-request')" type="button" ng-click="confirmDelete(warranty_job_order_request)" class="btn btn-red">
                                Delete
                            </button>
                            <button type="button" ng-if="(warranty_job_order_request.status.id == 9100 || warranty_job_order_request.status.id == 9103 ) && hasPerm('send-to-approval-warranty-job-order-request')" ng-click="sendToApproval(warranty_job_order_request)" class="btn btn-secondary-dark btn-min-wdth btn-nxt sendToApproval">
                                Send to approval
                            </button>
                            <button type="button" ng-if="warranty_job_order_request.status.id == 9101 && hasPerm('approve-warranty-job-order-request')" ng-click="showApprovalForm(warranty_job_order_request)" class="btn btn-secondary-dark btn-min-wdth btn-nxt">
                                Approve
                            </button>
                            <button type="button" ng-if="warranty_job_order_request.status.id == 9101 && hasPerm('approve-warranty-job-order-request')" ng-click="showRejectForm(warranty_job_order_request)" class="requestResubmit btn btn-secondary-dark btn-min-wdth btn-nxt">
                                Request Resubmit
                            </button>
                        </div>
                    </div>
                </div><!-- Tab Footer -->
            </div><!-- Tab Form Wrap -->
        </div><!-- Page Form -->
    </div><!-- Page Main Content -->
</div>
<div class="modal fade alert-modal failure" id="request_confirmation_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Confirm
                </h5>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to send to approval? </p>
                <button class="btn btn-grey" data-dismiss="modal" aria-label="Close">No</button>
                <button class="btn btn-rose send_approval" aria-label="Close" ng-click="sendApproval(warranty_job_order_request)">Yes</button>
            </div>
        </div><!-- Modal Content -->
    </div><!-- Modal Dialog -->
</div><!-- Modal -->
<div class="modal fade filter" id="approve_modal" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <form id="approval-form" autocomplete="off">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close ripple reject_close" data-dismiss="modal" aria-label="Close">
                        <i class="icon ion-md-close"></i>
                    </button>
                    <h5 class="modal-title">
                        Approve
                    </h5>
                </div>
                <div class="modal-body">
                    <div class="modal-form">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>
                                        PPR number
                                        <span class="mandatory">*</span>
                                    </label>
                                    <input type="text" class="form-control" name="authorization_number" ng-model="warranty_job_order_request.authorization_number" maxlength="64">
                                </div><!-- Field -->
                            </div><!-- Column -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>
                                        Authorized Date
                                    </label>
                                    <input type="text" name="authorization_date" disabled="disabled" class="form-control" ng-model="warranty_job_order_request.authorized_date">
                                </div><!-- Field -->
                            </div><!-- Column -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>
                                        Approval Rating <span class="mandatory">*</span>
                                    </label>
                                    <div class="rating">
                                        <input type="radio" id="star5" name="approval_ratings" value="5" checked ng-click="approvalRating(5)" />
                                        <label class="full" for="star5"></label>
                                        <input type="radio" id="star4" name="approval_ratings" value="4" ng-click="approvalRating(4)" />
                                        <label class="full" for="star4"></label>
                                        <input type="radio" id="star3" name="approval_ratings" value="3" ng-click="approvalRating(3)" />
                                        <label class="full" for="star3"></label>
                                        <input type="radio" id="star2" name="approval_ratings" value="2" ng-click="approvalRating(2)" />
                                        <label class="full" for="star2"></label>
                                        <input type="radio" id="star1" name="approval_ratings" value="1" ng-click="approvalRating(1)" />
                                        <label class="full" for="star1"></label>
                                    </div>
                                    <input type="hidden" name="approval_rating" ng-model="warranty_job_order_request.approval_rating" id="approval_rating" value="5">
                                </div><!-- Field -->
                            </div><!-- Column -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>
                                        Remarks (if any)
                                    </label>
                                    <textarea class="form-control" name="remarks" ng-model="warranty_job_order_request.remarks"></textarea>
                                </div><!-- Field -->
                            </div><!-- Column -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>
                                        Approved By
                                    </label>
                                    <input type="text" disabled="disabled" class="form-control" ng-model="user.name">
                                </div><!-- Field -->
                            </div><!-- Column -->
                        </div><!-- Row -->
                    </div><!-- Modal Form -->
                </div><!-- Modal Body -->
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-6">
                            <button type="button" data-dismiss="modal" class="reset-link">
                                Cancel
                            </button>
                        </div><!-- Column -->
                        <div class="col-md-6 text-right">
                            <button type="submit" class="submit btn btn-primary btn-md">
                                Approve
                            </button>
                        </div><!-- Column -->
                    </div><!-- Row -->
                </div><!-- Modal Footer -->
            </div><!-- Modal Content -->
        </form>
    </div><!-- Modal Dialog -->
</div><!-- Modal -->
<div class="modal fade filter" id="reject_modal" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <form id="rejection-form" autocomplete="off">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close ripple reject_close" data-dismiss="modal" aria-label="Close">
                        <i class="icon ion-md-close"></i>
                    </button>
                    <h5 class="modal-title">
                        Request Resubmit
                    </h5>
                </div>
                <div class="modal-body">
                    <div class="modal-form">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>
                                        Resubmit Reason
                                        <sup class="mandatory">*</sup>
                                    </label>
                                    <md-select ng-model="warranty_job_order_request.ppr_reject_reason_id" placeholder="Select Reason" data-md-container-class="selectdemoSelectHeader">
                                        <md-select-header class="demo-select-header">
                                            <input ng-model="searchSplitOrderType" type="search" placeholder="Search for a Reason.." class="demo-header-searchbox md-text" ng-keydown="$event.stopPropagation()">
                                        </md-select-header>
                                        <md-optgroup>
                                            <md-option ng-value="reject_reason.id" ng-repeat="reject_reason in extras.reject_reasons | filter:searchSplitOrderType">
                                                {{reject_reason.name}}
                                            </md-option>
                                        </md-optgroup>
                                    </md-select>
                                    <input required type="hidden" name="ppr_reject_reason_id" value="{{warranty_job_order_request.ppr_reject_reason_id}}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>
                                        Reason for resubmit request
                                        <span class="mandatory">*</span>
                                    </label>
                                    <textarea class="form-control" name="rejected_reason" ng-model="warranty_job_order_request.rejected_reason"></textarea>
                                </div><!-- Field -->
                            </div><!-- Column -->
                        </div><!-- Row -->
                    </div><!-- Modal Form -->
                </div><!-- Modal Body -->
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-6">
                            <button type="button" data-dismiss="modal" class="reset-link">
                                Cancel
                            </button>
                        </div><!-- Column -->
                        <div class="col-md-6 text-right">
                            <button type="submit" class="submit btn btn-primary btn-md">
                                Submit
                            </button>
                        </div><!-- Column -->
                    </div><!-- Row -->
                </div><!-- Modal Footer -->
            </div><!-- Modal Content -->
        </form>
    </div><!-- Modal Dialog -->
</div><!-- Modal -->
<div class="modal fade filter" id="reject_modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close ripple reject_close" data-dismiss="modal" aria-label="Close">
                    <i class="icon ion-md-close"></i>
                </button>
                <h5 class="modal-title">
                    Request Resubmit
                </h5>
            </div>
            <form id="rejection-form">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>
                                    Resubmit Reason
                                    <sup class="mandatory">*</sup>
                                </label>
                                <md-select ng-model="warranty_job_order_request.ppr_reject_reason_id" placeholder="Select Reason" data-md-container-class="selectdemoSelectHeader" ng-model-options="{trackBy: '$value.id' }">
                                    <md-select-header class="demo-select-header">
                                        <input ng-model="searchSplitOrderType" type="search" placeholder="Search for a Reason.." class="demo-header-searchbox md-text" ng-keydown="$event.stopPropagation()">
                                    </md-select-header>
                                    <md-optgroup>
                                        <md-option ng-value="reject_reason.id" ng-repeat="reject_reason in extras.reject_reasons | filter:searchSplitOrderType">
                                            {{reject_reason.name}}
                                        </md-option>
                                    </md-optgroup>
                                </md-select>
                                <input required type="hidden" name="ppr_reject_reason_id" value="{{warranty_job_order_request.ppr_reject_reason_id}}">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>
                                    Reason for resubmit request
                                    <span class="mandatory">*</span>
                                </label>
                                <textarea class="form-control" name="rejected_reason" ng-model="warranty_job_order_request.rejected_reason"></textarea>
                            </div><!-- Field -->
                        </div><!-- Column -->
                    </div><!-- Row -->
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-6">
                            <button type="button" data-dismiss="modal" class="reset-link">
                                Cancel
                            </button>
                        </div><!-- Column -->
                        <div class="col-md-6 text-right">
                            <button type="submit" class="submit btn btn-primary btn-md">
                                Submit
                            </button>
                        </div><!-- Column -->
                    </div><!-- Row -->
                </div><!-- Modal Footer -->
            </form>
        </div><!-- Modal Content -->
    </div><!-- Modal Dialog -->
</div><!-- Modal -->
<style type="text/css">
.ulHover li:hover a {
    color: #f34d34 !important;
}
</style>