<div class="tab-pane-wrap">
    <div class="row">
        <div class="col-md-12">
            <h5 class="color-primary mb-10">
                <b>
                    Repair Estimate
                </b>
            </h5>
            <!-- Table Responsive -->
            <div class="mb-15"></div><!-- Spacing -->
            <hr class="hr-15"><!-- Separater -->
            <h6>
                Part Details
            </h6>
            <div class="table-responsive">
                <table class="table table-dark-grey">
                    <thead>
                        <tr>
                            <th>
                                Parts Code
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Purchase Type
                            </th>
                            <th class="text-right">
                                Quantity
                            </th>
                            <th class="text-right">
                                Rate
                            </th>
                            <th class="text-right">
                                Net Amount
                            </th>
                            <!--                             <th ng-repeat="(tax_key, tax) in warranty_job_order_request.parts[0].tax_code.taxes" ng-if="warranty_job_order_request.parts[0].tax_code">
                                {{tax.name}} ({{tax.pivot.percentage}}%)
                            </th>
 -->
                            <th class="text-right">
                                Tax Amount
                            </th>
                            <th class="wid-100 white-space-unset text-right">
                                Amount
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="ptb-12" ng-repeat="(index,wjor_part) in warranty_job_order_request.wjor_parts">
                            <td>
                                {{wjor_part.part.code}}
                            </td>
                            <td>
                                {{wjor_part.part.name}}
                            </td>
                            <td>
                                {{wjor_part.part.name}}
                            </td>
                            <td class="text-right">
                                {{wjor_part.qty | number:2}}
                            </td>
                            <td class="text-right">
                                {{wjor_part.rate | currency}}
                            </td>
                            <!-- <td class="text-right">
                                {{job_order_part.qty | number:2}}
                            </td> -->
                            <!--                             <td ng-repeat="(tax_key, tax) in job_order_part.tax_code.taxes" ng-if="job_order_part.tax_code">
                                {{(job_order_part.rate*tax.pivot.percentage)/100 | currency}}
                            </td>
 -->
                            <td class="text-right">
                                {{job_order_part.pivot.net_amount | currency}}
                            </td>
                            <td class="text-right">
                                {{job_order_part.pivot.tax_total | currency}}
                            </td>
                            <td class="wid-180 white-space-unset text-right">
                                {{job_order_part.pivot.total_amount | currency}}
                            </td>
                        </tr>
                        <tr class="ptb-9">
                            <td>
                            </td>
                            <td class="text-right">
                            </td>
                            <td colspan="7" class="wid-180 white-space-unset text-right">
                                <b>
                                    Total Parts :
                                    {{warranty_job_order_request.part_total | currency}}
                                </b>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div><!-- Table Responsive -->
            <div class="mb-20"></div><!-- Spacing -->
            <div class="table-transparent-wrap">
                <div class="table-responsive">
                    <table class="table-transparent">
                        <tbody>
                            <tr>
                                <td class="text-right">
                                </td>
                                <td class="wid-180 text-right">
                                    <b>
                                        Total Labour & Parts :
                                        {{warranty_job_order_request.estimate_total | currency}}
                                    </b>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div><!-- Table Transparent Wrap -->
        </div><!-- Column -->
    </div><!-- Row -->
</div><!-- Tab Pane Wrap -->