<div class="tab-pane-wrap">
    <div class="row">
        <div class="col-md-12">
            <h5 class="color-primary mb-10">
                <b>
                    Repair Estimate
                </b>
            </h5>
            <hr class="hr-15"><!-- Separater -->
            <h6>
                Part Details
            </h6>
            <div class="table-responsive">
                <table class="table table-dark-grey">
                    <thead>
                        <tr>
                            <th class="wid-100" ng-if="page == 'form'">
                                Actions
                            </th>
                            <th>
                                Parts Code
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Purchase Type
                            </th>
                            <th class="text-right">
                                Quantity
                            </th>
                            <th class="text-right">
                                Rate
                            </th>
                            <th class="text-right">
                                Net Amount
                            </th>
                            <!--                             <th ng-repeat="(tax_key, tax) in warranty_job_order_request.parts[0].tax_code.taxes" ng-if="warranty_job_order_request.parts[0].tax_code">
                                {{tax.name}} ({{tax.pivot.percentage}}%)
                            </th>
 -->
                            <th class="text-right">
                                Tax Amount
                            </th>
                            <th class="text-right">
                                Handling Charges
                            </th>
                            <!-- <th class="text-right">
                                Quantity
                            </th> -->
                            <th class="wid-100 white-space-unset text-right">
                                Amount
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="ptb-12" ng-repeat="(index,job_order_part) in warranty_job_order_request.wjor_parts track by index">
                            <td class="wid-100" ng-if="page == 'form'">
                                <!--                                 <button type="button" ng-click="showPartForm(job_order_part,index)" class="btn img-btn btn-delete">
                                    <img class="img-responsive radius-50" src="./public/theme/img/table/cndn/edit-blue.svg" alt="Edit" />
                                </button>
 -->
                                <button type="button" class="btn img-btn btn-delete" ng-click="removePart(index)">
                                    <img class="img-responsive radius-50" src="./public/theme/img/content/delete-active.svg" alt="Delete" />
                                </button>
                            </td>
                            <td>
                                {{job_order_part.part.code}}
                                <input type="hidden" name="parts[{{index}}][id]" value="{{job_order_part.id}}">
                            </td>
                            <td>
                                {{job_order_part.part.name}}
                            </td>
                            <td>
                                {{job_order_part.purchase_type == 8480 ? 'Stock' : 'Local'}}
                            </td>
                            <td>
                                {{job_order_part.qty | number}}
                            </td>
                            <td class="text-right">
                                {{job_order_part.rate | currency}}
                            </td>
                            <td class="text-right">
                                {{job_order_part.net_amount | currency}}
                            </td>
                            <!-- <td class="text-right">
                                {{job_order_part.qty | number:2}}
                            </td> -->
                            <!--                             <td class="text-right" ng-repeat="(tax_key, tax) in job_order_part.tax_code.taxes" ng-if="job_order_part.tax_code">
                                {{(job_order_part.rate*tax.pivot.percentage)/100 | currency}}
                            </td>
 -->
                            <td class="text-right">
                                {{job_order_part.tax_total| currency}}
                            </td>
                            <td class="text-right">
                                {{job_order_part.handling_charge | currency}}
                            </td>
                            <td class="wid-180 white-space-unset text-right">
                                {{job_order_part.total_amount | currency}}
                            </td>
                        </tr>
                        <tr class="ptb-9">
                            <td>
                                <button type="button" class="btn btn-md type2 btn-green btn-square" ng-click="showPartForm(false)" ng-if="page == 'form'">
                                    Add Part
                                </button>
                            </td>
                            <td class="text-right">
                            </td>
                            <td colspan="8" class="wid-180 white-space-unset text-right">
                                <b>
                                    Total Parts :
                                    {{warranty_job_order_request.part_total | currency}}
                                </b>
                            </td>
                        </tr>
                        <tr class="ptb-9" ng-if="warranty_job_order_request.wjor_parts">
                            <td>
                                <div class="form-group">
                                    <label>
                                        Part Cushioning Percentage
                                    </label>
                                </div><!-- Field -->
                            </td>
                            <td>
                                <div class="form-group">
                                    <input ng-readonly="page=='view'" type="text" ng-keyup="calculateCushionCharges()" class="form-control" placeholder="Part Cushioning Percentage" name="total_part_cushioning_percentage" ng-model="warranty_job_order_request.total_part_cushioning_percentage" maxlength="3" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                                </div><!-- Field -->
                            </td>
                            <td class="text-left">
                                <div class="form-group">
                                    <label>%</label>
                                </div>
                            </td>
                            <td colspan="7" class="wid-180 white-space-unset text-right">
                                <b>
                                    Total Cushioning Charges:
                                    {{warranty_job_order_request.total_part_cushioning_charge | currency}}
                                </b>
                                <input type="hidden" name="total_part_cushioning_charge" value="{{warranty_job_order_request.total_part_cushioning_charge}}">
                            </td>
                        </tr>
                        <tr class="ptb-9" ng-if="warranty_job_order_request.wjor_parts">
                            <td colspan="10" class="wid-180 white-space-unset text-right">
                                <b>
                                    Total:
                                    {{warranty_job_order_request.total_part_amount | currency}}
                                </b>
                                <input type="hidden" name="total_part_amount" value="{{warranty_job_order_request.total_part_amount}}">
                                <input type="hidden" name="total_labour_amount" value="{{warranty_job_order_request.repair_order_total}}">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <input type="hidden" name="wjor_parts" value="{{warranty_job_order_request.wjor_parts}}">
            </div><!-- Table Responsive -->
            <div class="mb-20"></div><!-- Spacing -->
            <div class="table-transparent-wrap">
                <div class="table-responsive">
                    <table class="table-transparent">
                        <tbody>
                            <tr>
                                <td class="text-right">
                                </td>
                                <td class="wid-180 text-right">
                                    <b>
                                        Total Labour & Parts :
                                        {{warranty_job_order_request.estimate_total | currency}}
                                    </b>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div><!-- Table Transparent Wrap -->
        </div><!-- Column -->
    </div><!-- Row -->
</div><!-- Tab Pane Wrap -->