<div class="tab-form-header">
    <div class="tab-header">
        <!-- Filters -->
        <div class="isotope-filters animated" data-animation="fadeInLeft" data-animation-delay="300">
            <ul class="nav nav-pills cndn-tabs">
                <li class="active">
                    <a class="filter active" data-target="#ppr_form_tab" data-toggle="tab" aria-expanded="true">
                        <!-- <a class="filter active" href="./#!/warranty-job-order-request/ppr/form"> -->
                        PPR
                    </a>
                </li>
                <li>
                    <!-- <a class="filter active" href="./#!/warranty-job-order-request/estimate-form"> -->
                    <a class="filter" data-target="#estimate_form_tab" data-toggle="tab" aria-expanded="true">
                        Labour Details
                    </a>
                </li>
                <li>
                    <!-- <a class="filter active" href="./#!/warranty-job-order-request/estimate-form"> -->
                    <a class="filter" data-target="#estimate_form_tab_part" data-toggle="tab" aria-expanded="true">
                        Part Details
                    </a>
                </li>
                <li>
                    <a class="filter" data-target="#photos_form_tab" data-toggle="tab" aria-expanded="true">
                        Photos
                    </a>
                </li>
                <li ng-if="page == 'view' && warranty_job_order_request.status_id == 9101">
                    <a class="filter" data-target="#approval_attachment_form" data-toggle="tab" aria-expanded="true">
                        Approval Attachments
                    </a>
                </li>
            </ul>
        </div><!-- Filters -->
    </div><!-- Tab Header -->
</div><!-- Tab Form Header -->