<div class="tab-pane-wrap">
    <div class="row">
        <div class="col-md-12">
            <h5 class="color-primary mb-10">
                <b>
                    Attachments
                </b>
            </h5>
            <hr class="hr-15"><!-- Separater -->
            <div class="form-group">
                <div class="file-loading">
                    <input id="file-1" type="file" name="photos[]" multiple>
                </div>
            </div>
        </div><!-- Column -->
    </div><!-- Row -->
</div><!-- Tab Pane Wrap -->
<div class="tab-pane-wrap" ng-if="warranty_job_order_request.id != null">
    <div class="row">
        <div class="col-md-12">
            <!-- <h5 class="color-primary mb-10">
                <b>Attachments</b>
            </h5>
            <hr class="hr-15"> --><!-- Separater -->
            <div class="row">
                <div class="col-xs-6 col-md-3" ng-repeat="(key, attachment) in warranty_job_order_request.attachments">
                    <a href="./storage/app/public/wjor/{{attachment.name}}" target="_blank" class="thumbnail">
                        <img ng-src="./storage/app/public/wjor/{{attachment.name}}" />
                    </a>
                </div>
            </div>
        </div><!-- Column -->
    </div><!-- Row -->
</div><!-- Tab Pane Wrap -->