<div class="tab-pane-wrap">
    <div class="row">
        <div class="col-md-12">
            <h5 class="color-primary mb-10">
                <b>
                    Attachments
                </b>
            </h5>
            <hr class="hr-15"><!-- Separater -->
            <div class="form-group">
                <div class="file-loading">
                    <input id="file-1" type="file" name="photos[]" multiple>
                </div>
            </div>
        </div><!-- Column -->
        <div class="tab-pane-footer">
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" ng-click="action='save-and-close'" class="btn btn-red">
                        Save & Close
                    </button>
                    <button type="submit" ng-click="action='save-and-close'" class="btn btn-secondary-dark btn-min-wdth btn-nxt">
                        Next
                    </button>
                </div>
            </div>
        </div><!-- Tab Footer -->
    </div><!-- Row -->
</div><!-- Tab Pane Wrap -->