<div class="tab-form-header">
    <div class="tab-header">
        <!-- Filters -->
        <div class="isotope-filters animated" data-animation="fadeInLeft" data-animation-delay="300">
            <ul class="nav nav-pills cndn-tabs">
                <li class="active">
                    <a class="filter active" data-target="#ppr_view" data-toggle="tab" aria-expanded="true">
                        PPR
                    </a>
                </li>
                <li>
                    <a class="filter" data-target="#estimate_view" data-toggle="tab" aria-expanded="true">
                        Repair Estimate
                    </a>
                </li>
                <li>
                    <a class="filter" data-target="#attachment_view" data-toggle="tab" aria-expanded="true">
                        Photos
                    </a>
                </li>
                <li>
                    <a class="filter" data-target="#approval_attachment_form" data-toggle="tab" aria-expanded="true">
                        Approval Attachments
                    </a>
                </li>
            </ul>
        </div><!-- Filters -->
    </div><!-- Tab Header -->
</div><!-- Tab Form Header -->