<div class="tab-pane-wrap">
    <div class="row">
        <div class="col-md-12">
            <h5 class="color-primary mb-10">
                <b>
                    Approval Attachments
                </b>
            </h5>
            <hr class="hr-15"><!-- Separater -->
            <div class="form-group">
                <div class="file-loading">
                    <input id="file-1" type="file" name="approval_attachments[]" multiple>
                </div>
            </div>
        </div><!-- Column -->
    </div><!-- Row -->
</div><!-- Tab Pane Wrap -->