<div class="tab-pane-wrap">
    <div class="row">
        <div class="col-md-12">
            <h5 class="color-primary mb-10">
                <b>
                    Attachments
                </b>
            </h5>
            <hr class="hr-15"><!-- Separater -->
            <div class="row">
                <div class="col-md-4" ng-repeat="(key,value) in warranty_job_order_request.photos">
                    <div class="form-group">
                        <div class="grey-box-attachment-wrap">
                            <div class="grey-box-attachment-feild">
                                <div class="file-loading">
                                    <input type="file" name="photos[]" angular-bfi="bfiConfig" watch-options="true">
                                </div><!-- File Loading -->
                            </div><!-- Grey Box Attachment Feild -->
                            <div class="grey-box-attachment-feild">
                                <div class="feild-btn-wrap">
                                    <div class="feild-wrap">
                                        <input type="text" name="attachment_descriptions[]" class="form-control" placeholder="Enter Description" />
                                    </div>
                                    <div class="btn-wrap">
                                        <button class="btn-img">
                                            <img class="img-responsive" src="./public/theme/img/content/delete-active.svg" alt="Delete" />
                                        </button>
                                    </div>
                                </div>
                            </div><!-- Grey Box Attachment Feild -->
                        </div><!-- Grey Box Attachment Wrap -->
                    </div><!-- Feild -->
                </div><!-- Column -->
            </div><!-- Row -->
            <button type="button" class="btn btn-md type2 btn-green btn-square" ng-click="addPhoto()">
                Add Photo
            </button>
        </div><!-- Column -->
    </div><!-- Row -->
</div><!-- Tab Pane Wrap -->
<div class="tab-pane-wrap" ng-if="warranty_job_order_request.id != null">
    <div class="row">
        <div class="col-md-12">
            <!-- <h5 class="color-primary mb-10">
                <b>Attachments</b>
            </h5>
            <hr class="hr-15"> -->
            <!-- Separater -->
            <div class="row">
                <div class="col-xs-6 col-md-3" ng-repeat="(key, attachment) in warranty_job_order_request.attachments">
                    <a href="./storage/app/public/wjor/{{attachment.name}}" target="_blank" class="thumbnail">
                        <img ng-src="./storage/app/public/wjor/{{attachment.name}}" />
                    </a>
                </div>
            </div>
        </div><!-- Column -->
    </div><!-- Row -->
</div><!-- Tab Pane Wrap -->