<!-- Content Wrap -->
<div class="content-wrap">
    <!-- Page Header -->
    <div class="page-header">
        <div class="page-header-inner">
            <div class="page-header-content-left">
                <div class="page-header-content button-block">
                    <a href="#!/floating-gate-pass/table-list" type="button" class="btn-back btn-img my-tooltip" ng-shortcut="'meta+shift+left'" ng-shortcut-click data-title="ctrl+shift+left">
                        <img class="img-responsive" src="./public/theme/img/content/previous.svg" />
                    </a>
                </div>
                <div class="page-header-content title-block">
                    <h1 class="title">Floating Gate Pass</h1>
                    <p class="subtitle">
                        <a href="#!/floating-gate-pass/table-list">Floating Gate Pass </a> / View
                    </p>
                </div>
            </div>
        </div><!-- Page Header Inner -->
    </div><!-- Page Header -->
    <!-- Page Main Content -->
    <div class="page-main-content form-content">
        <form id="floating_gate_pass">
            <input type="hidden" name="job_card_id" value="{{$ctrl.floating_gate_pass.id}}">
            <input ng-if="$ctrl.floating_gate_pass.floating_gate_out_length == 0" type="hidden" name="type" value="In">
            <input ng-if="$ctrl.floating_gate_pass.floating_gate_out_length > 0" type="hidden" name="type" value="Out">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-form pb-60">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h5 class="font-semi-dark mb-0">{{$ctrl.floating_gate_pass.job_order.vehicle ? $ctrl.floating_gate_pass.job_order.vehicle.registration_number : '--'}}</h5>
                                    <h6 class=""><b>{{$ctrl.floating_gate_pass.job_order.vehicle.model ? $ctrl.floating_gate_pass.job_order.vehicle.model.model_number : '--'}}</b></h6>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="border-box">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <table class="table-info">
                                                            <tbody>
                                                                <tr>
                                                                    <td><b>Driver Name</b></td>
                                                                    <td>{{$ctrl.floating_gate_pass.job_order.driver_name}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td><b>Driver Mobile No</b></td>
                                                                    <td>{{$ctrl.floating_gate_pass.job_order.driver_mobile_number}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td><b>Job Card No</b></td>
                                                                    <td>{{$ctrl.floating_gate_pass.job_card_number}}</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div><!-- Column -->
                                                    <div class="col-md-6">
                                                        <div class="multi-img">
                                                            <ul class="multi-img-list">
                                                                <li class="multi-img-list-item">
                                                                    <span class="info">Vehicle Image</span>
                                                                    <span class="value">
                                                                        <img class="img-responsive" src="{{$ctrl.floating_gate_pass.gate_in_attachment_path}}/{{$ctrl.floating_gate_pass.job_order.gate_log.vehicle_attachment.name}}" alt="Images" />
                                                                    </span>
                                                                </li>
                                                                <li class="multi-img-list-item">
                                                                    <span class="info">KM Image</span>
                                                                    <span class="value">
                                                                        <img class="img-responsive" src="{{$ctrl.floating_gate_pass.gate_in_attachment_path}}/{{$ctrl.floating_gate_pass.job_order.gate_log.km_attachment.name}}" alt="Images" />
                                                                    </span>
                                                                </li>
                                                                <li class="multi-img-list-item">
                                                                    <span class="info">Driver Image</span>
                                                                    <span class="value">
                                                                        <img class="img-responsive" src="{{$ctrl.floating_gate_pass.gate_in_attachment_path}}/{{$ctrl.floating_gate_pass.job_order.gate_log.driver_attachment.name}}" alt="Images" />
                                                                    </span>
                                                                </li>
                                                                <li class="multi-img-list-item">
                                                                    <span class="info">Chassis Image</span>
                                                                    <span class="value">
                                                                        <img class="img-responsive" src="{{$ctrl.floating_gate_pass.gate_in_attachment_path}}/{{$ctrl.floating_gate_pass.job_order.gate_log.chassis_attachment.name}}" alt="Images" />
                                                                    </span>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div><!-- Column -->
                                                </div><!-- Row -->
                                            </div><!-- Border Box -->
                                        </div><!-- Column -->
                                    </div><!-- Row -->
                                </div><!-- Column -->
                                <div class="col-lg-12">
                                    <br>
                                    <h5 class="font-semi-dark mb-0">Floating Parts</h5>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="border-box">
                                                <div class="row">
                                                    <div class="container">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="table-responsive">
                                                                    <table class="table table-dark-grey">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>
                                                                                    Part Code
                                                                                </th>
                                                                                <th>
                                                                                    Part Description
                                                                                </th>
                                                                                <th>
                                                                                    Qty
                                                                                </th>
                                                                                <th>
                                                                                    Outward Date
                                                                                </th>
                                                                                <th>
                                                                                    Inward Date
                                                                                </th>
                                                                                <th>
                                                                                    Status
                                                                                </th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr ng-repeat="(key,float_log) in $ctrl.floating_gate_pass.float_logs">
                                                                                <td>
                                                                                    {{float_log.float_stock.part.code}}
                                                                                </td>
                                                                                <td>
                                                                                    {{float_log.float_stock.part.name}}
                                                                                </td>
                                                                                <td>
                                                                                    {{float_log.qty}}
                                                                                </td>
                                                                                <td>
                                                                                    {{float_log.outward_date}}
                                                                                </td>
                                                                                <td>
                                                                                    {{float_log.inward_date}}
                                                                                </td>
                                                                                <td>
                                                                                    {{float_log.status.name}}
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div><!-- Column -->
                                                        </div><!-- Row -->
                                                    </div><!-- Container -->
                                                </div><!-- Row -->
                                            </div><!-- Border Box -->
                                        </div><!-- Column -->
                                    </div><!-- Row -->
                                    <div class="row" ng-if="$ctrl.floating_gate_pass.floating_gate_out_length > 0">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label>Remarks</label>
                                                <textarea class="form-control" name="remarks" id="remarks" rows="4" placeholder="Enter Remarks"></textarea>
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                    </div><!-- Row -->
                                </div><!-- Column -->
                            </div><!-- Row -->
                        </div><!-- Page Form -->
                    </div><!-- Column -->
                </div><!-- Row -->
                <div class="page-form-footer">
                    <div class="row">
                        <div class="col-md-12">
                            <a href="#!/floating-gate-pass/table-list" class="btn btn-bordered btn-grey">Cancel</a>
                            <!-- <button class="btn btn-secondary-dark submit" ng-show="$ctrl.floating_gate_pass.status_id==8301" ng-click="saveGatePass(1)">Confirm Gate In</button> -->
                            <!-- <button class="btn btn-secondary-dark submit" ng-show="$ctrl.floating_gate_pass.status_id==8300" ng-click="saveGatePass(2)">Confirm Gate Out</button> -->
                            <button class="btn btn-secondary-dark submit" ng-show="$ctrl.floating_gate_pass.floating_gate_out_length > 0" ng-click="saveGatePass(2)">Confirm Gate Out</button>
                        </div>
                    </div>
                </div><!-- Page Form Footer -->
            </div><!-- Container -->
        </form>
    </div><!-- Page Main Content -->
</div><!-- Content Wrap -->
<div class="modal modal-success alert-modal fade" id="gate_out_confirm_notification" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <img class="img-responsive img-center" src="./public/theme/img/content/success-green.svg" />
                <h6 class="title"><b>Gate Out Success</b></h6>
                <p class="info data">Vehicle successfully Gate Out</p>
                <p class="info">JobCard No : {{$ctrl.floating_gate_pass.job_card_number}}</span></p>
                <p class="info">Reg No : {{$ctrl.floating_gate_pass.job_order.vehicle ? $ctrl.floating_gate_pass.job_order.vehicle.registration_number : '--'}}</p>
                <div class="mt-30 mb-30">
                    <a href="javascript:;" class="btn btn-success btn-square btn-block" ng-click="reloadPage(1)"><b>Done</b></a>
                </div><!-- Button -->
            </div><!-- Modal Body -->
        </div><!-- Modal Content -->
    </div><!-- Modal Dialog -->
</div><!-- Modal Content -->
<div class="modal modal-success alert-modal fade" id="gate_in_confirm_notification" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <img class="img-responsive img-center" src="./public/theme/img/content/success-green.svg" />
                <h6 class="title"><b>Gate In Success</b></h6>
                <p class="info data">Vehicle successfully Road Test Gate In</p>
                <p class="info">Gate Pass No : {{$ctrl.floating_gate_pass.job_card_number}}</span></p>
                <p class="info">Reg No : {{$ctrl.floating_gate_pass.job_order.vehicle ? $ctrl.floating_gate_pass.job_order.vehicle.registration_number : '--'}}</p>
                <div class="mt-30 mb-30">
                    <a href="javascript:;" class="btn btn-success btn-square btn-block" ng-click="reloadPage(2)"><b>Done</b></a>
                </div><!-- Button -->
            </div><!-- Modal Body -->
        </div><!-- Modal Content -->
    </div><!-- Modal Dialog -->
</div><!-- Modal Content -->