<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="block">
            <div class="pull-left">
                31/03/2020 09:15 AM
            </div>
            <div class="pull-right">
                Registered
            </div>
        </div>
        <hr />
        <div class="block">
            <div class="pull-left">
                TN 37 BV 5826<br />
                AL 2917 BS-IV<br />
                Abdul
                <button class="btn btn-sm">
                    <span class="glyphicon glyphicon-edit"></span>
                </button>
            </div>
            <div class="pull-right">
                Status<br />
                New
            </div>
        </div>
    </div>
</div>