<div class="content-wrap cndn-wrap">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <div class="panel panel-primary">
                <mobile-header></mobile-header>
                <div class="panel-body">
                    <ol class="breadcrumb">
                        <li>
                            Inward Vehicle
                        </li>
                        <li class="active">
                            Order Details
                        </li>
                    </ol>
                    <mobile-inward-header></mobile-inward-header>
                    <form id="form">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div style="overflow: hidden;">
                                    <div class="pull-left">
                                        Driver Details
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <label>Driver Name *</label>
                                    <input type="text" class="form-control" name="driver_name">
                                </div>
                                <div class="form-group">
                                    <label>Driver Mobile Number</label>
                                    <input type="text" class="form-control" name="driver_mobile_number">
                                </div>
                            </div> <!-- panel-body -->
                        </div> <!-- panel -->
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div style="overflow: hidden;">
                                    <div class="pull-left">
                                        Job Order Details
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <label>Order Type *</label>
                                    <md-select ng-model="$ctrl.repair_order.type_id" md-on-close="clearSearchTerm()" data-md-container-class="selectdemoSelectHeader">
                                        <md-select-header class="demo-select-header">
                                            <input ng-model="searchTerm" type="search" class="demo-header-searchbox md-text">
                                        </md-select-header>
                                        <md-optgroup>
                                            <md-option ng-value="repair_order_type.id" ng-repeat="repair_order_type in $ctrl.repair_order_type | filter:searchTerm">{{repair_order_type.short_name}}</md-option>
                                        </md-optgroup>
                                    </md-select>
                                    <input type="hidden" class="form-control required" name="type_id" id="type_id" value="{{$ctrl.repair_order.type_id}}">
                                </div>
                                <div class="form-group">
                                    <label>Quote Type *</label>
                                    <md-select ng-model="$ctrl.repair_order.type_id" md-on-close="clearSearchTerm()" data-md-container-class="selectdemoSelectHeader">
                                        <md-select-header class="demo-select-header">
                                            <input ng-model="searchTerm" type="search" class="demo-header-searchbox md-text">
                                        </md-select-header>
                                        <md-optgroup>
                                            <md-option ng-value="repair_order_type.id" ng-repeat="repair_order_type in $ctrl.repair_order_type | filter:searchTerm">{{repair_order_type.short_name}}</md-option>
                                        </md-optgroup>
                                    </md-select>
                                    <input type="hidden" class="form-control required" name="type_id" id="type_id" value="{{$ctrl.repair_order.type_id}}">
                                </div>
                                <div class="form-group">
                                    <label>Service Type *</label>
                                    <md-select ng-model="$ctrl.repair_order.type_id" md-on-close="clearSearchTerm()" data-md-container-class="selectdemoSelectHeader">
                                        <md-select-header class="demo-select-header">
                                            <input ng-model="searchTerm" type="search" class="demo-header-searchbox md-text">
                                        </md-select-header>
                                        <md-optgroup>
                                            <md-option ng-value="repair_order_type.id" ng-repeat="repair_order_type in $ctrl.repair_order_type | filter:searchTerm">{{repair_order_type.short_name}}</md-option>
                                        </md-optgroup>
                                    </md-select>
                                    <input type="hidden" class="form-control required" name="type_id" id="type_id" value="{{$ctrl.repair_order.type_id}}">
                                </div>
                                <div class="form-group">
                                    <label>KM Reading *</label>
                                    <input type="text" class="form-control" name="km_reading">
                                </div>
                                <div class="form-group">
                                    <label>Reading Type *</label>
                                    <md-select ng-model="$ctrl.repair_order.type_id" md-on-close="clearSearchTerm()" data-md-container-class="selectdemoSelectHeader">
                                        <md-select-header class="demo-select-header">
                                            <input ng-model="searchTerm" type="search" class="demo-header-searchbox md-text">
                                        </md-select-header>
                                        <md-optgroup>
                                            <md-option ng-value="repair_order_type.id" ng-repeat="repair_order_type in $ctrl.repair_order_type | filter:searchTerm">{{repair_order_type.short_name}}</md-option>
                                        </md-optgroup>
                                    </md-select>
                                    <input type="hidden" class="form-control required" name="type_id" id="type_id" value="{{$ctrl.repair_order.type_id}}">
                                </div>
                                <div class="form-group">
                                    <label>Service Contact Number *</label>
                                    <input type="text" class="form-control" name="pincode">
                                </div>
                            </div> <!-- panel-body -->
                        </div> <!-- panel -->
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div style="overflow: hidden;">
                                    <div class="pull-left">
                                        Previous Job Card Details
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="row simple-row">
                                    <div class="col-xs-5">
                                        Customer Name
                                    </div>
                                    <div class="col-xs-7">
                                        : Abdul Kadhar
                                    </div>
                                </div>
                                <div class="row simple-row">
                                    <div class="col-xs-5">
                                        Vehicle Model
                                    </div>
                                    <div class="col-xs-7">
                                        : AL 2174 BS-IV
                                    </div>
                                </div>
                                <div class="row simple-row">
                                    <div class="col-xs-5">
                                        Membership
                                    </div>
                                    <div class="col-xs-7">
                                        : TVS ONE - Gold
                                    </div>
                                </div>
                            </div> <!-- panel-body -->
                            <div class="panel-footer">
                                <div style="overflow: hidden;">
                                    <div class="pull-left">
                                        <a href=".#!/gigo-pkg/mobile/inward-vehicle/vehicle-detail" class="btn btn-primary btn-sm">
                                            View
                                        </a>
                                    </div>
                                </div>
                            </div> <!-- panel-footer -->
                        </div> <!-- panel -->
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div style="overflow: hidden;">
                                    <div class="pull-left">
                                        Documents
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <!-- <qr-scanner width="400" height="300" ng-success="onSuccess(data)" ng-error="onError(error)" /> -->
                                <div class="row simple-row">
                                    <div class="col-xs-5">
                                        Customer Name
                                    </div>
                                    <div class="col-xs-7">
                                        : Abdul Kadhar
                                    </div>
                                </div>
                                <div class="row simple-row">
                                    <div class="col-xs-5">
                                        Vehicle Model
                                    </div>
                                    <div class="col-xs-7">
                                        : AL 2174 BS-IV
                                    </div>
                                </div>
                                <div class="row simple-row">
                                    <div class="col-xs-5">
                                        Membership
                                    </div>
                                    <div class="col-xs-7">
                                        : TVS ONE - Gold
                                    </div>
                                </div>
                            </div> <!-- panel-body -->
                            <div class="panel-footer">
                                <div style="overflow: hidden;">
                                    <div class="pull-left">
                                        <a href=".#!/gigo-pkg/mobile/inward-vehicle/vehicle-detail" class="btn btn-primary btn-sm">
                                            View
                                        </a>
                                    </div>
                                </div>
                            </div> <!-- panel-footer -->
                        </div> <!-- panel -->
                    </form>
                </div>
                <div class="panel-footer">
                    <div class="block">
                        <button type="button" class="btn btn-info col-xs-6">
                            SAVE &amp; CLOSE
                        </button>
                        <button type="button" class="btn btn-primary col-xs-6" ng-click="saveInwardVehicleDetai()">
                            NEXT
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- Content Wrap -->