<div class="content-wrap cndn-wrap">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <div class="panel panel-primary">
                <mobile-header></mobile-header>
                <div class="panel-body">
                    <ol class="breadcrumb">
                        <li>
                            Inward Vehicle
                        </li>
                        <li class="active">
                            {{'Edit'}} Vehicle Details
                        </li>
                    </ol>
                    <mobile-inward-header></mobile-inward-header>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div style="overflow: hidden;">
                                <div class="pull-left">
                                    Vehicle Details
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <form id="form">
                                <div class="form-group">
                                    <h6>Registration Type *</h6>
                                    <label class="radio-inline" style="display: inline;">
                                        <input type="radio" name="is_registered" value="1">
                                        Registered
                                    </label>
                                    <label class="radio-inline" style="display: inline;">
                                        <input type="radio" name="is_registered" value="0">
                                        Unregistered
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label>Vehicle Registration Number *</label>
                                    <input type="text" class="form-control" name="registration_number">
                                </div>
                                <div class="form-group">
                                    <label>Vehicle Model *</label>
                                    <md-select ng-model="$ctrl.repair_order.type_id" md-on-close="clearSearchTerm()" data-md-container-class="selectdemoSelectHeader">
                                        <md-select-header class="demo-select-header">
                                            <input ng-model="searchTerm" type="search" class="demo-header-searchbox md-text">
                                        </md-select-header>
                                        <md-optgroup>
                                            <md-option ng-value="repair_order_type.id" ng-repeat="repair_order_type in $ctrl.repair_order_type | filter:searchTerm">{{repair_order_type.short_name}}</md-option>
                                        </md-optgroup>
                                    </md-select>
                                    <input type="hidden" class="form-control required" name="type_id" id="type_id" value="{{$ctrl.repair_order.type_id}}">
                                </div>
                                <!-- <div class="form-group">
                                    <label>VIN Number</label>
                                    <input type="text" class="form-control" name="vin_number">
                                </div> -->
                                <div class="form-group">
                                    <label>Engine Number</label>
                                    <input type="text" class="form-control" name="engine_number">
                                </div>
                                <div class="form-group">
                                    <label>Chassis Number</label>
                                    <input type="text" class="form-control" name="chassis_number">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="block">
                        <button type="button" class="btn btn-info col-xs-6">
                            SAVE &amp; CLOSE
                        </button>
                        <button type="button" class="btn btn-primary col-xs-6" ng-click="saveInwardVehicleDetai()">
                            NEXT
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- Content Wrap -->