<div class="content-wrap cndn-wrap">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    TVS GIGO SMS
                </div>
                <div class="panel-body">
                    <ol class="breadcrumb">
                        <li class="active">
                            Menus
                        </li>
                    </ol>
                    <div class="well well-sm">
                        Hi, {{user.name}}<br>
                        <span ng-if="user.employee.designation">
                            {{user.employee.designation.name}}<br>
                        </span>
                        <a href=".#!/gigo-pkg/mobile/profile">
                            View Profile
                        </a>
                    </div>
                    <div class="list-group">
                        <a href=".#!/gigo-pkg/mobile/dashboard" class="list-group-item" ng-if="hasPerm('mobile-dashboard')">
                            Dashboard
                        </a>
                    </div>
                    <div class="list-group list-group">
                        <a href=".#!/gigo-pkg/mobile/kanban-dashboard" class="list-group-item list-group-item-success" ng-if="hasPerm('kanban-app')">
                            KANBAN App
                        </a>
                        <a href=".#!/gigo-pkg/mobile/gate-in-vehicle" class="list-group-item list-group-item-success" ng-if="hasPerm('mobile-gate-in-entry')">
                            Gate In Vehicle
                        </a>
                        <a href=".#!/gigo-pkg/mobile/vehicle-gate-pass/list" class="list-group-item list-group-item-success" ng-if="hasPerm('mobile-gate-out-entry')">
                            Vehicle Gate Passes
                        </a>
                        <a href=".#!/gigo-pkg/mobile/inward-vehicle/list" class="list-group-item list-group-item-success" ng-if="hasPerm('mobile-inward-vehicle')">
                            Inward Vehicle
                        </a>
                        <a href=".#!/gigo-pkg/mobile/job-card/list" class="list-group-item list-group-item-success" ng-if="hasPerm('mobile-job-cards')">
                            Job Cards
                        </a>
                        <a href=".#!/gigo-pkg/mobile/material-gate-pass/list" class="list-group-item list-group-item-success" ng-if="hasPerm('mobile-material-gate-passes')">
                            Material Gate Passes
                        </a>
                    </div>
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-info">
                            View Profile
                        </a>
                        <a href="#" class="list-group-item list-group-item-info">
                            Change Password
                        </a>
                        <a href="javascript:;" class="list-group-item list-group-item-info" ng-click="logout()">
                            Logout
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- Content Wrap -->