<div class="content-wrap cndn-wrap">
    <div class="page-header">
        <div class="page-header-inner">
            <div class="page-header-content-left">
                <div class="page-header-content title-block">
                    <h1 class="title type-2">
                        Product Performance Reports
                        <span class="badge badge-secondary" id="table_infos"></span>
                    </h1>
                </div><!-- Page Header Content -->
                <div class="page-header-content reset-block">
                    <div class="reset-wrap">
                        <button class="btn-reset reset-tooltip refresh_table my-tooltip" ng-shortcut="'meta+shift+r'" ng-shortcut-click data-title="ctrl+shift+r">
                            <img class="img-responsive" src="./public/theme/img/content/reset.svg" alt="Reset" />
                        </button>
                    </div>
                </div><!-- Page Header Content -->
                <div class="page-header-content search-block">
                    <div class="search_filter">
                        <label>
                            <input type="search" id="search_inward_vehicle" class="form-control" placeholder="Search" ng-model="$ctrl.search_key" ng-keyup=searchWarrantyJobOrderRequest() autofocus />
                            <button class="btn-clear my-tooltip" ng-click="clear_search()" ng-shortcut="'meta+shift+c'" ng-shortcut-click data-title="ctrl+shift+c">Clear</button>
                        </label>
                    </div><!-- Search Filter -->
                </div>
                <div class="page-header-content button-block">
                    <button class="btn btn-bordered my-tooltip" data-toggle="modal" data-target="#warranty-job-order-request-filter-modal" ng-shortcut="'meta+shift+f'" ng-shortcut-click data-title="ctrl+shift+f"><i class="icon ion-md-funnel"></i>Filter</button>
                </div><!-- Page Header Content -->
            </div><!-- Page Header Content Left -->
            <div class="page-header-content-right">
                <div class="page-header-content button-block">
                    <a href="#!/warranty-job-order-request/form/" type="button" class="btn btn-primary" ng-if="hasPerm('add-warranty-job-order-request')">
                        Initiate New Request
                    </a>
                </div>
            </div>
        </div>
    </div><!-- Page Header -->
    <div class="page-main-content list-page-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <table class="table" id="warranty_job_order_request_list" style="width: 100% !important;">
                        <thead>
                            <tr>
                                <th class="action width-100">Action</th>
                                <th>Request Date</th>
                                <th>Request Number</th>
                                <th class="text-right">Job Card Number</th>
                                <th>Failure Date</th>
                                <th class="text-right">Claim Amount</th>
                                <th>Outlet</th>
                                <th>Status</th>
                                <th>Bharat Stage</th>
                                <th>Requested by</th>
                                <th>Customer Name</th>
                                <th>Vehicle Model</th>
                                <th>Vehicle Reg.No</th>
                                <th>Chassis Number</th>
                            </tr>
                        </thead>
                    </table>
                </div><!-- Column -->
            </div><!-- Row -->
        </div><!-- Container -->
    </div><!-- Page Main Content -->
</div><!-- Content Wrap -->
<div class="modal fade filter" id="warranty-job-order-request-filter-modal" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close ripple" data-dismiss="modal" aria-label="Close"><i class="icon ion-md-close"></i></button>
                <h5 class="modal-title" id="myModalLabel">
                    Filter
                </h5>
            </div><!-- Modal Header -->
            <div class="modal-body">
                <div class="modal-form">
                    <div class="row">
                        <div class="col-md-6">
                            <!-- <div class="form-group">
                                <label>Date</label>
                                <div class="input-group date" data-provide="datepicker">
                                    <input type="text" id="request_date" class="form-control" placeholder="Select Date" ng-model="filters.date" id="date" />
                                    <div class="input-group-addon">
                                        <img class="img-responsive" src="./public/theme/img/content/calender-gray-icon.svg" alt="Calendar Image" />
                                    </div>
                                </div>
                            </div> -->
                            <div class="form-group">
                                <label>Date</label>
                                <div class="input-group date">
                                    <input ng-model="filters.date" id="request_date" class="form-control daterange" placeholder="Select a Date Range">
                                    <span class="input-group-addon">
                                        <img class="img-responsive" src="./public/theme/img/content/calender-gray-icon.svg" alt="Calendar Image" />
                                    </span>
                                </div><!-- Input Group -->
                            </div><!-- Feild -->
                        </div><!-- Column -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Failure Date</label>
                                <div class="input-group date">
                                    <input ng-model="filters.failure_date" id="failure_date" class="form-control daterange" placeholder="Select a Date Range">
                                    <span class="input-group-addon">
                                        <img class="img-responsive" src="./public/theme/img/content/calender-gray-icon.svg" alt="Calendar Image" />
                                    </span>
                                </div><!-- Input Group -->
                            </div><!-- Feild -->
                        </div><!-- Column -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>
                                    Registration No
                                </label>
                                <input type="text" class="form-control" id="reg_no" name="reg_no" placeholder="Enter Registration No" autocomplete="off" ng-model="filters.reg_no">
                            </div><!-- Field -->
                        </div><!-- Column -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Customer</label>
                                <md-autocomplete md-items="option in $ctrl.searchCustomer(customerSearchText)" md-selected-item="filters.customer" md-search-text="customerSearchText" md-item-text="option.name" md-min-length="3" placeholder="Customer Name" md-autofocus>
                                    <md-item-template>
                                        <span>
                                            {{option.name}} / {{option.code}}
                                        </span>
                                    </md-item-template>
                                    <md-not-found>
                                        No Customer matching "{{customerSearchText}}" were found.
                                    </md-not-found>
                                </md-autocomplete>
                                <input type="hidden" id="customer_id" name="customer_id" value="{{filters.customer.id}}">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Vehicle Model</label>
                                <md-autocomplete md-items="option in $ctrl.searchVehicleModel(vehicleModelSearchText)" md-selected-item="filters.vehicle_model" md-search-text="vehicleModelSearchText" md-item-text="option.model_name" md-min-length="3" placeholder="Vehicle Model Name" md-autofocus>
                                    <md-item-template>
                                        <span>
                                            {{option.model_name}} / {{option.number}}
                                        </span>
                                    </md-item-template>
                                    <md-not-found>
                                        No Vehicle Model matching "{{vehicleModelSearchText}}" were found.
                                    </md-not-found>
                                </md-autocomplete>
                                <input type="hidden" id="model_id" name="model_id" value="{{filters.vehicle_model.id}}">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>
                                    Job Card No
                                </label>
                                <input type="text" class="form-control" id="job_card_no" name="job_card_no" placeholder="Enter Job Card No" autocomplete="off" ng-model="filters.job_card_no">
                            </div><!-- Field -->
                        </div><!-- Column -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>
                                    Status
                                </label>
                                <md-select ng-model="filter.statuses" placeholder="Select status" data-md-container-class="selectdemoSelectHeader" ng-model-options="{trackBy: '$value.id' }">
                                    <md-select-header class="demo-select-header">
                                        <input ng-model="searchStatusKey" type="search" placeholder="Search.." class="demo-header-searchbox md-text">
                                    </md-select-header>
                                    <md-optgroup>
                                        <md-option ng-value="status" ng-repeat="status in options.status_options | filter:searchStatusKey">
                                            {{status.name}}
                                        </md-option>
                                    </md-optgroup>
                                </md-select>
                                <input type="hidden" name="status_id" id="status_id" value="{{ filter.statuses }}">
                            </div><!-- Field -->
                        </div><!-- Column -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>
                                    Outlet
                                </label>
                                <md-select multiple ng-model="filter.outlets" placeholder="Select Outlet" data-md-container-class="selectdemoSelectHeader" ng-model-options="{trackBy: '$value.id' }">
                                    <md-select-header class="demo-select-header">
                                        <input ng-model="searchOutletKey" type="search" placeholder="Search for a Outlet.." class="demo-header-searchbox md-text" ng-keydown="$event.stopPropagation()">
                                    </md-select-header>
                                    <md-optgroup>
                                        <md-option ng-value="outlet" ng-repeat="outlet in options.outlet_options | filter:searchOutletKey">
                                            {{outlet.name}}
                                        </md-option>
                                    </md-optgroup>
                                </md-select>
                                <input type="hidden" name="outlet_ids" id="outlet_ids" value="{{ filter.outlets }}">
                            </div><!-- Field -->
                        </div>
                    </div><!-- Row -->
                </div><!-- Modal Form -->
            </div><!-- Modal Body -->
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-6">
                        <button type="button" class="reset-link" ng-click="reset_filter();filters.date='';filters.failure_date='';filters.reg_no='';filters.job_card_no='';customerSearchText='';vehicleModelSearchText='';filter.statuses=''; filter.outlets='';" ng-shortcut="'meta+shift+t'" ng-shortcut-click data-title="ctrl+shift+t">
                            Reset Filter
                        </button>
                    </div><!-- Column -->
                    <div class="col-md-6 text-right">
                        <button type="button" class="btn btn-primary btn-md" ng-click="applyFilter()">
                            Apply
                        </button>
                    </div><!-- Column -->
                </div><!-- Row -->
            </div><!-- Modal Footer -->
        </div><!-- Modal Content -->
    </div><!-- Modal Dialog -->
</div><!-- Modal -->