<div class="content-wrap">
    <!-- Page Header -->
    <div class="page-header">
        <div class="page-header-inner">
            <div class="page-header-content-left">
                <div class="page-header-content button-block">
                    <a href="#!/" type="button" class="btn-back btn-img">
                        <img class="img-responsive" src="./public/theme/img/content/previous.svg" />
                    </a>
                </div>
                <div class="page-header-content title-block">
                    <h1 class="title">Gate In Vehicle</h1>
                </div>
            </div>
        </div><!-- Page Header Inner -->
    </div><!-- Page Header -->
    <!-- Page Main Content -->
    <form id="gate_in_vehicle_form" autocomplete="off">
        <div class="page-main-content form-content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-form pb-60">
                            <div class="row">
                                <div class="col-md-12">
                                    <h6 class="mb-20"><b>
                                            Photos
                                        </b></h6>
                                    <div class="input-text">
                                        <ul class="gatein-img-list">
                                            <li class="gatein-img-list-item vehicle-img">
                                                <input type="file" name="vehicle_photo" class="image_uploadify" accept=".xlsx,.xls,image/*,.doc,audio/*,.docx,video/*,.ppt,.pptx,.txt,.pdf" multiple />
                                            </li>
                                            <li class="gatein-img-list-item km-img">
                                                <input type="file" name="km_reading_photo" class="image_uploadify" accept=".xlsx,.xls,image/*,.doc,audio/*,.docx,video/*,.ppt,.pptx,.txt,.pdf" multiple />
                                            </li>
                                            <li class="gatein-img-list-item driver-img">
                                                <input type="file" name="driver_photo" class="image_uploadify" accept=".xlsx,.xls,image/*,.doc,audio/*,.docx,video/*,.ppt,.pptx,.txt,.pdf" multiple />
                                            </li>
                                        </ul>
                                    </div><!-- Field -->
                                </div><!-- Column -->
                            </div><!-- Row -->
                            <div class="row">
                                <div class="col-md-4 col-lg-3">
                                    <div class="input-text form-group">
                                        <label>
                                            Registration Type
                                            <sup class="mandatory">*</sup>
                                        </label>
                                        <md-radio-group ng-model="gate_log.vehicle.is_registered">
                                            <md-radio-button value="1" class="md-primary">
                                                Registered
                                            </md-radio-button>
                                            <md-radio-button value="0">
                                                Un Registered
                                            </md-radio-button>
                                        </md-radio-group>
                                        <input type="hidden" class="form-control" value="{{gate_log.vehicle.is_registered}}" name="is_registered">
                                    </div> <!-- Form Group -->
                                </div><!-- Column -->
                                <div class="col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <label>
                                            Vehicle Registration Number
                                            <sup class="mandatory">*</sup></label>
                                        <input type="text" class="form-control" placeholder="Enter Vehicle Registration Number" value="" autocomplete="off" name="registration_number" />
                                    </div><!-- Feild -->
                                </div><!-- Column -->
                                <div class="col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <label>
                                            KM Reading
                                            <sup class="mandatory">*</sup></label>
                                        <input type="text" class="form-control" placeholder="Enter KM Reading" value="" autocomplete="off" name="km_reading" />
                                    </div><!-- Feild -->
                                </div><!-- Column -->
                                <div class="col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <label>
                                            Driver Name
                                            <!-- <sup class="mandatory">*</sup> -->
                                        </label>
                                        <input type="text" class="form-control" placeholder="Enter Driver Name" value="" autocomplete="off" name="driver_name" />
                                    </div><!-- Feild -->
                                </div><!-- Column -->
                                <div class="col-md-4 col-lg-3">
                                    <div class="input-text form-group">
                                        <label>
                                            Driver Mobile
                                            <!-- <sup class="mandatory">*</sup> -->
                                        </label>
                                        <input type="text" class="form-control" placeholder="Enter Driver Name" value="" autocomplete="off" name="driver_mobile_number" />
                                    </div><!-- Form Group -->
                                </div><!-- Column -->
                                <div class="col-md-8 col-lg-9">
                                    <div class="form-group">
                                        <label>
                                            Remarks
                                            <!-- <sup class="mandatory">*</sup> -->
                                        </label>
                                        <input type="text" class="form-control" placeholder="Enter Remarks" autocomplete="off" name="gate_in_remarks" />
                                    </div><!-- Feild -->
                                </div><!-- Column -->
                            </div><!-- Row -->
                        </div><!-- Page Form -->
                    </div><!-- Column -->
                </div><!-- Row -->
                <div class="page-form-footer">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- <a href="/" class="btn btn-secondary btn-prev my-tooltip">
                                Cancel
                            </a>
                            <button type="submit" class="btn btn-primary submit my-tooltip" ng-shortcut="'meta+shift+s'" ng-shortcut-click data-title="ctrl+shift+s">
                                Save
                            </button> -->
                            <a href="#!/" class="btn btn-bordered btn-grey btn-min-wdth">
                                Cancel
                            </a>
                            <button type="submit" class="btn btn-secondary-dark btn-min-wdth">
                                Save
                            </button>
                        </div>
                    </div><!-- Row -->
                </div><!-- Page Form Footer -->
            </div><!-- Container -->
        </div><!-- Page Main Content -->
    </form>
</div><!-- Content Wrap -->
<script src="./public/theme/js/imageuploadify-gatein.min.js"></script>
<!-- Submit Alert Modal -->
<div class="modal modal-success alert-modal fade" id="confirm_notification" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <img class="img-responsive img-center" src="./public/theme/img/content/success-green.svg" />
                <h6 class="title"><b>Gate In Success</b></h6>
                <p class="info data">Vehicle successfully gated In</p>
                <p class="info">Gate In No :
                    <span id="number">
                        <!-- {{$ctrl.gate_log.number}} -->
                    </span>
                </p>
                <p class="info">Reg No :
                    <span id="registration_number">
                        <!-- {{$ctrl.gate_log.registration_number}} -->
                    </span>
                </p>
                <div class="mt-30 mb-30">
                    <button type="button" class="btn btn-success btn-square btn-block" data-dismiss="modal" ng-click="reloadPage()"><b>Done</b></button>
                </div><!-- Button -->
            </div><!-- Modal Body -->
        </div><!-- Modal Content -->
    </div><!-- Modal Dialog -->
</div><!-- Modal Content -->