<!-- Content Wrap -->
<div class="content-wrap cndn-wrap">
    <!-- Page Header -->
    <div class="page-header">
        <div class="page-header-inner">
            <div class="page-header-content-left">
                <div class="page-header-content button-block">
                    <a href="#!/survey-type/list" type="button" class="btn-back btn-img">
                        <img class="img-responsive my-tooltip" src="./public/theme/img/content/previous.svg" alt="Back" ng-shortcut="'meta+shift+left'" ng-shortcut-click data-title="ctrl+shift+left" />
                    </a>
                </div><!-- Page Header Content -->
                <div class="page-header-content title-block">
                    <h1 class="title"><b>{{$ctrl.action}} Survey Type</b></h1>
                    <p class="subtitle">
                        Masters /
                        <a href="#!/survey-type/list">
                            Survey Types
                        </a> /
                        {{$ctrl.action}}
                    </p>
                </div><!-- Page Header Content -->
            </div><!-- Page Header Content Left -->
        </div><!-- Page Header Inner -->
    </div><!-- Page Header -->
    <!-- Page Main Content -->
    <div class="page-main-content form-content type2">
        <form id="form" autocomplete="off">
            <input type="hidden" name="id" value="{{$ctrl.gate_pass.id}}">
            <input type="hidden" name="form_type" value="1">
            <input type="hidden" name="removal_item_ids"class="removal_item_ids" id="removal_item_ids">
            <div class="page-tab-form pb-70">
                <div class="tab-form-wrap">
                    <div class="tab-form-header">
                        <div class="tab-header">
                            <!-- Filters -->
                            <div class="isotope-filters animated" data-animation="fadeInLeft" data-animation-delay="300">
                                <ul class="nav nav-pills cndn-tabs">
                                    <li class="active">
                                        <a class="filter active" data-target="#general-information" data-toggle="tab" aria-expanded="true">
                                            General Info
                                        </a>
                                    </li>
                                    <li>
                                        <a class="filter" data-target="#question-tab" data-toggle="tab" aria-expanded="true">
                                            Parts / Tools
                                        </a>
                                    </li>
                                </ul>
                            </div><!-- Filters -->
                        </div><!-- Tab Header -->
                    </div><!-- Tab Form Header -->
                    <div class="tab-form-body">
                        <div class="tab-content">
                            <!-- TAB PANEL -->
                            <div class="tab-pane fade in active" id="general-information" data-animation="fadeInUp" data-animation-delay="300">
                                <div class="tab-pane-wrap">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="input-text form-group">
                                                <label>
                                                    Type
                                                    <sup class="mandatory">*</sup>
                                                </label>
                                                <div class="tab-switch">
                                                    <md-switch ng-model="$ctrl.switch_value" aria-label="Switch 4" ng-true-value="'Non Returnable'" ng-false-value="'Returnable'" class="md-warn  type-3">
                                                        {{ $ctrl.switch_value }}
                                                    </md-switch>
                                                    <input type="hidden" name="type" value="{{$ctrl.switch_value}}">
                                                </div>
                                            </div><!-- Form Group -->
                                        </div><!-- Column -->
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Purpose<sup class="mandatory">*</sup></label>
                                                <md-select ng-model="$ctrl.gate_pass.purpose_id" md-on-close="clearSearchTerm()" data-md-container-class="selectdemoSelectHeader" placeholder="Select Purpose">
                                                    <md-select-header class="demo-select-header">
                                                        <input ng-model="searchTerm" type="search" placeholder="Search Purpose" class="demo-header-searchbox md-text" ng-keydown="$event.stopPropagation()">
                                                    </md-select-header>
                                                    <md-optgroup>
                                                        <md-option ng-value="attende_type.id" ng-repeat="attende_type in extras.purpose_list | filter:searchTerm">{{attende_type.name}}</md-option>
                                                    </md-optgroup>
                                                </md-select>
                                                <input type="hidden" class="form-control type-sm required" name="purpose_id" id="purpose_id" value="{{$ctrl.gate_pass.purpose_id}}">
                                            </div><!-- Field -->
                                        </div><!-- column -->
                                        <div class="col-md-4" ng-if="$ctrl.gate_pass.purpose_id == 11362">
                                            <div class="input-text form-group">
                                                <label>
                                                    Reasons
                                                    <sup class="mandatory">*</sup>
                                                </label>
                                                <input type="text" class="form-control required" ng-model="$ctrl.gate_pass.other_remarks" name="other_purpose" placeholder="Enter name"  />
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <div class="col-md-4">
                                            <div class="input-text form-group">
                                                <label>
                                                    Handover To
                                                    <sup class="mandatory">*</sup>
                                                </label>
                                                <input type="text" class="form-control required" ng-model="$ctrl.gate_pass.hand_over_to" name="hand_over_to" placeholder="Enter name"  />
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>
                                                    Search Customer
                                                </label>
                                                <md-autocomplete md-selected-item="$ctrl.gate_pass.gate_pass_customer.customer" md-search-text="customerSearchKey"  md-items="customer in $ctrl.searchCustomer(customerSearchKey)" md-item-text="customer.code"  md-min-length="3" md-escape-options="clear" placeholder="Customer Code/Name" md-selected-item-change="console.log(1);customerSelected(customer)" md-autofocus md-no-cache="true">
                                                    <md-item-template>
                                                        <span>
                                                            {{customer.code}} / {{customer.name}}
                                                        </span>
                                                    </md-item-template>
                                                    <md-not-found>
                                                        No Customer matching "{{customerSearchKey}}" were found.
                                                    </md-not-found>
                                                </md-autocomplete>
                                                <input type="hidden" name="customer_id" value="{{$ctrl.gate_pass.gate_pass_customer.customer.id}}">
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <div class="col-md-4">
                                            <div class="input-text form-group">
                                                <label>
                                                    Customer Name
                                                    <sup class="mandatory">*</sup>
                                                </label>
                                                <input type="text" class="form-control required customer_name " ng-model="$ctrl.gate_pass.gate_pass_customer.customer_name" name="customer_name" placeholder="Enter Name" />
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <div class="col-md-4">
                                            <div class="input-text form-group">
                                                <label>
                                                    Customer Address
                                                    <sup class="mandatory">*</sup>
                                                </label>
                                                <input type="text" class="form-control required customer_address" ng-model="$ctrl.gate_pass.gate_pass_customer.customer_address" name="customer_address" placeholder="Enter Address" />
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <div class="col-md-4" ng-if="$ctrl.switch_value == 'Non Returnable'">
                                            <div class="input-text form-group">
                                                <label>
                                                    Invoice Number
                                                    <sup class="mandatory">*</sup>
                                                </label>
                                                <input type="text" class="form-control required" ng-model="$ctrl.gate_pass.gate_pass_invoice.invoice_number" name="invoice_number" placeholder="Enter Number" />
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <div class="col-md-4" ng-if="$ctrl.switch_value == 'Non Returnable'">
                                            <div class="input-text form-group">
                                                <label>
                                                    Invoice Date
                                                    <sup class="mandatory">*</sup>
                                                </label>
                                                <div class="input-group date" data-provide="datepicker" data-date-end-date="0d">
                                                    <input type="text" class="form-control required" placeholder="Select Date" ng-model="$ctrl.gate_pass.gate_pass_invoice.invoice_date" name="invoice_date" />
                                                    <div class="input-group-addon">
                                                        <img class="img-responsive" src="./public/theme/img/content/calender-gray-icon.svg" alt="Calendar Image" />
                                                    </div>
                                                </div><!-- Input Group -->
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <div class="col-md-4" ng-if="$ctrl.switch_value == 'Non Returnable'">
                                            <div class="input-text form-group">
                                                <label>
                                                    Invoice Amount
                                                    <sup class="mandatory">*</sup>
                                                </label>
                                                <input type="text" class="form-control required" ng-model="$ctrl.gate_pass.gate_pass_invoice.invoice_amount" name="invoice_amount" placeholder="Enter Amount" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" />
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <div class="col-md-4" ng-if="$ctrl.switch_value == 'Returnable'">
                                            <div class="form-group">
                                                <label>
                                                    Search JobCard
                                                </label>
                                                <md-autocomplete md-selected-item="$ctrl.gate_pass.job_card" md-search-text="jobCardSearchKey"  md-items="job_card in $ctrl.searchJobCard(jobCardSearchKey)" md-item-text="job_card.job_card_number"  md-min-length="4" md-escape-options="clear" placeholder="Job Card Number" md-selected-item-change="console.log(1);jobCardSelected(job_card)" md-autofocus md-no-cache="true">
                                                    <md-item-template>
                                                        <span>
                                                            {{job_card.job_card_number}}
                                                        </span>
                                                    </md-item-template>
                                                    <md-not-found>
                                                        No JobCard matching "{{jobCardSearchKey}}" were found.
                                                    </md-not-found>
                                                </md-autocomplete>
                                                <input type="hidden" name="job_card_id" value="{{$ctrl.gate_pass.job_card.id}}">
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <div class="col-md-4" ng-if="$ctrl.switch_value == 'Returnable'">
                                            <div class="input-text form-group">
                                                <label>
                                                    Job Card Date
                                                    <sup class="mandatory">*</sup>
                                                </label>
                                                <input type="text" class="form-control required job_card_date" ng-model="$ctrl.gate_pass.job_card.date" readonly placeholder="Job Card Date" />
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                    </div><!-- Row -->
                                </div><!-- Tab Pane Wrap -->
                            </div><!-- Tabe Pane -->
                            <div class="tab-pane fade in" id="question-tab" data-animation="fadeInUp" data-animation-delay="300">
                                <div class="tab-pane-wrap">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12">
                                            <div class="table-responsive">
                                                <table class="table table-form">
                                                    <thead>
                                                        <tr>
                                                            <th class="text-center" style="width: 5%;">Action</th>
                                                            <th style="width: 15%;">Category</th>
                                                            <th style="width: 25%;">Name</th>
                                                            <th style="width: 40%;">Description</th>
                                                            <th style="width: 15%;">Qty</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="(index, gate_pass_invoice_item) in $ctrl.gate_pass.gate_pass_invoice_items">
                                                            <td>
                                                                <button type="button" class="btn btn-delete" ng-click="$ctrl.removeparts(index,gate_pass_invoice_item.id)">
                                                                    <img class="img-responsive" src="./public/theme/img/table/cndn/delete.svg" alt="Delete" />
                                                                </button>
                                                            </td>
                                                            <td>
                                                                <md-select ng-model="gate_pass_invoice_item.category_id" placeholder="Select Category" md-on-close="clearSearchTL()" data-md-container-class="selectdemoSelectHeader" ng-change="changeCategory(index,part.category_id)">
                                                                    <md-select-header class="demo-select-header">
                                                                        <input ng-model="searchTL" type="search" placeholder="Search Category" class="demo-header-searchbox md-text" ng-keydown="$event.stopPropagation()">
                                                                    </md-select-header>
                                                                    <md-optgroup>
                                                                        <md-option ng-value="category.id" ng-repeat="category in extras.parts_category_list | filter:searchTL">{{category.name}}</md-option>
                                                                    </md-optgroup>
                                                                </md-select>
                                                                <input type="hidden" id="" class="required" name="part_details[{{index}}][category_id]" value="{{gate_pass_invoice_item.category_id}}">
                                                                <input type="hidden" id=""  name="part_details[{{index}}][id]" value="{{gate_pass_invoice_item.id}}">
                                                            </td>
                                                            <td>
                                                                <div ng-if="gate_pass_invoice_item.category_id == 11380">
                                                                    <md-autocomplete md-selected-item="gate_pass_invoice_item.part" md-search-text="partSearchKey" md-items="part in searchParts(partSearchKey)" md-item-text="part.code" md-min-length="3" md-escape-options="clear" placeholder="Ex. F0831610" md-selected-item-change="console.log(1);partSelected(part,index)" md-input-id="partAutoCompleteId">
                                                                        <md-item-template>
                                                                            <span>
                                                                                {{part.code}} / {{part.name}}
                                                                            </span>
                                                                        </md-item-template>
                                                                        <md-not-found>
                                                                            No records matching "{{partSearchKey}}" were found.
                                                                        </md-not-found>
                                                                    </md-autocomplete>
                                                                    <input type="hidden"  name="part_details[{{index}}][entity_id]" value="{{gate_pass_invoice_item.part.id}}">
                                                                </div>
                                                                <div ng-if="gate_pass_invoice_item.category_id == 11381">
                                                                    <input type="text" class="form-control required" ng-if="gate_pass_invoice_item.category_id == 11381" ng-model="gate_pass_invoice_item.entity_name" name="part_details[{{index}}][entity_name]" placeholder="Enter name" />
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div ng-if="gate_pass_invoice_item.category_id == 11380">
                                                                    <input type="text" id="entity_description_{{index}}" class="form-control required entity_description_{{index}}" ng-if="gate_pass_invoice_item.category_id == 11380" value="{{gate_pass_invoice_item.entity_description}}" ng-model="gate_pass_invoice_item.entity_description" name="part_details[{{index}}][entity_description]"  placeholder="Enter Description" readonly/>
                                                                </div>
                                                                <div ng-if="gate_pass_invoice_item.category_id == 11381">
                                                                    <input type="text" class="form-control required" ng-if="gate_pass_invoice_item.category_id == 11381" ng-model="gate_pass_invoice_item.entity_description" name="part_details[{{index}}][entity_description]"  placeholder="Enter Description" />
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <input type="text" class="form-control required" ng-model="gate_pass_invoice_item.issue_qty" name="part_details[{{index}}][issue_qty]"  placeholder="Enter Qty" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"/>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <td colspan="6">
                                                                <button type="button" class="btn btn-primary-light btn-square" ng-click="$ctrl.addNewparts()">+ Add More</button>
                                                            </td>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div><!-- Table Responsive -->
                                        </div><!-- Column -->
                                    </div><!-- Row -->
                                </div><!-- Tab Pane Wrap -->
                            </div><!-- Tabe Pane -->
                            <div class="tab-pane-footer">
                                <div class="row">
                                    <div class="col-md-12">
                                        <a href="#!/gate-pass/list" class="btn btn-secondary btn-prev my-tooltip">Cancel</a>
                                        <button type="submit" class="btn btn-primary submit my-tooltip" ng-shortcut="'meta+shift+s'" ng-shortcut-click data-title="ctrl+shift+s" ng-click="saveGatePass()">Submit</button>
                                    </div>
                                </div>
                            </div><!-- Tab Footer -->
                        </div><!-- Tab Content -->
                    </div><!-- Tab Form Body -->
                </div><!-- Tab Form Wrap -->
            </div><!-- Page Form -->
        </form>
    </div><!-- Page Main Content -->
</div><!-- Content Wrap -->