<!-- Content Wrap -->
<div class="content-wrap cndn-wrap">
    <!-- Page Header -->
    <div class="page-header">
        <div class="page-header-inner">
            <div class="page-header-content-left">
                <div class="page-header-content button-block">
                    <a href="#!/gigo-pkg/vehicle/list" type="button" class="btn-back btn-img">
                        <img class="img-responsive my-tooltip" src="./public/theme/img/content/previous.svg" alt="Back" ng-shortcut="'meta+shift+left'" ng-shortcut-click data-title="ctrl+shift+left" />
                    </a>
                </div><!-- Page Header Content -->
                <div class="page-header-content title-block">
                    <h1 class="title"><b>{{$ctrl.action}} Vehicle</b></h1>
                    <p class="subtitle">
                        Masters /
                        <a href="#!/gigo-pkg/vehicle/list">
                            Vehicles
                        </a> /
                        {{$ctrl.action}}
                    </p>
                </div><!-- Page Header Content -->
            </div><!-- Page Header Content Left -->
        </div><!-- Page Header Inner -->
    </div><!-- Page Header -->
    <!-- Page Main Content -->
    <div class="page-main-content form-content type2">
        <form id="vehicle_form" autocomplete="off">
            <input type="hidden" name="id" value="{{$ctrl.vehicle.id}}">
            <div class="page-tab-form pb-70">
                <div class="tab-form-wrap">
                    <div class="tab-form-header">
                        <div class="tab-header">
                            <!-- Filters -->
                            <div class="isotope-filters animated" data-animation="fadeInLeft" data-animation-delay="300">
                                <ul class="nav nav-pills cndn-tabs">
                                    <li class="active">
                                        <a class="filter active" data-target="#general-information" data-toggle="tab" aria-expanded="true">
                                            General Info
                                        </a>
                                    </li>
                                </ul>
                            </div><!-- Filters -->
                        </div><!-- Tab Header -->
                    </div><!-- Tab Form Header -->
                    <div class="tab-form-body">
                        <div class="tab-content">
                            <!-- TAB PANEL -->
                            <div class="tab-pane fade in active" id="general-information" data-animation="fadeInUp" data-animation-delay="300">
                                <div class="tab-pane-wrap">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>
                                                    Engine Number
                                                    <sup class="mandatory">*</sup>
                                                </label>
                                                <input type="text" class="form-control required" ng-model="$ctrl.vehicle.engine_number" name="engine_number" placeholder="Enter Engine Number" autofocus />
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>
                                                    Chassis Number
                                                    <sup class="mandatory">*</sup>
                                                </label>
                                                <input type="text" class="form-control required" ng-model="$ctrl.vehicle.chassis_number" name="chassis_number" placeholder="Enter Chassis Number" />
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>Model<sup class="mandatory"></sup></label>
                                                <md-select ng-model="$ctrl.vehicle.model_id" md-on-close="clearSearchTerm()" data-md-container-class="selectdemoSelectHeader" placeholder="Select Model">
                                                    <md-select-header class="demo-select-header">
                                                        <input ng-model="searchTerm" type="search" placeholder="Search Model" class="demo-header-searchbox md-text">
                                                    </md-select-header>
                                                    <md-optgroup>
                                                        <md-option ng-value="model_list.id" ng-repeat="model_list in $ctrl.model_list | filter:searchTerm">{{model_list.model_name}}</md-option>
                                                    </md-optgroup>
                                                </md-select>
                                                <input type="hidden" class="form-control" name="model_id" id="model_id" value="{{$ctrl.vehicle.model_id}}">
                                            </div><!-- Field -->
                                        </div><!-- Column -->
                                        <div class="col-md-3">
                                           <div class="input-text form-group">
                                            <label>Is Registered<sup class="mandatory">*</sup></label>
                                            <div class="tab-switch">
                                                <md-switch ng-model="$ctrl.register_val" aria-label="Switch 3" ng-true-value="'No'" ng-false-value="'Yes'" class="md-warn type-2">
                                                    {{ $ctrl.register_val }}
                                                </md-switch>
                                                <input type="hidden" name="register_val" value="{{$ctrl.register_val}}">
                                            </div>
                                        </div><!-- Form Group -->
                                    </div><!-- Column -->
                                    <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>
                                                    Registration Number
                                                    <sup class="mandatory"></sup>
                                                </label>
                                                <input type="text" class="form-control" ng-model="$ctrl.vehicle.registration_number" name="registration_number" placeholder="Enter Registration Number" />
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>
                                                    Vin Number
                                                    <sup class="mandatory"></sup>
                                                </label>
                                                <input type="text" class="form-control" ng-model="$ctrl.vehicle.vin_number" name="vin_number" placeholder="Enter Vin Number" />
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                         <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Sold Date<sup class="mandatory"></sup></label>
                                        <div class="input-group date" data-provide="datepicker">
                                            <input type="text" ng-model="$ctrl.sold_date" name="sold_date" class="form-control" placeholder="Select  Date" />
                                            <div class="input-group-addon">
                                                <img class="img-responsive" src="./public/theme/img/content/calender-gray-icon.svg" alt="Calendar Image" />
                                            </div>
                                        </div><!-- Input Group -->
                                    </div><!-- Feild -->
                                </div><!-- Column -->
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>
                                                    Active Status
                                                    <sup class="mandatory">*</sup>
                                                </label>
                                                <div class="tab-switch">
                                                    <md-switch ng-model="$ctrl.switch_value" aria-label="Switch 1" ng-true-value="'Inactive'" ng-false-value="'Active'" class="md-warn">
                                                        {{ $ctrl.switch_value }}
                                                    </md-switch>
                                                    <input type="hidden" name="status" value="{{$ctrl.switch_value}}">
                                                </div>
                                            </div><!-- Form Group -->
                                        </div><!-- Column -->
                                    </div><!-- Row -->
                                </div><!-- Tab Pane Wrap -->
                            </div><!-- Tabe Pane -->
                            <div class="tab-pane-footer">
                                <div class="row">
                                    <div class="col-md-12">
                                        <a href="#!/gigo-pkg/vehicle/list" class="btn btn-secondary btn-prev my-tooltip">Cancel</a>
                                        <button type="submit" class="btn btn-primary submit my-tooltip" ng-shortcut="'meta+shift+s'" ng-shortcut-click data-title="ctrl+shift+s">Submit</button>
                                    </div>
                                </div>
                            </div><!-- Tab Footer -->
                        </div><!-- Tab Content -->
                    </div><!-- Tab Form Body -->
                </div><!-- Tab Form Wrap -->
            </div><!-- Page Form -->
        </form>
    </div><!-- Page Main Content -->
</div><!-- Content Wrap -->