<div class="content-wrap cndn-wrap">
    <div class="page-header">
        <div class="page-header-inner">
            <div class="page-header-content-left">
                <div class="page-header-content title-block">
                    <h1 class="title type-2">Vehicle Gate Passes<span class="badge badge-secondary" id="table_infos"></span></h1>
                </div><!-- Page Header Content -->
                <div class="page-header-content reset-block">
                    <div class="reset-wrap">
                        <button class="btn-reset reset-tooltip refresh_table my-tooltip" ng-shortcut="'meta+shift+r'" ng-shortcut-click data-title="ctrl+shift+r">
                            <img class="img-responsive" src="./public/theme/img/content/reset.svg" alt="Reset" />
                        </button>
                    </div>
                </div><!-- Page Header Content -->
                <div class="page-header-content search-block">
                    <div class="search_filter">
                        <label>
                            <input type="search" id="search_gate_pass" class="form-control" placeholder="Search"/>
                            <button class="btn-clear my-tooltip" ng-click="clear_search()" ng-shortcut="'meta+shift+c'" ng-shortcut-click data-title="ctrl+shift+c">Clear</button>
                        </label>
                    </div><!-- Search Filter -->
                </div><!-- Page Header Content -->
                <div class="page-header-content button-block">
                    <button class="btn btn-bordered my-tooltip" data-toggle="modal" data-target="#gate-pass-filter-modal" ng-shortcut="'meta+shift+f'" ng-shortcut-click data-title="ctrl+shift+f"></i>Filter</button>
                </div><!-- Page Header Content -->
            </div><!-- Page Header Content Left -->
            <div class="page-header-content-right">
                <div class="page-header-content tab-block">
                    <div class="list-card-icon-wrap">
                        <div class="list-icon in">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="card-icon">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div><!-- List Card Wrap -->
                </div><!-- Page Header Content -->
            </div><!-- Page Header Content Right -->
        </div><!-- Page Header Inner -->
    </div><!-- Page Header -->
    <div class="list-card-tab-wrap">
        <div class="list-tab-content in">
            <div class="page-main-content list-page-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table" id="vehicle-gate-pass-list" style="width: 100% !important;">
                                <thead>
                                    <tr>
                                        <th class="action width-100">Actions</th>
                                        <th>Date & Time</th>
                                        <th>Gate Pass No.</th>
                                        <th>Registration No</th>
                                        <th>Driver Name</th>
                                        <th>Driver Mobile</th>
                                        <th>Veh. Model</th>
                                        <th>Job Card No.</th>
                                        <th>Status</th> 
                                    </tr>
                                </thead>
                            </table>
                        </div><!-- Column -->
                    </div><!-- Row -->
                </div><!-- Container -->
            </div><!-- Page Main Content -->
        </div><!-- List Tab Content -->
        <div class="card-tab-content">
            <div class="page-card-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="card-list">
                                <li ng-repeat="(index,vehicle_gate_pass) in $ctrl.vehicle_gate_pass_list">
                                    <div class="card-box">
                                        <div class="card-box-body">
                                            <p class="card-top-info">Created on :  {{vehicle_gate_pass.gate_in_date_time}} </p>
                                            <div class="box-list">
                                                <div class="box-left">
                                                    <div class="box-color green">
                                                        <div class="box-color-title">{{vehicle_gate_pass.registration_number}}</div>
                                                        <div class="box-color-subtitle">{{vehicle_gate_pass.model_name}}</div>
                                                    </div>
                                                </div><!-- Box Left -->
                                                <div class="box-right">
                                                    <div class="box-info">
                                                        <div class="box-info-head">V Gate Pass No</div>
                                                        <div class="box-info-body">
                                                            <div class="box-info-body-title">{{vehicle_gate_pass.gate_pass_no}}</div>
                                                        </div>
                                                    </div><!-- Box Info -->
                                                </div><!-- Box Right -->
                                            </div><!-- Box List -->
                                            <div class="card-box-content mb-8">
                                                <img class="img-responsive" src="./public/theme/img/content/download-red.svg" alt="Image" />
                                                <span class="card-box-content-value"><b>{{vehicle_gate_pass.driver_name}}  |  {{vehicle_gate_pass.contact_number}}</b></span>
                                            </div>
                                            <div class="card-box-content">
                                                <img class="img-responsive" src="./public/theme/img/content/download-red.svg" alt="Image" />
                                                <span class="card-box-content-value">JC No : {{vehicle_gate_pass.job_card_number}}</span>
                                            </div>
                                        </div><!-- Card Box Body -->
                                        <div class="card-box-footer">
                                            <div class="card-box-footer-left">
                                                <div class="card-box-footer-info">
                                                    <img class="img-responsive" src="./public/theme/img/content/icon-exclamatory.svg" alt="Icon" />
                                                    <span class="card-box-footer-value">{{vehicle_gate_pass.status}}</span>
                                                </div>
                                            </div>
                                            <div class="card-box-footer-right">
                                                <a href="#!/gigo-pkg/vehicle-gate-pass/view/{{vehicle_gate_pass.gate_log_id}}" class="btn btn-square btn-md btn-red">View</a>
                                                <button class="btn btn-square btn-md btn-secondary-dark" ng-show="vehicle_gate_pass.status_id == 8123" ng-click=vehicleGateOut(vehicle_gate_pass.gate_log_id)>Gate Out</button>
                                            </div>
                                        </div><!-- Card Box Footer -->
                                    </div><!-- Card Box -->
                                </li>
                            </ul><!-- Card List -->
                        </div><!-- Column -->
                    </div><!-- Row -->
                </div><!-- Container -->
            </div><!-- Page Card Content -->
        </div><!-- Card Tab Content -->
    </div><!-- List & Card Tab Wrap -->
</div><!-- Content Wrap -->
<!-- Modal -->
<div class="modal fade filter" id="gate-pass-filter-modal" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog filter-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close ripple" data-dismiss="modal" aria-label="Close"><i class="icon ion-md-close"></i></button>
                <h5 class="modal-title" id="myModalLabel">Filter</h5>
            </div><!-- Modal Header -->
            <div class="modal-body">
                <div class="modal-form">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Vendor<span class="mandatory">*</span></label>
                                <input type="text" class="form-control" placeholder="Enter" aria-invalid="false" />
                            </div><!-- Field -->
                        </div><!-- Column -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Outlet<span class="mandatory">*</span></label>
                                <input type="text" class="form-control" placeholder="Enter" aria-invalid="false" />
                            </div><!-- Field -->
                        </div><!-- Column -->
                        <div class="col-md-6">
                            <div class="input-text form-group">
                                <label>Invoice Date<span class="mandatory">*</span></label>
                                <div class="input-group date" data-provide="datepicker">
                                    <input type="text" class="form-control" placeholder="Select Date" aria-invalid="false">
                                    <div class="input-group-addon">
                                        <img src="./public/theme/img/content/calender-gray-icon.svg" class="img-responsive">
                                    </div>
                                </div><!-- Input Group -->
                            </div><!-- Field -->
                        </div><!-- Column -->
                    </div><!-- Row -->
                </div><!-- Modal Form -->
            </div><!-- Modal Body -->
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-6">
                        <button type="button" class="reset-link">Reset Filter</button>
                    </div><!-- Column -->
                    <div class="col-md-6 text-right">
                        <button type="button" class="btn btn-primary btn-md">Apply</button>
                    </div><!-- Column -->
                </div><!-- Row -->
            </div><!-- Modal Footer -->
        </div><!-- Modal Content -->
    </div><!-- Modal Dialog -->
</div><!-- Modal -->
<!-- Submit Alert Modal -->
<div class="modal modal-success alert-modal fade" id="confirm_notification" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <img class="img-responsive img-center" src="./public/theme/img/content/success-green.svg" />
                <h6 class="title"><b>Gate Out Success</b></h6>
                <p class="info data">Vehicle successfully gated Out</p>
                <p class="info">Gate Pass No : <span id="gate_pass"></span></p>
                <p class="info">Reg No : <span id="registration_number"></p>
                <div class="mt-30 mb-30">
                    <a href="#" class="btn btn-success btn-square btn-block" data-dismiss="modal"><b>Done</b></a>
                </div><!-- Button -->
            </div><!-- Modal Body -->
        </div><!-- Modal Content -->
    </div><!-- Modal Dialog -->
</div><!-- Modal Content -->
<!-- Modal -->