<!-- Content Wrap -->
<div class="content-wrap">
    <!-- Page Header -->
    <div class="page-header">
        <div class="page-header-inner">
            <div class="page-header-content-left">
                <div class="page-header-content button-block">
                    <a href="#!/vehicle-gate-pass/card-list" type="button" class="btn-back btn-img my-tooltip" ng-shortcut="'meta+shift+left'" ng-shortcut-click data-title="ctrl+shift+left">
                        <img class="img-responsive" src="./public/theme/img/content/previous.svg" />
                    </a>
                </div>
                <div class="page-header-content title-block">
                    <h1 class="title">Vehicle Gate Out</h1>
                    <p class="subtitle"><a href="#!/vehicle-gate-pass/card-list">Vehicle Gate Out </a> / View </p>
                </div>
            </div>
        </div><!-- Page Header Inner -->
    </div><!-- Page Header -->
    <!-- Page Main Content -->
    <div class="page-main-content form-content">
        <div class="container">
            <form id="gate_pass_out" autocomplete="off">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-form pb-60">
                            <div class="row">
                                <div class="col-lg-12">
                                    <input type="hidden" name="gate_log_id" value="{{$ctrl.vehicle_gate_pass.id}}">
                                    <h5 class="font-semi-dark mb-0">{{$ctrl.vehicle_gate_pass.job_order.vehicle ? $ctrl.vehicle_gate_pass.job_order.vehicle.registration_number : '--'}}</h5>
                                    <h6 class=""><b>{{$ctrl.vehicle_gate_pass.job_order.vehicle.model ? $ctrl.vehicle_gate_pass.job_order.vehicle.model.model_number : '--'}}</b></h6>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="border-box">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <table class="table-info">
                                                            <tbody>
                                                                <tr>
                                                                    <td><b>Driver Name</b></td>
                                                                    <td>{{$ctrl.vehicle_gate_pass.job_order.driver_name ? $ctrl.vehicle_gate_pass.job_order.driver_name : '--'}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td><b>Driver Mobile No.</b></td>
                                                                    <td>{{$ctrl.vehicle_gate_pass.job_order.driver_mobile_number ? $ctrl.vehicle_gate_pass.job_order.driver_mobile_number : '--'}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td><b>Gate In No</b></td>
                                                                    <td>{{$ctrl.vehicle_gate_pass ? $ctrl.vehicle_gate_pass.number : '--'}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td><b>Gate In Date & Time</b></td>
                                                                    <td>{{$ctrl.vehicle_gate_pass.gate_in_date}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td><b>Job Card No</b></td>
                                                                    <td>{{$ctrl.vehicle_gate_pass.job_order.job_card ? $ctrl.vehicle_gate_pass.job_order.job_card.job_card_number : '--'}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td><b>Gatepass No</b></td>
                                                                    <td>{{$ctrl.vehicle_gate_pass.gate_pass ? $ctrl.vehicle_gate_pass.gate_pass.number : '--'}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td><b>Gate Out Date & Time</b></td>
                                                                    <td>{{$ctrl.vehicle_gate_pass.gate_out_date}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td><b>Status</b></td>
                                                                    <td>{{$ctrl.vehicle_gate_pass.status.name}}</td>
                                                                </tr>
                                                                <tr ng-if="$ctrl.vehicle_gate_pass.gate_pass.status_id == 8341">
                                                                    <td><b>Remarks</b></td>
                                                                    <td>{{$ctrl.vehicle_gate_pass.gate_out_remarks}}</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div><!-- Column -->
                                                    <div class="col-md-6">
                                                        <div class="multi-img">
                                                            <table class="table-info">
                                                                <tbody>
                                                                    <tr>
                                                                        <td class="text-center">Vehicle Image</td>
                                                                        <td></td>
                                                                        <td class="text-center">KM Image</td>
                                                                        <td></td>
                                                                        <td class="text-center">Driver Image</td>
                                                                        <td></td>
                                                                        <td class="text-center">Chassis Image</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td><img class="img-responsive" src="{{$ctrl.vehicle_gate_pass.gate_in_attachment_path}}/{{$ctrl.vehicle_gate_pass.vehicle_attachment.name}}" alt="Images" /></td>
                                                                        <td></td>
                                                                        <td><img class="img-responsive" src="{{$ctrl.vehicle_gate_pass.gate_in_attachment_path}}/{{$ctrl.vehicle_gate_pass.km_attachment.name}}" alt="Images" /></td>
                                                                        <td>&nbsp;&nbsp;</td>
                                                                        <td> <img class="img-responsive" src="{{$ctrl.vehicle_gate_pass.gate_in_attachment_path}}/{{$ctrl.vehicle_gate_pass.driver_attachment.name}}" alt="Images" /></td>
                                                                        <td></td>
                                                                        <td><img class="img-responsive" src="{{$ctrl.vehicle_gate_pass.gate_in_attachment_path}}/{{$ctrl.vehicle_gate_pass.chassis_attachment.name}}" alt="Images" /></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div><!-- Column -->
                                                </div><!-- Row -->
                                            </div><!-- Border Box -->
                                        </div><!-- Column -->
                                    </div><!-- Row -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h6 class=""><b>Returned Items</b></h6>
                                            <ul class="flex-row type-3">
                                                <li class="flex-col-4" ng-repeat="(index,job_card_returnable_item) in $ctrl.vehicle_gate_pass.job_order.job_card.job_card_returnable_items">
                                                    <div class="border-box type-2">
                                                        <div class="top-title">Break Shoe <span class="right-text">Qty : {{job_card_returnable_item.qty}}</span></div>
                                                        <div class="mb-20"></div><!-- Spacing -->
                                                        <table class="table-info">
                                                            <tbody>
                                                                <tr>
                                                                    <td>Make</td>
                                                                    <td>: {{job_card_returnable_item.item_make}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Model</td>
                                                                    <td>: {{job_card_returnable_item.item_model}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Seriel no</td>
                                                                    <td>: {{job_card_returnable_item.item_serial_no}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Remarks</td>
                                                                    <td>: {{job_card_returnable_item.remarks}}</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <div class="mb-10"></div><!-- Spacing -->
                                                        <div class="row" ng-if="job_card_returnable_item.attachment.length > 0">
                                                            <div class="col-md-12">
                                                                <div class="col-md-4" ng-repeat="(indexx, attach) in job_card_returnable_item.attachment">
                                                                    <img class="img-responsive wid-60" src="storage/app/public/gigo/returnable_items/{{attach.name}}" alt="Image" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div><!-- Border Box -->
                                                </li>
                                                <li class="flex-col-4" ng-if="$ctrl.vehicle_gate_pass.job_order.job_card.job_card_returnable_items.length == 0">
                                                    No Items Returned
                                                </li>
                                            </ul><!-- Flex Row -->
                                        </div><!-- Column -->
                                    </div><!-- Row -->
                                    <div class="row" ng-if="$ctrl.vehicle_gate_pass.gate_pass.status_id == 8340">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label>Remarks</label>
                                                <textarea class="form-control" ng-model="$ctrl.vehicle_gate_pass.gate_out_remarks" rows="4" placeholder="Enter Remarks" name="remarks"></textarea>
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                    </div><!-- Row -->
                                </div><!-- Column -->
                            </div><!-- Row -->
                        </div><!-- Page Form -->
                    </div><!-- Column -->
                </div><!-- Row -->
                <div class="page-form-footer">
                    <div class="row">
                        <div class="col-md-12">
                            <a href="#!/vehicle-gate-pass/table-list" class="btn btn-bordered btn-grey my-tooltip" ng-shortcut="'meta+shift+left'" ng-shortcut-click data-title="ctrl+shift+left">Cancel</a>
                            <button type="submit" class="btn btn-secondary-dark submit" ng-show="$ctrl.vehicle_gate_pass.gate_pass.status_id == 8340">Confirm Gate Out</button>
                        </div>
                    </div>
                </div><!-- Page Form Footer -->
            </form>
        </div><!-- Container -->
    </div><!-- Page Main Content -->
</div><!-- Content Wrap -->
<!-- Submit Alert Modal -->
<div class="modal modal-success alert-modal fade" id="confirm_notification" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <img class="img-responsive img-center" src="./public/theme/img/content/success-green.svg" />
                <h6 class="title"><b>Gate Out Success</b></h6>
                <p class="info data">Vehicle successfully gated Out</p>
                <p class="info">Gate Pass No : <span id="gate_pass"></span></p>
                <p class="info">Reg No : <span id="registration_number"></p>
                <div class="mt-30 mb-30">
                    <!-- <a href="#!/gigo-pkg/vehicle-gate-pass/list" class="btn btn-success btn-square btn-block" data-dismiss="modal" ng-click="reloadPage()"><b>Done</b></a> -->
                    <a href="javascript:;" class="btn btn-success btn-square btn-block" data-dismiss="modal" ng-click="reloadPage()"><b>Done</b></a>
                </div><!-- Button -->
            </div><!-- Modal Body -->
        </div><!-- Modal Content -->
    </div><!-- Modal Dialog -->
</div><!-- Modal Content -->
<!-- Modal -->