<!--Content Wrap -->
<div class="content-wrap scan_qr" ng-show="showQrScan">
    <!-- Page Header -->
    <div class="page-header">
        <div class="page-header-inner">
            <div class="attendance-qr-details">
                <div class="row">
                    <div class="col-md-4">
                        <div class="page-header-content-left">
                            <div class="page-header-content button-block">
                                <a href="#!/static/procurement/payment/customer-search" type="button" class="btn-back btn-img">
                                    <img class="img-responsive" src="./public/theme/img/content/previous.svg" />
                                </a>
                            </div>
                            <div class="page-header-content title-block">
                                <h1 class="title">Attendance</h1>
                            </div>
                        </div><!-- Page Header Content Left -->
                    </div><!-- Column -->
                    <div class="col-md-4">
                        <p class="location"><img class="img-responsive map-marker" src="./public/theme/img/content/map-marker.svg" alt="Location" />{{user.employee.outlet.name ? user.employee.outlet.name : ''}}</p>
                    </div><!-- Column -->
                    <div class="col-md-4">
                        <div class="page-header-content-right">
                            <span class="date">{{date |date:'dd/MM/yyyy'}} - {{date |date:'EEEE'}}</span>
                            <span class="time">{{time |date:'shortTime'}}</span>
                        </div><!-- Page Header Content Right -->
                    </div><!-- Column -->
                </div><!-- Row -->
            </div>
        </div><!-- Page Header Inner -->
    </div><!-- Page Header -->
    <!-- Page Main Content -->
    <div class="page-main-content form-content">
        <form id="attendance_form">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-form pb-60">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="qr-bg1">
                                        <qr-scanner width="400" height="300" ng-success="onSuccess(data)" ng-error="onError(error)" />
                                        <p class="info">Show QR Code</p>
                                    </div>
                                </div><!-- Column -->
                                <div class="col-md-12">
                                    <!-- <input type="text" name="encrypted_id" value="" id="encrypted_id" ng-model="encrypted_id"> -->
                                    <div class="text-center pt-80">
                                        <!-- <button type="submit" class="btn btn-red btn-min-wdth" ng-click="Punch()">Submit</button> -->
                                        <a href="#!/gigo-pkg/kanban-app" ng-click="reloadPage()"><button class="btn btn-red btn-min-wdth">Back</button></a>
                                    </div>
                                </div><!-- Column -->
                            </div><!-- Row -->
                        </div><!-- Page Form -->
                    </div><!-- Column -->
                </div><!-- Row -->
            </div><!-- Container -->
        </form>
    </div><!-- Page Main Content -->
</div><!-- Content Wrap-->
<!--Check In Success ---->
<!-- Content Wrap -->
<div class="content-wrap check_in_success" ng-show="showCheckInSuccess">
    <!-- Page Main Content -->
    <div class="page-main-content form-content">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-form pb-60">
                        <div class="row">
                            <div class="col-md-12">
                                <ul class="flex-row ">
                                    <li class="flex-col-4 mb-20">
                                        <div class="white-box-wrap">
                                            <div class="img-wrap">
                                                <img class="img-responsive profile" src="./public/theme/img/content/profile.jpg" alt="Profile" />
                                            </div><!-- Img Wrap -->
                                            <div class="right-wrap">
                                                <h4 class="title">{{punch_user.employee.name}}</h4>
                                                <span class="info">Employee code : {{punch_user.employee.code}}</span>
                                                <span class="grey-box">{{punch_user.role.name}}</span>
                                                <span class="location"><img class="img-responsive map-marker-sm" src="./public/theme/img/content/map-marker.svg" alt="Location" />{{punch_user.employee.outlet.name}}</span>
                                            </div><!-- Right Wrap -->
                                        </div><!-- White Box Wrap -->
                                    </li>
                                    <li class="flex-col-4 mb-20">
                                        <div class="white-box-wrap">
                                            <img class="img-responsive mt-30 img-center" src="./public/theme/img/content/icons/check.svg" alt="Check" />
                                            <h4 class="title text-center mb-0">Check-In Success</h4>
                                        </div><!-- White Box Wrap -->
                                    </li>
                                    <li class="flex-col-4 mb-20">
                                        <div class="white-box-wrap">
                                            <ul class="shift-time-list">
                                                <li class="shift-time-list-item">Shift Start Time : 09:00 am</li>
                                            </ul>
                                            <h4 class="date text-center">{{punch_in.date |date:'dd/MM/yyyy'}} - {{date |date:'EEEE'}}</h4>
                                            <span class="time text-center">Check In Time- {{punch_in.in_time}}</span>
                                        </div><!-- White Box Wrap -->
                                    </li>
                                </ul>
                            </div><!-- Column -->
                            <div class="col-md-12">
                                <div class="button-lg">
                                    <!--      <a href="#!/gigo-pkg/kanban-app/attendance/scan-qr" class="btn btn-secondary-dark btn-square">DONE</a> -->
                                    <button class="btn btn-secondary-dark btn-square" ng-click="reloadPage()">DONE</button>
                                </div>
                            </div><!-- Column -->
                        </div><!-- Row -->
                    </div><!-- Page Form -->
                </div><!-- Column -->
            </div><!-- Row -->
        </div><!-- Container -->
    </div><!-- Page Main Content -->
</div><!-- Content Wrap -->
<!--Check Out Success ---->
<!-- Content Wrap -->
<div class="content-wrap check_out_success" ng-show="showCheckOutConfirmation">
    <!-- Page Main Content -->
    <div class="page-main-content form-content">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-form pb-60">
                        <div class="row">
                            <div class="col-md-12">
                                <ul class="flex-row ">
                                    <li class="flex-col-4 mb-20">
                                        <div class="white-box-wrap">
                                            <div class="img-wrap">
                                                <img class="img-responsive profile" src="./public/theme/img/content/profile.jpg" alt="Profile" />
                                            </div><!-- Img Wrap -->
                                            <div class="right-wrap">
                                                <h4 class="title">{{punch_user.employee.name}}</h4>
                                                <span class="info">Employee code : {{punch_user.employee.code}}</span>
                                                <span class="grey-box">{{punch_user.role.name}}</span>
                                                <span class="location"><img class="img-responsive map-marker-sm" src="./public/theme/img/content/map-marker.svg" alt="Location" />{{punch_user.employee.outlet.name}}</span>
                                            </div><!-- Right Wrap -->
                                        </div><!-- White Box Wrap -->
                                    </li>
                                    <li class="flex-col-4 mb-20">
                                        <div class="white-box-wrap">
                                            <img class="img-responsive mt-30 img-center" src="./public/theme/img/content/icons/check.svg" alt="Check" />
                                            <h4 class="title text-center mb-0">Check-Out Success</h4>
                                        </div><!-- White Box Wrap -->
                                    </li>
                                    <li class="flex-col-4 mb-20">
                                        <div class="white-box-wrap">
                                            <ul class="shift-time-list">
                                                <li class="shift-time-list-item">Check In Time - {{punch_out.in_time | date:'shortTime'}}</li>
                                                <li class="shift-time-list-item">Total Hours Worked : {{punch_out.duration | date:'shortTime'}}</li>
                                                <li class="shift-time-list-item">Shift End Time - 06:00 pm</li>
                                            </ul>
                                            <h4 class="date text-center">{{punch_out.date |date:'dd/MM/yyyy'}} - {{punch_out.date |date:'EEEE'}}</h4>
                                            <span class="time text-center">Check Out Time - {{punch_out.out_time}}</span>
                                        </div><!-- White Box Wrap -->
                                    </li>
                                </ul>
                            </div><!-- Column -->
                            <div class="col-md-12">
                                <div class="button-lg">
                                    <!-- <a href="#!/gigo-pkg/kanban-app/attendance/scan-qr" class="btn btn-secondary-dark btn-square">DONE</a> -->
                                    <button class="btn btn-secondary-dark btn-square" ng-click="reloadPage()">DONE</button>
                                </div>
                            </div><!-- Column -->
                        </div><!-- Row -->
                    </div><!-- Page Form -->
                </div><!-- Column -->
            </div><!-- Row -->
        </div><!-- Container -->
    </div><!-- Page Main Content -->
</div><!-- Content Wrap -->
<!-- Content Wrap -->
<div class="content-wrap check_out_confirm" ng-show="showCheckOut">
    <!-- Page Main Content -->
    <div class="page-main-content form-content">
        <form id="punch_out_form">
            <input type="hidden" name="encrypted_id" id="punch_out_encrypted_id" value="{{punch_user.id}}">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-form pb-60">
                            <div class="row">
                                <div class="col-md-12">
                                    <ul class="flex-row ">
                                        <li class="flex-col-4 mb-20">
                                            <div class="white-box-wrap">
                                                <div class="img-wrap">
                                                    <img class="img-responsive profile" src="./public/theme/img/content/profile.jpg" alt="Profile" />
                                                </div><!-- Img Wrap -->
                                                <div class="right-wrap">
                                                    <h4 class="title">{{punch_user.employee.name}}</h4>
                                                    <span class="info">Employee code : {{punch_user.employee.code}}</span>
                                                    <span class="grey-box">{{punch_user.role.name}}</span>
                                                    <span class="location"><img class="img-responsive map-marker-sm" src="./public/theme/img/content/map-marker.svg" alt="Location" />{{punch_user.employee.outlet.name}}</span>
                                                </div><!-- Right Wrap -->
                                            </div><!-- White Box Wrap -->
                                        </li>
                                        <li class="flex-col-8 mb-20">
                                            <div class="white-box-wrap">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="input-text form-group">
                                                            <label>Check-Out Type <sup class="mandatory">*</sup></label>
                                                            <md-select ng-model="punch_out_method.id" md-on-close="clearSearchTerm()" data-md-container-class="selectdemoSelectHeader" placeholder="Select Check-Out Type">
                                                                <md-select-header class="demo-select-header">
                                                                    <input ng-model="searchTerm" type="search" placeholder="Search for a Check-Out Type" class="demo-header-searchbox md-text">
                                                                </md-select-header>
                                                                <md-optgroup>
                                                                    <md-option ng-value="punch_out_method.id" ng-repeat="punch_out_method in punch_out_method_list | filter:searchTerm">{{punch_out_method.name}}</md-option>
                                                                </md-optgroup>
                                                            </md-select>
                                                            <input type="hidden" class="form-control type-sm" required name="punch_out_method_id" id="punch_out_method_id" value="{{punch_out_method.id}}">
                                                        </div><!-- Form Group -->
                                                    </div><!-- Column -->
                                                    <div class="col-md-12">
                                                        <!-- <sup class="mandatory">*</sup> -->
                                                        <label>Remarks </label>
                                                        <input type="text" name="remarks" class="form-control" placeholder="Enter Remarks" autocomplete="off" />
                                                    </div><!-- Column -->
                                                </div><!-- Row -->
                                            </div><!-- White Box Wrap -->
                                        </li>
                                    </ul>
                                </div><!-- Column -->
                                <div class="col-md-12">
                                    <div class="button-lg">
                                        <button type="submit" ng-click="savePunchOut()" id="submit" class="btn btn-secondary-dark btn-square submit">SUBMIT</button>
                                    </div>
                                </div><!-- Column -->
                            </div><!-- Row -->
                        </div><!-- Page Form -->
                    </div><!-- Column -->
                </div><!-- Row -->
            </div><!-- Container -->
        </form>
    </div><!-- Page Main Content -->
</div><!-- Content Wrap