<div class="content-wrap cndn-wrap">
    <div class="page-header">
        <div class="page-header-inner">
            <div class="page-header-content-left">
                <div class="page-header-content title-block">
                    <h1 class="title type-2">My Job cards<span class="badge badge-secondary">{{my_job_card_list.length}}</span></h1>
                </div><!-- Page Header Content -->
                <div class="page-header-content">
                    <div class="jc-profile">
                        <img class="img-responsive profile-image" src="./public/theme/img/content/profile.jpg" alt="Profile">
                        <span>
                            <b>
                                {{user_details.name}} |
                            </b>
                            ECode : {{user_details.ecode}} | {{user_details.employee.outlet.state.code}} / {{user_details.employee.outlet.code}} / {{user_details.employee.is_mechanic == 1 ? 'Mechanic' : 'Not a Mechanic'}}
                        </span>
                    </div>
                </div><!-- Page Header Content -->
            </div><!-- Page Header Content Left -->
            <div class="page-header-content-right">
                <div class="page-header-content tab-block">
                    <div class="list-card-icon-wrap">
                         <div class="list-icon" ng-click="listRedirect('table')">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="card-icon in" ng-click="listRedirect('card')">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div><!-- List Card Wrap -->
                </div><!-- Page Header Content -->
            </div><!-- Page Header Content Right -->
        </div><!-- Page Header Inner -->
    </div><!-- Page Header -->
    <div class="card-tab-content">
        <div class="page-card-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="card-list">
                            <li ng-repeat="(key, my_job_card_list) in my_job_card_list">
                                <div class="card-box">
                                    <div class="card-box-head">
                                        <div class="card-box-head-title">
                                            Created on : {{my_job_card_list.created_at}}
                                        </div>
                                    </div>
                                    <div class="card-box-body">
                                        <div class="box-list">
                                            <div class="box-left">
                                                <div class="box-transparent">
                                                    <div class="box-transparent-title">
                                                        {{my_job_card_list.registration_number}}
                                                    </div>
                                                    <div class="box-transparent-subtitle">
                                                        {{my_job_card_list.model_number}}
                                                    </div>
                                                </div>
                                            </div><!-- Box Left -->
                                            <div class="box-right">
                                                <div class="box-info">
                                                    <div class="box-info-head">
                                                        JC No
                                                    </div>
                                                    <div class="box-info-body">
                                                        <div class="box-info-body-text">
                                                            <b>
                                                                {{my_job_card_list.jc_number}}
                                                            </b>
                                                        </div>
                                                    </div>
                                                </div><!-- Box Info -->
                                            </div><!-- Box Right -->
                                        </div><!-- Box List -->
                                        <div class="card-box-content mb-8">
                                            <img class="img-responsive" src="./public/theme/img/content/jc_profile.svg" alt="Image" />
                                            <span class="card-box-content-value">
                                                <b>
                                                    {{my_job_card_list.customer_name}}
                                                </b>
                                            </span>
                                        </div>
                                        <div class="card-box-content">
                                            <img class="img-responsive" src="./public/theme/img/content/jc_setup.svg" alt="Image">
                                            <span class="card-box-content-value">
                                                No. of ROT’s : {{my_job_card_list.no_of_ROTs}}
                                            </span>
                                        </div>
                                    </div><!-- Card Box Body -->
                                    <div class="card-box-footer">
                                        <div class="card-box-footer-left">
                                            <div class="card-box-footer-info">
                                                <img class="img-responsive" src="./public/theme/img/content/icon-exclamatory.svg" alt="Icon" />
                                                <span class="card-box-footer-value">
                                                    {{my_job_card_list.status}}
                                                </span>
                                            </div>
                                        </div>
                                        <div class="card-box-footer-right">
                                            <a href=".#!/my-jobcard/view/{{user_details.id}}/{{my_job_card_list.id}}" class="btn btn-square btn-md btn-red">
                                                View
                                            </a>
                                        </div>
                                    </div><!-- Card Box Footer -->
                                </div><!-- Card Box -->
                            </li>
                        </ul><!-- Card List -->
                    </div><!-- Column -->
                </div><!-- Row -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-right">
                            <a href="#!/kanban-app" type="button" class="btn btn-red btn-min-wdth">Close</a>
                        </div>
                    </div><!-- Column -->
                </div><!-- Row -->
            </div><!-- Container -->
        </div><!-- Page Card Content -->
    </div><!-- Card Tab Content -->
</div><!-- Content Wrap -->