<style type="text/css">
.my-disable {
    pointer-events: none;
}
</style>
<!--Content Wrap -->
<div class="content-wrap">
    <!-- Page Header -->
    <div class="page-header">
        <div class="page-header-inner">
            <div class="page-header-content-left">
                <div class="page-header-content button-block">
                    <a href="#!/my-jobcard/card-list/{{user_details.id}}" type="button" class="btn-back btn-img">
                        <img class="img-responsive" src="./public/theme/img/content/previous.svg" />
                    </a>
                </div>
                <div class="page-header-content title-block">
                    <h1 class="title">
                        My Job Card
                    </h1>
                    <p class="subtitle">
                        Job card / My Job card / View
                    </p>
                </div>
                <div class="page-header-content">
                    <div class="jc-profile">
                        <img class="img-responsive profile-image" src="./public/theme/img/content/profile.jpg" alt="Profile">
                        <span>
                            <b>
                                {{user_details.name}} |
                            </b>
                            ECode : {{user_details.ecode}} | {{user_details.employee.outlet.state.code}} / {{user_details.employee.outlet.code}} / Mechanic
                        </span>
                    </div>
                </div><!-- Page Header Content -->
            </div><!-- Page Header Content Left -->
        </div><!-- Page Header Inner -->
    </div><!-- Page Header -->
    <!-- Page Main Content -->
    <div class="page-main-content form-content type2">
        <div class="page-tab-form-top type-2">
            <div class="page-tab-form-top-left">
                <div class="page-tab-form-top-left-info pad-lf-rt">
                    <span class="page-tab-form-top-left-info-content">
                        <b>
                            JC No: {{job_card.job_card_number}} |
                        </b>
                        {{job_card.job_order.vehicle.registration_number}} | {{job_card.job_order.vehicle.model.model_number}} | {{job_card.created_at}}
                    </span>
                </div>
            </div><!-- Page Tab Form Top Left -->
            <div class="page-tab-form-top-right">
                <div class="page-tab-form-top-right-info">
                    Status : {{job_card.status.name}}
                </div>
            </div><!-- Page Tab Form Top Right -->
        </div><!-- Page Tab Form Top -->
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-form pb-60 mt-30">
                        <h5 class="jc-update-title">
                            Total Labours ({{my_job_orders.length}})
                        </h5>
                        <p class="jc-update-label">
                            Assign to Mechanics
                        </p>
                        <ul class="card-list">
                            <li ng-repeat="(key, my_job_order) in my_job_orders">
                                <div class="card-box type-2">
                                    <div class="card-box-info">
                                        <div class="card-box-head">
                                            <div class="info">
                                                {{my_job_order.repair_code}}
                                            </div>
                                            <div class="title">
                                                {{my_job_order.repair_name}}
                                            </div>
                                            <input type="hidden" id="repair_repair_order_id{{key}}" value="{{my_job_order.job_order_repair_order_id}}">
                                        </div>
                                        <div class="card-box-label">
                                            <div class="info">
                                                Assigned to: <span ng-repeat="(index, assigned_mechanics) in my_job_order.assigned_mechanics">{{assigned_mechanics.name}}{{$last ? '' : ', '}}</span>
                                            </div>
                                        </div>
                                        <div class="card-box-body" ng-if="my_job_order.status_id == 8260 ||  my_job_order.status_id == 8264">
                                            <!-- <span class="card-box-content-wrap" ng-click="StartWork(8261,key)">
                                                <div class="card-box-content bg-dark">
                                                    <span class="info">
                                                        Start
                                                    </span>
                                                </div>
                                            </span> -->
                                            <span class="card-box-content-wrap" ng-class="{'my-disable':other_work_status == 1}" ng-click="ConfirmStart(my_job_order.repair_code,my_job_order.repair_name,8261,key)">
                                                <div class="card-box-content bg-dark">
                                                    <span class="info">
                                                        Start
                                                    </span>
                                                </div>
                                            </span>
                                        </div><!-- Card Box Body -->
                                        <div class="card-box-body" ng-if="my_job_order.status_id == 8261">
                                            <span class="card-box-content-wrap alstart">
                                                <div class="card-box-content bg-grey">
                                                    <span class="data">
                                                        Start Time
                                                    </span>
                                                    <span class="data small">
                                                        {{my_job_order.start_time}}
                                                    </span>
                                                </div>
                                            </span>
                                            <span class="card-box-content-wrap" ng-click="PauseWork(key)">
                                                <a data-toggle="modal" data-target="#pause_work_modal">
                                                    <div class="card-box-content bg-dark">
                                                        <span class="info">
                                                            Pause<br> Work
                                                        </span>
                                                    </div>
                                                </a>
                                            </span>
                                            <span class="card-box-content-wrap" ng-click="FinishWork(8263,key)">
                                                <a data-toggle="modal" data-target="#finish_work">
                                                    <div class="card-box-content bg-red">
                                                        <span class="info">
                                                            Finish<br> Work
                                                        </span>
                                                    </div>
                                                </a>
                                            </span>
                                        </div><!-- Card Box Body -->
                                        <div class="card-box-body" ng-if="my_job_order.status_id == 8262">
                                            <span class="card-box-content-wrap alstart">
                                                <div class="card-box-content bg-grey">
                                                    <span class="data">
                                                        Start Time
                                                    </span>
                                                    <span class="data small">
                                                        {{my_job_order.start_time}}
                                                    </span>
                                                </div>
                                            </span>
                                            <span class="card-box-content-wrap" ng-click="StartWork(8261,key)" ng-class="{'my-disable':other_work_status == 1}">
                                                <div class="card-box-content bg-dark">
                                                    <span class="data">
                                                        Paused
                                                    </span>
                                                    <span class="data small">
                                                        {{my_job_order.pause_time}}
                                                    </span>
                                                    <span class="time txt-white">
                                                        Start Again
                                                    </span>
                                                </div>
                                            </span>
                                            <span class="card-box-content-wrap">
                                                <div class="card-box-content bg-red opacity-05">
                                                    <span class="info">
                                                        Finish<br> Work
                                                    </span>
                                                </div>
                                            </span>
                                        </div><!-- Card Box Body -->
                                        <div class="card-box-body" ng-if="my_job_order.status_id == 8263">
                                            <span class="card-box-content-wrap wid-100">
                                                <div class="card-box-content bg-grey txt-left pl-19">
                                                    <span class="data pt-10">
                                                        <b>
                                                            Work Finished
                                                        </b>
                                                    </span>
                                                    <span class="time">
                                                        {{my_job_order.total_time}}
                                                    </span>
                                                </div>
                                            </span>
                                        </div><!-- Card Box Body -->
                                    </div><!-- Card Box Info -->
                                    <div class="card-box-footer">
                                        <span class="info">
                                            Status : {{my_job_order.status_name}}
                                        </span>
                                    </div><!-- Card Box Footer -->
                                </div><!-- Card Box -->
                            </li>
                        </ul><!-- Card List -->
                    </div><!-- Page Form -->
                </div><!-- Column -->
            </div><!-- Row -->
            <div class="page-form-footer">
                <div class="row">
                    <div class="col-md-12">
                        <a href="#!/my-jobcard/card-list/{{user_details.id}}"><button class="btn btn-red btn-min-wdth">Back</button></a>
                    </div><!-- Column -->
                </div><!-- Row -->
            </div><!-- Page Form Footer -->
        </div><!-- Container -->
    </div><!-- Page Main Content -->
</div><!-- Content Wrap -->
<div class="modal fade alert-modal failure" id="start_work" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Confirmation?</h4>
            </div>
            <div class="modal-body">
                <h5 id="repair_code"></h5>
                <p>Do you Start this work? </p>
                <input type="hidden" id="work_id">
                <input type="hidden" id="key">
                <button class="btn btn-rose" data-dismiss="modal" aria-label="Close">No</button>
                <button class="btn btn-success work_start" aria-label="Close" ng-click="StartWorkConfirm()">Yes</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal alert-modal jc-confirm-modal fade" id="finish_work" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close ripple" data-dismiss="modal" aria-label="Close"><i class="icon ion-md-close"></i></button>
                <h5 class="modal-title" id="myModalLabel">Confirm</h5>
                <h6 class="sub-title">Work Summary</h6>
            </div><!-- Modal Header -->
            <div class="modal-body">
                <table class="time-modal">
                    <thead>
                        <tr>
                            <th>Started</th>
                            <th>Finished</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <p>{{work_log.work_start_date_time}}</p>
                            </td>
                            <td>
                                <p>{{work_log.work_end_date_time}}</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <span class="grey-box">
                    Standard Hours <p id="estimation_work_hours">{{work_log.actual_hrs}} hrs</p>
                </span>
                <span class="title">
                    Actual Hours Worked
                </span>
                <span class="time">
                    <p>{{work_log.total_working_hours}}</p>
                </span>
            </div><!-- Modal Body -->
            <div class="modal-footer">
                <button type="button" class="btn btn-green btn-block btn-square confirm_finish" ng-if="work_log.work_end_date_time" ng-click="confirmFinish()">Confirm</button>
            </div><!-- Modal Footer -->
        </div><!-- Modal Content -->
    </div><!-- Modal Dialog -->
</div><!-- Modal -->
<!-- Modal -->
<div class="modal alert-modal jc-confirm-modal fade" id="pause_work_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close ripple" data-dismiss="modal" aria-label="Close"><i class="icon ion-md-close"></i></button>
                <h5 class="modal-title" id="myModalLabel">Reason to Pause Work</h5>
                <h6 class="sub-title">Select from the list</h6>
            </div><!-- Modal Header -->
            <div class="modal-body">
                <ul class="pause-work-list">
                    <li class="pause-work-list-item" ng-repeat="(index, pass_work_reasons) in pass_work_reasons" ng-click="OnselectWorkReason(index,pass_work_reasons.id)">
                        <button class="pause-work-list-item-link reasons" id="reason_id{{index}}">
                            {{pass_work_reasons.name}}
                        </button>
                    </li>
                </ul>
            </div><!-- Modal Body -->
            <div class="modal-footer">
                <input type="hidden" name="selected_reason_id" id="selected_reason_id" value="">
                <input type="hidden" id="pause_wrk_repair_id" value="">
                <button type="button" ng-click="reasonConfirm()" class="btn btn-green btn-block btn-square break_confirm">Submit</button>
            </div><!-- Modal Footer -->
        </div><!-- Modal Content -->
    </div><!-- Modal Dialog -->
</div><!-- Modal