<!-- Content Wrap -->
<div class="content-wrap">
    <!-- Page Header -->
    <div class="page-header">
        <div class="page-header-inner">
            <div class="page-header-content-left">
                <div class="page-header-content button-block">
                    <a href=".#!/inward-vehicle/payable-labour-part-detail/form/{{job_order.id}}" type="button" class="btn-back btn-img">
                        <img class="img-responsive" src="./public/theme/img/content/previous.svg" />
                    </a>
                </div>
                <div class="page-header-content title-block">
                    <h1 class="title">{{$ctrl.action}} Labour</h1>
                    <p class="subtitle">Inward Vehicle / {{$ctrl.action}} Labour</p>
                </div>
            </div>
        </div><!-- Page Header Inner -->
    </div><!-- Page Header -->
    <!-- Page Main Content -->
    <div class="page-main-content form-content">
        <form id="labour_form">
            <input type="hidden" name="job_order_id" value="{{job_order.id}}">
            <input type="hidden" name="job_order_repair_order_id" value="{{job_order_repair_order_id}}">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-form pb-60">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>ROT Type <sup class="mandatory">*</sup></label>
                                        <md-select ng-model="repair_order_type" placeholder="Select Rot Type" ng-change="fetchRotData(repair_order_type.id);repair_order='';job_order_labour=''" data-md-container-class="selectdemoSelectHeader" ng-model-options="{trackBy: '$value.id' }">
                                            <md-select-header class="demo-select-header">
                                                <input ng-model="searchRotType" type="search" placeholder="Search for a Rot Type.." class="demo-header-searchbox md-text">
                                            </md-select-header>
                                            <md-optgroup>
                                                <md-option ng-value="option" ng-repeat="option in extras.rot_type_list | filter:searchRotType">
                                                    {{option.name}}
                                                </md-option>
                                            </md-optgroup>
                                        </md-select>
                                        <input type="hidden" name="rot_type_id" id="rot_type_id" value="{{repair_order_type.id}}">
                                    </div><!-- Feild -->
                                </div><!-- Column -->
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Select ROT <sup class="mandatory">*</sup></label>
                                        <md-select ng-model="repair_order" ng-change="getRotFormData(repair_order.id)" placeholder="Select Rot" data-md-container-class="selectdemoSelectHeader" ng-model-options="{trackBy: '$value.id' }">
                                            <md-select-header class="demo-select-header">
                                                <input ng-model="searchRot" type="search" placeholder="Search for a Rot.." class="demo-header-searchbox md-text">
                                            </md-select-header>
                                            <md-optgroup>
                                                <md-option ng-value="option" ng-repeat="option in extras_rot.rot_list | filter:searchRot">
                                                    {{option.name}}
                                                </md-option>
                                            </md-optgroup>
                                        </md-select>
                                        <input type="hidden" name="rot_id" value="{{repair_order.id}}">
                                    </div><!-- Feild -->
                                </div><!-- Column -->
                                <div class="col-md-12">
                                    <div class="separator-line mb-20"></div><!-- Spacing -->
                                    <div class="table-responsive">
                                        <table class="table table-dark-grey">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        Description
                                                    </th>
                                                    <th>
                                                        UOM
                                                    </th>
                                                    <th class="text-right">
                                                        Quantity
                                                    </th>
                                                    <th class="text-right">
                                                        Amount
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tr ng-if="job_order_labour">
                                                <td>
                                                    {{job_order_labour.code ? job_order_labour.code : ''}} | {{job_order_labour.name ? job_order_labour.name : ''}}
                                                </td>
                                                <td>
                                                    {{job_order_labour.uom.name ? job_order_labour.uom.name : ''}}
                                                </td>
                                                <td class="text-right">
                                                    {{job_order_labour.qty}}
                                                </td>
                                                <td class="wid-100 white-space-unset text-right">
                                                    {{job_order_labour.amount | number: 2}}
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div><!-- Table Responsive -->
                                </div><!-- Column -->
                            </div><!-- Row -->
                        </div><!-- Page Form -->
                    </div><!-- Column -->
                </div><!-- Row -->
                <div class="page-form-footer">
                    <div class="row">
                        <div class="col-md-12">
                            <a href=".#!/inward-vehicle/payable-labour-part-detail/form/{{job_order.id}}" class="btn btn-bordered btn-grey">Cancel</a>
                            <button type="submit" class="btn btn-secondary-dark submit" ng-click="saveLabourForm()">Submit</button>
                        </div>
                    </div>
                </div><!-- Page Form Footer -->
            </div><!-- Container -->
        </form>
    </div><!-- Page Main Content -->
</div><!-- Content Wrap -->