<!-- Content Wrap -->
<div class="content-wrap cndn-wrap">
    <!-- Page Header -->
    <div class="page-header">
        <div class="page-header-inner">
            <div class="page-header-content-left">
                <div class="page-header-content button-block">
                    <a href="#!/static/gigo/indent/list" type="button" class="btn-back btn-img"><img class="img-responsive" src="./public/theme/img/content/previous.svg" alt="Back" /></a>
                </div><!-- Page Header Content -->
                <div class="page-header-content title-block">
                    <h1 class="title"><b>Inward Vehicle</b></h1>
                    <p class="subtitle">Inward Vehicle / Customer Detail</p>
                </div><!-- Page Header Content -->
            </div><!-- Page Header Content Left -->
        </div><!-- Page Header Inner -->
    </div><!-- Page Header -->
    <!-- Page Main Content -->
    <div class="page-main-content form-content type2">
        <div class="page-tab-form pb-70">
            <job-order-header></job-order-header>
            <div class="tab-form-wrap type-2">
                <inward-tabs ng-init="active_tab = 'customer-detail'"></inward-tabs>
                <div class="tab-form-body">
                    <div class="tab-content">
                        <!-- TAB PANEL -->
                        <div class="tab-pane fade in active" id="customer_details" data-animation="fadeInUp" data-animation-delay="300">
                            <div class="tab-pane-wrap">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h5 class="color-primary mb-10">
                                            <b>
                                                Customer Details
                                            </b>
                                        </h5>
                                        <div id="customer-detail" ng-if="show_customer_detail">
                                            <ul class="view-row mb-no">
                                                <li class="view-col-3">
                                                    <span class="view-col-label">
                                                        Name
                                                    </span>
                                                    <span class="view-data-list-value">
                                                        <b>
                                                            {{job_order.vehicle.current_owner.customer.name}}
                                                        </b>
                                                    </span>
                                                </li>
                                                <li class="view-col-3">
                                                    <span class="view-col-label">
                                                        Mobile No
                                                    </span>
                                                    <span class="view-col-value">
                                                        <b>
                                                            {{job_order.vehicle.current_owner.customer.mobile_no}}
                                                        </b>
                                                    </span>
                                                </li>
                                                <li class="view-col-3">
                                                    <span class="view-col-label">
                                                        Email
                                                    </span>
                                                    <span class="view-col-value">
                                                        <b>
                                                            {{job_order.vehicle.current_owner.customer.email}}
                                                        </b>
                                                    </span>
                                                </li>
                                                <li class="view-col-3 ptb-2">
                                                    <span class="view-col-label">
                                                        Address
                                                    </span>
                                                    <span class="view-col-value">
                                                        {{job_order.vehicle.current_owner.customer.address.address_line1}},{{job_order.vehicle.current_owner.customer.address.address_line2}},{{job_order.vehicle.current_owner.customer.address.city.name}},{{job_order.vehicle.current_owner.customer.address.state.name}},{{job_order.vehicle.current_owner.customer.address.pincode}},{{job_order.vehicle.current_owner.customer.address.country.name}}.
                                                    </span>
                                                </li>
                                                <li class="view-col-3">
                                                    <span class="view-col-label">
                                                        GST No
                                                    </span>
                                                    <span class="view-col-value">
                                                        {{job_order.vehicle.current_owner.customer.gst_number}}
                                                    </span>
                                                </li>
                                                <li class="view-col-3">
                                                    <span class="view-col-label">
                                                        PAN No
                                                    </span>
                                                    <span class="view-data-list-value">
                                                        <b>
                                                            {{job_order.vehicle.current_owner.customer.pan_number}}
                                                        </b>
                                                    </span>
                                                </li>
                                                <li class="view-col-3">
                                                    <span class="view-col-label">
                                                        Ownership
                                                    </span>
                                                    <span class="view-data-list-value">
                                                        <b>
                                                            {{job_order.vehicle.current_owner.ownership_type.name}}
                                                        </b>
                                                    </span>
                                                </li>
                                            </ul>
                                            <div class="tab-pane-footer1">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <button ng-click="showOwnerForm()" class="btn btn-secondary-dark btn-md btn-square">
                                                            Edit
                                                        </button>
                                                        <button ng-click="addNewOwner()" class="btn btn-bordered btn-dark btn-md btn-square">
                                                            Add New Owner
                                                        </button>
                                                        <a type="button" class="btn btn-red" href=".#!/inward-vehicle/order-detail/{{job_order.id}}">
                                                            Save & Close
                                                        </a>
                                                        <a type="button" class="btn btn-secondary-dark btn-min-wdth btn-nxt" href=".#!/inward-vehicle/order-detail/form/{{job_order.id}}">
                                                            Next
                                                        </a>
                                                    </div>
                                                </div>
                                            </div><!-- Tab Footer -->
                                            <div class="mb-30"></div><!-- Spacing -->
                                        </div> <!-- customer-detail -->
                                        <form id="form" ng-if="show_customer_form">
                                            <input type="hidden" name="id" value="{{job_order.vehicle.current_owner.id}}">
                                            <input type="hidden" name="job_order_id" value="{{job_order.id}}">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>
                                                            Name
                                                            <sup class="mandatory">*</sup>
                                                        </label>
                                                        <input type="text" class="form-control" placeholder="Enter Name" autocomplete="off" ng-model="job_order.vehicle.current_owner.customer.name" name="name" />
                                                    </div><!-- Feild -->
                                                </div><!-- Column -->
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>
                                                            Mobile Number
                                                            <sup class="mandatory">*</sup>
                                                        </label>
                                                        <input type="text" class="form-control" placeholder="Enter Mobile No" autocomplete="off" ng-model="job_order.vehicle.current_owner.customer.mobile_no" name="mobile_no" />
                                                    </div><!-- Feild -->
                                                </div><!-- Column -->
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>
                                                            Email
                                                        </label>
                                                        <input type="text" class="form-control" placeholder="Enter Email" autocomplete="off" ng-model="job_order.vehicle.current_owner.customer.email" name="email" />
                                                    </div><!-- Feild -->
                                                </div><!-- Column -->
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>
                                                            Address Line 1
                                                            <sup class="mandatory">*</sup>
                                                        </label>
                                                        <input type="text" class="form-control" placeholder="Enter Address" autocomplete="off" ng-model="job_order.vehicle.current_owner.customer.address.address_line1" name="address_line1" />
                                                    </div><!-- Feild -->
                                                </div><!-- Column -->
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>
                                                            Address Line 2
                                                        </label>
                                                        <input type="text" class="form-control" placeholder="Enter Address" autocomplete="off" ng-model="job_order.vehicle.current_owner.customer.address.address_line2" name="address_line2" />
                                                    </div><!-- Feild -->
                                                </div><!-- Column -->
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>
                                                            Country
                                                            <sup class="mandatory">*</sup>
                                                        </label>
                                                        <md-select ng-model="job_order.vehicle.current_owner.customer.address.country" placeholder="Select Country" data-md-container-class="selectdemoSelectHeader" ng-model-options="{trackBy: '$value.id' }" ng-change="countryChanged()">
                                                            <md-select-header class="demo-select-header">
                                                                <input ng-model="searchCountry" type="search" placeholder="Search for a country.." class="demo-header-searchbox md-text">
                                                            </md-select-header>
                                                            <md-optgroup>
                                                                <md-option ng-value="country" ng-repeat="country in extras.country_list | filter:searchCountry">
                                                                    {{country.name}}
                                                                </md-option>
                                                            </md-optgroup>
                                                        </md-select>
                                                        <input type="hidden" name="country_id" value="{{job_order.vehicle.current_owner.customer.address.country.id}}">
                                                    </div><!-- Feild -->
                                                </div><!-- Column -->
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>
                                                            State
                                                            <sup class="mandatory">*</sup>
                                                        </label>
                                                        <md-select ng-model="job_order.vehicle.current_owner.customer.address.state" placeholder="Select State" data-md-container-class="selectdemoSelectHeader" ng-model-options="{trackBy: '$value.id' }" ng-change="stateChanged()">
                                                            <md-select-header class="demo-select-header">
                                                                <input ng-model="searchState" type="search" placeholder="Search for a state.." class="demo-header-searchbox md-text">
                                                            </md-select-header>
                                                            <md-optgroup>
                                                                <md-option ng-value="state" ng-repeat="state in extras.state_list | filter:searchState">
                                                                    {{state.name}}
                                                                </md-option>
                                                            </md-optgroup>
                                                        </md-select>
                                                        <input type="hidden" name="state_id" value="{{job_order.vehicle.current_owner.customer.address.state.id}}">
                                                    </div><!-- Feild -->
                                                </div><!-- Column -->
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>
                                                            City (Change this to auto complete)
                                                            <sup class="mandatory">*</sup>
                                                        </label>
                                                        <md-select ng-model="job_order.vehicle.current_owner.customer.address.city" placeholder="Select City" data-md-container-class="selectdemoSelectHeader" ng-model-options="{trackBy: '$value.id' }">
                                                            <md-select-header class="demo-select-header">
                                                                <input ng-model="searchCity" type="search" placeholder="Search for a city.." class="demo-header-searchbox md-text">
                                                            </md-select-header>
                                                            <md-optgroup>
                                                                <md-option ng-value="city" ng-repeat="city in extras.city_list | filter:searchCity">
                                                                    {{city.name}}
                                                                </md-option>
                                                            </md-optgroup>
                                                        </md-select>
                                                        <input type="hidden" name="city_id" value="{{job_order.vehicle.current_owner.customer.address.city.id}}">
                                                    </div><!-- Feild -->
                                                </div><!-- Column -->
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>
                                                            PIN Code
                                                            <sup class="mandatory">*</sup>
                                                        </label>
                                                        <input type="text" class="form-control" placeholder="Enter PIN Code" autocomplete="off" ng-model="job_order.vehicle.current_owner.customer.address.pincode" name="pincode" />
                                                    </div><!-- Feild -->
                                                </div><!-- Column -->
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>
                                                            GST No
                                                        </label>
                                                        <input type="text" class="form-control" placeholder="Enter GST No" autocomplete="off" ng-model="job_order.vehicle.current_owner.customer.gst_number" name="gst_number" />
                                                    </div><!-- Feild -->
                                                </div><!-- Column -->
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>
                                                            PAN No
                                                        </label>
                                                        <input type="text" class="form-control" placeholder="Enter PAN No" autocomplete="off" ng-model="job_order.vehicle.current_owner.customer.pan_number" name="pan_number" />
                                                    </div><!-- Feild -->
                                                </div><!-- Column -->
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>
                                                            Ownership
                                                            <sup class="mandatory">*</sup>
                                                        </label>
                                                        <md-select ng-model="job_order.vehicle.current_owner.ownership_type" placeholder="Select Ownership" data-md-container-class="selectdemoSelectHeader" ng-model-options="{trackBy: '$value.id' }">
                                                            <md-select-header class="demo-select-header">
                                                                <input ng-model="searchOwnership" type="search" placeholder="Search for a ownership.." class="demo-header-searchbox md-text">
                                                            </md-select-header>
                                                            <md-optgroup>
                                                                <md-option ng-value="ownership_type" ng-repeat="ownership_type in extras.ownership_type_list | filter:searchOwnershipType">
                                                                    {{ownership_type.name}}
                                                                </md-option>
                                                            </md-optgroup>
                                                        </md-select>
                                                        <input type="hidden" name="ownership_type_id" value="{{job_order.vehicle.current_owner.ownership_type.id}}">
                                                    </div><!-- Feild -->
                                                </div><!-- Column -->
                                            </div><!-- Row -->
                                            <div class="tab-pane-footer1">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <button type="button" ng-click="saveCustomer()" class="btn btn-red">
                                                            Save & Close
                                                        </button>
                                                        <button type="submit" ng-click="saveCustomer()" class="btn btn-secondary-dark btn-prev">
                                                            Previous
                                                        </button>
                                                        <button type="submit" ng-click="saveCustomer()" class="btn btn-secondary-dark btn-min-wdth btn-nxt">
                                                            Next
                                                        </button>
                                                    </div>
                                                </div>
                                            </div><!-- Tab Footer -->
                                        </form> <!-- customer-form -->
                                    </div><!-- Column -->
                                </div><!-- Row -->
                            </div><!-- Tab Pane Wrap -->
                        </div><!-- Tabe Pane -->
                    </div><!-- Tab Content -->
                </div><!-- Tab Form Body -->
            </div><!-- Tab Form Wrap -->
        </div><!-- Page Form -->
    </div><!-- Page Main Content -->
</div><!-- Content Wrap -->