<!-- Content Wrap -->
<style type="text/css">
/*#sign {
    border: 4px solid #ccc;
}*/
</style>
<div class="content-wrap cndn-wrap">
    <!-- Page Header -->
    <div class="page-header">
        <div class="page-header-inner">
            <div class="page-header-content-left">
                <div class="page-header-content button-block">
                    <a href="#!/static/gigo/indent/list" type="button" class="btn-back btn-img"><img class="img-responsive" src="./public/theme/img/content/previous.svg" alt="Back" /></a>
                </div><!-- Page Header Content -->
                <div class="page-header-content title-block">
                    <h1 class="title"><b>Inward Vehicle</b></h1>
                    <p class="subtitle">Inward Vehicle / Vehicle Detail</p>
                </div><!-- Page Header Content -->
            </div><!-- Page Header Content Left -->
        </div><!-- Page Header Inner -->
    </div><!-- Page Header -->
    <!-- Page Main Content -->
    <div class="page-main-content form-content type2">
        <div class="page-tab-form pb-70">
            <job-order-header></job-order-header>
            <div class="tab-form-wrap type-2 side-tab-open">
                <inward-tabs ng-init="active_tab = 'status-details'"></inward-tabs>
                <div class="tab-form-body side-tab-open">
                    <div class="tab-content">
                        <!-- TAB PANEL -->
                        <div class="tab-pane fade in active" id="customer_estimation_approval_details" data-animation="fadeInUp" data-animation-delay="300">
                            <div class="tab-pane-wrap">
                                <form id="form" enctype="multipart/form-data">
                                    <input type="hidden" name="job_order_id" value="{{job_order_id}}">
                                    <input type="hidden" name="web" value="website">
                                    <input type="hidden" name="is_customer_agreed" value="1">
                                    <input type="hidden" name="customer_photo_exist" value="0">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h5 class="color-primary mb-10"><b>Customer Estimation Approval</b></h5>
                                            <hr class="hr-15"><!-- Separater -->
                                            <div class="photo-sign-wrap" style="width: 100%;height: 500px">
                                                <div class="photo-sign-caption">Customer Photo</div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <video ng-show="$ctrl.video" title="Click to Capture Image" id="video" width="100%" height="360" ng-click="snapshot()"></video>
                                                        <span id="eror_customer_photo"></span>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <img ng-if="job_order.customer_approval_attachment.length > 0" src="{{base_url}}/storage/app/public/gigo/job_order/customer-confirmation/{{job_order.customer_approval_attachment[0].name}}" id="customer_pic" height="360" width="100%">
                                                        <canvas ng-show="$ctrl.screenShot" id="canvas" width="550" height="360"></canvas>
                                                    </div>
                                                </div>
                                                <!-- <div class="col-md-12">
                                                    <video ng-show="$ctrl.video" title="Capture Image" id="video" width="640" height="360" ng-click="snapshot()"></video>
                                                </div> -->
                                                <!-- <div class="photo-sign-item"> -->
                                                <!-- <img class="img-responsive img-profile" src="./public/theme/img/profile.png" alt="Image" />  -->
                                                <!-- <div class="photo-sign-caption">Customer Photo</div> -->
                                                <!-- </div> -->
                                                <input type="hidden" name="customer_photo" value="" id="customer_photo">
                                                <input type="hidden" name="customer_photo_exist" ng-if="job_order.customer_approval_attachment.length > 0" value="1">
                                            </div><!-- Photo Sign Wrap -->
                                        </div><!-- Column -->
                                        <div class="col-md-12">
                                            <div class="photo-sign-wrap" style="width: 100%;height: 300px">
                                                <div id="signArea">
                                                    <div class="photo-sign-caption">Customer E Sign</div>
                                                    <br>
                                                    <div class="col-md-6">
                                                        <div class="sig sigWrapper" style="height:auto;">
                                                            <div class="typed"></div>
                                                            <!-- <canvas class="sign-pad" id="sign-pad" width="300" height="100"></canvas> -->
                                                            <canvas id="signature" width="450" height="150" style="border: 1px solid #ddd;"></canvas>
                                                            <input type="hidden" name="customer_e_sign" value="" id="customer_sign">
                                                        </div>
                                                        <button id="clear-signature">Clear</button>
                                                        <span id="eror_customer_sign"></span>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <img ng-if="job_order.customer_e_sign.length > 0" src="{{base_url}}/storage/app/public/gigo/job_order/customer-confirmation/{{job_order.customer_e_sign[0].name}}" id="customer_pic" height="150" width="450">
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- <button ng-click="snapshot_sign">Take Snapshot</button> -->
                                            <!-- <div class="photo-sign-wrap">
                                                <canvas id="signature" width="450" height="150" style="border: 1px solid #ddd;"></canvas>
                                                <img class="img-responsive img-sign" src="./public/theme/img/content/signature.png" alt="Image" />
                                                <div class="photo-sign-caption">Customer E Sign</div>
                                            </div>-->
                                        </div><!-- Column -->
                                    </div><!-- Row -->
                                    <div class="tab-pane-footer">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <a class="btn btn-secondary-dark btn-prev" href=".#!/inward-vehicle/estimate/{{job_order_id}}">Previous</a>
                                                <button type="submit" class="btn btn-red submit" ng-click="saveForm()">
                                                    Save
                                                </button>
                                            </div>
                                        </div>
                                    </div><!-- Tab Footer -->
                                </form>
                            </div><!-- Tab Pane Wrap -->
                        </div><!-- Tabe Pane -->
                    </div><!-- Tab Content -->
                </div><!-- Tab Form Body -->
            </div><!-- Tab Form Wrap -->
        </div><!-- Page Form -->
    </div><!-- Page Main Content -->
</div><!-- Content Wrap-->
<!-- Inward Details Modal -->
<div class="modal modal-success alert-modal fade" id="inward_notification" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <form id="initiateJob">
            <input type="hidden" name="job_order_id" value="{{$ctrl.job_order.id}}">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <img class="img-responsive img-center" src="./public/theme/img/content/success-green.svg" />
                    <p class="info">
                        {{$ctrl.message}}
                    </p>
                    <div class="mb-10"></div><!-- Spacing -->
                    <ul class="three-box-list">
                        <li class="wid-100">
                            <div class="three-box-content text-center">
                                <span class="three-box-label">
                                    Job Order Type
                                </span>
                                <span class="three-box-value">
                                    {{$ctrl.job_order.type.name}}
                                </span>
                            </div>
                        </li>
                        <li class="wid-100">
                            <div class="three-box-content bg-grey content-sm text-center">
                                <span class="three-box-value">
                                    Service Type : {{$ctrl.job_order.service_type.name}}
                                </span>
                            </div>
                        </li>
                        <li class="wid-33">
                            <div class="three-box-content bg-grey content-sm text-center">
                                <span class="three-box-label">
                                    Total Labour
                                </span>
                                <span class="three-box-value">
                                    <img class="img-responsive img-inline" src="./public/theme/img/content/rupee-dark.svg" alt="Rupee">
                                    {{$ctrl.job_order.total_estimate_labour_amount | number:2}}
                                </span>
                            </div>
                        </li>
                        <li class="wid-33">
                            <div class="three-box-content bg-grey content-sm text-center">
                                <span class="three-box-label">
                                    Total Parts
                                </span>
                                <span class="three-box-value">
                                    <img class="img-responsive img-inline" src="./public/theme/img/content/rupee-dark.svg" alt="Rupee">
                                    {{$ctrl.job_order.total_estimate_parts_amount | number:2}}
                                </span>
                            </div>
                        </li>
                        <li class="wid-33">
                            <div class="three-box-content bg-grey color-red content-sm text-center">
                                <span class="three-box-label">
                                    Total Estimate
                                </span>
                                <span class="three-box-value">
                                    <img class="img-responsive img-inline" src="./public/theme/img/content/rupee-red.svg" alt="Rupee">
                                    {{$ctrl.job_order.total_estimate_amount | number:2}}
                                </span>
                            </div>
                        </li>
                        <li class="wid-100">
                            <div class="three-box-content text-center">
                                <span class="three-box-label">
                                    Vehicle Registration Number
                                </span>
                                <span class="three-box-value">
                                    {{$ctrl.job_order.vehicle.registration_number}}
                                </span>
                            </div>
                        </li>
                    </ul>
                    <div class="mt-30 mb-30">
                        <button type="submit" class="btn btn-secondary-dark btn-square btn-block initiate_job" ng-click="initiateJob()">Let’s Initiate New Job</button>
                    </div><!-- Button -->
                </div><!-- Modal Body -->
            </div><!-- Modal Content -->
        </form>
    </div><!-- Modal Dialog -->
</div><!-- Modal Content -->
<!-- Modal -->