<!-- Content Wrap -->
<div class="content-wrap cndn-wrap">
    <!-- Page Header -->
    <div class="page-header">
        <div class="page-header-inner">
            <div class="page-header-content-left">
                <div class="page-header-content button-block">
                    <a href="#!/inward-vehicle/card-list" type="button" class="btn-back btn-img"><img class="img-responsive" src="./public/theme/img/content/previous.svg" alt="Back" /></a>
                </div><!-- Page Header Content -->
                <div class="page-header-content title-block">
                    <h1 class="title"><b>DMS Check List</b></h1>
                    <p class="subtitle">Inward Vehicle / Service Package Details</p>
                </div><!-- Page Header Content -->
            </div><!-- Page Header Content Left -->
        </div><!-- Page Header Inner -->
    </div><!-- Page Header -->
    <!-- Page Main Content -->
    <div class="page-main-content form-content type2">
        <div class="page-tab-form pb-70">
            <job-order-header></job-order-header>
            <div class="tab-form-wrap type-2 side-tab-open">
                <inward-tabs ng-init="active_tab = 'dms-checklist'"></inward-tabs>
                <div class="tab-form-body">
                    <div class="tab-content side-tab-open">
                        <!-- TAB PANEL -->
                        <div class="tab-pane fade in active" id="dms_details" data-animation="fadeInUp" data-animation-delay="300">
                            <div class="tab-pane-wrap">
                                <div class="row">
                                    <form id="form" autocomplete="off">
                                        <input type="hidden" name="job_order_id" value="{{job_order_id}}">
                                        <input type="hidden" name="e_w_p_attachment_id" value="{{job_order.e_w_p_attachment.id}}">
                                        <input type="hidden" name="warrenty_policy_attachment_id" value="{{job_order.warrenty_policy_attachment.id}}">
                                        <div class="col-md-12">
                                            <h5 class="color-primary mb-10"><b>Service Package Details</b></h5>
                                            <hr class="hr-15"><!-- Separater -->
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>
                                                            AMC
                                                        </label>
                                                        <div class="common-radio-button type-4">
                                                            <input type="radio" id="sold" name="warrany_status" ng-model="$ctrl.warrany_status" ng-value="1">
                                                            <label for="sold">Yes</label>
                                                            <input type="radio" id="not_sold" name="warrany_status" ng-model="$ctrl.warrany_status" ng-value="0">
                                                            <label for="not_sold">No</label>
                                                        </div>
                                                    </div><!-- Feild -->
                                                </div><!-- Column -->
                                                <div class="col-md-3" ng-if="$ctrl.warrany_status">
                                                    <div class="form-group">
                                                        <label>
                                                            AMC Active Status
                                                        </label>
                                                        <div class="common-radio-button type-4">
                                                            <input type="radio" id="amc_active" name="amc_status" ng-model="$ctrl.amc_status" ng-checked="job_order.amc_status" ng-value="1">
                                                            <label for="amc_active">Active</label>
                                                            <input type="radio" id="amc_inactive" name="amc_status" ng-model="$ctrl.amc_status" ng-checked="job_order.amc_status" ng-value="0">
                                                            <label for="amc_inactive">Inactive</label>
                                                        </div>
                                                    </div><!-- Feild -->
                                                </div><!-- Column -->
                                                <div class="col-md-3" ng-if="$ctrl.amc_status && $ctrl.warrany_status">
                                                    <div class="form-group">
                                                        <label>
                                                            AMC Starting Date
                                                            <sup class="mandatory">
                                                                *
                                                            </sup>
                                                        </label>
                                                        <div class="input-group date" data-date-start-view="2" data-provide="datepicker" data-date-auto-close="true">
                                                            <input type="text" class="form-control" placeholder="Select AMC Starting Date" ng-model="job_order.amc_starting_date" name="amc_starting_date" />
                                                            <div class="input-group-addon">
                                                                <img class="img-responsive" src="./public/theme/img/content/calender-gray-icon.svg" alt="Calendar Image" />
                                                            </div>
                                                        </div><!-- Input Group -->
                                                    </div><!-- Feild -->
                                                </div><!-- Column -->
                                                <div class="col-md-3" ng-if="$ctrl.amc_status && $ctrl.warrany_status">
                                                    <div class="form-group">
                                                        <label>
                                                            AMC Ending Date
                                                            <sup class="mandatory">
                                                                *
                                                            </sup>
                                                        </label>
                                                        <div class="input-group date" data-date-start-view="2" data-provide="datepicker" data-date-auto-close="true">
                                                            <input type="text" class="form-control" placeholder="Select AMC Ending Date" ng-model="job_order.amc_ending_date" name="amc_ending_date" />
                                                            <div class="input-group-addon">
                                                                <img class="img-responsive" src="./public/theme/img/content/calender-gray-icon.svg" alt="Calendar Image" />
                                                            </div>
                                                        </div><!-- Input Group -->
                                                    </div><!-- Feild -->
                                                </div><!-- Column -->
                                                <div class="col-md-3" ng-if="$ctrl.amc_status && $ctrl.warrany_status">
                                                    <div class="input-text form-group">
                                                        <label>
                                                            AMC Attachment
                                                            <span class="mandatory">*</span>
                                                        </label>
                                                        <div class="avatar-upload type-3">
                                                            <div class="avatar-edit" ng-class="{'in': job_order.warrenty_policy_attachment != NULL}">
                                                                <input type="file" class="profile-img-upload warranty_expiry_attachment" name="warranty_expiry_attachment" id="warranty_expiry_attachment" accept=".png, .jpg, .jpeg" />
                                                                <label for="warranty_expiry_attachment">
                                                                    <img class="img-responsive" src="./public/theme/img/content/edit.png" alt="Edit Image" />
                                                                </label>
                                                            </div>
                                                            <div class="avatar-preview in" ng-if="job_order.warrenty_policy_attachment != NULL">
                                                                <div class="avatar-img" id="imagePreview" style="background-image:url('./storage/app/public/gigo/job_order/attachments/{{job_order.warrenty_policy_attachment.name}}')">
                                                                </div>
                                                            </div>
                                                            <div class="avatar-preview" ng-if="job_order.warrenty_policy_attachment == NULL">
                                                                <div class="avatar-img" id="imagePreview" style="">
                                                                </div>
                                                            </div><!-- Avatar Preview -->
                                                        </div><!-- Avatar Upload -->
                                                        <div class="attachment_error"></div>
                                                    </div>
                                                    <!--Field-->
                                                </div>
                                                <div class="col-md-3" ng-if="$ctrl.amc_status && $ctrl.warrany_status">
                                                    <div class="form-group">
                                                        <label>
                                                            Starting KM
                                                            <sup class="mandatory">*</sup>
                                                        </label>
                                                        <input type="text" class="form-control" maxlength="6" id="starting_km" placeholder="Enter Starting KM" autocomplete="off" ng-model="job_order.starting_km" name="starting_km" />
                                                    </div><!-- Feild -->
                                                </div><!-- Column -->
                                                <div class="col-md-3" ng-if="$ctrl.amc_status && $ctrl.warrany_status">
                                                    <div class="form-group">
                                                        <label>
                                                            Ending KM
                                                            <sup class="mandatory">*</sup>
                                                        </label>
                                                        <input type="text" class="form-control" maxlength="6" placeholder="Enter Ending KM" autocomplete="off" ng-model="job_order.ending_km" name="ending_km" />
                                                    </div><!-- Feild -->
                                                </div><!-- Column -->
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>
                                                            Extended Warranty
                                                        </label>
                                                        <div class="common-radio-button type-4">
                                                            <input type="radio" id="exwarrany_status_yes" name="exwarrany_status" ng-model="$ctrl.exwarrany_status" ng-value="1">
                                                            <label for="exwarrany_status_yes">Yes</label>
                                                            <input type="radio" id="exwarrany_status_no" name="exwarrany_status" ng-model="$ctrl.exwarrany_status" ng-value="0">
                                                            <label for="exwarrany_status_no">No</label>
                                                        </div>
                                                    </div><!-- Feild -->
                                                </div><!-- Column -->
                                                <div class="col-md-4" ng-if="$ctrl.exwarrany_status">
                                                    <div class="gatein-img-list">
                                                        <div class="gatein-img-list-item attach-photo">
                                                            <div class="avatar-upload type-3">
                                                                <div class="avatar-edit" ng-class="{'in': job_order.e_w_p_attachment != NULL}">
                                                                    <input type="file" class="profile-img-upload ewp_expiry_attachment" name="ewp_expiry_attachment" id="ewp_expiry_attachment" accept=".png, .jpg, .jpeg, .svg" />
                                                                    <label for="ewp_expiry_attachment">
                                                                        <img class="img-responsive" src="./public/theme/img/content/edit.png" alt="Edit Image" />
                                                                    </label>
                                                                </div>
                                                                <div class="avatar-preview in" ng-if="job_order.e_w_p_attachment != NULL">
                                                                    <div class="avatar-img" id="imagePreview" style="background-image:url('./storage/app/public/gigo/job_order/attachments/{{job_order.e_w_p_attachment.name}}')">
                                                                    </div>
                                                                </div>
                                                                <div class="avatar-preview" ng-if="job_order.e_w_p_attachment == NULL">
                                                                    <div class="avatar-img" id="imagePreview" style="">
                                                                    </div>
                                                                </div><!-- Avatar Preview -->
                                                            </div><!-- Avatar Upload -->
                                                        </div>
                                                        <div class="attach-form-wrap">
                                                            <p class="color-secondary-dark">
                                                                <b>
                                                                    Extended Warranty (EWP)
                                                                </b>
                                                            </p>
                                                            <div class="form-group">
                                                                <label>Eligible Upto</label>
                                                                <div class="input-group date" data-date-start-view="2" data-provide="datepicker" data-date-auto-close="true">
                                                                    <input type="text" name="ewp_expiry_date" value="{{job_order.ewp_expiry_date}}" class="form-control" placeholder="Ex : 10-06-2020" />
                                                                    <div class="input-group-addon">
                                                                        <img class="img-responsive" src="./public/theme/img/content/calender-gray-icon.svg" alt="Calendar Image" />
                                                                    </div>
                                                                </div><!-- Input Group -->
                                                            </div><!-- Feild -->
                                                        </div>
                                                    </div>
                                                </div><!-- Column -->
                                            </div><!-- Row -->
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="gatein-img-list">
                                                        <div class="attach-form-wrap">
                                                            <p class="color-secondary-dark">
                                                                <b>
                                                                    TVS Membership
                                                                </b>
                                                            </p>
                                                            <p class="font-md">
                                                                TVSCARE-GOLD Eligible Upto 20/03/2022
                                                            </p>
                                                            <p class="font-md">
                                                                TVSONE-GOLD Eligible Upto 20/03/2022
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="light-box form-group">
                                                        <h6 class=""><b>TVS Memberships Attachments</b></h6>
                                                        <div class="img-upload-preview">
                                                            <input type="file" class="image_uploadify" accept="image/*" name="membership_attachments[]" multiple />
                                                            <!-- ,application/pdf -->
                                                            <div class="imageuploadify">
                                                                <div class="imageuploadify-images-list">
                                                                    <div class="imageuploadify-container" style="margin-left: 4px; margin-right: 4px;" ng-repeat="(key,a_m_c_attachment) in job_order.a_m_c_attachment">
                                                                        <button type="button" class="btn btn-danger glyphicon glyphicon-remove" ng-click="remove_attachment(a_m_c_attachment.id,key)">
                                                                        </button>
                                                                        <img title="{{a_m_c_attachment.name}}" src="./storage/app/public/gigo/job_order/attachments/{{a_m_c_attachment.name}}">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <input type="hidden" name="attachment_removal_ids" id="attachment_removal_ids" value="">
                                                    </div><!-- Form Group -->
                                                </div>
                                            </div><!-- Row -->
                                            <hr class="hr-15"><!-- Separater -->
                                            <div class="col-md-12">
                                            </div><!-- Column -->
                                            <h6 class="color-secondary-dark mb-10" ng-if="campaigns.length > 0"><b>Campaign Job Details</b></h6>
                                            <div class="table-responsive">
                                                <table class="table table-form jc-view-bill-table-wrap" ng-repeat="(index, campaign) in campaigns">
                                                    <input type="hidden" name="campaign_ids[]" value="{{campaign.id}}">
                                                    <thead>
                                                        <tr>
                                                            <th colspan="2">Claim Type : {{campaign.claim_type.name}}</th>
                                                            <th colspan="2"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <b>
                                                                    Authorization No
                                                                </b>
                                                            </td>
                                                            <td>
                                                                {{campaign.authorisation_no}}
                                                            </td>
                                                            <td>
                                                                <b>
                                                                    Complaint Code
                                                                </b>
                                                            </td>
                                                            <td>
                                                                {{campaign.complaint_type.code}}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <b>
                                                                    Fault Code
                                                                </b>
                                                            </td>
                                                            <td>
                                                                {{campaign.fault_type.code}}
                                                            </td>
                                                            <td ng-if="campaign.manufacture_date">
                                                                <b>
                                                                    Date
                                                                </b>
                                                            </td>
                                                            <td ng-if="campaign.manufacture_date">
                                                                {{campaign.manufacture_date}}
                                                            </td>
                                                            <td ng-if="!campaign.manufacture_date">
                                                            </td>
                                                            <td ng-if="!campaign.manufacture_date">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="2" class="bg-white">
                                                                <table class="table table-form jc-view-bill-table">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>
                                                                                ROT
                                                                            </th>
                                                                            <th>
                                                                                ROT Amount
                                                                            </th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr ng-repeat="(index, campaign_labour) in campaign.campaign_labours">
                                                                            <td>{{campaign_labour.code}}</td>
                                                                            <td>{{campaign_labour.pivot.amount}}</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                            <td colspan="2" class="bg-white">
                                                                <table class="table table-form jc-view-bill-table">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>
                                                                                Part Code
                                                                            </th>
                                                                            <th>
                                                                                Part Number
                                                                            </th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr ng-repeat="(index, campaign_part) in campaign.campaign_parts">
                                                                            <td>{{campaign_part.code}}</td>
                                                                            <td>{{campaign_part.name}}</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div><!-- Table Responsive -->
                                            <br>
                                            <div class="row" ng-if="campaigns.length > 0">
                                                <div class="col-md-4" id="road_test_required">
                                                    <div class="form-group">
                                                        <label>
                                                            Campaign Carried ?
                                                        </label>
                                                        <div class="common-radio-button type-4">
                                                            <input type="radio" id="carried" name="is_campaign_carried" ng-value="1" value="1" ng-model="job_order.is_campaign_carried" ng-checked="job_order.is_campaign_carried">
                                                            <label for="carried">
                                                                Yes
                                                            </label>
                                                            <input type="radio" id="not_carried" name="is_campaign_carried" ng-value="0" value="0" ng-model="job_order.is_campaign_carried" ng-checked="!job_order.is_campaign_carried">
                                                            <label for="not_carried">
                                                                No
                                                            </label>
                                                        </div>
                                                    </div><!-- Feild -->
                                                </div><!-- Column -->
                                                <div class="col-md-8" ng-if="job_order.is_campaign_carried == 0">
                                                    <div class="form-group">
                                                        <label>
                                                            Remarks
                                                            <sup class="mandatory">*</sup>
                                                        </label>
                                                        <textarea class="form-control required" rows="4" placeholder="Enter Remarks" name="campaign_not_carried_remarks">{{job_order.campaign_not_carried_remarks}}</textarea>
                                                        <div id="errorCampaignNotCarriedRemarks"></div>
                                                    </div><!-- Feild -->
                                                </div><!-- Column -->
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <div class="common-checkbox type-2">
                                                            <input type="checkbox" id="check_verify" ng-value="1" ng-checked="job_order.is_dms_verified == 1" ng-click="$ctrl.checkbox()" />
                                                            <label for="check_verify">
                                                                <b>
                                                                    Verified in DBM/SAP Portal
                                                                </b>
                                                            </label>
                                                            <input type="hidden" name="is_verified" id="check_val" value="0">
                                                        </div>
                                                    </div><!-- Feild -->
                                                </div><!-- Column -->
                                            </div><!-- Row -->
                                        </div><!-- Column -->
                                        <div class="tab-pane-footer">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <button type="submit" ng-click="saveDms(1)" class="btn btn-red submit">
                                                        Save & Close
                                                    </button>
                                                    <a href=".#!/inward-vehicle/inspection-detail/form/{{job_order_id}}" class="btn btn-secondary-dark btn-prev">
                                                        Previous
                                                    </a>
                                                    <button ng-click="saveDms(2)" class="btn btn-secondary-dark btn-min-wdth btn-nxt">
                                                        Next
                                                    </button>
                                                    <!--  <a class="btn btn-secondary-dark btn-prev">Previous</a>
                                                <a class="btn btn-secondary-dark btn-min-wdth btn-nxt">Next</a> -->
                                                </div>
                                            </div>
                                        </div><!-- Tab Footer -->
                                    </form>
                                </div><!-- Row -->
                            </div><!-- Tab Pane Wrap -->
                        </div><!-- Tabe Pane -->
                    </div><!-- Tab Content -->
                </div><!-- Tab Form Body -->
            </div><!-- Tab Form Wrap -->
        </div><!-- Page Form -->
    </div><!-- Page Main Content -->
</div><!-- Content Wrap -->
<!-- Modal -->
<!-- Drag & Drop File Upload Plugins -->
<script src="./public/theme/js/imageuploadify-mgatepass.min.js"></script>