<!-- Content Wrap -->
<div class="content-wrap cndn-wrap">
    <!-- Page Header -->
    <div class="page-header">
        <div class="page-header-inner">
            <div class="page-header-content-left">
                <div class="page-header-content button-block">
                    <a href="#!/inward-vehicle/card-list" type="button" class="btn-back btn-img"><img class="img-responsive" src="./public/theme/img/content/previous.svg" alt="Back" /></a>
                </div><!-- Page Header Content -->
                <div class="page-header-content title-block">
                    <h1 class="title"><b>DMS Check List</b></h1>
                    <p class="subtitle">Inward Vehicle / DMS Check List</p>
                </div><!-- Page Header Content -->
            </div><!-- Page Header Content Left -->
        </div><!-- Page Header Inner -->
    </div><!-- Page Header -->
    <!-- Page Main Content -->
    <div class="page-main-content form-content type2">
        <div class="page-tab-form pb-70">
            <job-order-header></job-order-header>
            <div class="tab-form-wrap type-2">
                <inward-tabs ng-init="active_tab = 'dms-checklist'"></inward-tabs>
                <div class="tab-form-body">
                    <div class="tab-content">
                        <!-- TAB PANEL -->
                        <div class="tab-pane fade in active" id="dms_details" data-animation="fadeInUp" data-animation-delay="300">
                            <div class="tab-pane-wrap">
                                <div class="row">
                                    <form id="form" autocomplete="off">
                                        <input type="hidden" name="job_order_id" value="{{job_order_id}}">
                                        <div class="col-md-12">
                                            <h5 class="color-primary mb-10"><b>DMS Check list</b></h5>
                                            <hr class="hr-15"><!-- Separater -->
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="gatein-img-list">
                                                        <div class="gatein-img-list-item attach-photo">
                                                            <div class="avatar-upload type-3">
                                                                <div class="avatar-edit" ng-class="{'in': job_order.warrenty_policy_attachment != NULL}">
                                                                    <input type="file" class="profile-img-upload warranty_expiry_attachment" name="warranty_expiry_attachment" id="warranty_expiry_attachment" accept=".png, .jpg, .jpeg, .svg" />
                                                                    <label for="warranty_expiry_attachment">
                                                                        <img class="img-responsive" src="./public/theme/img/content/edit.png" alt="Edit Image" />
                                                                    </label>
                            
                                                                </div>
                                                                <div class="avatar-preview in" ng-if="job_order.warrenty_policy_attachment != NULL">
                                                                    <div class="avatar-img" id="imagePreview" style="background-image:url('./storage/app/public/gigo/job_order/attachments/{{job_order.warrenty_policy_attachment.name}}')">
                                                                    </div>
                                                                </div>
                                                                <div class="avatar-preview" ng-if="job_order.warrenty_policy_attachment == NULL">
                                                                    <div class="avatar-img" id="imagePreview" style="">
                                                                    </div>
                                                                </div><!-- Avatar Preview -->
                                                            </div><!-- Avatar Upload -->
                                                        </div>
                                                        <div class="attach-form-wrap">
                                                            <p class="color-secondary-dark">
                                                                <b>
                                                                    Warranty
                                                                </b>
                                                            </p>
                                                            <div class="form-group">
                                                                <label>Eligible Upto</label>
                                                                <div class="input-group date" data-provide="datepicker">
                                                                    <input type="text" value="{{job_order.ewp_expiry_date}}" name="warranty_expiry_date" class="form-control" placeholder="Ex : 10-06-2020" />
                                                                    <div class="input-group-addon">
                                                                        <img class="img-responsive" src="./public/theme/img/content/calender-gray-icon.svg" alt="Calendar Image" />
                                                                    </div>
                                                                </div><!-- Input Group -->
                                                            </div><!-- Feild -->
                                                        </div>
                                                    </div>
                                                </div><!-- Column -->
                                                <div class="col-md-4">
                                                    <div class="gatein-img-list">
                                                        <div class="gatein-img-list-item attach-photo">
                                                            <div class="avatar-upload type-3">
                                                                <div class="avatar-edit" ng-class="{'in': job_order.e_w_p_attachment != NULL}">
                                                                    <input type="file" class="profile-img-upload ewp_expiry_attachment" name="ewp_expiry_attachment" id="ewp_expiry_attachment" accept=".png, .jpg, .jpeg, .svg" />
                                                                    <label for="ewp_expiry_attachment">
                                                                        <img class="img-responsive" src="./public/theme/img/content/edit.png" alt="Edit Image" />
                                                                    </label>
                            
                                                                </div>
                                                                <div class="avatar-preview in" ng-if="job_order.e_w_p_attachment != NULL">
                                                                    <div class="avatar-img" id="imagePreview" style="background-image:url('./storage/app/public/gigo/job_order/attachments/{{job_order.e_w_p_attachment.name}}')">
                                                                    </div>
                                                                </div>
                                                                <div class="avatar-preview" ng-if="job_order.e_w_p_attachment == NULL">
                                                                    <div class="avatar-img" id="imagePreview" style="">
                                                                    </div>
                                                                </div><!-- Avatar Preview -->
                                                            </div><!-- Avatar Upload -->
                                                        </div>
                                                        <div class="attach-form-wrap">
                                                            <p class="color-secondary-dark">
                                                                <b>
                                                                    Extended Warranty (EWP)
                                                                </b>
                                                            </p>
                                                            <div class="form-group">
                                                                <label>Eligible Upto</label>
                                                                <div class="input-group date" data-provide="datepicker">
                                                                    <input type="text" name="ewp_expiry_date" value="{{job_order.warranty_expiry_date}}" class="form-control" placeholder="Ex : 10-06-2020" />
                                                                    <div class="input-group-addon">
                                                                        <img class="img-responsive" src="./public/theme/img/content/calender-gray-icon.svg" alt="Calendar Image" />
                                                                    </div>
                                                                </div><!-- Input Group -->
                                                            </div><!-- Feild -->
                                                        </div>
                                                    </div>
                                                </div><!-- Column -->
                                                <div class="col-md-4">
                                                    <div class="gatein-img-list">
                                                        <div class="gatein-img-list-item attach-photo">
                                                            <div class="avatar-upload type-3">
                                                                <div class="avatar-edit" ng-class="{'in': job_order.a_m_c_attachment != NULL}">
                                                                    <input type="file" class="profile-img-upload membership_attachment" name="membership_attachment" id="membership_attachment" accept=".png, .jpg, .jpeg, .svg" />
                                                                    <label for="membership_attachment">
                                                                        <img class="img-responsive" src="./public/theme/img/content/edit.png" alt="Edit Image" />
                                                                    </label>
                            
                                                                </div>
                                                                <div class="avatar-preview in" ng-if="job_order.a_m_c_attachment != NULL">
                                                                    <div class="avatar-img" id="imagePreview" style="background-image:url('./storage/app/public/gigo/job_order/attachments/{{job_order.a_m_c_attachment.name}}')">
                                                                    </div>
                                                                </div>
                                                                <div class="avatar-preview" ng-if="job_order.a_m_c_attachment == NULL">
                                                                    <div class="avatar-img" id="imagePreview" style="">
                                                                    </div>
                                                                </div><!-- Avatar Preview -->
                                                            </div><!-- Avatar Upload -->
                                                        </div>
                                                        <div class="attach-form-wrap">
                                                            <p class="color-secondary-dark">
                                                                <b>
                                                                    Memberships
                                                                </b>
                                                            </p>
                                                            <p class="font-md">
                                                                TVSCARE-GOLD Eligible Upto 20/03/2022
                                                            </p>
                                                            <p class="font-md">
                                                                TVSONE-GOLD Eligible Upto 20/03/2022
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div><!-- Column -->
                                            </div><!-- Row -->
                                            <hr class="hr-15"><!-- Separater -->
                                            <h6 class="color-secondary-dark mb-10"><b>Campaign Job Details</b></h6>
                                            <div class="panel-group" id="accordion_1">
                                                <div class="panel panel-default type-3" ng-repeat="(index, campaign) in job_order.vehicle.model.campaign">
                                                    <div class="panel-heading">
                                                        <a class="panel-title in" data-toggle="collapse" data-parent="#accordion_1" data-target="#{{index}}">
                                                            <div class="table-responsive">
                                                                <table class="table table-dark-grey table-md">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>
                                                                                <b>
                                                                                    Date
                                                                                </b>
                                                                            </td>
                                                                            <td>
                                                                                : {{campaign.manufacture_date}}
                                                                            </td>
                                                                            <td>
                                                                                <b>
                                                                                    Authorization No
                                                                                </b>
                                                                            </td>
                                                                            <td>
                                                                                : {{campaign.authorisation_no}}
                                                                            </td>
                                                                            <td>
                                                                                <b>
                                                                                    Complaint Code
                                                                                </b>
                                                                            </td>
                                                                            <td>
                                                                                : {{campaign.complaint_type.code}}
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>
                                                                                <b>
                                                                                    Fault Code
                                                                                </b>
                                                                            </td>
                                                                            <td>
                                                                                : {{campaign.fault_type.code}}
                                                                            </td>
                                                                            <td>
                                                                                <b>
                                                                                    Claim Type
                                                                                </b>
                                                                            </td>
                                                                            <td>
                                                                                : {{campaign.claim_type.name}}
                                                                            </td>
                                                                            <td>
                                                                            </td>
                                                                            <td>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                            <span class="arrow"></span>
                                                        </a>
                                                    </div>
                                                    <div id="{{index}}" class="panel-collapse collapse in">
                                                        <div class="panel-body">
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label>ROT Details</label>
                                                                        <div class="table-responsive">
                                                                            <table class="table table-dark-grey table-md">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th>
                                                                                            <b>
                                                                                                ROT 
                                                                                            </b>
                                                                                        </th>
                                                                                        <th>
                                                                                            ROT Amount
                                                                                        </th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                    <tr ng-repeat="(index, campaign_labour) in campaign.campaign_labours">
                                                                                        <td>{{campaign_labour.code}}</td>  
                                                                                        <td>{{campaign_labour.pivot.amount}}</td>  
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </div><!-- Feild -->
                                                                </div><!-- Column -->
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label>Part Details</label>
                                                                        <div class="table-responsive">
                                                                            <table class="table table-dark-grey table-md">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th>
                                                                                            <b>
                                                                                                Part Number 
                                                                                            </b>
                                                                                        </th>
                                                                                        <th>
                                                                                            <b>
                                                                                                Part Code 
                                                                                            </b>
                                                                                        </th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                    <tr ng-repeat="(index, campaign_part) in campaign.campaign_parts">
                                                                                        <td>{{campaign_part.code}}</td>  
                                                                                        <td>{{campaign_part.name}}</td>  
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </div><!-- Feild -->
                                                                </div><!-- Column -->
                                                            </div><!-- Row -->
                                                        </div><!-- Panel Body -->
                                                    </div><!-- Panel Collapse -->
                                                </div><!-- Panel -->
                                            </div><!-- Panel Group -->
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <div class="common-checkbox type-2">
                                                            <input type="checkbox" id="check_verify" ng-value="1" ng-checked="job_order.is_dms_verified == 1"  ng-click="$ctrl.checkbox()" />
                                                            <label for="check_verify">
                                                                <b>
                                                                    Verified in DMS
                                                                </b>
                                                            </label>
                                                            <input type="hidden" name="is_verified" id="check_val" value="0">
                                                        </div>
                                                    </div><!-- Feild -->
                                                </div><!-- Column -->
                                            </div><!-- Row -->
                                        </div><!-- Column -->
                                        <div class="tab-pane-footer">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <button type="submit" ng-click="saveDms(1)" class="btn btn-red submit">
                                                        Save & Close
                                                    </button>
                                                    <a href=".#!/inward-vehicle/inspection-detail/form/{{job_order_id}}" class="btn btn-secondary-dark btn-prev">
                                                        Previous
                                                    </a>
                                                    <button ng-click="saveDms(2)" class="btn btn-secondary-dark btn-min-wdth btn-nxt">
                                                        Next
                                                    </button>
                                                    <!--  <a class="btn btn-secondary-dark btn-prev">Previous</a>
                                                <a class="btn btn-secondary-dark btn-min-wdth btn-nxt">Next</a> -->
                                                </div>
                                            </div>
                                        </div><!-- Tab Footer -->
                                    </form>
                                </div><!-- Row -->
                            </div><!-- Tab Pane Wrap -->
                        </div><!-- Tabe Pane -->
                    </div><!-- Tab Content -->
                </div><!-- Tab Form Body -->
            </div><!-- Tab Form Wrap -->
        </div><!-- Page Form -->
    </div><!-- Page Main Content -->
</div><!-- Content Wrap -->
<!-- Modal -->
<script src="./public/theme/js/imageuploadify-gatein.min.js"></script>
<div class="modal modal-center fade" id="search_vehicle_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-xs" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close ripple" data-dismiss="modal" aria-label="Close"><i class="icon ion-md-close"></i></button>
                <h5 class="modal-title">Search Vehicle</h5>
            </div><!-- Modal Header -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Registration Number <sup class="mandatory">*</sup></label>
                            <input type="text" class="form-control" placeholder="Enter Registration Number" autocomplete="off" />
                        </div><!-- Feild -->
                    </div><!-- Column -->
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Customer Code <sup class="mandatory">*</sup></label>
                            <input type="text" class="form-control" placeholder="Enter Customer Code" autocomplete="off" />
                        </div><!-- Feild -->
                    </div><!-- Column -->
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>VIN Number <sup class="mandatory">*</sup></label>
                            <input type="text" class="form-control" placeholder="Enter VIN Number" autocomplete="off" />
                        </div><!-- Feild -->
                    </div><!-- Column -->
                    <div class="col-md-12">
                        <button type="button" class="btn btn-secondary-dark btn-square btn-block" data-dismiss="modal"><b>Submit</b></button>
                    </div><!-- Column -->
                </div><!-- Row -->
            </div><!-- Modal Body -->
        </div><!-- Modal Content -->
    </div><!-- Modal Dialog -->
</div><!-- Modal Content -->
<!-- Modal -->