<!-- Content Wrap -->
<div class="content-wrap cndn-wrap">
    <!-- Page Header -->
    <div class="page-header">
        <div class="page-header-inner">
            <div class="page-header-content-left">
                <div class="page-header-content button-block">
                    <a href="#!/inward-vehicle/card-list" type="button" class="btn-back btn-img"><img class="img-responsive" src="./public/theme/img/content/previous.svg" alt="Back" /></a>
                </div><!-- Page Header Content -->
                <div class="page-header-content title-block">
                    <h1 class="title"><b>Estimate</b></h1>
                    <p class="subtitle">Inward Vehicle / Estimate</p>
                </div><!-- Page Header Content -->
            </div><!-- Page Header Content Left -->
        </div><!-- Page Header Inner -->
    </div><!-- Page Header -->
    <!-- Page Main Content -->
    <div class="page-main-content form-content type2">
        <div class="page-tab-form pb-70">
            <job-order-header></job-order-header>
            <div class="tab-form-wrap type-2 side-tab-open">
                <inward-tabs ng-init="active_tab = 'estimate-details'"></inward-tabs>
                <div class="tab-form-body side-tab-open">
                    <div class="tab-content">
                        <!-- TAB PANEL -->
                        <div class="tab-pane fade in active" id="estimate_details" data-animation="fadeInUp" data-animation-delay="300">
                            <div class="tab-pane-wrap">
                                <div class="row">
                                    <form id="form" autocomplete="off">
                                        <input type="hidden" name="job_order_id" value="{{job_order.id}}">
                                        <div class="col-md-12">
                                            <h5 class="color-primary mb-10"><b>Estimate</b></h5>
                                            <hr class="hr-15"><!-- Separater -->
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <ul class="flex-list pad-9">
                                                        <li class="flex-12 flex-md-4">
                                                            <div class="dark-box">
                                                                <div class="dark-box-header opacity-light">
                                                                    Scheduled Maintenance
                                                                </div><!-- Dark Box Header -->
                                                                <div class="dark-box-body">
                                                                    <ul class="three-box-list">
                                                                        <li class="wid-50">
                                                                            <div class="three-box-content text-center">
                                                                                <span class="three-box-label">
                                                                                    Labour
                                                                                </span>
                                                                                <span class="three-box-value">
                                                                                    <img class="img-responsive img-inline" src="./public/theme/img/content/rupee-dark.svg" alt="Rupee" />
                                                                                    {{job_order.oem_recomentation_labour_amount | number:2}}
                                                                                </span>
                                                                            </div>
                                                                        </li>
                                                                        <li class="wid-50">
                                                                            <div class="three-box-content text-center">
                                                                                <span class="three-box-label">
                                                                                    Parts
                                                                                </span>
                                                                                <span class="three-box-value">
                                                                                    <img class="img-responsive img-inline" src="./public/theme/img/content/rupee-dark.svg" alt="Rupee" />
                                                                                    {{job_order.oem_recomentation_part_amount | number:2}}
                                                                                </span>
                                                                            </div>
                                                                        </li>
                                                                        <li class="wid-100">
                                                                            <div class="three-box-content bg-grey text-center">
                                                                                <span class="three-box-label">
                                                                                    TOTAL
                                                                                </span>
                                                                                <span class="three-box-value">
                                                                                    <img class="img-responsive img-inline" src="./public/theme/img/content/rupee-dark.svg" alt="Rupee" />
                                                                                    {{job_order.oem_recomentation_sub_total | number:2}}
                                                                                </span>
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                    <div class="text-center">
                                                                        <button class="btn-link color-secondary-dark font-sm"><a href="#!/inward-vehicle/scheduled-maintenance/form/{{job_order.id}}" class="btn-link color-secondary-dark font-sm">
                                                                                Edit
                                                                            </a></button>
                                                                    </div>
                                                                </div><!-- Dark Box Body -->
                                                            </div><!-- Dark Box Wrap -->
                                                        </li>
                                                        <li class="flex-12 flex-md-4">
                                                            <div class="dark-box">
                                                                <div class="dark-box-header opacity-light">
                                                                    Payable Labour & Parts
                                                                </div><!-- Dark Box Header -->
                                                                <div class="dark-box-body">
                                                                    <ul class="three-box-list">
                                                                        <li class="wid-50">
                                                                            <div class="three-box-content text-center">
                                                                                <span class="three-box-label">
                                                                                    Labour
                                                                                </span>
                                                                                <span class="three-box-value">
                                                                                    <img class="img-responsive img-inline" src="./public/theme/img/content/rupee-dark.svg" alt="Rupee" />
                                                                                    {{job_order.additional_rot_parts_labour_amount | number:2}}
                                                                                </span>
                                                                            </div>
                                                                        </li>
                                                                        <li class="wid-50">
                                                                            <div class="three-box-content text-center">
                                                                                <span class="three-box-label">
                                                                                    Parts
                                                                                </span>
                                                                                <span class="three-box-value">
                                                                                    <img class="img-responsive img-inline" src="./public/theme/img/content/rupee-dark.svg" alt="Rupee" />
                                                                                    {{job_order.additional_rot_parts_part_amount | number:2}}
                                                                                </span>
                                                                            </div>
                                                                        </li>
                                                                        <li class="wid-100">
                                                                            <div class="three-box-content bg-grey text-center">
                                                                                <span class="three-box-label">
                                                                                    TOTAL
                                                                                </span>
                                                                                <span class="three-box-value">
                                                                                    <img class="img-responsive img-inline" src="./public/theme/img/content/rupee-dark.svg" alt="Rupee" />
                                                                                    {{job_order.additional_rot_parts_sub_total | number:2}}
                                                                                </span>
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                    <div class="text-center">
                                                                        <button class="btn-link color-secondary-dark font-sm"><a href="#!/inward-vehicle/payable-labour-part-detail/form/{{job_order.id}}" class="btn-link color-secondary-dark font-sm">
                                                                                Edit
                                                                            </a>
                                                                        </button>
                                                                    </div>
                                                                </div><!-- Dark Box Body -->
                                                            </div><!-- Dark Box Wrap -->
                                                        </li>
                                                        <li class="flex-12 flex-md-4">
                                                            <div class="dark-box">
                                                                <div class="dark-box-header">
                                                                    Total Estimate
                                                                </div><!-- Dark Box Header -->
                                                                <div class="dark-box-body">
                                                                    <ul class="three-box-list">
                                                                        <li class="wid-50">
                                                                            <div class="three-box-content text-center">
                                                                                <span class="three-box-label">
                                                                                    Labour
                                                                                </span>
                                                                                <span class="three-box-value">
                                                                                    <img class="img-responsive img-inline" src="./public/theme/img/content/rupee-dark.svg" alt="Rupee" />
                                                                                    {{job_order.total_estimate_labour_amount | number:2}}
                                                                                </span>
                                                                            </div>
                                                                        </li>
                                                                        <li class="wid-50">
                                                                            <div class="three-box-content text-center">
                                                                                <span class="three-box-label">
                                                                                    Parts
                                                                                </span>
                                                                                <span class="three-box-value">
                                                                                    <img class="img-responsive img-inline" src="./public/theme/img/content/rupee-dark.svg" alt="Rupee" />
                                                                                    {{job_order.total_estimate_parts_amount | number:2}}
                                                                                </span>
                                                                            </div>
                                                                        </li>
                                                                        <li class="wid-100">
                                                                            <div class="three-box-content bg-red text-center">
                                                                                <span class="three-box-label">
                                                                                    TOTAL
                                                                                </span>
                                                                                <span class="three-box-value">
                                                                                    <img class="img-responsive img-inline" src="./public/theme/img/content/rupee-white.svg" alt="Rupee" />
                                                                                    {{job_order.total_estimate_amount | number:2}}
                                                                                </span>
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                    <div class="text-center">
                                                                        <button class="btn-link font-sm">
                                                                            Amount Exclusive of Taxes
                                                                        </button>
                                                                    </div>
                                                                </div><!-- Dark Box Body -->
                                                            </div><!-- Dark Box Wrap -->
                                                        </li>
                                                    </ul><!-- Flex List -->
                                                </div><!-- Column -->
                                            </div><!-- Row -->
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Estimated Amount
                                                            <sup class="mandatory">*</sup>
                                                        </label>
                                                        <input type="text" min="{{job_order.min_estimated_amount}}" ng-model="job_order.estimated_amount" name="estimated_amount" id="estimated_amount" onkeypress="return event.charCode >= 48 && event.charCode <= 57" class="form-control" maxlength="7" placeholder="Enter Estimated Amount" />
                                                    </div><!-- Feild -->
                                                </div><!-- Column -->
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Estimated Delivery Date <sup class="mandatory">*</sup></label>
                                                        <div class="input-group date" data-provide="datepicker" data-date-start-date="0d">
                                                            <input type="text" class="form-control" placeholder="Select Estimated Delivery Date" name="est_delivery_date" id="est_delivery_date" ng-model="job_order.est_delivery_date" />
                                                            <div class="input-group-addon">
                                                                <img class="img-responsive" src="./public/theme/img/content/calender-gray-icon.svg" alt="Calendar Image" />
                                                            </div>
                                                        </div><!-- Input Group -->
                                                    </div><!-- Feild -->
                                                </div><!-- Column -->
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Estimated Delivery Time <sup class="mandatory">*</sup></label>
                                                        <div class="input-group date" moment-picker="job_order.est_delivery_time" format="LT" show-header="false">
                                                            <input class="form-control time-picker-form-contol" placeholder="Select Estimated Delivery Time" id="est_delivery_time" ng-model="job_order.est_delivery_time" name="est_delivery_time">
                                                            <span class="input-group-addon">
                                                                <i class="icon ion-md-time"></i>
                                                            </span>
                                                        </div><!-- Input Group -->
                                                    </div><!-- Feild -->
                                                </div><!-- Column -->
                                            </div><!-- Row -->
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <div class="common-checkbox type-2">
                                                            <input class="check_agree" type="checkbox" id="check_agree" ng-value="1" ng-checked="job_order.is_customer_agreed == 1" ng-click="$ctrl.checkbox()" />
                                                            <label for="check_agree">Customer Agreed?</label>
                                                            <input type="hidden" name="is_customer_agreed" id="is_customer_agreed" />
                                                        </div>
                                                    </div><!-- Feild -->
                                                </div><!-- Column -->
                                            </div><!-- Row -->
                                        </div><!-- Column -->
                                        <div class="tab-pane-footer">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <button type="submit" class="btn btn-red submit" ng-click="saveEstimate(1)">
                                                        Save & Close
                                                    </button>
                                                    <a class="btn btn-secondary-dark btn-prev" href=".#!/inward-vehicle/payable-labour-part-detail/form/{{job_order_id}}">Previous</a>
                                                    <button ng-click="saveEstimate(2)" class="btn btn-secondary-dark btn-min-wdth customer_denied btn-nxt">
                                                        Next
                                                    </button>
                                                    <button class="btn btn-bordered btn-grey btn-min-wdth approval_behalf is_customer_agreed" ng-click="saveEstimate(3)">Approve on behalf of Customer</button>
                                                    <button class="btn btn-secondary-dark btn-min-wdth send_to_customer_approval is_customer_agreed" ng-click="saveEstimate(4)">Send to Customer for Approval</button>
                                                </div>
                                            </div>
                                        </div><!-- Tab Footer -->
                                    </form>
                                </div><!-- Row -->
                            </div><!-- Tab Pane Wrap -->
                        </div><!-- Tabe Pane -->
                    </div><!-- Tab Content -->
                </div><!-- Tab Form Body -->
            </div><!-- Tab Form Wrap -->
        </div><!-- Page Form -->
    </div><!-- Page Main Content -->
</div><!-- Content Wrap -->
<div class="modal modal-otp alert-modal fade" id="otp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="approve_behalf_customer_confirm">
                <div class="modal-header">
                    <button type="button" class="close ripple" data-dismiss="modal" aria-label="Close"><i class="icon ion-md-close"></i></button>
                </div><!-- Modal Header -->
                <div class="modal-body">
                    <h6 class="title">ENTER OTP</h6>
                    <p class="info">Received in Customer Mobile +91<span class="customer_mobile_no"></span></p>
                    <div class="form-group">
                        <input type="text" autofocus name="otp_no" maxlength="6" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');" class="form-control text-center" placeholder="Enter OTP" autocomplete="off" />
                        <input type="hidden" name="job_order_id" id="job_order_id" value="{{job_order.id}}" />
                        <input type="hidden" name="verify_otp" id="id" value="1" />
                    </div><!-- Feild -->
                    <button type="submit" class="btn btn-secondary-dark btn-square btn-block submit_confirm" ng-click="saveOTP()">SUBMIT</button>
                    <button type="button" class="btn-link link" ng-click="ResendOtp()">RESEND OTP</button>
                </div><!-- Modal Body -->
            </form>
        </div><!-- Modal Content -->
    </div><!-- Modal Dialog -->
</div><!-- Modal -->