<!-- Content Wrap -->
<div class="content-wrap cndn-wrap">
    <!-- Page Header -->
    <div class="page-header">
        <div class="page-header-inner">
            <div class="page-header-content-left">
                <div class="page-header-content button-block">
                    <a href="#!/static/gigo/indent/list" type="button" class="btn-back btn-img"><img class="img-responsive" src="./public/theme/img/content/previous.svg" alt="Back" /></a>
                </div><!-- Page Header Content -->
                <div class="page-header-content title-block">
                    <h1 class="title"><b>Inward Vehicle</b></h1>
                    <p class="subtitle">Inward Vehicle / Vehicle Detail</p>
                </div><!-- Page Header Content -->
            </div><!-- Page Header Content Left -->
        </div><!-- Page Header Inner -->
    </div><!-- Page Header -->
    <!-- Page Main Content -->
    <div class="page-main-content form-content type2">
        <div class="page-tab-form pb-70">
            <job-order-header></job-order-header>
            <div class="tab-form-wrap type-2">
                <inward-tabs ng-init="active_tab = 'status-details'"></inward-tabs>
                <div class="tab-form-body">
                    <div class="tab-content">
                        <!-- TAB PANEL -->
                        <div class="tab-pane fade in active" id="status_details" data-animation="fadeInUp" data-animation-delay="300">
                            <div class="tab-pane-wrap">
                                <form id="status_detail_form">
                                    <input type="hidden" name="job_order_id" value="{{job_order.id}}">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h5 class="color-primary mb-10"><b>Estimation Denied by Customer</b></h5>
                                            <hr class="hr-15"><!-- Separater -->
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Estimation Type <sup class="mandatory">*</sup></label>
                                                        <md-select ng-model="selectedDrinks" placeholder="Select any one" md-on-close="clearSearchDrink()" data-md-container-class="selectdemoSelectHeader">
                                                            <md-select-header class="demo-select-header">
                                                                <input ng-model="searchDrink" type="search" placeholder="Search for a drink.." class="demo-header-searchbox md-text">
                                                            </md-select-header>
                                                            <md-optgroup label="drinks">
                                                                <md-option ng-value="drink" ng-repeat="drink in drinks | filter:searchDrink">{{drink}}</md-option>
                                                            </md-optgroup>
                                                        </md-select>
                                                    </div><!-- Feild -->
                                                </div><!-- Column -->
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Minimum Payable Amount <sup class="mandatory">*</sup></label>
                                                        <input type="text" class="form-control" placeholder="Enter Amount" />
                                                    </div><!-- Feild -->
                                                </div><!-- Column -->
                                            </div><!-- Row -->
                                        </div><!-- Column -->
                                        <div class="tab-pane-footer">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <a class="btn btn-red">Save & Close</a>
                                                    <a class="btn btn-secondary-dark btn-prev">Previous</a>
                                                    <button type="button" class="btn btn-secondary-dark" data-toggle="modal" data-target="#confirm_notification">Submit</button>
                                                </div>
                                            </div>
                                        </div><!-- Tab Footer -->
                                    </div><!-- Row -->
                                </form>
                            </div><!-- Tab Pane Wrap -->
                        </div><!-- Tabe Pane -->
                    </div><!-- Tab Content -->
                </div><!-- Tab Form Body -->
            </div><!-- Tab Form Wrap -->
        </div><!-- Page Form -->
    </div><!-- Page Main Content -->
</div><!-- Content Wrap -->
<!-- Drag & Drop File Upload Plugins -->
<script src="./public/theme/js/imageuploadify-gatein.min.js"></script>