<!-- Content Wrap -->
<div class="content-wrap cndn-wrap">
    <!-- Page Header -->
    <div class="page-header">
        <div class="page-header-inner">
            <div class="page-header-content-left">
                <div class="page-header-content button-block">
                    <a href="#!/inward-vehicle/card-list" type="button" class="btn-back btn-img"><img class="img-responsive" src="./public/theme/img/content/previous.svg" alt="Back" /></a>
                </div><!-- Page Header Content -->
                <div class="page-header-content title-block">
                    <h1 class="title"><b>Expert Diagnosis Details</b></h1>
                    <p class="subtitle">Inward Vehicle / Expert Diagnosis Details</p>
                </div><!-- Page Header Content -->
            </div><!-- Page Header Content Left -->
        </div><!-- Page Header Inner -->
    </div><!-- Page Header -->
    <!-- Page Main Content -->
    <div class="page-main-content form-content type2">
        <div class="page-tab-form pb-70">
            <job-order-header></job-order-header>
            <div class="tab-form-wrap type-2 side-tab-open">
                <inward-tabs ng-init="active_tab = 'expert-diagnosis-detail'"></inward-tabs>
                <div class="tab-form-body side-tab-open">
                    <div class="tab-content">
                        <!-- TAB PANEL -->
                        <div class="tab-pane fade in active" id="expert_diagnosis_details" data-animation="fadeInUp" data-animation-delay="300">
                            <div class="tab-pane-wrap">
                                <div class="row">
                                    <form id="form" autocomplete="off">
                                        <div class="col-md-12">
                                            <h5 class="color-primary mb-10"><b>Expert Diagnosis Report</b></h5>
                                            <hr class="hr-15">
                                            <input type="hidden" name="job_order_id" value="{{job_order.id}}">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label>
                                                            Expert Diagnosis Required ?
                                                        </label>
                                                        <div class="common-radio-button type-4">
                                                            <input type="radio" id="sold" name="warrany_status" ng-model="$ctrl.expert_diagnosis_status" ng-value="1">
                                                            <label for="sold">Yes</label>
                                                            <input type="radio" id="not_sold" name="warrany_status" ng-model="$ctrl.expert_diagnosis_status" ng-value="0">
                                                            <label for="not_sold">No</label>
                                                        </div>
                                                    </div><!-- Feild -->
                                                </div><!-- Column -->
                                                <div class="col-md-6" ng-if="$ctrl.expert_diagnosis_status">
                                                    <div class="form-group">
                                                        <label>Expert Diagnosis Outcome <sup class="mandatory">*</sup></label>
                                                        <textarea class="form-control" name="expert_diagnosis_report" rows="4" placeholder="Enter Observations">{{job_order.expert_diagnosis_report}}</textarea>
                                                    </div><!-- Feild -->
                                                </div><!-- Column -->
                                                <div class="col-md-4" ng-if="$ctrl.expert_diagnosis_status">
                                                    <div class="form-group">
                                                        <label>Diagnosed by <sup class="mandatory">*</sup></label>
                                                        <md-select ng-model="job_order.expert_diagnosis_report_by_id" placeholder="Select Diagnosis" md-on-close="clearSearchDriver()" data-md-container-class="selectdemoSelectHeader">
                                                            <md-select-header class="demo-select-header">
                                                                <input ng-model="searchModel" type="search" placeholder="Search for a Expert Diagnosis.." class="demo-header-searchbox md-text">
                                                            </md-select-header>
                                                            <md-optgroup>
                                                                <md-option ng-value="model.id" ng-repeat="model in extras.user_list | filter:searchModel">
                                                                    {{model.name}}
                                                                </md-option>
                                                            </md-optgroup>
                                                        </md-select>
                                                        <input type="hidden" name="expert_diagnosis_report_by_id" value="{{job_order.expert_diagnosis_report_by_id}}">
                                                    </div><!-- Feild -->
                                                </div><!-- Column -->
                                            </div><!-- Row -->
                                        </div><!-- Column -->
                                        <div class="tab-pane-footer">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <button type="submit" ng-click="saveExportDiagonis(1)" class="btn btn-red submit">
                                                        Save & Close
                                                    </button>
                                                    <a href=".#!/inward-vehicle/road-test-detail/form/{{job_order_id}}" class="btn btn-secondary-dark btn-prev">
                                                        Previous
                                                    </a>
                                                    <button ng-click="saveExportDiagonis(2)" class="btn btn-secondary-dark btn-min-wdth btn-nxt">
                                                        Next
                                                    </button>
                                                </div>
                                            </div>
                                        </div><!-- Tab Footer -->
                                    </form>
                                </div><!-- Row -->
                            </div><!-- Tab Pane Wrap -->
                        </div><!-- Tabe Pane -->
                    </div><!-- Tab Content -->
                </div><!-- Tab Form Body -->
            </div><!-- Tab Form Wrap -->
        </div><!-- Page Form -->
    </div><!-- Page Main Content -->
</div><!-- Content Wrap -->