<!-- Content Wrap -->
<div class="content-wrap cndn-wrap">
    <!-- Page Header -->
    <div class="page-header">
        <div class="page-header-inner">
            <div class="page-header-content-left">
                <div class="page-header-content button-block">
                    <a href="#!/inward-vehicle/card-list" type="button" class="btn-back btn-img"><img class="img-responsive" src="./public/theme/img/content/previous.svg" alt="Back" /></a>
                </div><!-- Page Header Content -->
                <div class="page-header-content title-block">
                    <h1 class="title"><b>Vehicle Inspection Report</b></h1>
                    <p class="subtitle">Inward Vehicle / Vehicle Inspection Report</p>
                </div><!-- Page Header Content -->
            </div><!-- Page Header Content Left -->
        </div><!-- Page Header Inner -->
    </div><!-- Page Header -->
    <!-- Page Main Content -->
    <div class="page-main-content form-content type2">
        <div class="page-tab-form pb-70">
            <job-order-header></job-order-header>
            <div class="tab-form-wrap type-2 side-tab-open">
                <inward-tabs ng-init="active_tab = 'inspection-detail'"></inward-tabs>
                <div class="tab-form-body side-tab-open">
                    <div class="tab-content">
                        <!-- TAB PANEL -->
                        <div class="tab-pane fade in active" id="vehicle_inspection_details" data-animation="fadeInUp" data-animation-delay="300">
                            <div class="tab-pane-wrap">
                                <div class="row">
                                    <form id="form">
                                        <input type="hidden" name="job_order_id" value="{{job_order.id}}">
                                        <div class="col-md-12">
                                            <h5 class="color-primary mb-10"><b>Vehicle Inspection Report</b></h5>
                                            <hr class="hr-15"><!-- Separater -->
                                            <div class="panel-group" id="accordion_1">
                                                <div class="panel panel-default type-3" ng-repeat="(index, vehicle_inspection_item_group) in vehicle_inspection_item_groups">
                                                    <div class="panel-heading">
                                                        <a class="panel-title in" data-toggle="collapse" data-parent="#accordion_1" data-target="#collapse_{{index}}">
                                                            {{vehicle_inspection_item_group.name}}
                                                            <span class="arrow"></span>
                                                        </a>
                                                    </div>
                                                    <div id="collapse_{{index}}" class="panel-collapse collapse in">
                                                        <div class="panel-body">
                                                            <div class="row">
                                                                <div class="col-md-6" ng-repeat="(key, vehicle_inspection_item) in vehicle_inspection_item_group.vehicle_inspection_items">
                                                                    <div class="form-group">
                                                                        <label>{{vehicle_inspection_item.name}}</label>
                                                                        <label style="display: none">{{vehicle_inspection_item.status_id ? vehicle_inspection_item.status_id : vehicle_inspection_item.status_id = 8022}}</label>
                                                                        <div class="color-radio-group">
                                                                            <div class="color-radio-item">
                                                                                <input type="radio" id="radio_good_{{index}}_{{key}}" name="vehicle_inspection_items[{{vehicle_inspection_item.id}}]" value="8020" ng-value="8020" ng-model="vehicle_inspection_item.status_id" ng-checked="vehicle_inspection_item.status_id == 8020 || !vehicle_inspection_item.status_id" />
                                                                                <label for="radio_good_{{index}}_{{key}}" class="radio-good"></label>
                                                                            </div>
                                                                            <div class="color-radio-item">
                                                                                <input type="radio" id="radio_average_{{index}}_{{key}}" name="vehicle_inspection_items[{{vehicle_inspection_item.id}}]" ng-value="8021" value="8021" ng-model="vehicle_inspection_item.status_id" ng-checked="vehicle_inspection_item.status_id == 8021" />
                                                                                <label for="radio_average_{{index}}_{{key}}" class="radio-average"></label>
                                                                            </div>
                                                                            <div class="color-radio-item">
                                                                                <input type="radio" id="radio_bad_{{index}}_{{key}}" name="vehicle_inspection_items[{{vehicle_inspection_item.id}}]" ng-value="8022" value="8022" ng-model="vehicle_inspection_item.status_id" ng-checked="vehicle_inspection_item.status_id == 8022" />
                                                                                <label for="radio_bad_{{index}}_{{key}}" class="radio-bad"></label>
                                                                            </div>
                                                                        </div>
                                                                    </div><!-- Feild -->
                                                                </div><!-- Column -->
                                                            </div><!-- Row -->
                                                        </div><!-- Panel Body -->
                                                    </div><!-- Panel Collapse -->
                                                </div><!-- Panel -->
                                            </div><!-- Panel Group -->
                                        </div><!-- Column -->
                                        <div class="tab-pane-footer">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <button ng-click="saveInspectionReport(1)" class="btn btn-red submit">
                                                        Save & Close
                                                    </button>
                                                    <a ng-if="job_order.is_expert_diagnosis_required" href=".#!/inward-vehicle/expert-diagnosis-detail/form/{{job_order_id}}" class="btn btn-secondary-dark btn-prev">Previous</a>
                                                    <a ng-if="!job_order.is_expert_diagnosis_required" href=".#!/inward-vehicle/road-test-detail/form/{{job_order_id}}" class="btn btn-secondary-dark btn-prev">Previous</a>
                                                    <button ng-click="saveInspectionReport(2)" class="btn btn-secondary-dark btn-min-wdth btn-nxt">
                                                        Next
                                                    </button>
                                                </div>
                                            </div>
                                        </div><!-- Tab Footer -->
                                    </form>
                                </div><!-- Row -->
                            </div><!-- Tab Pane Wrap -->
                        </div><!-- Tabe Pane -->
                    </div><!-- Tab Content -->
                </div><!-- Tab Form Body -->
            </div><!-- Tab Form Wrap -->
        </div><!-- Page Form -->
    </div><!-- Page Main Content -->
</div><!-- Content Wrap -->