<!-- Content Wrap -->
<div class="content-wrap cndn-wrap">
    <!-- Page Header -->
    <div class="page-header">
        <div class="page-header-inner">
            <div class="page-header-content-left">
                <div class="page-header-content button-block">
                    <a href="#!/inward-vehicle/card-list" type="button" class="btn-back btn-img"><img class="img-responsive" src="./public/theme/img/content/previous.svg" alt="Back" /></a>
                </div><!-- Page Header Content -->
                <div class="page-header-content title-block">
                    <h1 class="title">
                        <b>
                            Inward Vehicle
                        </b>
                    </h1>
                    <p class="subtitle">
                        Inward Vehicle / Order Detail
                    </p>
                </div><!-- Page Header Content -->
            </div><!-- Page Header Content Left -->
        </div><!-- Page Header Inner -->
    </div><!-- Page Header -->
    <!-- Page Main Content -->
    <div class="page-main-content form-content type2">
        <div class="page-tab-form pb-70">
            <job-order-header></job-order-header>
            <div class="tab-form-wrap type-2 side-tab-open">
                <inward-tabs ng-init="active_tab = 'order-detail'"></inward-tabs>
                <div class="tab-form-body side-tab-open">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="order_details" data-animation="fadeInUp" data-animation-delay="300">
                            <div class="tab-pane-wrap">
                                <form id="order_detail_form" autocomplete="off">
                                    <input type="hidden" name="job_order_id" value="{{job_order.id}}">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h5 class="color-primary mb-10"><b>Order Details</b></h5>
                                            <hr class="hr-15"><!-- Separater -->
                                            <div class="panel-group" id="accordion">
                                                <div class="panel panel-default type-3">
                                                    <div class="panel-heading">
                                                        <a class="panel-title in" data-toggle="collapse" data-parent="#accordion" data-target="#collapse1">
                                                            Driver Details
                                                            <span class="arrow"></span>
                                                        </a>
                                                    </div>
                                                    <div id="collapse1" class="panel-collapse collapse in">
                                                        <div class="panel-body">
                                                            <div class="row">
                                                                <div class="col-md-3">
                                                                    <div class="form-group">
                                                                        <label>
                                                                            Driver Name
                                                                            <sup class="mandatory">*</sup>
                                                                        </label>
                                                                        <input type="text" class="form-control" placeholder="Enter Driver Name" autocomplete="off" ng-model="job_order.driver_name" name="driver_name" />
                                                                    </div><!-- Feild -->
                                                                </div><!-- Column -->
                                                                <div class="col-md-3">
                                                                    <div class="form-group">
                                                                        <label>
                                                                            Mobile Number
                                                                            <sup class="mandatory">*</sup>
                                                                        </label>
                                                                        <input type="text" class="form-control" placeholder="Enter Mobile No" minlength="10" maxlength="10" autocomplete="off" ng-model="job_order.driver_mobile_number" name="driver_mobile_number" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');" />
                                                                    </div><!-- Feild -->
                                                                </div><!-- Column -->
                                                            </div><!-- Row -->
                                                        </div><!-- Panel Body -->
                                                    </div><!-- Panel Collapse -->
                                                </div><!-- Panel -->
                                                <div class="panel panel-default type-3">
                                                    <div class="panel-heading">
                                                        <a class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#collapse2">
                                                            Job Order Details
                                                            <span class="arrow"></span>
                                                        </a>
                                                    </div>
                                                    <div id="collapse2" class="panel-collapse collapse">
                                                        <div class="panel-body">
                                                            <div class="row">
                                                                <div class="col-md-3">
                                                                    <div class="form-group">
                                                                        <label>
                                                                            Job Order Type
                                                                            <sup class="mandatory">
                                                                                *
                                                                            </sup>
                                                                        </label>
                                                                        <md-select ng-model="job_order.type" placeholder="Select Order Type" data-md-container-class="selectdemoSelectHeader" ng-model-options="{trackBy: '$value.id' }">
                                                                            <md-select-header class="demo-select-header">
                                                                                <input ng-model="searchType" type="search" placeholder="Search for a Order Type.." class="demo-header-searchbox md-text">
                                                                            </md-select-header>
                                                                            <md-optgroup>
                                                                                <md-option ng-value="option" ng-repeat="option in extras.job_order_type_list | filter:searchType">
                                                                                    {{option.name}}
                                                                                </md-option>
                                                                            </md-optgroup>
                                                                        </md-select>
                                                                        <input type="hidden" name="type_id" value="{{job_order.type.id}}">
                                                                    </div><!-- Feild -->
                                                                </div><!-- Column -->
                                                                <div class="col-md-3">
                                                                    <div class="form-group">
                                                                        <label>Quote Type <sup class="mandatory">*</sup></label>
                                                                        <md-select ng-model="job_order.quote_type" placeholder="Select Quote Type" data-md-container-class="selectdemoSelectHeader" ng-model-options="{trackBy: '$value.id' }">
                                                                            <md-select-header class="demo-select-header">
                                                                                <input ng-model="searchQuoteType" type="search" placeholder="Search for a Quote Type.." class="demo-header-searchbox md-text">
                                                                            </md-select-header>
                                                                            <md-optgroup>
                                                                                <md-option ng-value="option" ng-repeat="option in extras.quote_type_list | filter:searchQuoteType">
                                                                                    {{option.name}}
                                                                                </md-option>
                                                                            </md-optgroup>
                                                                        </md-select>
                                                                        <input type="hidden" name="quote_type_id" value="{{job_order.quote_type.id}}">
                                                                    </div><!-- Feild -->
                                                                </div><!-- Column -->
                                                                <div class="col-md-3">
                                                                    <div class="form-group">
                                                                        <label>
                                                                            Service Type
                                                                            <sup class="mandatory">
                                                                                *
                                                                            </sup>
                                                                        </label>
                                                                        <md-select ng-model="job_order.service_type" placeholder="Select Service Type" data-md-container-class="selectdemoSelectHeader" ng-model-options="{trackBy: '$value.id' }">
                                                                            <md-select-header class="demo-select-header">
                                                                                <input ng-model="searchServiceType" type="search" placeholder="Search for a Service Type.." class="demo-header-searchbox md-text">
                                                                            </md-select-header>
                                                                            <md-optgroup>
                                                                                <md-option ng-value="option" ng-repeat="option in extras.service_type_list | filter:searchServiceType">
                                                                                    {{option.name}}
                                                                                </md-option>
                                                                            </md-optgroup>
                                                                        </md-select>
                                                                        <input type="hidden" name="service_type_id" value="{{job_order.service_type.id}}">
                                                                    </div><!-- Feild -->
                                                                </div><!-- Column -->
                                                                <div class="col-md-3">
                                                                    <div class="form-group">
                                                                        <label>
                                                                            Reading Type
                                                                            <sup class="mandatory">
                                                                                *
                                                                            </sup>
                                                                        </label>
                                                                        <md-select ng-model="job_order.km_reading_type" placeholder="Select KM Reading Type" data-md-container-class="selectdemoSelectHeader" ng-model-options="{trackBy: '$value.id' }">
                                                                            <md-select-header class="demo-select-header">
                                                                                <input ng-model="searchKMReadingType" type="search" placeholder="Search for a KM Reading Type.." class="demo-header-searchbox md-text">
                                                                            </md-select-header>
                                                                            <md-optgroup>
                                                                                <md-option ng-value="option" ng-repeat="option in extras.reading_type_list | filter:searchKMReadingType">
                                                                                    {{option.name}}
                                                                                </md-option>
                                                                            </md-optgroup>
                                                                        </md-select>
                                                                        <input type="hidden" name="km_reading_type_id" value="{{job_order.km_reading_type.id}}">
                                                                    </div><!-- Feild -->
                                                                </div><!-- Column -->
                                                                <div class="col-md-3" ng-if="job_order.km_reading_type.id == 8040">
                                                                    <div class="form-group">
                                                                        <label>
                                                                            KM Reading
                                                                            <sup class="mandatory">
                                                                                *
                                                                            </sup>
                                                                            <small class="float-right text-grey" ng-if="job_order.vehicle.last_job_order && job_order.vehicle.last_job_order.km_reading">
                                                                                LR : {{job_order.vehicle.last_job_order.km_reading}}
                                                                            </small>
                                                                        </label>
                                                                        <input type="text" class="form-control" placeholder="Enter KM Reading" autocomplete="off" ng-model="job_order.km_reading" name="km_reading" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');" />
                                                                    </div><!-- Feild -->
                                                                </div><!-- Column -->
                                                                <div class="col-md-3" ng-if="job_order.km_reading_type.id == 8041">
                                                                    <div class="form-group">
                                                                        <label>
                                                                            HR Reading
                                                                            <sup class="mandatory">
                                                                                *
                                                                            </sup>
                                                                        </label>
                                                                        <input type="text" class="form-control" placeholder="Enter HR Reading" autocomplete="off" ng-model="job_order.hr_reading" name="hr_reading" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');" />
                                                                    </div><!-- Feild -->
                                                                </div><!-- Column -->
                                                                <div class="col-md-3">
                                                                    <div class="form-group">
                                                                        <label>
                                                                            Service Contact No
                                                                            <sup class="mandatory">
                                                                                *
                                                                            </sup>
                                                                        </label>
                                                                        <input type="text" class="form-control" placeholder="Enter Service Contact No" autocomplete="off" minlength="10" maxlength="10" ng-model="job_order.contact_number" name="contact_number" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');" />
                                                                    </div><!-- Feild -->
                                                                </div><!-- Column -->
                                                            </div><!-- Row -->
                                                        </div><!-- Panel Body -->
                                                    </div><!-- Panel Collapse -->
                                                </div><!-- Panel -->
                                                <div class="panel panel-default type-3">
                                                    <div class="panel-heading">
                                                        <a class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#collapse3">
                                                            Previous Job Card Details
                                                            <span class="arrow"></span>
                                                        </a>
                                                    </div>
                                                    <div id="collapse3" class="panel-collapse collapse">
                                                        <div class="panel-body" ng-if="job_order.vehicle.last_job_order && job_order.vehicle.last_job_order.job_card">
                                                            <div class="view-details mb-no">
                                                                <ul class="view-row pb-none">
                                                                    <li class="view-col-3">
                                                                        <span class="view-col-label">
                                                                            Job Card No
                                                                        </span>
                                                                        <span class="view-data-list-value">
                                                                            <b>
                                                                                {{job_order.vehicle.last_job_order.job_card.number}}
                                                                            </b>
                                                                        </span>
                                                                    </li>
                                                                    <li class="view-col-3">
                                                                        <span class="view-col-label">
                                                                            Date & Time
                                                                        </span>
                                                                        <span class="view-col-value">
                                                                            <b>
                                                                                {{job_order.vehicle.last_job_order.created_at}}
                                                                            </b>
                                                                        </span>
                                                                    </li>
                                                                    <li class="view-col-3">
                                                                        <span class="view-col-label">
                                                                            KM Reading
                                                                        </span>
                                                                        <span class="view-col-value">
                                                                            <b>
                                                                                {{job_order.vehicle.last_job_order.km_reading}}
                                                                            </b>
                                                                        </span>
                                                                    </li>
                                                                    <li class="view-col-3">
                                                                        <span class="view-col-label"></span>
                                                                        <span class="view-col-value"><b></b></span>
                                                                    </li>
                                                                </ul>
                                                            </div><!-- View Data -->
                                                            <a href=".#!/job-card/view/{{job_order.vehicle.last_job_order.job_card.id}}" class="btn btn-secondary-dark btn-md btn-square">View</a>
                                                            <a href=".#!/vehicle/view/{{job_order.vehicle.id}}" class="btn btn-secondary-dark btn-md btn-square">
                                                                View History
                                                            </a>
                                                        </div><!-- Panel Body -->
                                                        <div class="panel-body" ng-if="!job_order.vehicle.last_job_order || !job_order.vehicle.last_job_order.job_card">
                                                            No Previous Job Card Details Found
                                                        </div><!-- Panel Body -->
                                                    </div><!-- Panel Collapse -->
                                                </div><!-- Panel -->
                                                <div class="panel panel-default type-3">
                                                    <div class="panel-heading">
                                                        <a class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#collapse4">
                                                            Documents
                                                            <span class="arrow"></span>
                                                        </a>
                                                    </div>
                                                    <div id="collapse4" class="panel-collapse collapse">
                                                        <div class="panel-body">
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div class="input-text form-group">
                                                                        <ul class="gatein-img-list">
                                                                            <li class="gatein-img-list-item driver-licence-img">
                                                                                <label>Driver Licence <sup class="mandatory">*</sup></label>
                                                                                <div class="avatar-upload type-2">
                                                                                    <div class="avatar-edit" ng-class="{'in': job_order.driver_license_attachment != NULL}">
                                                                                        <input type="file" class="profile-img-upload" name="driving_license_image" id="driving_license_image" accept=".png, .jpg, .jpeg, .svg" />
                                                                                        <label for="driving_license_image">
                                                                                            <img class="img-responsive" src="./public/theme/img/content/edit.png" alt="Edit Image" />
                                                                                        </label>
                                                                                    </div>
                                                                                    <div class="avatar-preview in driver-licence-img" ng-if="job_order.driver_license_attachment != NULL">
                                                                                        <div class="avatar-img" id="imagePreview" style="background-image:url('./storage/app/public/gigo/job_order/attachments/{{job_order.driver_license_attachment.name}}')">
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="avatar-preview driver-licence-img" ng-if="job_order.driver_license_attachment == NULL">
                                                                                        <div class="avatar-img" id="imagePreview" style="">
                                                                                        </div>
                                                                                    </div><!-- Avatar Preview -->
                                                                                </div><!-- Avatar Upload -->
                                                                            </li>
                                                                            <li class="gatein-img-list-item insurance-img">
                                                                                <label>Insurance <sup class="mandatory">*</sup></label>
                                                                                <div class="avatar-upload type-2">
                                                                                    <div class="avatar-edit" ng-class="{'in': job_order.insurance_attachment != NULL}">
                                                                                        <input type="file" class="profile-img-upload" name="insurance_image" id="insurance_image" accept=".png, .jpg, .jpeg, .svg" />
                                                                                        <label for="insurance_image">
                                                                                            <img class="img-responsive" src="./public/theme/img/content/edit.png" alt="Edit Image" />
                                                                                        </label>
                                                                                    </div>
                                                                                    <div class="avatar-preview in insurance-img" ng-if="job_order.insurance_attachment != NULL">
                                                                                        <div class="avatar-img" id="imagePreview" style="background-image:url('./storage/app/public/gigo/job_order/attachments/{{job_order.insurance_attachment.name}}')">
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="avatar-preview insurance-img" ng-if="job_order.insurance_attachment == NULL">
                                                                                        <div class="avatar-img" id="imagePreview" style="">
                                                                                        </div>
                                                                                    </div><!-- Avatar Preview -->
                                                                                </div><!-- Avatar Upload -->
                                                                            </li>
                                                                            <li class="gatein-img-list-item rc-book-img">
                                                                                <label>RC Book <sup class="mandatory">*</sup></label>
                                                                                <div class="avatar-upload type-2">
                                                                                    <div class="avatar-edit" ng-class="{'in': job_order.rc_book_attachment != NULL}">
                                                                                        <input type="file" class="profile-img-upload" name="rc_book_image" id="rc_book_image" accept=".png, .jpg, .jpeg, .svg" />
                                                                                        <label for="rc_book_image">
                                                                                            <img class="img-responsive" src="./public/theme/img/content/edit.png" alt="Edit Image" />
                                                                                        </label>
                                                                                    </div>
                                                                                    <div class="avatar-preview in rc-book-img" ng-if="job_order.rc_book_attachment != NULL">
                                                                                        <div class="avatar-img" id="imagePreview" style="background-image:url('./storage/app/public/gigo/job_order/attachments/{{job_order.rc_book_attachment.name}}')">
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="avatar-preview rc-book-img" ng-if="job_order.rc_book_attachment == NULL">
                                                                                        <div class="avatar-img" id="imagePreview" style="">
                                                                                        </div>
                                                                                    </div><!-- Avatar Preview -->
                                                                                </div><!-- Avatar Upload -->
                                                                            </li>
                                                                        </ul>
                                                                        <div class="attachment_error"></div>
                                                                    </div><!-- Field -->
                                                                </div><!-- Column -->
                                                                <div class="col-md-3">
                                                                    <div class="form-group">
                                                                        <label>
                                                                            License Expiry Date
                                                                            <sup class="mandatory">
                                                                                *
                                                                            </sup>
                                                                        </label>
                                                                        <div class="input-group date" data-provide="datepicker">
                                                                            <input type="text" class="form-control" placeholder="Select Licence Expiry Date" ng-model="job_order.driver_license_expiry_date" name="driver_license_expiry_date" />
                                                                            <div class="input-group-addon">
                                                                                <img class="img-responsive" src="./public/theme/img/content/calender-gray-icon.svg" alt="Calendar Image" />
                                                                            </div>
                                                                        </div><!-- Input Group -->
                                                                    </div><!-- Feild -->
                                                                </div><!-- Column -->
                                                                <div class="col-md-3">
                                                                    <div class="form-group">
                                                                        <label>
                                                                            Insurance Expiry Date
                                                                            <sup class="mandatory">
                                                                                *
                                                                            </sup>
                                                                        </label>
                                                                        <div class="input-group date" data-provide="datepicker">
                                                                            <input type="text" class="form-control" placeholder="Select Insurance Expiry Date" ng-model="job_order.insurance_expiry_date" name="insurance_expiry_date" />
                                                                            <div class="input-group-addon">
                                                                                <img class="img-responsive" src="./public/theme/img/content/calender-gray-icon.svg" alt="Calendar Image" />
                                                                            </div>
                                                                        </div><!-- Input Group -->
                                                                    </div><!-- Feild -->
                                                                </div><!-- Column -->
                                                            </div><!-- Row -->
                                                        </div><!-- Panel Body -->
                                                    </div><!-- Panel Collapse -->
                                                </div><!-- Panel -->
                                            </div><!-- Panel Group -->
                                        </div><!-- Column -->
                                        <div class="tab-pane-footer">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <button ng-click="saveOrderDetailForm(1)" class="btn btn-red submit">
                                                        Save & Close
                                                    </button>
                                                    <a href=".#!/inward-vehicle/customer-detail/{{job_order_id}}" class="btn btn-secondary-dark btn-prev">
                                                        Previous
                                                    </a>
                                                    <button ng-click="saveOrderDetailForm(2)" class="btn btn-secondary-dark btn-min-wdth btn-nxt">
                                                        Next
                                                    </button>
                                                </div><!-- Column -->
                                            </div><!-- Row -->
                                        </div><!-- Tab Footer -->
                                    </div><!-- Row -->
                                </form>
                            </div><!-- Tab Pane Wrap -->
                        </div><!-- Tabe Pane -->
                    </div><!-- Tab Content -->
                </div><!-- Tab Form Body -->
            </div><!-- Tab Form Wrap -->
        </div><!-- Page Form -->
    </div><!-- Page Main Content -->
</div><!-- Content Wrap -->
<!-- Drag & Drop File Upload Plugins -->
<script src="./public/theme/js/imageuploadify-gatein.min.js"></script>