<!-- Content Wrap -->
<style type="text/css">
.strikethrough {
    text-decoration: line-through;
}

.my-disable {
    pointer-events: none;
    opacity: 0.5;
    /*cursor: not-allowed;*/
}
</style>
<div class="content-wrap cndn-wrap">
    <!-- Page Header -->
    <div class="page-header">
        <div class="page-header-inner">
            <div class="page-header-content-left">
                <div class="page-header-content button-block">
                    <a href="#!/inward-vehicle/table-list" type="button" class="btn-back btn-img"><img class="img-responsive" src="./public/theme/img/content/previous.svg" alt="Back" /></a>
                </div><!-- Page Header Content -->
                <div class="page-header-content title-block">
                    <h1 class="title">
                        <b>
                            Inward Vehicle
                        </b>
                    </h1>
                    <p class="subtitle">
                        Inward Vehicle / Other Labour & Parts
                    </p>
                </div><!-- Page Header Content -->
            </div><!-- Page Header Content Left -->
        </div><!-- Page Header Inner -->
    </div><!-- Page Header -->
    <!-- Page Main Content -->
    <div class="page-main-content form-content type2">
        <div class="page-tab-form pb-70">
            <job-order-header></job-order-header>
            <div class="tab-form-wrap type-2 side-tab-open">
                <inward-tabs ng-init="active_tab = 'payable-labour-part-detail'"></inward-tabs>
                <div class="tab-form-body side-tab-open">
                    <div class="tab-content">
                        <form id="payable_form">
                            <input type="hidden" name="job_order_id" value="{{job_order.id}}">
                            <div class="tab-pane fade in active" id="payable_details" data-animation="fadeInUp" data-animation-delay="300">
                                <div class="tab-pane-wrap">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h5 class="color-primary mb-10"><b>Additional Labour & Parts</b></h5>
                                            <hr class="hr-15"><!-- Separater -->
                                            <div class="table-responsive">
                                                <table class="table table-dark-grey">
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                Labour Code
                                                            </th>
                                                            <th>
                                                                Name
                                                            </th>
                                                            <th>
                                                                Type
                                                            </th>
                                                            <th>
                                                                Split Order Type
                                                            </th>
                                                            <th class="text-right">
                                                                Hours
                                                            </th>
                                                            <th class="wid-180 white-space text-right">
                                                                Labour Value
                                                            </th>
                                                            <th class="wid-100"></th>
                                                            <!-- <th class="wid-100"></th> -->
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr class="ptb-12" ng-repeat="(index, labour_details) in labour_details" id="tr_{{index}}" ng-class="labour_details.removal_reason_id == 10022 ? 'strikethrough' : ''" ng-if="labour_details.removal_reason_id != '10021'">
                                                            <td>{{labour_details.code ? labour_details.code : ''}}
                                                            </td>
                                                            <td>{{labour_details.name ? labour_details.name : ''}}</td>
                                                            <td>
                                                                {{labour_details.type}}
                                                            </td>
                                                            <td>
                                                                {{labour_details.split_order_type}}
                                                            </td>
                                                            <td class="text-right">
                                                                {{labour_details.qty}}
                                                            </td>
                                                            <td class="wid-180 white-space text-right">
                                                                {{labour_details.amount | number:2}}
                                                            </td>
                                                            <td class="wid-100" ng-class="labour_details.removal_reason_id == 10022 ? 'my-disable' : ''">
                                                                <!-- <a href="#!/inward-vehicle/payable-labour-part/add-labour/form/edit/{{job_order.id}}/{{job_order_labour.id}}" class="btn img-btn btn-delete">
                                                                    <img class="img-responsive radius-50" src="./public/theme/img/table/cndn/edit-blue.svg" alt="Edit" />
                                                                </a> -->
                                                                <button type="button" ng-click="showLabourForm(index,labour_details)" class="btn img-btn btn-delete">
                                                                    <img class="img-responsive radius-50" src="./public/theme/img/table/cndn/edit-blue.svg" alt="Edit" />
                                                                </button>
                                                                <button class="btn img-btn btn-delete">
                                                                    <img class="img-responsive radius-50" ng-click="removePayableLabour(index,labour_details.id,'labour')" src="./public/theme/img/content/delete-active.svg" alt="Delete" />
                                                                </button>
                                                            </td>
                                                        </tr>
                                                        <tr class="ptb-9">
                                                            <td>
                                                                <!-- <a nng-if="job_order.is_customer_approved != '1'" href=".#!/inward-vehicle/payable-labour-part/add-labour/form/{{job_order.id}}" class="btn btn-md type2 btn-green btn-square">
                                                                    Add Labour
                                                                </a> -->
                                                                <button ng-if="job_order.is_customer_approved != '1'" type="button" class="btn btn-md type2 btn-green btn-square" ng-click="showLabourForm(false)">
                                                                    Add Labour
                                                                </button>
                                                            </td>
                                                            <td colspan="4" class="text-right">
                                                                <b>
                                                                    Total Labour
                                                                </b>
                                                            </td>
                                                            <td class="wid-180 white-space  text-right">
                                                                <img class="img-responsive img-inline" src="./public/theme/img/table/cndn/table-rupee.svg" alt="Rupee" />
                                                                <b>
                                                                    {{labour_total_amount | number:2}}
                                                                </b>
                                                            </td>
                                                            <td class="wid-100">
                                                            </td>
                                                        </tr>
                                                        <input type="hidden" name="delete_job_order_repair_order_ids" id="delete_job_order_repair_order_ids" value="">
                                                    </tbody>
                                                </table>
                                            </div><!-- Table Responsive -->
                                            <div class="mb-15"></div><!-- Spacing -->
                                            <div class="table-responsive">
                                                <table class="table table-dark-grey">
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                Part Code
                                                            </th>
                                                            <th>
                                                                Name
                                                            </th>
                                                            <th>
                                                                Type
                                                            </th>
                                                            <th>
                                                                Split Order Type
                                                            </th>
                                                            <th class="text-right">
                                                                Rate
                                                            </th>
                                                            <th class="text-right">
                                                                Quantity
                                                            </th>
                                                            <th class="wid-180 white-space text-right">
                                                                Amount
                                                            </th>
                                                            <th class="wid-100"></th>
                                                            <!-- <th class="wid-100"></th> -->
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr class="ptb-12" ng-repeat="(index, part_details) in part_details" id="tp_{{index}}" ng-class="part_details.removal_reason_id == 10022 ? 'strikethrough' : ''" ng-if="part_details.removal_reason_id != '10021'">
                                                            <td>
                                                                {{part_details.code}}
                                                            </td>
                                                            <td>
                                                                {{part_details.name}}
                                                            </td>
                                                            <td>
                                                                {{part_details.type}}
                                                            </td>
                                                            <td>
                                                                {{part_details.split_order_type}}
                                                            </td>
                                                            <td class="text-right">
                                                                {{part_details.rate | number:2}}
                                                            </td>
                                                            <td class="text-right">
                                                                {{part_details.qty}}
                                                            </td>
                                                            <td class="wid-180 white-space text-right" ng-if="part_details.is_free_service == 1">
                                                                <p class="text-danger">0.00</p>
                                                            </td>
                                                            <td class="wid-180 white-space text-right" ng-if="part_details.is_free_service != 1">
                                                                {{part_details.amount | number:2}}
                                                            </td>
                                                            <td class="wid-100" ng-class="part_details.removal_reason_id == 10022 ? 'my-disable' : ''">
                                                                <!-- <a href="#!/inward-vehicle/payable-labour-part/add-part/form/edit/{{job_order.id}}/{{job_order_part.id}}" class="btn img-btn btn-delete">
                                                                    <img class="img-responsive radius-50" src="./public/theme/img/table/cndn/edit-blue.svg" alt="Edit" />
                                                                </a> -->
                                                                <button type="button" ng-click="showPartForm(index,part_details)" class="btn img-btn btn-delete">
                                                                    <img class="img-responsive radius-50" src="./public/theme/img/table/cndn/edit-blue.svg" alt="Edit" />
                                                                </button>
                                                                <button class="btn img-btn btn-delete">
                                                                    <img class="img-responsive radius-50" ng-click="removePayablePart(index,part_details.id,'parts')" src="./public/theme/img/content/delete-active.svg" alt="Delete" />
                                                                </button>
                                                            </td>
                                                        </tr>
                                                        <tr class="ptb-9">
                                                            <td>
                                                                <!-- <a ng-if="job_order.is_customer_approved != '1'" href=".#!/inward-vehicle/payable-labour-part/add-part/form/{{job_order.id}}" class="btn btn-md type2 btn-green btn-square">
                                                                    Add Parts
                                                                </a> -->
                                                                <button ng-if="job_order.is_customer_approved != '1'" type="button" class="btn btn-md type2 btn-green btn-square" ng-click="showPartForm(false)">
                                                                    Add Part
                                                                </button>
                                                            </td>
                                                            <td colspan="5" class="text-right">
                                                                <b>
                                                                    Total Parts
                                                                </b>
                                                            </td>
                                                            <td class="wid-180 white-space text-right">
                                                                <img class="img-responsive img-inline" src="./public/theme/img/table/cndn/table-rupee.svg" alt="Rupee" />
                                                                <b>
                                                                    {{parts_total_amount | number:2}}
                                                                </b>
                                                            </td>
                                                            <td class="wid-100">
                                                            </td>
                                                        </tr>
                                                        <input type="hidden" name="delete_job_order_part_ids" id="delete_job_order_part_ids" value="">
                                                    </tbody>
                                                </table>
                                            </div><!-- Table Responsive -->
                                            <div class="mb-20"></div><!-- Spacing -->
                                            <div class="table-transparent-wrap">
                                                <div class="table-responsive">
                                                    <table class="table-transparent">
                                                        <tbody>
                                                            <tr>
                                                                <td class="text-right">
                                                                    <b>
                                                                        Total Labour & Parts
                                                                    </b>
                                                                </td>
                                                                <td class="wid-180 text-right">
                                                                    <img class="img-responsive img-inline" src="./public/theme/img/table/cndn/table-rupee.svg" alt="Rupee" />
                                                                    <b>
                                                                        {{total_amount | number:2}}
                                                                    </b>
                                                                </td>
                                                                <td class="wid-100"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div><!-- Table Transparent Wrap -->
                                            <div class="mb-20"></div><!-- Spacing -->
                                            <hr>
                                            <div class="col-md-12" ng-if="job_order.status_id != 8472 && !job_order.part_intent_confirmed_date && total_labour_count > 0">
                                                <div class="text-center pt-40">
                                                    <a class="btn btn-red part_request" data-toggle="modal" data-target="#confirmation_modal">Send to Module Store to Add Parts</a>
                                                </div>
                                                <div class="mb-20"></div><!-- Spacing -->
                                            </div>
                                        </div><!-- Column -->
                                        <div class="tab-pane-footer">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <button class="btn btn-red submit" type="submit" ng-click="savePayableForm(1)">Save & Close</button>
                                                    <a href=".#!/inward-vehicle/scheduled-maintenance/form/{{job_order.id}}" class="btn btn-secondary-dark btn-prev">Previous</a>
                                                    <button class="btn btn-secondary-dark btn-min-wdth btn-nxt" ng-click="savePayableForm(2)" ng-if="job_order.status_id != 8472">Next</button>
                                                </div>
                                            </div>
                                        </div><!-- Tab Footer -->
                                    </div><!-- Row -->
                                </div><!-- Tab Pane Wrap -->
                            </div><!-- Tabe Pane -->
                        </form>
                    </div><!-- Tab Content -->
                </div><!-- Tab Form Body -->
            </div><!-- Tab Form Wrap -->
        </div><!-- Page Form -->
    </div><!-- Page Main Content -->
</div><!-- Content Wrap -->
<!-- Modal -->
<div class="modal fade alert-modal failure" id="confirmation_modal" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">CONFIRMATION?</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure? Do you want to send Stock Incharge to add Parts? </p>
                <input type="hidden" name="job_order_id" value="{{job_order.id}}">
                <button class="btn btn-grey" data-dismiss="modal" aria-label="Close">No</button>
                <button class="btn btn-success send_confirm" ng-click="sendConfirm()">Yes</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal filter fade" id="delete_labour_parts" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm finance-view-modal" role="document">
        <form id="labour_parts_remove">
            <input type="hidden" name="labour_parts_id" id="labour_parts_id" value="">
            <input type="hidden" name="payable_type" id="payable_type" value="">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="icon ion-md-close"></i></button>
                    <h4 class="modal-title">Delete Request</h4>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>
                                                Delete Reason
                                                <sup class="mandatory">*</sup></label>
                                            <div class="common-radio-button type-4">
                                                <input type="radio" id="worngly_entered" name="removal_reason_id" ng-model="delete_reason" ng-value="10021" value="10021" ng-checked="delete_reason">
                                                <label for="worngly_entered">
                                                    Added By Mistake
                                                </label>
                                                <input type="radio" ng-model="delete_reason" id="customer_delete" name="removal_reason_id" ng-value="10022" value="10022">
                                                <label for="customer_delete">
                                                    Customer Denied
                                                </label>
                                            </div>
                                            <div id="errorDeleteReasonRequired"></div>
                                        </div><!-- Feild -->
                                    </div><!-- Column -->
                                </div><!-- Feild -->
                            </div><!-- Column -->
                            <div class="col-md-12" ng-if="delete_reason == '10022'">
                                <div class="form-group">
                                    <label>Remarks <sup class="mandatory">*</sup></label>
                                    <textarea class="form-control" rows="5" id="removal_reason" name="removal_reason"></textarea>
                                </div><!-- Feild -->
                            </div><!-- Column -->
                        </div><!-- Row -->
                    </div><!-- Container -->
                </div><!-- Modal Body -->
                <div class="modal-footer">
                    <button class="btn btn-grey" data-dismiss="modal" aria-label="Close">
                        Cancel
                    </button>
                    <button class="btn btn-red submit" ng-click="saveLabourPartDeleteForm()">Submit</button>
                </div><!-- Modal Footer -->
            </div><!-- Modal Content -->
        </form>
    </div><!-- Modal Dialog -->
</div><!-- Modal Content -->
<div class="modal fade filter" id="labour_form_modal" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <form id="labour_form">
            <input type="hidden" name="job_order_id" value="{{job_order.id}}">
            <input type="hidden" name="job_order_repair_order_id" value="{{repair_order_id}}">
            <input type="hidden" name="type" value="payable">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close ripple" data-dismiss="modal" aria-label="Close"><i class="icon ion-md-close"></i></button>
                    <h5 class="modal-title" id="myModalLabel">
                        {{modal_action}} Labour
                    </h5>
                </div><!-- Modal Header -->
                <div class="modal-body">
                    <div class="modal-form">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>
                                        ROT Code
                                        <span class="mandatory">*</span>
                                    </label>
                                    <md-autocomplete md-selected-item="schedule_maintainance_ro.repair_order" md-search-text="repairOrderSearchKey" md-items="repair_order in searchRepairOrders(repairOrderSearchKey)" md-item-text="repair_order.code" md-min-length="3" md-escape-options="clear" placeholder="Ex. ABS100" md-selected-item-change="repairOrderSelected(schedule_maintainance_ro.repair_order)" md-input-id="repairOrderAutoCompleteId">
                                        <md-item-template>
                                            <span>
                                                {{repair_order.code}} / {{repair_order.name}}
                                            </span>
                                        </md-item-template>
                                        <md-not-found>
                                            No records matching "{{repairOrderSearchKey}}" were found.
                                        </md-not-found>
                                    </md-autocomplete>
                                    <input type="hidden" class="required" name="rot_id" value="{{schedule_maintainance_ro.repair_order.id}}">
                                </div><!-- Field -->
                            </div><!-- Column -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>
                                        Split Order Type
                                        <span class="mandatory">*</span>
                                    </label>
                                    <md-select ng-model="schedule_maintainance_ro.split_order_type" placeholder="Select Split Order Type" data-md-container-class="selectdemoSelectHeader" ng-model-options="{trackBy: '$value.id' }">
                                        <md-select-header class="demo-select-header">
                                            <input ng-model="searchSplitOrderTypeKey" type="search" placeholder="Search.." class="demo-header-searchbox md-text">
                                        </md-select-header>
                                        <md-optgroup>
                                            <md-option ng-value="split_order_type" ng-repeat="split_order_type in options.split_order_types | filter:searchSplitOrderTypeKey">
                                                {{split_order_type.name}} / {{split_order_type.code}}
                                            </md-option>
                                        </md-optgroup>
                                    </md-select>
                                    <input type="hidden" class="required" name="split_order_type_id" value="{{schedule_maintainance_ro.split_order_type.id}}">
                                </div><!-- Field -->
                            </div><!-- Column -->
                        </div><!-- Row -->
                        <div class="view-details mb-no" ng-if="schedule_maintainance_ro.repair_order">
                            <ul class="view-row mb-no pad-tb-none">
                                <li class="view-col-4">
                                    <span class="view-col-label">ROT Description</span>
                                    <span class="view-data-list-value">{{schedule_maintainance_ro.repair_order.name}}</span>
                                </li>
                                <li class="view-col-4">
                                    <span class="view-col-label">Category</span>
                                    <span class="view-data-list-value">{{schedule_maintainance_ro.repair_order.category.name}}</span>
                                </li>
                                <li class="view-col-4">
                                    <span class="view-col-label">Skill Level</span>
                                    <span class="view-data-list-value">{{schedule_maintainance_ro.repair_order.skill_level.short_name}}</span>
                                </li>
                                <li class="view-col-4">
                                    <span class="view-col-label">Hours</span>
                                    <span class="view-data-list-value">{{schedule_maintainance_ro.repair_order.hours}}</span>
                                </li>
                                <li class="view-col-4">
                                    <span class="view-col-label">Amount</span>
                                    <span class="view-data-list-value">{{schedule_maintainance_ro.repair_order.amount | currency}}</span>
                                </li>
                            </ul>
                        </div><!-- View Data -->
                    </div><!-- Modal Form -->
                </div><!-- Modal Body -->
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-6">
                        </div><!-- Column -->
                        <div class="col-md-6 text-right">
                            <button type="button" data-dismiss="modal" class="btn btn-primary btn-bordered cancel_modal_btn">
                                Cancel
                            </button>
                            <button type="submit" ng-click="saveLabour()" class="btn btn-bordered save_labour">Submit</button>
                        </div><!-- Column -->
                    </div><!-- Row -->
                </div><!-- Modal Footer -->
            </div><!-- Modal Content -->
        </form>
    </div><!-- Modal Dialog -->
</div><!-- Modal -->
<div class="modal fade filter" id="part_form_modal" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <form id="part_form">
            <input type="hidden" name="job_order_id" value="{{job_order.id}}">
            <input type="hidden" name="job_order_part_id" value="{{job_order_part_id}}">
            <input type="hidden" name="type" value="payable">
            <input type="hidden" name="type_id" value="1">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close ripple" data-dismiss="modal" aria-label="Close"><i class="icon ion-md-close"></i></button>
                    <h5 class="modal-title" id="myModalLabel">
                        {{modal_action}} Part
                    </h5>
                </div><!-- Modal Header -->
                <div class="modal-body">
                    <div class="modal-form">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>
                                        Repair Orders
                                    </label>
                                    <md-select multiple ng-model="$ctrl.repair_order_ids" placeholder="Select Repair Order" md-on-close="clearSearchRejectedReason()" data-md-container-class="selectdemoSelectHeader">
                                        <md-select-header class="demo-select-header">
                                            <input ng-model="searchRepairOrder" type="search" placeholder="Search Repair Order.." class="demo-header-searchbox md-text">
                                        </md-select-header>
                                        <md-optgroup>
                                            <md-option ng-value="category.id" ng-repeat="category in labours | filter:searchRepairOrder">{{category.code}} / {{category.name}}</md-option>
                                        </md-optgroup>
                                    </md-select>
                                    <input type="hidden" name="repair_orders" value="{{$ctrl.repair_order_ids}}">
                                </div><!-- Field -->
                            </div><!-- Column -->
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>
                                        Part Code
                                        <span class="mandatory">*</span>
                                    </label>
                                    <md-autocomplete md-selected-item="schedule_maintainance_part.part" md-search-text="partSearchKey" md-items="part in searchParts(partSearchKey)" md-item-text="part.code" md-min-length="4" md-escape-options="clear" placeholder="Ex. F0831610(L)" md-selected-item-change="console.log(1);partSelected(part)" md-input-id="partAutoCompleteId">
                                        <md-item-template>
                                            <span>
                                                {{part.code}} / {{part.name}}
                                            </span>
                                        </md-item-template>
                                        <md-not-found>
                                            No records matching "{{partSearchKey}}" were found.
                                        </md-not-found>
                                    </md-autocomplete>
                                    <input type="hidden" name="part_id" value="{{schedule_maintainance_part.part.id}}">
                                </div><!-- Field -->
                            </div><!-- Column -->
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Available Quantity</label>
                                    <input type="text" ng-model="available_quantity" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" class="form-control" placeholder="Available Quantity" autocomplete="off" readonly />
                                </div><!-- Feild -->
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>
                                        Split Order Type
                                        <span class="mandatory">*</span>
                                    </label>
                                    <md-select ng-model="schedule_maintainance_part.split_order_type" placeholder="Split Order Type" data-md-container-class="selectdemoSelectHeader" ng-model-options="{trackBy: '$value.id' }">
                                        <md-select-header class="demo-select-header">
                                            <input ng-model="searchSplitOrderTypeKey" type="search" placeholder="Search.." class="demo-header-searchbox md-text">
                                        </md-select-header>
                                        <md-optgroup>
                                            <md-option ng-value="split_order_type" ng-repeat="split_order_type in options.split_order_types | filter:searchSplitOrderTypeKey">
                                                {{split_order_type.name}} / {{split_order_type.code}}
                                            </md-option>
                                        </md-optgroup>
                                    </md-select>
                                    <input type="hidden" name="split_order_type_id" value="{{schedule_maintainance_part.split_order_type.id}}">
                                </div><!-- Field -->
                            </div><!-- Column -->
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Quantity <sup class="mandatory">*</sup></label>
                                    <input type="text" name="qty" ng-model="schedule_maintainance_part.part.qty" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" ng-keyup="calculatePartAmount()" class="form-control" placeholder="Enter Quantity" autocomplete="off" />
                                </div><!-- Feild -->
                            </div>
                        </div><!-- Row -->
                        <div class="view-details mb-no" ng-if="schedule_maintainance_part.part">
                            <ul class="view-row mb-no pad-tb-none">
                                <li class="view-col-4">
                                    <span class="view-col-label">Part Description</span>
                                    <span class="view-data-list-value">{{schedule_maintainance_part.part.name}}</span>
                                </li>
                                <li class="view-col-4">
                                    <span class="view-col-label">MRP</span>
                                    <!-- <span class="view-data-list-value">{{schedule_maintainance_part.part.mrp | currency}}</span> -->
                                    <input class="form-control" ng-if="available_quantity == 0" ng-model="schedule_maintainance_part.part.mrp" type="text" name="mrp" value="{{schedule_maintainance_part.part.mrp}}" ng-keyup="calculatePartAmount()" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                                    <span ng-if="available_quantity != 0" class="view-data-list-value">
                                        <input class="form-control" ng-if="available_quantity != 0" type="hidden" name="mrp" value="{{schedule_maintainance_part.part.mrp}}">
                                        {{schedule_maintainance_part.part.mrp | currency}}</span>
                                </li>
                                <li class="view-col-4">
                                    <span class="view-col-label">UOM</span>
                                    <span class="view-data-list-value">{{schedule_maintainance_part.part.uom.code}}</span>
                                </li>
                                <li class="view-col-4">
                                    <span class="view-col-label">Amount</span>
                                    <span class="view-data-list-value">{{schedule_maintainance_part.part.total_amount | currency}}</span>
                                </li>
                            </ul>
                        </div><!-- View Data -->
                    </div><!-- Modal Form -->
                </div><!-- Modal Body -->
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-6">
                        </div><!-- Column -->
                        <div class="col-md-6 text-right">
                            <button type="button" data-dismiss="modal" class="btn btn-primary btn-bordered cancel_modal_btn">
                                Cancel
                            </button>
                            <button type="submit" ng-click="savePart()" class="btn btn-bordered save_part">Submit</button>
                        </div><!-- Column -->
                    </div><!-- Row -->
                </div><!-- Modal Footer -->
            </div><!-- Modal Content -->
        </form>
    </div><!-- Modal Dialog -->
</div><!-- Modal -->
<!-- Modal -->
<!-- Drag & Drop File Upload Plugins -->
<script src="./public/theme/js/imageuploadify-gatein.min.js"></script>