Content Wrap -->
<div class="content-wrap cndn-wrap">
    <!-- Page Header -->
    <div class="page-header">
        <div class="page-header-inner">
            <div class="page-header-content-left">
                <div class="page-header-content button-block">
                    <a href="#!/static/gigo/indent/list" type="button" class="btn-back btn-img"><img class="img-responsive" src="./public/theme/img/content/previous.svg" alt="Back" /></a>
                </div><!-- Page Header Content -->
                <div class="page-header-content title-block">
                    <h1 class="title">
                        <b>
                            Inward Vehicle
                        </b>
                    </h1>
                    <p class="subtitle">
                        Inward Vehicle / Road Test Observations
                    </p>
                </div><!-- Page Header Content -->
            </div><!-- Page Header Content Left -->
        </div><!-- Page Header Inner -->
    </div><!-- Page Header -->
    <!-- Page Main Content -->
    <div class="page-main-content form-content type2">
        <div class="page-tab-form pb-70">
            <job-order-header></job-order-header>
            <div class="tab-form-wrap type-2">
                <inward-tabs ng-init="active_tab = 'road-test-detail'"></inward-tabs>
                <div class="tab-form-body">
                    <div class="tab-content">
                        <!-- TAB PANEL -->
                        <div class="tab-pane fade in active" id="road_test_details" data-animation="fadeInUp" data-animation-delay="300">
                            <div class="tab-pane-wrap">
                                <form id="road_test_form">
                                    <input type="hidden" name="job_order_id" value="{{job_order.id}}">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h5 class="color-primary mb-10">
                                                <b>
                                                    Road Test Observations
                                                </b>
                                            </h5>
                                            <hr class="hr-15">
                                            <div class="row">
                                                <div class="col-md-4" id="road_test_required">
                                                    <div class="form-group">
                                                        <label>
                                                            Road Test Required ?
                                                        </label>
                                                        <div class="common-radio-button type-4">
                                                            <input type="radio" id="registered" name="is_road_test_required" value="1" checked="" ng-click="$ctrl.selectRegistered(1)">
                                                            <label for="registered">
                                                                Registered
                                                            </label>
                                                            <input type="radio" id="unregistered" name="is_road_test_required" value="0" ng-click="$ctrl.selectRegistered(0)">
                                                            <label for="unregistered">
                                                                Un Registered
                                                            </label>
                                                        </div>
                                                    </div><!-- Feild -->
                                                </div><!-- Column -->
                                                <div class="col-md-4" id="road_test_by">
                                                    <div class="form-group">
                                                        <label>
                                                            Road Test by
                                                        </label>
                                                        <div class="common-radio-button type-4">
                                                            <input type="radio" id="employee" name="road_test_done_by_id" ng-checked="{{job_order.road_test_done_by_id==8101}}" value="8101" ng-click="$ctrl.selectRoadTestBy(8101)">
                                                            <label for="employee">
                                                                Employee
                                                            </label>
                                                            <input type="radio" id="customer" name="road_test_done_by_id" ng-checked="{{job_order.road_test_done_by_id==8100}}" value="8100" ng-click="$ctrl.selectRoadTestBy(8100)">
                                                            <label for="customer">
                                                                Customer
                                                            </label>
                                                        </div>
                                                    </div><!-- Feild -->
                                                </div><!-- Column -->
                                                <div class="col-md-4" id="road_test_driver">
                                                    <div class="form-group">
                                                        <label>
                                                            Select Driver For Road Test
                                                            <sup class="mandatory">*</sup>
                                                        </label>
                                                        <md-select ng-model="job_order.employee.id" placeholder="Select employee" md-on-close="clearSearchDriver()" data-md-container-class="selectdemoSelectHeader">
                                                            <md-select-header class="demo-select-header">
                                                                <input ng-model="searchDriver" type="search" placeholder="Search for a employee.." class="demo-header-searchbox md-text">
                                                            </md-select-header>
                                                            <md-optgroup>
                                                                <md-option ng-value="employee.id" ng-repeat="employee in extras.user_list | filter:searchDriver">
                                                                    {{employee.name}}
                                                                </md-option>
                                                            </md-optgroup>
                                                        </md-select>
                                                        <input type="hidden" name="road_test_performed_by_id" value="{{job_order.employee.id}}">
                                                    </div><!-- Feild -->
                                                </div><!-- Column -->
                                                <div class="col-md-6" id="road_test_observation">
                                                    <div class="form-group">
                                                        <label>
                                                            Road Test Observations
                                                            <sup class="mandatory">*</sup>
                                                        </label>
                                                        <textarea class="form-control" rows="4" placeholder="Enter Observations" name="road_test_report">
                                                        </textarea>
                                                    </div><!-- Feild -->
                                                </div><!-- Column -->
                                            </div><!-- Row -->
                                        </div><!-- Column -->
                                        <div class="tab-pane-footer">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <button type="submit" ng-click="saveRoadTestDetailForm()" class="btn btn-red submit">
                                                        Save & Close
                                                    </button>
                                                    <a href=".#!/inward-vehicle/voc-detail/form/{{job_order_id}}" class="btn btn-secondary-dark btn-prev">
                                                        Previous
                                                    </a>
                                                    <button ng-click="saveRoadTestDetailForm()" class="btn btn-secondary-dark btn-min-wdth btn-nxt">
                                                        Next
                                                    </button>
                                                </div>
                                            </div>
                                        </div><!-- Tab Footer -->
                                    </div><!-- Row -->
                                </form>
                            </div><!-- Tab Pane Wrap -->
                        </div><!-- Tabe Pane -->
                    </div><!-- Tab Content -->
                </div><!-- Tab Form Body -->
            </div><!-- Tab Form Wrap -->
        </div><!-- Page Form -->
    </div><!-- Page Main Content -->
</div><!-- Content Wrap