<!-- Content Wrap -->
<div class="content-wrap cndn-wrap">
    <!-- Page Header -->
    <div class="page-header">
        <div class="page-header-inner">
            <div class="page-header-content-left">
                <div class="page-header-content button-block">
                    <a href="#!/static/gigo/indent/list" type="button" class="btn-back btn-img"><img class="img-responsive" src="./public/theme/img/content/previous.svg" alt="Back" /></a>
                </div><!-- Page Header Content -->
                <div class="page-header-content title-block">
                    <h1 class="title"><b>Inward Vehicle</b></h1>
                    <p class="subtitle">Inward Vehicle / Vehicle Detail</p>
                </div><!-- Page Header Content -->
            </div><!-- Page Header Content Left -->
        </div><!-- Page Header Inner -->
    </div><!-- Page Header -->
    <!-- Page Main Content -->
    <div class="page-main-content form-content type2">
        <div class="page-tab-form pb-70">
            <job-order-header></job-order-header>
            <div class="tab-form-wrap type-2">
                <inward-tabs ng-init="active_tab = 'vehicle-detail'"></inward-tabs>
                <div class="tab-form-body">
                    <div class="tab-content">
                        <!-- TAB PANEL -->
                        <div class="tab-pane fade in active" id="vehicle_details" data-animation="fadeInUp" data-animation-delay="300">
                            <div class="tab-pane-wrap">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h5 class="color-primary mb-10">
                                            <b>
                                                Vehicle Details
                                            </b>
                                        </h5>
                                        <ul class="view-row mb-no" ng-show="show_vehicle_detail">
                                            <li class="view-col-3">
                                                <span class="view-col-label">
                                                    Registration Type
                                                </span>
                                                <span class="view-data-list-value">
                                                    <b ng-if="job_order.vehicle.is_registered == 1">
                                                        Registered Vehicle
                                                    </b>
                                                    <b ng-if="job_order.vehicle.is_registered != 1">
                                                        Un-Registered Vehicle
                                                    </b>
                                                </span>
                                            </li>
                                            <li class="view-col-3" ng-if="job_order.vehicle.is_registered == 1">
                                                <span class="view-col-label">
                                                    Registration No
                                                </span>
                                                <span class="view-col-value">
                                                    <b>
                                                        {{job_order.vehicle.registration_number}}
                                                    </b>
                                                </span>
                                            </li>
                                            <li class="view-col-3">
                                                <span class="view-col-label">
                                                    Vehicle Model
                                                </span>
                                                <span class="view-col-value">
                                                    <b>
                                                        {{job_order.vehicle.model.model_number}}
                                                    </b>
                                                </span>
                                            </li>
                                            <li class="view-col-3">
                                                <span class="view-col-label">
                                                    VIN Number
                                                </span>
                                                <span class="view-col-value">
                                                    {{job_order.vehicle.vin_number}}
                                                </span>
                                            </li>
                                            <li class="view-col-3">
                                                <span class="view-col-label">
                                                    Engine Number
                                                </span>
                                                <span class="view-col-value">
                                                    {{job_order.vehicle.engine_number}}
                                                </span>
                                            </li>
                                            <li class="view-col-3">
                                                <span class="view-col-label">
                                                    Chassis Number
                                                </span>
                                                <span class="view-data-list-value">
                                                    <b>
                                                        {{job_order.vehicle.chassis_number}}
                                                    </b>
                                                </span>
                                            </li>
                                        </ul>
                                        <div class="tab-pane-footer1" ng-show="show_vehicle_detail">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <a type="button" class="btn btn-red" ng-click="showVehicleForm()">
                                                        Edit
                                                    </a>
                                                    <a type="button" class="btn btn-red" href=".#!/inward-vehicle/customer-detail/{{job_order.id}}">
                                                        Save & Close
                                                    </a>
                                                    <a type="button" class="btn btn-secondary-dark btn-min-wdth btn-nxt" href=".#!/inward-vehicle/customer-detail/{{job_order.id}}">
                                                        Next
                                                    </a>
                                                </div>
                                            </div>
                                        </div><!-- Tab Footer -->
                                        <form id="form">
                                            <input type="hidden" name="id" value="{{job_order.vehicle.id}}">
                                            <div class="row" ng-show="show_vehicle_form">
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>Registration Type <sup class="mandatory">*</sup></label>
                                                        <div class="common-radio-button type-4">
                                                            <input type="radio" id="radio_yes" name="is_registered" ng-model="job_order.vehicle.is_registered" ng-value="1">
                                                            <label for="radio_yes">Registered</label>
                                                            <input type="radio" id="radio_no" name="is_registered" ng-model="job_order.vehicle.is_registered" ng-value="0">
                                                            <label for="radio_no">Un Registered</label>
                                                        </div>
                                                    </div><!-- Feild -->
                                                </div><!-- Column -->
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>
                                                            Registration Number
                                                            <sup class="mandatory">*</sup>
                                                        </label>
                                                        <input type="text" class="form-control" placeholder="Enter Registration No" autocomplete="off" ng-model="job_order.vehicle.registration_number" name="registration_number" />
                                                    </div><!-- Feild -->
                                                </div><!-- Column -->
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>
                                                            Vehicle Model
                                                            <sup class="mandatory">*</sup>
                                                        </label>
                                                        <md-select ng-model="job_order.vehicle.model" placeholder="Select Model" data-md-container-class="selectdemoSelectHeader" ng-model-options="{trackBy: '$value.id' }">
                                                            <md-select-header class="demo-select-header">
                                                                <input ng-model="searchModel" type="search" placeholder="Search for a model.." class="demo-header-searchbox md-text">
                                                            </md-select-header>
                                                            <md-optgroup>
                                                                <md-option ng-value="model" ng-repeat="model in extras.model_list | filter:searchModel">
                                                                    {{model.name}}
                                                                </md-option>
                                                            </md-optgroup>
                                                        </md-select>
                                                        <input type="hidden" name="model_id" value="{{job_order.vehicle.model.id}}">
                                                    </div><!-- Feild -->
                                                </div><!-- Column -->
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>
                                                            VIN Number
                                                            <sup class="mandatory">*</sup>
                                                        </label>
                                                        <input type="text" class="form-control" placeholder="Enter VIN No" autocomplete="off" ng-model="job_order.vehicle.vin_number" name="vin_number" />
                                                    </div><!-- Feild -->
                                                </div><!-- Column -->
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>
                                                            Engine Number
                                                            <sup class="mandatory">*</sup>
                                                        </label>
                                                        <input type="text" class="form-control" placeholder="Enter Engine No" autocomplete="off" ng-model="job_order.vehicle.engine_number" name="engine_number" />
                                                    </div><!-- Feild -->
                                                </div><!-- Column -->
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>
                                                            Chassis Number
                                                            <sup class="mandatory">*</sup>
                                                        </label>
                                                        <input type="text" class="form-control" placeholder="Enter Chasis No" autocomplete="off" ng-model="job_order.vehicle.chassis_number" name="chassis_number" />
                                                    </div><!-- Feild -->
                                                </div><!-- Column -->
                                            </div><!-- Row -->
                                            <div class="tab-pane-footer" ng-show="show_vehicle_form">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <button type="submit" class="btn btn-red">
                                                            Save & Close
                                                        </button>
                                                        <button type="submit" class="btn btn-secondary-dark btn-min-wdth btn-nxt">
                                                            Next
                                                        </button>
                                                    </div>
                                                </div>
                                            </div><!-- Tab Footer -->
                                        </form>
                                    </div><!-- Column -->
                                </div><!-- Row -->
                            </div><!-- Tab Pane Wrap -->
                        </div><!-- Tabe Pane -->
                    </div><!-- Tab Content -->
                </div><!-- Tab Form Body -->
            </div><!-- Tab Form Wrap -->
        </div><!-- Page Form -->
    </div><!-- Page Main Content -->
</div><!-- Content Wrap -->
<!-- Modal -->
<div class="modal modal-center fade" id="search_vehicle_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-xs" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close ripple" data-dismiss="modal" aria-label="Close"><i class="icon ion-md-close"></i></button>
                <h5 class="modal-title">Search Vehicle</h5>
            </div><!-- Modal Header -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Registration Number <sup class="mandatory">*</sup></label>
                            <input type="text" class="form-control" placeholder="Enter Registration Number" autocomplete="off" />
                        </div><!-- Feild -->
                    </div><!-- Column -->
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Customer Code <sup class="mandatory">*</sup></label>
                            <input type="text" class="form-control" placeholder="Enter Customer Code" autocomplete="off" />
                        </div><!-- Feild -->
                    </div><!-- Column -->
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>VIN Number <sup class="mandatory">*</sup></label>
                            <input type="text" class="form-control" placeholder="Enter VIN Number" autocomplete="off" />
                        </div><!-- Feild -->
                    </div><!-- Column -->
                    <div class="col-md-12">
                        <button type="button" class="btn btn-secondary-dark btn-square btn-block" data-dismiss="modal"><b>Submit</b></button>
                    </div><!-- Column -->
                </div><!-- Row -->
            </div><!-- Modal Body -->
        </div><!-- Modal Content -->
    </div><!-- Modal Dialog -->
</div><!-- Modal Content -->
<!-- Modal -->