<!-- Content Wrap -->
<div class="content-wrap cndn-wrap">
    <!-- Page Header -->
    <div class="page-header">
        <div class="page-header-inner">
            <div class="page-header-content-left">
                <div class="page-header-content button-block">
                    <a href="#!/inward-vehicle/table-list" type="button" class="btn-back btn-img"><img class="img-responsive" src="./public/theme/img/content/previous.svg" alt="Back" /></a>
                </div><!-- Page Header Content -->
                <div class="page-header-content title-block">
                    <h1 class="title">
                        <b>
                            Inward Vehicle
                        </b>
                    </h1>
                    <p class="subtitle">
                        Inward Vehicle / Order Detail
                    </p>
                </div><!-- Page Header Content -->
            </div><!-- Page Header Content Left -->
        </div><!-- Page Header Inner -->
    </div><!-- Page Header -->
    <!-- Page Main Content -->
    <div class="page-main-content form-content type2">
        <div class="page-tab-form pb-70">
            <job-order-header></job-order-header>
            <div class="tab-form-wrap type-2 side-tab-open">
                <inward-tabs ng-init="active_tab = 'vehicle-photos'"></inward-tabs>
                <div class="tab-form-body side-tab-open">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="order_details" data-animation="fadeInUp" data-animation-delay="300">
                            <div class="tab-pane-wrap">
                                <div class="row">
                                    <form id="vehicle_attachment_form" autocomplete="off">
                                        <input type="hidden" name="job_order_id" value="{{job_order_id}}">
                                        <div class="col-md-12">
                                            <h5 class="color-primary mb-10"><b>Vehicle Photos</b></h5>
                                            <hr class="hr-15"><!-- Separater -->
                                            <div class="row">
                                                <div class="col-md-7">
                                                    <div class="input-text form-group">
                                                        <ul class="gatein-img-list">
                                                            <li class="gatein-img-list-item vehicle-img">
                                                                <label>Front Side</label>
                                                                <div class="avatar-upload type-2">
                                                                    <div class="avatar-edit" ng-class="{'in': job_order.front_side_attachment != NULL}">
                                                                        <input type="file" class="profile-img-upload" name="front_side_image" id="front_side_attachment" accept=".png, .jpg, .jpeg, .svg" />
                                                                        <label for="front_side_attachment">
                                                                            <img class="img-responsive" src="./public/theme/img/content/edit.png" alt="Edit Image" />
                                                                        </label>
                                                                    </div>
                                                                    <div class="avatar-preview in vehicle-img" ng-if="job_order.front_side_attachment != NULL">
                                                                        <div class="avatar-img" id="imagePreview" style="background-image:url('./storage/app/public/gigo/job_order/attachments/{{job_order.front_side_attachment.name}}')">
                                                                        </div>
                                                                    </div>
                                                                    <div class="avatar-preview vehicle_photo vehicle-img" ng-if="job_order.front_side_attachment == NULL">
                                                                        <div class="avatar-img" id="imagePreview" style="">
                                                                        </div>
                                                                    </div><!-- Avatar Preview -->
                                                                </div><!-- Avatar Upload -->
                                                            </li>
                                                            <li class="gatein-img-list-item vehicle-img">
                                                                <label>Back Side</label>
                                                                <div class="avatar-upload type-2">
                                                                    <div class="avatar-edit" ng-class="{'in': job_order.back_side_attachment != NULL}">
                                                                        <input type="file" class="profile-img-upload" name="back_side_image" id="back_side_attachment" accept=".png, .jpg, .jpeg, .svg" />
                                                                        <label for="back_side_attachment">
                                                                            <img class="img-responsive" src="./public/theme/img/content/edit.png" alt="Edit Image" />
                                                                        </label>
                                                                    </div>
                                                                    <div class="avatar-preview in vehicle-img" ng-if="job_order.back_side_attachment != NULL">
                                                                        <div class="avatar-img" id="imagePreview" style="background-image:url('./storage/app/public/gigo/job_order/attachments/{{job_order.back_side_attachment.name}}')">
                                                                        </div>
                                                                    </div>
                                                                    <div class="avatar-preview vehicle-img" ng-if="job_order.back_side_attachment == NULL">
                                                                        <div class="avatar-img" id="imagePreview" style="">
                                                                        </div>
                                                                    </div><!-- Avatar Preview -->
                                                                </div><!-- Avatar Upload -->
                                                            </li>
                                                            <li class="gatein-img-list-item vehicle-img">
                                                                <label>Left Side</label>
                                                                <div class="avatar-upload type-2">
                                                                    <div class="avatar-edit" ng-class="{'in': job_order.left_side_attachment != NULL}">
                                                                        <input type="file" class="profile-img-upload" name="left_side_image" id="left_side_attachment" accept=".png, .jpg, .jpeg, .svg" />
                                                                        <label for="left_side_attachment">
                                                                            <img class="img-responsive" src="./public/theme/img/content/edit.png" alt="Edit Image" />
                                                                        </label>
                                                                    </div>
                                                                    <div class="avatar-preview in vehicle-img" ng-if="job_order.left_side_attachment != NULL">
                                                                        <div class="avatar-img" id="imagePreview" style="background-image:url('./storage/app/public/gigo/job_order/attachments/{{job_order.left_side_attachment.name}}')">
                                                                        </div>
                                                                    </div>
                                                                    <div class="avatar-preview vehicle-img" ng-if="job_order.left_side_attachment == NULL">
                                                                        <div class="avatar-img" id="imagePreview" style="">
                                                                        </div>
                                                                    </div><!-- Avatar Preview -->
                                                                </div><!-- Avatar Upload -->
                                                            </li>
                                                            <li class="gatein-img-list-item vehicle-img">
                                                                <label>Right Side</label>
                                                                <div class="avatar-upload type-2">
                                                                    <div class="avatar-edit" ng-class="{'in': job_order.right_side_attachment != NULL}">
                                                                        <input type="file" class="profile-img-upload" name="right_side_image" id="right_side_attachment" accept=".png, .jpg, .jpeg, .svg" />
                                                                        <label for="right_side_attachment">
                                                                            <img class="img-responsive" src="./public/theme/img/content/edit.png" alt="Edit Image" />
                                                                        </label>
                                                                    </div>
                                                                    <div class="avatar-preview in vehicle-img" ng-if="job_order.right_side_attachment != NULL">
                                                                        <div class="avatar-img" id="imagePreview" style="background-image:url('./storage/app/public/gigo/job_order/attachments/{{job_order.right_side_attachment.name}}')">
                                                                        </div>
                                                                    </div>
                                                                    <div class="avatar-preview vehicle-img" ng-if="job_order.right_side_attachment == NULL">
                                                                        <div class="avatar-img" id="imagePreview" style="">
                                                                        </div>
                                                                    </div><!-- Avatar Preview -->
                                                                </div><!-- Avatar Upload -->
                                                            </li>
                                                        </ul>
                                                        <div class="attachment_error"></div>
                                                    </div><!-- Field -->
                                                </div><!-- Column -->
                                                <div class="col-md-5">
                                                    <div class="light-box form-group">
                                                        <h6 class=""><b>Additional Attachments</b></h6>
                                                        <div class="img-upload-preview">
                                                            <input type="file" class="image_uploadify" accept="image/*" name="other_vehicle_attachments[]" multiple />
                                                            <div class="imageuploadify">
                                                                <div class="imageuploadify-images-list">
                                                                    <div class="imageuploadify-container" ng-if="job_order.other_vehicle_attachment.length > 0" style="margin-left: 4px; margin-right: 4px;" ng-repeat="(key,other_vehicle_attachment_attachment) in job_order.other_vehicle_attachment">
                                                                        <button type="button" class="btn btn-danger glyphicon glyphicon-remove" ng-click="remove_attachment(other_vehicle_attachment_attachment.id,key)">
                                                                        </button>
                                                                        <img title="{{other_vehicle_attachment_attachment.name}}" src="./storage/app/public/gigo/job_order/attachments/{{other_vehicle_attachment_attachment.name}}">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <input type="hidden" name="attachment_removal_ids" id="attachment_removal_ids" value="">
                                                    </div><!-- Form Group -->
                                                </div>
                                            </div><!-- Row -->
                                            <hr class="hr-15"><!-- Separater -->
                                        </div><!-- Column -->
                                        <div class="tab-pane-footer">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <button ng-click="saveVehicleAttachments(1)" class="btn btn-red submit">
                                                        Save & Close
                                                    </button>
                                                    <a href=".#!/inward-vehicle/customer-detail/{{job_order_id}}" class="btn btn-secondary-dark btn-prev">
                                                        Previous
                                                    </a>
                                                    <button ng-click="saveVehicleAttachments(2)" class="btn btn-secondary-dark btn-min-wdth btn-nxt">
                                                        Next
                                                    </button>
                                                </div><!-- Column -->
                                            </div>
                                        </div><!-- Tab Footer -->
                                    </form>
                                </div><!-- Row -->
                            </div><!-- Tab Pane Wrap -->
                        </div><!-- Tabe Pane -->
                    </div><!-- Tab Content -->
                </div><!-- Tab Form Body -->
            </div><!-- Tab Form Wrap -->
        </div><!-- Page Form -->
    </div><!-- Page Main Content -->
</div><!-- Content Wrap -->
<!-- Drag & Drop File Upload Plugins -->
<script src="./public/theme/js/imageuploadify-mgatepass.min.js"></script>