<!-- Content Wrap -->
<div class="content-wrap cndn-wrap">
    <!-- Page Header -->
    <div class="page-header">
        <div class="page-header-inner">
            <div class="page-header-content-left">
                <div class="page-header-content button-block">
                    <a href="#!/inward-vehicle/card-list" type="button" class="btn-back btn-img"><img class="img-responsive" src="./public/theme/img/content/previous.svg" alt="Back" /></a>
                </div><!-- Page Header Content -->
                <div class="page-header-content title-block">
                    <h1 class="title"><b>Inward Vehicle</b></h1>
                    <p class="subtitle">Inward Vehicle / VOC Detail</p>
                </div><!-- Page Header Content -->
            </div><!-- Page Header Content Left -->
        </div><!-- Page Header Inner -->
    </div><!-- Page Header -->
    <!-- Page Main Content -->
    <div class="page-main-content form-content type2">
        <div class="page-tab-form pb-70">
            <job-order-header></job-order-header>
            <div class="tab-form-wrap type-2">
                <inward-tabs ng-init="active_tab = 'voc-detail'"></inward-tabs>
                <div class="tab-form-body">
                    <div class="tab-content">
                        <!-- TAB PANEL -->
                        <div class="tab-pane fade in active" id="voc_details" data-animation="fadeInUp" data-animation-delay="300">
                            <div class="tab-pane-wrap">
                                <form id="voc_form">
                                    <input type="hidden" name="job_order_id" value="{{job_order.id}}">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h5 class="color-primary mb-10">
                                                <b>
                                                    Voice of Customer
                                                </b>
                                            </h5>
                                            <hr class="hr-15"><!-- Separater -->
                                            <div class="row custom-row" ng-repeat="(index, customer_voice) in job_order.customer_voices">
                                                <div class="col-md-6">
                                                    <div class="form-group mb-no">
                                                        <md-select ng-model="customer_voice.id" placeholder="Select Voice of Customer" ng-change="onSelectedVoc(customer_voice.id)" data-md-container-class="selectdemoSelectHeader">
                                                            <md-select-header class="demo-select-header">
                                                                <input ng-model="searchCustomerVoice" type="search" placeholder="Search for a Voice of Customer" class="demo-header-searchbox md-text" ng-keydown="$event.stopPropagation()">
                                                            </md-select-header>
                                                            <md-optgroup label="j">
                                                                <md-option ng-value="j.id" ng-repeat="j in extras.customer_voice_list | filter:searchCustomerVoice">{{j.code}}</md-option>
                                                            </md-optgroup>
                                                        </md-select>
                                                        <input type="hidden" name="customer_voices[{{index}}][id]" value="{{customer_voice.id}}" class="required">
                                                    </div><!-- Feild -->
                                                </div><!-- Column -->
                                                <div class="col-md-6">
                                                    <button class="img-btn" ng-click="$ctrl.removeCustomerVoice(index)" id="hidedelete">
                                                        <img class="img-responsive radius-50" src="./public/theme/img/content/delete-dark.svg" alt="Delete" />
                                                    </button>
                                                </div><!-- Column -->
                                            </div><!-- Row -->
                                            <div class="row">
                                                <div class="col-md-6" id="voc_remark_details">
                                                    <div class="form-group">
                                                        <textarea class="form-control" rows="4" placeholder="Enter Details"></textarea>
                                                    </div><!-- Feild -->
                                                </div><!-- Column -->
                                                <div class="col-md-12">
                                                    <button class="btn btn-md type2 btn-green btn-square" ng-click="addNewCustomerVoice()">
                                                        Add More
                                                    </button>
                                                </div>
                                            </div><!-- Row -->
                                        </div><!-- Column -->
                                        <div class="tab-pane-footer">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <button type="submit" class="btn btn-red submit" ng-click="saveVocDetailForm(1)">
                                                        Save & Close
                                                    </button>
                                                    <a class="btn btn-secondary-dark btn-prev" href=".#!/inward-vehicle/inventory-detail/form/{{job_order_id}}">
                                                        Previous
                                                    </a>
                                                    <button type="submit" class="btn btn-secondary-dark btn-min-wdth btn-nxt" ng-click="saveVocDetailForm(2)">
                                                        Next
                                                    </button>
                                                </div>
                                            </div>
                                        </div><!-- Tab Footer -->
                                    </div><!-- Row -->
                                </form>
                            </div><!-- Tab Pane Wrap -->
                        </div><!-- Tabe Pane -->
                    </div><!-- Tab Content -->
                </div><!-- Tab Form Body -->
            </div><!-- Tab Form Wrap -->
        </div><!-- Page Form -->
    </div><!-- Page Main Content -->
</div><!-- Content Wrap -->
<!-- Modal -->
<div class="modal modal-center fade" id="search_vehicle_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-xs" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close ripple" data-dismiss="modal" aria-label="Close"><i class="icon ion-md-close"></i></button>
                <h5 class="modal-title">Search Vehicle</h5>
            </div><!-- Modal Header -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Registration Number <sup class="mandatory">*</sup></label>
                            <input type="text" class="form-control" placeholder="Enter Registration Number" autocomplete="off" />
                        </div><!-- Feild -->
                    </div><!-- Column -->
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Customer Code <sup class="mandatory">*</sup></label>
                            <input type="text" class="form-control" placeholder="Enter Customer Code" autocomplete="off" />
                        </div><!-- Feild -->
                    </div><!-- Column -->
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>VIN Number <sup class="mandatory">*</sup></label>
                            <input type="text" class="form-control" placeholder="Enter VIN Number" autocomplete="off" />
                        </div><!-- Feild -->
                    </div><!-- Column -->
                    <div class="col-md-12">
                        <button type="button" class="btn btn-secondary-dark btn-square btn-block" data-dismiss="modal"><b>Submit</b></button>
                    </div><!-- Column -->
                </div><!-- Row -->
            </div><!-- Modal Body -->
        </div><!-- Modal Content -->
    </div><!-- Modal Dialog -->
</div><!-- Modal Content -->
<!-- Modal -->
<!-- Drag & Drop File Upload Plugins -->
<script src="./public/theme/js/imageuploadify-gatein.min.js"></script>