Content Wrap -->
<div class="content-wrap cndn-wrap">
    <!-- Page Header -->
    <div class="page-header">
        <div class="page-header-inner">
            <div class="page-header-content-left">
                <div class="page-header-content button-block">
                    <a href="#!/static/gigo/indent/list" type="button" class="btn-back btn-img"><img class="img-responsive" src="./public/theme/img/content/previous.svg" alt="Back" /></a>
                </div><!-- Page Header Content -->
                <div class="page-header-content title-block">
                    <h1 class="title"><b>Inward Vehicle</b></h1>
                    <p class="subtitle">Inward Vehicle / Vehicle Detail</p>
                </div><!-- Page Header Content -->
            </div><!-- Page Header Content Left -->
        </div><!-- Page Header Inner -->
    </div><!-- Page Header -->
    <!-- Page Main Content -->
    <div class="page-main-content form-content type2">
        <div class="page-tab-form pb-70">
            <job-order-header></job-order-header>
            <div class="tab-form-wrap type-2">
                <inward-tabs ng-init="active_tab = 'voc-detail'"></inward-tabs>
                <div class="tab-form-body">
                    <div class="tab-content">
                        <!-- TAB PANEL -->
                        <div class="tab-pane fade in active">
                            <div class="tab-pane-wrap">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h5 class="color-primary mb-10">
                                            <b>
                                                Voice of Customer
                                            </b>
                                        </h5>
                                        <hr class="hr-15"><!-- Separater -->
                                        <div class="row custom-row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <md-select ng-model="job_order.customer_voices.code" placeholder="Select any one" data-md-container-class="selectdemoSelectHeader" ng-model-options="{trackBy: '$value.id' }" ng-change="countryChanged()">
                                                        <md-select-header class="demo-select-header">
                                                            <input ng-model="searchCountry" type="search" placeholder="Search for a .." class="demo-header-searchbox md-text" ng-keydown="$event.stopPropagation()">
                                                        </md-select-header>
                                                        <md-optgroup>
                                                            <md-option ng-value="country" ng-repeat="customer_voice in extras.customer_voice_list | filter:searchCountry">
                                                                {{customer_voice.code}}
                                                            </md-option>
                                                        </md-optgroup>
                                                    </md-select>
                                                    <input type="hidden" name="voc" value="{{job_order.voc}}">
                                                </div><!-- Feild -->
                                            </div><!-- Column -->
                                            <!--  <div class="col-md-6">
                                                <div class="form-group mb-no">
                                                    <md-select ng-model="selectedDrinks" placeholder="Select any one" md-on-close="clearSearchDrink()" data-md-container-class="selectdemoSelectHeader">
                                                        <md-select-header class="demo-select-header">
                                                            <input ng-model="searchDrink" type="search" placeholder="Search for a drink.." class="demo-header-searchbox md-text">
                                                        </md-select-header>
                                                        <md-optgroup label="drinks">
                                                            <md-option ng-value="drink" ng-repeat="drink in drinks | filter:searchDrink">{{drink}}</md-option>
                                                        </md-optgroup>
                                                    </md-select>
                                                </div>
                                            </div> -->
                                            <div class="col-md-6">
                                                <button class="img-btn">
                                                    <img class="img-responsive radius-50" src="./public/theme/img/content/delete-dark.svg" alt="Delete" />
                                                </button>
                                            </div><!-- Column -->
                                        </div><!-- Row -->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <textarea class="form-control" rows="4" placeholder="Enter Details"></textarea>
                                                </div><!-- Feild -->
                                            </div><!-- Column -->
                                            <div class="col-md-12">
                                                <button class="btn btn-md type2 btn-green btn-square">Add More</button>
                                            </div>
                                        </div><!-- Row -->
                                    </div><!-- Column -->
                                    <div class="tab-pane-footer">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <a class="btn btn-red">Save & Close</a>
                                                <a class="btn btn-secondary-dark btn-prev">Previous</a>
                                                <a class="btn btn-secondary-dark btn-min-wdth btn-nxt">Next</a>
                                            </div>
                                        </div>
                                    </div><!-- Tab Footer -->
                                </div><!-- Row -->
                            </div><!-- Tab Pane Wrap -->
                        </div><!-- Tabe Pane -->
                    </div><!-- Tab Content -->
                </div><!-- Tab Form Body -->
            </div><!-- Tab Form Wrap -->
        </div><!-- Page Form -->
    </div><!-- Page Main Content -->
</div><!-- Content Wrap