<!-- Content Wrap -->
<div class="content-wrap">
    <!-- Page Header -->
    <div class="page-header">
        <div class="page-header-inner">
            <div class="page-header-content-left">
                <div class="page-header-content button-block">
                    <a href="#!/road-test-gate-pass/table-list" type="button" class="btn-back btn-img my-tooltip" ng-shortcut="'meta+shift+left'" ng-shortcut-click data-title="ctrl+shift+left">
                        <img class="img-responsive" src="./public/theme/img/content/previous.svg" />
                    </a>
                </div>
                <div class="page-header-content title-block">
                    <h1 class="title">Road Test Gate Pass</h1>
                    <p class="subtitle">
                        <a href="#!/road-test-gate-pass/table-list">Road Test Gate Pass </a> / View
                    </p>
                </div>
            </div>
        </div><!-- Page Header Inner -->
    </div><!-- Page Header -->
    <!-- Page Main Content -->
    <div class="page-main-content form-content">
        <form id="road_test_gate_pass">
            <input type="hidden" name="gate_pass_id" value="{{$ctrl.road_test_gate_pass.id}}">
            <input ng-if="$ctrl.road_test_gate_pass.status_id==8301" type="hidden" name="type" value="In">
            <input ng-if="$ctrl.road_test_gate_pass.status_id==8300" type="hidden" name="type" value="Out">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-form pb-60">
                            <div class="row">
                                <div class="col-lg-10">
                                    <h5 class="font-semi-dark mb-0">{{$ctrl.road_test_gate_pass.job_order.vehicle ? $ctrl.road_test_gate_pass.job_order.vehicle.registration_number : '--'}}</h5>
                                    <h6 class=""><b>{{$ctrl.road_test_gate_pass.job_order.vehicle.model ? $ctrl.road_test_gate_pass.job_order.vehicle.model.model_number : '--'}}</b></h6>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="border-box">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <table class="table-info">
                                                            <tbody>
                                                                <tr>
                                                                    <td><b>Driver Name</b></td>
                                                                    <td>{{$ctrl.road_test_gate_pass.job_order.road_test_prefered_by.name}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td><b>Driver Mobile No</b></td>
                                                                    <td>{{$ctrl.road_test_gate_pass.job_order.road_test_prefered_by.contact_number}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td><b>Gate Pass No</b></td>
                                                                    <td>{{$ctrl.road_test_gate_pass.number}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td><b>Job Order No</b></td>
                                                                    <td>{{$ctrl.road_test_gate_pass.job_order.number}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td><b>Gate Out Date & Time</b></td>
                                                                    <td>{{$ctrl.road_test_gate_pass.gate_out_date}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td><b>Gate In Date & Time</b></td>
                                                                    <td>{{$ctrl.road_test_gate_pass.gate_in_date}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td><b>Status</b></td>
                                                                    <td>{{$ctrl.road_test_gate_pass.status.name}}</td>
                                                                </tr>
                                                                <tr ng-if="$ctrl.road_test_gate_pass.gate_pass.status_id == 8302">
                                                                    <td><b>Remarks</b></td>
                                                                    <td>{{$ctrl.road_test_gate_pass.gate_out_remarks}}</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div><!-- Column -->
                                                    <div class="col-md-6">
                                                        <div class="multi-img">
                                                            <table class="table-info">
                                                                <tbody>
                                                                    <tr>
                                                                        <td class="text-center">Vehicle Image</td>
                                                                        <td></td>
                                                                        <td class="text-center">KM Image</td>
                                                                        <td></td>
                                                                        <td class="text-center">Driver Image</td>
                                                                        <td></td>
                                                                        <td class="text-center">Chassis Image</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td><img class="img-responsive" src="{{$ctrl.road_test_gate_pass.gate_in_attachment_path}}/{{$ctrl.road_test_gate_pass.job_order.gate_log.vehicle_attachment.name}}" alt="Images" /></td>
                                                                        <td></td>
                                                                        <td><img class="img-responsive" src="{{$ctrl.road_test_gate_pass.gate_in_attachment_path}}/{{$ctrl.road_test_gate_pass.job_order.gate_log.km_attachment.name}}" alt="Images" /></td>
                                                                        <td>&nbsp;&nbsp;</td>
                                                                        <td> <img class="img-responsive" src="{{$ctrl.road_test_gate_pass.gate_in_attachment_path}}/{{$ctrl.road_test_gate_pass.job_order.gate_log.driver_attachment.name}}" alt="Images" /></td>
                                                                        <td></td>
                                                                        <td><img class="img-responsive" src="{{$ctrl.road_test_gate_pass.gate_in_attachment_path}}/{{$ctrl.road_test_gate_pass.job_order.gate_log.chassis_attachment.name}}" alt="Images" /></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div><!-- Column -->
                                                </div><!-- Row -->
                                            </div><!-- Border Box -->
                                        </div><!-- Column -->
                                    </div><!-- Row -->
                                    <div class="row" ng-if="$ctrl.road_test_gate_pass.status_id == 8300">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label>Remarks</label>
                                                <textarea class="form-control" ng-model="$ctrl.road_test_gate_pass.gate_out_remarks" rows="4" placeholder="Enter Remarks" name="gate_out_remarks"></textarea>
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                    </div><!-- Row -->
                                </div><!-- Column -->
                            </div><!-- Row -->
                        </div><!-- Page Form -->
                    </div><!-- Column -->
                </div><!-- Row -->
                <div class="page-form-footer">
                    <div class="row">
                        <div class="col-md-12">
                            <a href="#!/road-test-gate-pass/table-list" class="btn btn-bordered btn-grey">Cancel</a>
                            <button class="btn btn-secondary-dark submit" ng-show="$ctrl.road_test_gate_pass.status_id==8301" ng-click="saveGatePass(1)">Confirm Gate In</button>
                            <button class="btn btn-secondary-dark submit" ng-show="$ctrl.road_test_gate_pass.status_id==8300" ng-click="saveGatePass(2)">Confirm Gate Out</button>
                        </div>
                    </div>
                </div><!-- Page Form Footer -->
            </div><!-- Container -->
        </form>
    </div><!-- Page Main Content -->
</div><!-- Content Wrap -->
<div class="modal modal-success alert-modal fade" id="gate_out_confirm_notification" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <img class="img-responsive img-center" src="./public/theme/img/content/success-green.svg" />
                <h6 class="title"><b>Gate Out Success</b></h6>
                <p class="info data">Vehicle successfully Road Test Gate Out</p>
                <p class="info">Gate Pass No : {{$ctrl.road_test_gate_pass.number}}</span></p>
                <p class="info">Reg No : {{$ctrl.road_test_gate_pass.job_order.vehicle ? $ctrl.road_test_gate_pass.job_order.vehicle.registration_number : '--'}}</p>
                <div class="mt-30 mb-30">
                    <a href="javascript:;" class="btn btn-success btn-square btn-block" ng-click="reloadPage()"><b>Done</b></a>
                </div><!-- Button -->
            </div><!-- Modal Body -->
        </div><!-- Modal Content -->
    </div><!-- Modal Dialog -->
</div><!-- Modal Content -->
<div class="modal modal-success alert-modal fade" id="gate_in_confirm_notification" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <img class="img-responsive img-center" src="./public/theme/img/content/success-green.svg" />
                <h6 class="title"><b>Gate Out Success</b></h6>
                <p class="info data">Vehicle successfully Road Test Gate In</p>
                <p class="info">Gate Pass No : {{$ctrl.road_test_gate_pass.number}}</span></p>
                <p class="info">Reg No : {{$ctrl.road_test_gate_pass.job_order.vehicle ? $ctrl.road_test_gate_pass.job_order.vehicle.registration_number : '--'}}</p>
                <div class="mt-30 mb-30">
                    <a href="javascript:;" class="btn btn-success btn-square btn-block" ng-click="reloadPage()"><b>Done</b></a>
                </div><!-- Button -->
            </div><!-- Modal Body -->
        </div><!-- Modal Content -->
    </div><!-- Modal Dialog -->
</div><!-- Modal Content -->