<!-- Content Wrap -->
<div class="content-wrap">
    <!-- Page Header -->
    <div class="page-header">
        <div class="page-header-inner">
            <div class="page-header-content-left">
                <div class="page-header-content button-block">
                    <a href="#!/job-card/part-indent/{{$ctrl.job_card.id}}" type="button" class="btn-back btn-img">
                        <img class="img-responsive" src="./public/theme/img/content/previous.svg" />
                    </a>
                </div>
                <div class="page-header-content title-block">
                    <h1 class="title">
                        Edit Part Indent
                    </h1>
                    <p class="subtitle">
                        Part Indent / Edit
                    </p>
                </div>
            </div>
        </div><!-- Page Header Inner -->
    </div><!-- Page Header -->
    <!-- Page Main Content -->
    <div class="page-main-content form-content">
        <form id="part_add" autocomplete="off"> 
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-form pb-60">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                            <input type="hidden" name="bal_qty" id="bal_qty" value="{{add_part.balance_qty}}"/>
                                            <input type="hidden" name="already_issued_qty" id="already_issued_qty" value="{{add_part.all_issued_qty}}" />

                                            <input type="hidden" name="id" value="{{$ctrl.job_order_issued_part.id}}" />
                                            <div class="col-lg-8">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <div class="input-text form-group">
                                                                    <label>Part No <sup class="mandatory">*</sup></label>
                                                                    <md-select ng-model="$ctrl.job_order_issued_part.job_order_part.id" ng-change="onSelectedpartcode($ctrl.job_order_issued_part.job_order_part.id)"md-on-close="clearSearchType()" data-md-container-class="selectdemoSelectHeader" placeholder="Select Part No">
                                                                        <md-select-header class="demo-select-header">
                                                                            <input ng-model="searchType" type="search" placeholder="Search Repair Order Type" class="demo-header-searchbox md-text" ng-keydown="$event.stopPropagation()">
                                                                        </md-select-header>
                                                                        <md-optgroup>
                                                                            <md-option ng-value="part_list.id" ng-repeat="part_list in $ctrl.extras.part_list | filter:searchType">{{part_list.name}}</md-option>
                                                                        </md-optgroup>
                                                                    </md-select>
                                                                    <input type="hidden" class="form-control required" name="job_order_part_id" id="job_order_part_id" value="{{$ctrl.job_order_issued_part.job_order_part.id}}">
                                                                </div><!-- Form Group -->
                                                            </div><!-- Column -->
                                                        </div><!-- Row -->
                                                    </div><!-- Column -->
                                                    <div class="col-md-4">
                                                        <div class="input-text form-group">
                                                            <label>Issuing Quantity <sup class="mandatory">*</sup></label>
                                                            <input name="issued_qty" value="{{$ctrl.job_order_issued_part.issued_qty}}" class="form-control required" id="issued_qty" placeholder="Enter Issuing Quantity" autocomplete="off" />

                                                            <input type="hidden" value="{{$ctrl.job_order_issued_part.issued_part_edit_qty}}" name="issued_part_edit_qty"  />
                                                            <input type="hidden" value="{{$ctrl.job_order_issued_part.tot_qty}}" name="tot_qty"  />

                                                        </div><!-- Form Group -->
                                                    </div><!-- Column -->
                                                    <div class="col-md-4">
                                                        <div class="input-text form-group">
                                                            <label>Issue Mode <sup class="mandatory">*</sup></label>
                                                            <md-select ng-model="$ctrl.job_order_issued_part.issued_mode_id" md-on-close="clearSearchType()" data-md-container-class="selectdemoSelectHeader" placeholder="Select Issue Mode">
                                                                <md-select-header class="demo-select-header">
                                                                    <input ng-model="searchType" type="search" placeholder="Search Repair Order Type" class="demo-header-searchbox md-text" ng-keydown="$event.stopPropagation()">
                                                                </md-select-header>
                                                                <md-optgroup>
                                                                    <md-option ng-value="issued_mode.id" ng-repeat="issued_mode in $ctrl.extras.issued_mode_list | filter:searchType">{{issued_mode.name}}</md-option>
                                                                </md-optgroup>
                                                            </md-select>
                                                            <input type="hidden" class="form-control required" id="issued_mode_id" name="issued_mode_id" value="{{$ctrl.job_order_issued_part.issued_mode_id}}"/>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="input-text form-group">
                                                            <label>Issued To <sup class="mandatory">*</sup></label>
                                                             <md-select ng-model="$ctrl.job_order_issued_part.issued_to_id" md-on-close="clearSearchType()" data-md-container-class="selectdemoSelectHeader" placeholder="Select Part No">
                                                                <md-select-header class="demo-select-header">
                                                                    <input ng-model="searchType" type="search" placeholder="Search Repair Order Type" class="demo-header-searchbox md-text" ng-keydown="$event.stopPropagation()">
                                                                </md-select-header>
                                                                <md-optgroup>
                                                                    <md-option ng-value="mechanic_list.id" ng-repeat="mechanic_list in $ctrl.extras.mechanic_list | filter:searchType">{{mechanic_list.name}}</md-option>
                                                                </md-optgroup>
                                                            </md-select>
                                                            <input type="hidden" class="form-control required" name="issued_to_id" id="issued_to_id" value="{{$ctrl.job_order_issued_part.issued_to_id}}">
                                                        </div><!-- Form Group -->
                                                    </div><!-- Column -->
                                                </div><!-- Row -->
                                            </div><!-- Column -->
                                        <div class="col-lg-4">
                                            <div class="dark-wrap">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="text-wrap mb-20">
                                                            <span class="text-label">Description</span>
                                                            <span class="text-value">{{add_part.name}}</span>
                                                        </div>
                                                    </div><!-- Column -->
                                                    <div class="col-md-6">
                                                        <div class="text-wrap mb-20">
                                                            <span class="text-label">Req. Qty.</span>
                                                            <span class="text-value">{{add_part.req_qty}}</span>
                                                        </div>
                                                    </div><!-- Column -->
                                                    <div class="col-md-6">
                                                        <div class="text-wrap mb-20">
                                                            <span class="text-label">Issued. Qty.</span>
                                                            <span class="text-value">{{add_part.issue_qty}}</span>
                                                        </div>
                                                    </div><!-- Column -->
                                                    <div class="col-md-12">
                                                        <div class="text-wrap">
                                                            <span class="text-label">Balance. Qty.</span>
                                                            <span class="text-value">{{add_part.balance_qty_nos}}</span>
                                                        </div>
                                                    </div><!-- Column -->
                                                </div><!-- Row -->
                                            </div><!-- Dark Wrap -->
                                        </div><!-- Column -->
                                    </div><!-- Row --> 
                                </div><!-- Column -->
                            </div><!-- Row -->
                        </div><!-- Page Form -->                    
                    </div><!-- Column -->
               </div><!-- Row -->
               <br/>
               <div class="page-form-footer">
                    <div class="row">
                        <div class="col-md-12">
                            <a href=".#!/job-card/part-indent/{{$ctrl.job_card.id}}" class="btn btn-bordered btn-grey">Cancel</a>
                            <button type="submit" class="btn btn-secondary-dark submit" ng-click="submitPart()">Submit</button>
                        </div>
                    </div>
                </div><!-- Page Form Footer -->
            </div><!-- Container -->
        </form>
    </div><!-- Page Main Content -->
</div><!-- Content Wrap -->

<script src="./public/theme/js/imageuploadify-gatein.min.js"></script>