<!-- Content Wrap -->
<style>
    /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
</style>
<div class="content-wrap">
    <!-- Page Header -->
    <div class="page-header">
        <div class="page-header-inner">
            <div class="page-header-content-left">
                <div class="page-header-content button-block">
                    <a href=".#!/part-indent/parts/view/{{job_order_id}}" type="button" class="btn-back btn-img">
                        <img class="img-responsive" src="./public/theme/img/content/previous.svg" />
                    </a>
                </div>
                <div class="page-header-content title-block">
                    <h1 class="title">{{$ctrl.action}} Issued Part</h1>
                    <p class="subtitle">Parts Indent / {{$ctrl.action}} Issued Part</p>
                </div>
            </div>
        </div><!-- Page Header Inner -->
    </div><!-- Page Header -->
    <!-- Page Main Content -->
    <div class="page-main-content form-content">
        <form id="issue_part_form" autocomplete="off">
            <input type="hidden" name="job_order_id" value="{{job_order_id}}">
            <input type="hidden" name="job_order_issued_part_id" value="{{$ctrl.job_order_issued_part_id}}">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-form pb-60">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-lg-8">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label>
                                                                    Part Type
                                                                </label>
                                                                <div class="common-radio-button type-4">
                                                                    <input type="radio" id="regular" name="part_type" ng-value="1" value="1" ng-value="1" value="1" ng-model="$ctrl.part_type">
                                                                    <label for="regular">
                                                                        Regular Part
                                                                    </label>
                                                                    <input type="radio" id="floating" name="part_type" ng-value="0" value="0" ng-model="$ctrl.part_type">
                                                                    <label for="floating">
                                                                        Floating Part
                                                                    </label>
                                                                </div>
                                                            </div><!-- Feild -->
                                                        </div><!-- Column -->
                                                        <div class="col-md-4" ng-show="$ctrl.part_type == 1">
                                                            <div class="input-text form-group">
                                                                <label>Part No <sup class="mandatory">*</sup></label>
                                                                <md-select ng-model="return_part" placeholder="Select Part" data-md-container-class="selectdemoSelectHeader" ng-model-options="{trackBy: '$value.job_order_part_id' }" ng-change="issuedPartSelected(return_part)">
                                                                    <md-select-header class="demo-select-header">
                                                                        <input ng-model="searchreturnPartKey" type="search" placeholder="Search.." class="demo-header-searchbox md-text">
                                                                    </md-select-header>
                                                                    <md-optgroup>
                                                                        <md-option ng-value="return_part" ng-repeat="return_part in job_order_parts | filter:searchreturnPartKey">
                                                                            {{return_part.code}} / {{return_part.name}}
                                                                        </md-option>
                                                                    </md-optgroup>
                                                                </md-select>
                                                                <input type="hidden" name="job_order_part_id" value="{{return_part.job_order_part_id}}">
                                                                <!-- <input type="hidden" name="part_id" value="{{return_part.id}}"> -->
                                                            </div><!-- Form Group -->
                                                        </div><!-- Column -->
                                                        <div class="col-md-4" ng-show="$ctrl.part_type != 1">
                                                            <div class="input-text form-group">
                                                                <label>Part No <sup class="mandatory">*</sup></label>
                                                                <md-select ng-model="floating_part" placeholder="Select Part" data-md-container-class="selectdemoSelectHeader" ng-model-options="{trackBy: '$value.id' }">
                                                                    <md-select-header class="demo-select-header">
                                                                        <input ng-model="searchFloatingPart" type="search" placeholder="Search.." class="demo-header-searchbox md-text">
                                                                    </md-select-header>
                                                                    <md-optgroup>
                                                                        <md-option ng-value="floating_part" ng-repeat="floating_part in floating_parts | filter:searchFloatingPart">
                                                                            {{floating_part.code}} / {{floating_part.name}}
                                                                        </md-option>
                                                                    </md-optgroup>
                                                                </md-select>
                                                                <input type="hidden" name="floating_stock_id" value="{{floating_part.floating_stock_id}}">
                                                            </div><!-- Form Group -->
                                                        </div><!-- Column -->
                                                    </div><!-- Row -->
                                                </div><!-- Column -->
                                                <div class="col-md-4" ng-if="$ctrl.part_type == 1">
                                                    <div class="input-text form-group">
                                                        <label>Issuing Quantity <sup class="mandatory">*</sup></label>
                                                        <input type="number" name="issued_qty" min="1" max="{{$ctrl.job_order_issued_part_id && part.part_type.name =='Lubricants' ? total_request_qty : total_balance_qty}}" ng-model="issued_part.issued_qty" step="0.01" class="form-control" placeholder="Enter Issue Quantity" autocomplete="off" />
                                                        <input type="hidden" name="available_qty" id="available_qty" value="{{available_quantity}}" ng-model="available_quantity">
                                                    </div><!-- Form Group -->
                                                </div><!-- Column -->
                                                <div class="col-md-4" ng-if="$ctrl.part_type != 1">
                                                    <div class="input-text form-group">
                                                        <label>Issuing Quantity <sup class="mandatory">*</sup></label>
                                                        <input type="number" name="issued_qty" min="1" max="{{floating_part.available_qty}}" ng-model="issued_part.issued_qty" step="0.01" class="form-control" placeholder="Enter Issue Quantity" autocomplete="off" />
                                                        <input type="hidden" name="available_qty" id="available_qty" value="{{floating_part.available_qty}}" ng-model="floating_part.available_qty">
                                                    </div><!-- Form Group -->
                                                </div><!-- Column -->
                                                <div class="col-md-4" ng-if="$ctrl.part_type == 1">
                                                    <div class="input-text form-group">
                                                        <label>Issue Mode <sup class="mandatory">*</sup></label>
                                                        <!-- <md-select ng-model="issued_mode_id" placeholder="Select Issue Mode" data-md-container-class="selectdemoSelectHeader" ng-disabled="disabled == 1"> -->
                                                        <md-select ng-model="$ctrl.issued_mode_id" placeholder="Select Issue Mode" data-md-container-class="selectdemoSelectHeader">
                                                            <md-select-header class="demo-select-header">
                                                                <input ng-model="searchIssueMode" type="search" placeholder="Search Issue Mode.." class="demo-header-searchbox md-text">
                                                            </md-select-header>
                                                            <md-optgroup>
                                                                <md-option ng-value="option.id" ng-repeat="option in issue_modes | filter:searchIssueMode">
                                                                    {{option.name}}
                                                                </md-option>
                                                            </md-optgroup>
                                                        </md-select>
                                                        <input type="hidden" name="issued_mode_id" class="required" value="{{$ctrl.issued_mode_id}}">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="input-text form-group">
                                                        <label>Issued To <sup class="mandatory">*</sup></label>
                                                        <md-select ng-model="issued_part.issued_to" placeholder="Select Issue To" data-md-container-class="selectdemoSelectHeader" ng-model-options="{trackBy: '$value.id' }">
                                                            <md-select-header class="demo-select-header">
                                                                <input ng-model="searchreturnEmployeeKey" type="search" placeholder="Search.." class="demo-header-searchbox md-text">
                                                            </md-select-header>
                                                            <md-optgroup>
                                                                <md-option ng-value="employee" ng-repeat="employee in repair_order_mechanics | filter:searchreturnEmployeeKey">
                                                                    {{employee.ecode}} / {{employee.name}}
                                                                </md-option>
                                                            </md-optgroup>
                                                        </md-select>
                                                        <input type="hidden" name="issued_to_id" value="{{issued_part.issued_to.id}}">
                                                    </div><!-- Form Group -->
                                                </div><!-- Column -->
                                                <div class="col-md-4" ng-if="$ctrl.part_type == 1 && $ctrl.mrp == 1 && $ctrl.issued_mode_id == 8480">
                                                    <div class="input-text form-group">
                                                        <label>MRP<sup class="mandatory">*</sup></label>
                                                        <input type="number" name="part_mrp" min="1" step="0.01" class="form-control" placeholder="Enter MRP" autocomplete="off" />
                                                    </div><!-- Form Group -->
                                                </div><!-- Column -->
                                            </div><!-- Row -->
                                        </div><!-- Column -->
                                        <div class="col-lg-4">
                                            <div class="dark-wrap">
                                                <div class="row" ng-if="$ctrl.part_type == 1">
                                                    <div class="col-md-12">
                                                        <div class="text-wrap mb-20">
                                                            <span class="text-label">Description</span>
                                                            <span class="text-value">{{return_part.name}}</span>
                                                        </div>
                                                    </div><!-- Column -->
                                                    <div class="col-md-6">
                                                        <div class="text-wrap mb-20">
                                                            <span class="text-label">Available Qty</span>
                                                            <span class="text-value">{{available_quantity}}</span>
                                                        </div>
                                                    </div><!-- Column -->
                                                    <div class="col-md-6">
                                                        <div class="text-wrap mb-20">
                                                            <span class="text-label">Request Qty</span>
                                                            <span class="text-value">{{total_request_qty}}</span>
                                                        </div>
                                                    </div><!-- Column -->
                                                    <div class="col-md-6">
                                                        <div class="text-wrap mb-20">
                                                            <span class="text-label">Issued Qty</span>
                                                            <span class="text-value">{{total_issued_qty}}</span>
                                                        </div>
                                                    </div><!-- Column -->
                                                    <div class="col-md-6">
                                                        <div class="text-wrap">
                                                            <span class="text-label">Balance Qty</span>
                                                            <span class="text-value">{{total_balance_qty}}</span>
                                                        </div>
                                                    </div><!-- Column -->
                                                </div><!-- Row -->
                                                <div class="row" ng-if="$ctrl.part_type != 1">
                                                    <div class="col-md-12">
                                                        <div class="text-wrap mb-20">
                                                            <span class="text-label">Description</span>
                                                            <span class="text-value">{{floating_part.name}}</span>
                                                        </div>
                                                    </div><!-- Column -->
                                                    <div class="col-md-6">
                                                        <div class="text-wrap mb-20">
                                                            <span class="text-label">Available Qty</span>
                                                            <span class="text-value">{{floating_part.available_qty}}</span>
                                                        </div>
                                                    </div><!-- Column -->
                                                    <div class="col-md-6">
                                                        <div class="text-wrap mb-20">
                                                            <span class="text-label">Issued Qty</span>
                                                            <span class="text-value">{{floating_part.issued_qty}}</span>
                                                        </div>
                                                    </div><!-- Column -->
                                                </div><!-- Row -->
                                            </div><!-- Dark Wrap -->
                                        </div><!-- Column -->
                                    </div><!-- Row -->
                                </div><!-- Column -->
                            </div><!-- Row -->
                            <div class="row" ng-if='$ctrl.issued_mode_id == 8481 && $ctrl.part_type == 1'>
                                <div class="col-md-12">
                                    <h5 class="color-primary mb-10">
                                        <b>
                                            Local Purchase Request
                                        </b>
                                    </h5>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>
                                                    Request Purpose<sup class="mandatory">*</sup>
                                                </label>
                                                <textarea ng-model='remarks' name="remarks" class="form-control" placeholder="Request Purpose">{{remarks}}</textarea>
                                            </div><!-- Field -->
                                        </div><!-- Column -->
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Quantity <sup class="mandatory">*</sup></label>
                                                <input type="text" ng-change="calculateTotal()" name="quantity" ng-model="issue_part.quantity" min="1" max="{{$ctrl.job_order_issued_part_id && part.part_type.name =='Lubricants' ? total_request_qty : total_balance_qty}}"oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" class="form-control" placeholder="Enter Quantity" autocomplete="off" />
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Unit Price <sup class="mandatory">*</sup></label>
                                                <input type="text" ng-change="calculateTotal()" name="unit_price" ng-model="issue_part.unit_price" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" class="form-control" placeholder="Enter Unit Price" autocomplete="off" />
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Total <sup class="mandatory">*</sup></label>
                                                <input type="text" name="total" ng-model="issue_part.total" readonly class="form-control" placeholder="Total" autocomplete="off" />
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Tax % <sup class="mandatory">*</sup></label>
                                                <input type="text" ng-change="calculateTax()" name="tax_percentage" ng-model="issue_part.tax_percentage" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" class="form-control" placeholder="Tax %" autocomplete="off" />
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Tax amount <sup class="mandatory">*</sup></label>
                                                <input type="text" name="tax_amount" ng-model="issue_part.tax_amount" readonly class="form-control" placeholder="Tax amount" autocomplete="off" />
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Total amount <sup class="mandatory">*</sup></label>
                                                <input type="text" name="total_amount" ng-model="issue_part.total_amount" readonly class="form-control" placeholder="Total amount" autocomplete="off" />
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>MRP <sup class="mandatory">*</sup></label>
                                                <input type="text" name="mrp" ng-model="issue_part.mrp" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" class="form-control" placeholder="MRP" autocomplete="off" />
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>
                                                    Vendor
                                                    <span class="mandatory">*</span>
                                                </label>
                                                <md-autocomplete md-selected-item="vendor" md-search-text="vendorSearchKey" md-items="vendor in searchVendor(vendorSearchKey)" md-item-text="vendor.code" md-min-length="3" md-escape-options="clear" placeholder="Ex. 3647-09" md-selected-item-change="console.log(1);vendorSelected(vendor)" md-input-id="vendorAutoCompleteId">
                                                    <md-item-template>
                                                        <span>
                                                            {{vendor.code}} / {{vendor.name}}
                                                        </span>
                                                    </md-item-template>
                                                    <md-not-found>
                                                        No records matching "{{vendorSearchKey}}" were found.
                                                    </md-not-found>
                                                </md-autocomplete>
                                                <input type="hidden" name="supplier_id" value="{{vendor.id}}">
                                            </div><!-- Field -->
                                        </div><!-- Column -->
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>PO Number <sup class="mandatory">*</sup></label>
                                                <input type="text" name="po_number" ng-model="po_number" class="form-control" placeholder="PO Number" autocomplete="off" />
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>PO Amount <sup class="mandatory">*</sup></label>
                                                <input type="text" readonly name="po_amount" ng-model="issue_part.po_amount" class="form-control" placeholder="PO Amount" autocomplete="off" />
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>
                                                    Advance Amount Received Details<sup class="mandatory">*</sup>
                                                </label>
                                                <textarea ng-model='advance_amount_received_details' name="advance_amount_received_details" class="form-control" placeholder="Advance Amount Received Details">{{advance_amount_received_details}}</textarea>
                                            </div><!-- Field -->
                                        </div><!-- Column -->
                                    </div><!-- Column -->
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>
                                                    Warranty Approved Reasons<sup class="mandatory">*</sup>
                                                </label>
                                                <textarea ng-model='warranty_approved_reasons' name="warranty_approved_reasons" class="form-control" placeholder="Warranty Approved Reasons">{{warranty_approved_reasons}}</textarea>
                                            </div><!-- Field -->
                                        </div><!-- Column -->
                                    </div>
                                </div><!-- Row -->
                            </div><!-- Column -->
                        </div><!-- Row -->
                    </div><!-- Page Form -->
                </div><!-- Column -->
            </div><!-- Row -->
            <br />
            <div class="page-form-footer">
                <div class="row">
                    <div class="col-md-12">
                        <a href=".#!/part-indent/parts/view/{{job_order_id}}" class="btn btn-bordered btn-grey">Cancel</a>
                        <button type="submit" class="btn btn-secondary-dark submit" ng-click="saveIssueForm()">Submit</button>
                    </div>
                </div>
            </div><!-- Page Form Footer -->
        </form>
    </div><!-- Container -->
</div><!-- Content Wrap -->