<!-- Content Wrap -->
<div class="content-wrap">
    <!-- Page Header -->
    <div class="page-header">
        <div class="page-header-inner">
            <div class="page-header-content-left">
                <div class="page-header-content button-block">
                    <a href=".#!/part-indent/parts/view/{{job_order_id}}" type="button" class="btn-back btn-img">
                        <img class="img-responsive" src="./public/theme/img/content/previous.svg" />
                    </a>
                </div>
                <div class="page-header-content title-block">
                    <h1 class="title">{{$ctrl.action}} Issued Part</h1>
                    <p class="subtitle">Parts Indent / {{$ctrl.action}} Issued Part</p>
                </div>
            </div>
        </div><!-- Page Header Inner -->
    </div><!-- Page Header -->
    <!-- Page Main Content -->
    <div class="page-main-content form-content">
        <form id="issue_part_form">
            <input type="hidden" name="job_order_id" value="{{job_order_id}}">
            <input type="hidden" name="job_order_issued_part_id" value="{{$ctrl.job_order_issued_part_id}}">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-form pb-60">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>
                                            Part<sup class="mandatory">*</sup>
                                        </label>
                                        <md-select ng-model="return_part" placeholder="Select Part" data-md-container-class="selectdemoSelectHeader" ng-model-options="{trackBy: '$value.id' }" ng-change="issuedPartSelected(return_part)">
                                            <md-select-header class="demo-select-header">
                                                <input ng-model="searchreturnPartKey" type="search" placeholder="Search.." class="demo-header-searchbox md-text">
                                            </md-select-header>
                                            <md-optgroup>
                                                <md-option ng-value="return_part" ng-repeat="return_part in job_order_parts | filter:searchreturnPartKey">
                                                    {{return_part.name}} / {{return_part.code}}
                                                </md-option>
                                            </md-optgroup>
                                        </md-select>
                                        <input type="hidden" name="job_order_part_id" value="{{return_part.job_order_part_id}}">
                                        <input type="hidden" name="part_id" value="{{return_part.id}}">
                                    </div><!-- Field -->
                                </div><!-- Column -->
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>
                                            Available Quantity <sup class="mandatory">*</sup>
                                        </label>
                                        <input type="text" class="form-control" readonly id="available_qty" name="available_qty" value="{{available_quantity}}" ng-model="available_quantity" placeholder="Available Quantity">
                                    </div><!-- Field -->
                                </div><!-- Column -->
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Issue Quantity <sup class="mandatory">*</sup></label>
                                        <input type="text" name="issued_qty" ng-model="issued_part.issued_qty" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" class="form-control" placeholder="Enter Issue Quantity" autocomplete="off" ng-change="checkAvailability()" />
                                    </div><!-- Feild -->
                                </div><!-- Column -->
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Issue Mode<sup class="mandatory">*</sup></label>
                                        <md-select ng-model="issued_part.issued_mode_id" placeholder="Select Issue Mode" data-md-container-class="selectdemoSelectHeader">
                                            <md-select-header class="demo-select-header">
                                                <input ng-model="searchIssueMode" type="search" placeholder="Search Issue Mode.." class="demo-header-searchbox md-text">
                                            </md-select-header>
                                            <md-optgroup>
                                                <md-option ng-value="option.id" ng-repeat="option in issue_modes | filter:searchIssueMode">
                                                    {{option.name}}
                                                </md-option>
                                            </md-optgroup>
                                        </md-select>
                                        <input type="hidden" name="issued_mode_id" class="required" value="{{issued_part.issued_mode_id}}">
                                    </div><!-- Feild -->
                                </div><!-- Column -->
                            </div><!-- Row -->
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>
                                            Issue To<sup class="mandatory">*</sup>
                                        </label>
                                        <md-select ng-model="issued_part.issued_to" placeholder="Select Issue To" data-md-container-class="selectdemoSelectHeader" ng-model-options="{trackBy: '$value.id' }">
                                            <md-select-header class="demo-select-header">
                                                <input ng-model="searchreturnEmployeeKey" type="search" placeholder="Search.." class="demo-header-searchbox md-text">
                                            </md-select-header>
                                            <md-optgroup>
                                                <md-option ng-value="employee" ng-repeat="employee in repair_order_mechanics | filter:searchreturnEmployeeKey">
                                                    {{employee.name}}
                                                </md-option>
                                            </md-optgroup>
                                        </md-select>
                                        <input type="hidden" name="issued_to_id" value="{{issued_part.issued_to.id}}">
                                    </div><!-- Field -->
                                </div><!-- Column -->
                                <div class="col-md-3" ng-if='issued_part.issued_mode_id == 8481'>
                                    <div class="form-group">
                                        <label>
                                            Request Purpose<sup class="mandatory">*</sup>
                                        </label>
                                        <textarea ng-model='remarks' name="remarks" class="form-control" placeholder="Request Purpose">{{remarks}}</textarea>
                                    </div><!-- Field -->
                                </div><!-- Column -->
                                <div class="col-md-3" ng-if='issued_part.issued_mode_id == 8481'>
                                    <div class="form-group">
                                        <label>Quantity <sup class="mandatory">*</sup></label>
                                        <input type="text" ng-change="calculateTotal()" name="quantity" ng-model="issue_part.quantity" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" class="form-control" placeholder="Enter Quantity" autocomplete="off" />
                                    </div><!-- Feild -->
                                </div><!-- Column -->
                                <div class="col-md-3" ng-if='issued_part.issued_mode_id == 8481'>
                                    <div class="form-group">
                                        <label>Unit Price <sup class="mandatory">*</sup></label>
                                        <input type="text" ng-change="calculateTotal()" name="unit_price" ng-model="issue_part.unit_price" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" class="form-control" placeholder="Enter Unit Price" autocomplete="off" />
                                    </div><!-- Feild -->
                                </div><!-- Column -->
                            </div>
                            <div class="row" ng-if='issued_part.issued_mode_id == 8481'>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Total <sup class="mandatory">*</sup></label>
                                        <input type="text" name="total" ng-model="issue_part.total" readonly class="form-control" placeholder="Total" autocomplete="off" />
                                    </div><!-- Feild -->
                                </div><!-- Column -->
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Tax % <sup class="mandatory">*</sup></label>
                                        <input type="text" ng-change="calculateTax()" name="tax_percentage" ng-model="issue_part.tax_percentage" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" class="form-control" placeholder="Tax %" autocomplete="off" />
                                    </div><!-- Feild -->
                                </div><!-- Column -->
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Tax amount <sup class="mandatory">*</sup></label>
                                        <input type="text" name="tax_amount" ng-model="issue_part.tax_amount" readonly class="form-control" placeholder="Tax amount" autocomplete="off" />
                                    </div><!-- Feild -->
                                </div><!-- Column -->
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Total amount <sup class="mandatory">*</sup></label>
                                        <input type="text" name="total_amount" ng-model="issue_part.total_amount" readonly class="form-control" placeholder="Total amount" autocomplete="off" />
                                    </div><!-- Feild -->
                                </div><!-- Column -->
                            </div>
                            <div class="row" ng-if='issued_part.issued_mode_id == 8481'>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>MRP <sup class="mandatory">*</sup></label>
                                        <input type="text" name="mrp" ng-model="issue_part.mrp" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" class="form-control" placeholder="MRP" autocomplete="off" />
                                    </div><!-- Feild -->
                                </div><!-- Column -->
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>
                                            Vendor
                                            <span class="mandatory">*</span>
                                        </label>
                                        <md-autocomplete md-selected-item="vendor" md-search-text="vendorSearchKey" md-items="vendor in searchVendor(vendorSearchKey)" md-item-text="vendor.code" md-min-length="3" md-escape-options="clear" placeholder="Ex. 3647-09" md-selected-item-change="console.log(1);vendorSelected(vendor)" md-input-id="vendorAutoCompleteId">
                                            <md-item-template>
                                                <span>
                                                    {{vendor.code}} / {{vendor.name}}
                                                </span>
                                            </md-item-template>
                                            <md-not-found>
                                                No records matching "{{vendorSearchKey}}" were found.
                                            </md-not-found>
                                        </md-autocomplete>
                                        <input type="hidden" name="supplier_id" value="{{vendor.id}}">
                                    </div><!-- Field -->
                                </div><!-- Column -->
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>PO Number <sup class="mandatory">*</sup></label>
                                        <input type="text" name="po_number" ng-model="po_number" class="form-control" placeholder="PO Number" autocomplete="off" />
                                    </div><!-- Feild -->
                                </div><!-- Column -->
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>PO Amount <sup class="mandatory">*</sup></label>
                                        <input type="text" readonly name="po_amount" ng-model="issue_part.po_amount" class="form-control" placeholder="PO Amount" autocomplete="off" />
                                    </div><!-- Feild -->
                                </div><!-- Column -->
                            </div>
                            <div class="row" ng-if='issued_part.issued_mode_id == 8481'>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>
                                            Advance Amount Received Details<sup class="mandatory">*</sup>
                                        </label>
                                        <textarea ng-model='advance_amount_received_details' name="advance_amount_received_details" class="form-control" placeholder="Advance Amount Received Details">{{advance_amount_received_details}}</textarea>
                                    </div><!-- Field -->
                                </div><!-- Column -->
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>
                                            Warranty Approved Reasons<sup class="mandatory">*</sup>
                                        </label>
                                        <textarea ng-model='warranty_approved_reasons' name="warranty_approved_reasons" class="form-control" placeholder="Warranty Approved Reasons">{{warranty_approved_reasons}}</textarea>
                                    </div><!-- Field -->
                                </div><!-- Column -->
                            </div>
                        </div><!-- Page Form -->
                    </div><!-- Column -->
                </div><!-- Row -->
                <div class="page-form-footer">
                    <div class="row">
                        <div class="col-md-12">
                            <a href=".#!/inward-vehicle/payable-labour-part-detail/form/{{job_order_id}}" class="btn btn-bordered btn-grey">Cancel</a>
                            <button type="submit" class="btn btn-secondary-dark submit" ng-click="saveIssueForm()">Submit</button>
                        </div>
                    </div>
                </div><!-- Page Form Footer -->
            </div><!-- Container -->
        </form>
    </div><!-- Page Main Content -->
</div><!-- Content Wrap