<div class="content-wrap cndn-wrap">
    <div class="page-header">
        <div class="page-header-inner">
            <div class="page-header-content-left">
                <div class="page-header-content title-block">
                    <h1 class="title type-2">Parts Indents<span class="badge badge-secondary">999</span></h1>
                </div><!-- Page Header Content -->
                <div class="page-header-content reset-block">
                    <div class="reset-wrap">
                        <button class="btn-reset reset-tooltip">
                            <img class="img-responsive" src="./public/theme/img/content/reset.svg" alt="Reset" />
                        </button>
                    </div>
                </div><!-- Page Header Content -->
                <div class="page-header-content search-block">
                    <div class="search_filter">
                        <label>
                            <input type="search" id="search_parts_indent" class="form-control" placeholder="Search" />
                            <button class="btn-clear">Clear</button>
                        </label>
                    </div><!-- Search Filter -->
                </div><!-- Page Header Content -->
                <div class="page-header-content button-block">
                    <button class="btn btn-bordered" data-toggle="modal" data-target="#indent_parts_filter"><i class="icon ion-md-funnel"></i>Filter</button>
                </div><!-- Page Header Content -->
            </div><!-- Page Header Content Left -->
        </div><!-- Page Header Inner -->
    </div><!-- Page Header -->
    <div class="page-main-content list-page-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <table class="table" id="parts_indent_table" style="width: 100% !important;">
                        <thead>
                            <tr>
                                <th class="action width-100">Action</th>
                                <th>Job Card No</th>
                                <th>Date</th>
                                <th>Requested Qty.</th>
                                <th>Issued Qty.</th>
                                <th>Floor Supervisor</th>
                                <th>Customer</th>
                                <th>State</th>
                                <th>Region</th>
                                <th>Outlet</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                </div><!-- Column -->
            </div><!-- Row -->
        </div><!-- Container -->
    </div><!-- Page Main Content -->
</div><!-- Content Wrap -->
<!-- Modal -->
<div class="modal fade filter" id="indent_parts_filter" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog filter-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close ripple" data-dismiss="modal" aria-label="Close"><i class="icon ion-md-close"></i></button>
                <h5 class="modal-title" id="myModalLabel">Filter</h5>
            </div><!-- Modal Header -->
            <div class="modal-body">
                <div class="modal-form">
                    <div class="row">
                        <!-- <div class="col-md-6">
                            <div class="form-group">
                                <label>Vendor<span class="mandatory">*</span></label>
                                <input type="text" name="vendor" class="form-control" placeholder="Enter" aria-invalid="false" />
                            </div>
                        </div> -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Outlet<span class="mandatory">*</span></label>
                                <input type="text" name="outlet" id="outlet" class="form-control" placeholder="Enter" aria-invalid="false" />
                            </div><!-- Field -->
                        </div><!-- Column -->
                        <div class="col-md-6">
                            <div class="input-text form-group">
                                <label>Invoice Date<span class="mandatory">*</span></label>
                                <div class="input-group date" data-provide="datepicker">
                                    <input type="text" name="date" id="date" class="form-control" placeholder="Select Date" aria-invalid="false">
                                    <div class="input-group-addon">
                                        <img src="./public/theme/img/content/calender-gray-icon.svg" class="img-responsive">
                                    </div>
                                </div><!-- Input Group -->
                            </div><!-- Field -->
                        </div><!-- Column -->
                    </div><!-- Row -->
                </div><!-- Modal Form -->
            </div><!-- Modal Body -->
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-6">
                        <button type="button" class="reset-link" ng-click="reset_filter();">Reset Filter</button>
                    </div><!-- Column -->
                    <div class="col-md-6 text-right">
                        <button type="button" class="btn btn-primary btn-md" ng-click="applyFilter()">Apply</button>
                    </div><!-- Column -->
                </div><!-- Row -->
            </div><!-- Modal Footer -->
        </div><!-- Modal Content -->
    </div><!-- Modal Dialog -->
</div><!-- Modal -->