<!-- Content Wrap -->
<div class="content-wrap cndn-wrap">
    <!-- Page Header -->
    <div class="page-header">
        <div class="page-header-inner">
            <div class="page-header-content-left">
                <div class="page-header-content button-block">
                    <a href="#!/gigo-pkg/customer-voice/list" type="button" class="btn-back btn-img">
                        <img class="img-responsive my-tooltip" src="./public/theme/img/content/previous.svg" alt="Back" ng-shortcut="'meta+shift+left'" ng-shortcut-click data-title="ctrl+shift+left" />
                    </a>
                </div><!-- Page Header Content -->
                <div class="page-header-content title-block">
                    <h1 class="title"><b>{{$ctrl.action}} Customer Voice</b></h1>
                    <p class="subtitle">
                        Masters /
                        <a href="#!/gigo-pkg/customer-voice/list">
                            Customer Voices
                        </a> /
                        {{$ctrl.action}}
                    </p>
                </div><!-- Page Header Content -->
            </div><!-- Page Header Content Left -->
        </div><!-- Page Header Inner -->
    </div><!-- Page Header -->
    <!-- Page Main Content -->
    <div class="page-main-content form-content type2">
        <form id="customer_voice_form" autocomplete="off">
            <input type="hidden" name="id" value="{{$ctrl.customer_voice.id}}">
            <div class="page-tab-form pb-70">
                <div class="tab-form-wrap">
                    <div class="tab-form-header">
                        <div class="tab-header">
                            <!-- Filters -->
                            <div class="isotope-filters animated" data-animation="fadeInLeft" data-animation-delay="300">
                                <ul class="nav nav-pills cndn-tabs">
                                    <li class="active">
                                        <a class="filter active" data-target="#general-information" data-toggle="tab" aria-expanded="true">
                                            General Info
                                        </a>
                                    </li>
                                </ul>
                            </div><!-- Filters -->
                        </div><!-- Tab Header -->
                    </div><!-- Tab Form Header -->
                    <div class="tab-form-body">
                        <div class="tab-content">
                            <!-- TAB PANEL -->
                            <div class="tab-pane fade in active" id="general-information" data-animation="fadeInUp" data-animation-delay="300">
                                <div class="tab-pane-wrap">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>
                                                    Code
                                                    <sup class="mandatory">*</sup>
                                                </label>
                                                <input type="text" class="form-control required" ng-model="$ctrl.customer_voice.code" name="code" placeholder="Enter Code" autofocus />
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>
                                                    Name
                                                </label>
                                                <input type="text" class="form-control" ng-model="$ctrl.customer_voice.name" name="name" placeholder="Enter Name" />
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>LV Main Type <sup class="mandatory">*</sup></label>
                                                <md-select ng-model="$ctrl.customer_voice.lv_main_type_id" md-on-close="clearSearchTerm()" data-md-container-class="selectdemoSelectHeader" placeholder="Select LV Main Type">
                                                    <md-select-header class="demo-select-header">
                                                        <input ng-model="searchTerm" type="search" placeholder="Search for a LV Main Type" class="demo-header-searchbox md-text" ng-keydown="$event.stopPropagation()">
                                                    </md-select-header>
                                                    <md-optgroup>
                                                        <md-option ng-value="lv_main_type.id" ng-repeat="lv_main_type in $ctrl.extras.lv_main_type_list | filter:searchTerm">{{lv_main_type.name}}</md-option>
                                                    </md-optgroup>
                                                </md-select>
                                                <input type="hidden" class="form-control type-sm required" name="lv_main_type_id" id="lv_main_type_id" value="{{$ctrl.customer_voice.lv_main_type_id}}">
                                                <!-- <div class="designation_error"></div> -->
                                            </div><!-- Field -->
                                        </div><!-- column -->
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Repair Order <sup class="mandatory">*</sup></label>
                                                <md-select ng-model="$ctrl.customer_voice.repair_order_id" md-on-close="clearSearchTerm()" data-md-container-class="selectdemoSelectHeader" placeholder="Select Repair Order">
                                                    <md-select-header class="demo-select-header">
                                                        <input ng-model="searchTerm" type="search" placeholder="Search for a Repair Order" class="demo-header-searchbox md-text" ng-keydown="$event.stopPropagation()">
                                                    </md-select-header>
                                                    <md-optgroup>
                                                        <md-option ng-value="repair_order.id" ng-repeat="repair_order in $ctrl.extras.repair_order_list | filter:searchTerm">{{repair_order.code}} / {{repair_order.name}}</md-option>
                                                    </md-optgroup>
                                                </md-select>
                                                <input type="hidden" class="form-control type-sm required" name="repair_order_id" id="repair_order_id" value="{{$ctrl.customer_voice.repair_order_id}}">
                                            </div><!-- Field -->
                                        </div><!-- column -->
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>
                                                    Active Status
                                                    <sup class="mandatory">*</sup>
                                                </label>
                                                <div class="tab-switch">
                                                    <md-switch ng-model="$ctrl.switch_value" aria-label="Switch 1" ng-true-value="'Inactive'" ng-false-value="'Active'" class="md-warn">
                                                        {{ $ctrl.switch_value }}
                                                    </md-switch>
                                                    <input type="hidden" name="status" value="{{$ctrl.switch_value}}">
                                                </div>
                                            </div><!-- Form Group -->
                                        </div><!-- Column -->
                                    </div><!-- Row -->
                                </div><!-- Tab Pane Wrap -->
                            </div><!-- Tabe Pane -->
                            <div class="tab-pane-footer">
                                <div class="row">
                                    <div class="col-md-12">
                                        <a href="#!/gigo-pkg/customer-voice/list" class="btn btn-bordered btn-min-wdth my-tooltip" ng-shortcut="'meta+shift+left'" ng-shortcut-click data-title="ctrl+shift+left">Cancel</a>
                                        <button type="submit" class="btn btn-primary btn-min-wdth submit my-tooltip" ng-shortcut="'meta+shift+s'" ng-shortcut-click data-title="ctrl+shift+s">Submit</button>
                                    </div>
                                </div>
                            </div><!-- Tab Footer -->
                        </div><!-- Tab Content -->
                    </div><!-- Tab Form Body -->
                </div><!-- Tab Form Wrap -->
            </div><!-- Page Form -->
        </form>
    </div><!-- Page Main Content -->
</div><!-- Content Wrap -->